@use "sass:math";
@use "sass:map";

:root {
    --border-radius: 0; 
}

//이미지 경로
$asset-paths: (
    icon: '/src/assets/image/icon/',
    sub: '/src/assets/image/sub/'
);

// @param $type: 위 맵에서 정의된 키값
// @param $name: 파일명 (확장자 제외)
// @param $ext: 확장자 (기본 'png')
@mixin image-path($type, $name, $ext: 'png') {
    $base-path: map.get($asset-paths, $type);
    @if $base-path {
        background-image: url("#{$base-path}#{$name}.#{$ext}");
    }
}


// px -> rem 변환 mixin (base 16px)
@function rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}

@function font-size($fs, $base: 16) {
    @return calc(var($fs) / 16 * 1rem);
}

/* 버튼 */
.button__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(12 / 16 * 1rem);
    width: 100%;
}
.button__wrap:has(.btn.btn-text) {
    width: fit-content;
}

.button__wrap.align-left, 
.button__wrap.align-right,
.button__wrap.mo-100 {
    flex-wrap: wrap;
    gap: calc(16 / 16 * 1rem);
}

.button__wrap.align-left {
    justify-content: flex-start;
}
.button__wrap.align-right {
    justify-content: flex-end;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: calc(12 / 16 * 1rem);
    font-family: var(--typo-pc-family-head);
    /* margin: 0 auto; */
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: calc(100 / 16 * 1rem);
    box-sizing: border-box;
    &:has(.btn__icon + .btn__text) {
        padding-left: calc(16 / 16 * 1rem);
    }
    &:has(.btn__text + .btn__icon) {
        padding-right: calc(16 / 16 * 1rem);
    }
}
.button__wrap.align-left .btn, 
.button__wrap.align-right .btn {
    width: calc(50% - calc(8 / 16 * 1rem));
}
.button__wrap.mo-100 .btn {
    width: 100%;
}
.button__wrap.align-left .btn:only-of-type, 
.button__wrap.align-right .btn:only-of-type {
    width: 100%;
}
.btn .btn__text {
    display: block;
    font-size: calc(18 / 16 * 1rem);
    line-height: calc(26 / 16 * 1rem);
    font-weight: 500;
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
}
.btn .btn__icon + .btn__text {
    margin-left: calc(8 / 16 * 1rem);
}
.btn .btn__text + .btn__icon {
    margin-left: calc(4 / 16 * 1rem);
    @media #{$min1280} {
        margin-left: calc(8 / 16 * 1rem);
    }
}
/* button style */
/* .btn-primary */
.btn.btn-primary {
    background-color: var(--colorCM-mode1-fill-fill-default10);
    color: var(--colorCM-mode1-text-text-on-bg);
    
}
.btn.btn-primary:disabled,
.btn.btn-primary.is-disabled {
    background-color: #e0e0e0;
    color: var(--colorCM-mode1-text-text-on-bg);
    cursor: default;
    pointer-events: none;
}

/* .btn-secondary */
.btn.btn-secondary {
    // background-color: var(--colorCM-mode1-fill-fill-default0);
    color: var(--colorCM-mode1-text-text-default);
    border: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default10);
}
.btn.btn-secondary:disabled,
.btn.btn-secondary.is-disabled {
    color: var(--colorCM-mode1-text-text-disabled);
    border: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-disabled);
    cursor: default;
    pointer-events: none;
}

/* button size */
/* btn-ultra-small */
.btn.btn-ultra-small {
    padding: calc(6 / 16 * 1rem) calc(24 / 16 * 1rem);
    width: fit-content;
    min-width: calc(88 / 16 * 1rem);
    height: calc(36 / 16 * 1rem);
    border-radius: calc(50 / 16 * 1rem);
}
.btn.btn-ultra-small .btn__text {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(26 / 16 * 1rem);
    font-weight: 400;
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
}
/* btn-small */
.btn.btn-small {
    /* gap: calc(4 / 16 * 1rem); */
    padding: calc(12 / 16 * 1rem) calc(24 / 16 * 1rem);
    width: fit-content;
    min-width: calc(140 / 16 * 1rem);
    height: calc(48 / 16 * 1rem);
}
.btn.btn-small .btn__text {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(26 / 16 * 1rem);
    font-weight: 400;
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
}
/* btn-medium */
.btn.btn-medium {
    /* gap: calc(6 / 16 * 1rem); */
    padding: calc(15 / 16 * 1rem) calc(24 / 16 * 1rem);
    width: fit-content;
    min-width: calc(160 / 16 * 1rem);
    height: calc(56 / 16 * 1rem);
}
.btn.btn-medium .btn__text {
    font-size: calc(18 / 16 * 1rem);
    line-height: calc(26 / 16 * 1rem);
    font-weight: 500;
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
}
/* btn-large */
.btn.btn-large {
    /* gap: calc(8 / 16 * 1rem); */
    padding: calc(14.5 / 16 * 1rem) calc(24 / 16 * 1rem);
    width: fit-content;
    min-width: calc(140 / 16 * 1rem);
    height: calc(56 / 16 * 1rem);
}
.btn.btn-large .btn__text {
    font-size: calc(18 / 16 * 1rem);
    line-height: calc(27 / 16 * 1rem);
    font-weight: 400;
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
}

/* btn-text - 텍스트 버튼 */
.btn.btn-text {
    margin: 0;
    padding: 0;
    /* gap: calc(4 / 16 * 1rem); */
    width: fit-content;
    min-width: fit-content;
    height: auto;
    color: var(--colorCM-mode1-text-text-default);
}
.btn.btn-text .btn__text {
    font-size: calc(var(--typo-mo-size-caption-sm-ui) / 16 * 1rem);
    font-weight: 400;
    line-height: calc(var(--typo-mo-line-height-caption-sm-ui) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    @media #{$min1280} {
        font-size: calc(var(--typo-pc-size-body-md) / 16 * 1rem);
        line-height: calc(var(--typo-pc-line-height-body-md) / 16 * 1rem);
    }
}
.btn.btn-text:not(:has(.btn__icon)) .btn__text {
    border-bottom: calc(1 / 16 * 1rem) solid var(--text-text-default);
}
.btn.btn-text:disabled,
.btn.btn-text.is-disabled {
    color: var(--colorCM-mode1-text-text-disabled);
    cursor: default;
    pointer-events: none;
}
.btn.btn-text:disabled:not(:has(.btn__icon)) .btn__text,
.btn.btn-text.is-disabled:not(:has(.btn__icon)) .btn__text {
    border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-disabled);
}

/* btn-icon */
.btn.btn-icon.btn-medium {
    padding: calc(8 / 16 * 1rem);
    min-width: fit-content;
    height: auto;
}
.btn.btn-icon.btn-small {
    padding: calc(6 / 16 * 1rem);
    min-width: fit-content;
    height: auto;
}
// top 버튼
.btn-top {
    width: calc(48 / 16 * 1rem);
    height: calc(48 / 16 * 1rem);
    border-radius: 50%;
    border: calc(1 / 16 * 1rem) solid #323232;
    background: rgba(18, 18, 18, 0.90);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media #{$min1280} {
        display: none;
    }
}
// 애니메이션 버튼
.btn-glide {
    //@extend .btn;
    //@extend .btn-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--typo-pc-family-head);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: calc(100 / 16 * 1rem);
    box-sizing: border-box;
    background-color: var(--colorCM-mode1-fill-fill-default10);
    color: var(--colorCM-mode1-text-text-on-bg);

    position: relative;
    margin-top: rem(40);
    min-width: rem(64);
    height: rem(64);

    @media #{$tabletMini} {
        margin-top: rem(24);
    }

    &__inner {
        transition: width 0.8s cubic-bezier(0.64, -0.02, 0.16, 1);
        width: 0;
    }

    &__text {
        display: inline-block;
        transition-delay: .3s;
        transition: 1s cubic-bezier(0.64, -0.02, 0.16, 1);
        transition-property: opacity, transform;
        padding: 0 rem(90) 0 rem(40);
        opacity: 0;
        transform: translateY(70%);
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: rem(64);
        height: rem(64);
        display: inline-block;
        @include image-path(icon, 'ico_arrow_right_bl64', 'svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-color: var(--colorCM-mode1-icon-icon-on-bg);
        border-radius: 50%;
        border: 6px solid var(--colorCM-mode1-fill-fill-default10);
    }

    &.btn-glide--active {
        .btn-glide__text {
            transform: translateY(0);
            opacity: 1;
        }
    }

}


/* PC */
@media screen and (min-width : 1280px) {
    .button__wrap.align-left, 
    .button__wrap.align-right,
    .button__wrap.mo-100 {
        flex-wrap: nowrap;
        gap: calc(12 / 16 * 1rem);
    }
    .button__wrap.align-right {
        justify-content: flex-end;
    }
    .button__wrap.align-left .btn, 
    .button__wrap.align-right .btn,
    .button__wrap.mo-100 .btn,
    .button__wrap.align-left .btn:only-of-type, 
    .button__wrap.align-right .btn:only-of-type {
        width: fit-content;
    }
}