:root {
    --border-radius: 0; 
}
/* 버튼 */
.button__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(12 / 16 * 1rem);
    width: 100%;
}
.button__wrap:has(.btn.btn-text) {
    width: fit-content;
}
.button__wrap.align-left:has(.btn.btn-line), 
.button__wrap.align-right:has(.btn.btn-line) {
    gap: calc(8 / 16 * 1rem);
}
.button__wrap.align-left {
    justify-content: flex-start;
}
.button__wrap.align-right {
    justify-content: flex-end;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(4 / 16 * 1rem);
    font-family: var(--typo-pc-family-head);
    align-items: center;
    border-radius: var(--border-radius-14);
    /* margin: 0 auto; */
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.btn.btn-primary {
    background-color: var(--colorCM-all-primary-primary-enabled);
    color: var(--colorGL-all-white100);
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(21 / 16 * 1rem);
    padding: calc(6 / 16 * 1rem) calc(18 / 16 * 1rem);
    
}
.btn.btn-primary:hover,
.btn.btn-primary.is-active {
    background-color: var(--colorCM-all-primary-primary-pressed);
    color: var(--colorGL-all-white100);
}
.btn.btn-primary:disabled,
.btn.btn-primary.is-disabled {
    background-color: var(--colorCM-all-primary-primary-disabled);
    color: var(--colorGL-all-white100);
    cursor: default;
    pointer-events: none;
}
/* btn-white - hover, disabled 시 색상 업데이트 필요 */
.btn.btn-white {
    background-color: var(--colorCM-all-fill-fill-default0);
    color: var(--colorCM-all-text-text-default);
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(21 / 16 * 1rem);
    padding: calc(6 / 16 * 1rem) calc(18 / 16 * 1rem);
}
.btn.btn-white:hover,
.btn.btn-white.is-active {
    background-color: var(--colorCM-all-fill-fill-default0);
    color: var(--colorCM-all-text-text-default);
}
.btn.btn-white:disabled,
.btn.btn-white.is-disabled {
    background-color: var(--colorCM-all-fill-fill-default0);
    color: var(--colorCM-all-text-text-default);
    cursor: default;
    pointer-events: none;
}
/* btn-black - hover, disabled 시 색상 업데이트 필요 */
.btn.btn-black {
    background-color: var(--colorCM-all-fill-fill-default12);
    color: var(--colorCM-all-icon-icon-on-bg);
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(21 / 16 * 1rem);
    padding: calc(6 / 16 * 1rem) calc(18 / 16 * 1rem);
}
.btn.btn-black:hover,
.btn.btn-black.is-active {
    background-color: var(--colorCM-all-fill-fill-default12);
    color: var(--colorCM-all-icon-icon-on-bg);
}
.btn.btn-black:disabled,
.btn.btn-black.is-disabled {
    background-color: var(--colorCM-all-fill-fill-default12);
    color: var(--colorCM-all-icon-icon-on-bg);
    cursor: default;
    pointer-events: none;
}
/* btn-trans - hover, disabled 시 색상 업데이트 필요 */
.btn.btn-trans {
    background-color: transparent;
    color: var(--colorCM-all-icon-icon-on-bg);
    font-size: calc(14 / 16 * 1rem);
    font-weight: 700;
    line-height: calc(21 / 16 * 1rem);
    padding: calc(6 / 16 * 1rem) calc(18 / 16 * 1rem);
    border: 1px solid var(--colorGL-all-white100);
}
/* btn-round - hover, disabled 시 색상 업데이트 필요 */
.btn-round {
    width: 100%;
    padding: calc(13.5 / 16 * 1rem) 0;
    font-size: calc(var(--typo-pc-size-caption-xl) / 16 * 1rem);
    font-weight: 600;
    line-height: calc(var(--typo-pc-line-height-caption-xl) / 16 * 1rem);
    border-radius: calc(50 / 16 * 1rem);
    border: 1px solid var(--colorCM-all-stroke-stroke-default1);
}
.btn.btn-small {
    font-size: calc(20 / 16 * 1rem);
    line-height: calc(30 / 16 * 1rem);
    padding: calc(15 / 16 * 1rem) calc(36 / 16 * 1rem);
}
.btn.btn-middle {
    font-size: calc(16 / 16 * 1rem);
    line-height: calc(24 / 16 * 1rem);
    padding: calc(13 / 16 * 1rem) calc(28 / 16 * 1rem);
    min-width: calc(240 / 16 * 1rem);
}
/* btn-text - 텍스트 버튼 */
.btn.btn-text {
    margin: 0;
    padding: 0;
    width: fit-content;
    color: var(--text-text-default);
    font-size: calc(var(--typo-pc-size-body-xs) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-body-xs) / 16 * 1rem);
    font-weight: 600;
}

/* btn-line - 선 타입 버튼 */
.btn.btn-line {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(10 / 16 * 1rem);
    padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
    width: fit-content;
    height: calc(48 / 16 * 1rem);
    white-space: nowrap;
    font-weight: 500;
    border: calc(1 / 16 * 1rem) solid var(--colorCM-all-fill-fill-default12);
}

/* ~ $tablet */
@media screen and (max-width: 1599px) {
    .btn-round {
        padding: calc(14 / 16 * 1rem) calc(30 / 16 * 1rem);
        font-size: calc(var(--typo-tablet-size-caption-xl) / 16 * 1rem);
        line-height: calc(var(--typo-tablet-line-height-caption-xl) / 16 * 1rem);
    }
    /* btn-line - 선 타입 버튼 */
    .btn.btn-line {
        padding: calc(13.5 / 16 * 1rem) calc(16 / 16 * 1rem);
        font-size: calc(var(--typo-tablet-size-body-xs) / 16 * 1rem);
        line-height: calc(var(--typo-tablet-line-height-caption-xl) / 16 * 1rem);
    }
    .btn.btn-line .ico {
        min-width: calc(19.2 / 16 * 1rem);
        width: calc(19.2 / 16 * 1rem);
    }
}

/* ~ $tabletMini */
@media screen and (max-width: 1023px) {
    .btn-round {
        padding: calc(12 / 16 * 1rem) calc(30 / 16 * 1rem);
    }
}

/* ~ $phone */
@media screen and (max-width: 767px) {
    .button__wrap.align-left, 
    .button__wrap.align-right,
    .button__wrap.mo-100 {
        flex-wrap: wrap;
        gap: calc(16 / 16 * 1rem);
    }
    .button__wrap.align-left .btn, 
    .button__wrap.align-right .btn {
        width: calc(50% - calc(8 / 16 * 1rem));
    }
    .button__wrap.mo-100 .btn {
        width: 100%;
    }
    .button__wrap.align-left .btn:only-of-type, 
    .button__wrap.align-right .btn:only-of-type {
        width: 100%;
    }
    .btn-round {
        width: 100%;
        padding: calc(10 / 16 * 1rem) calc(30 / 16 * 1rem);
        border-radius: calc(50 / 16 * 1rem);
        border: 1px solid var(--colorCM-all-stroke-stroke-default1);
    }
    .btn.btn-small {
        font-size: calc(18 / 16 * 1rem);
        line-height: calc(27 / 16 * 1rem);
        padding: calc(12.5 / 16 * 1rem) calc(36 / 16 * 1rem);
    }
    .btn.btn-middle {
        font-size: calc(14 / 16 * 1rem);
        line-height: calc(21 / 16 * 1rem);
        padding: calc(9 / 16 * 1rem) calc(24 / 16 * 1rem);
        width: auto;
    }
    /* btn-text - 텍스트 버튼 */
    .btn.btn-text {
        margin: 0;
        padding: 0;
        width: fit-content;
        font-size: calc(var(--typo-mo-size-body-xs) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-body-xs) / 16 * 1rem);
    }
    /* btn-line - 선 타입 버튼 */
    .btn.btn-line {
        padding: calc(9.5 / 16 * 1rem) calc(16 / 16 * 1rem);
        height: calc(40 / 16 * 1rem);
    }
}