/* 칼라 시스템 */
.colorcm-primary {
    color: var(--colorCM-mode1-primary-primary-enabled);
}
.colorcm-primary.is-select,
a.colorcm-primary:hover,
button.colorcm-primary:hover  {
    color: var(--colorCM-mode1-primary-primary-pressed);
}
.colorcm-primary.is-disabled {
    color: var(--colorCM-mode1-primary-primary-disabled);
}
.colorcm-sub-primary {
    color: var(--colorCM-all-primary-primary-sub-enabled);
}
.colorcm-sub-primary.is-select,
a.colorcm-sub-primary:hover,
button.colorcm-sub-primary:hover {
    color: var(--colorCM-all-primary-primary-sub-pressed);
}
.colorcm-sub-primary.is-disabled {
    color: var(--colorCM-all-primary-primary-sub-disabled);
}

.bg-colorcm-primary {
    background: var(--colorCM-mode1-primary-primary-enabled);
}
.bg-colorcm-primary.is-select,
.bg-colorcm-primary:hover {
    background: var(--colorCM-mode1-primary-primary-pressed);
}
.bg-colorcm-primary.is-disabled {
    background: var(--colorCM-mode1-primary-primary-disabled);
}
.bg-colorcm-sub-primary {
    background: var(--colorCM-all-primary-primary-sub-enabled);
}
.bg-colorcm-sub-primary.is-select,
.bg-colorcm-sub-primary:hover {
    background: var(--colorCM-all-primary-primary-sub-pressed);
}
.bg-colorcm-sub-primary.is-disabled {
    background: var(--colorCM-all-primary-primary-sub-disabled);
}

.colorcm-secondary {
    color: var(--colorCM-all-secondary-secondary-enabled);
}
.colorcm-secondary.is-select,
.colorcm-secondary:hover {
    color: var(--colorCM-all-secondary-secondary-pressed);
}
.colorcm-secondary.is-disabled {
    color: var(--colorCM-all-secondary-secondary-disabled);
}
.colorcm-sub-secondary {
    color: var(--colorCM-all-secondary-secondary-sub-enabled);
}
.colorcm-sub-secondary.is-select,
.colorcm-sub-secondary:hover {
    color: var(--colorCM-all-secondary-secondary-sub-pressed);
}
.colorcm-sub-secondary.is-disabled {
    color: var(--colorCM-all-secondary-secondary-sub-disabled);
}

.bg-colorcm-secondary {
    background: var(--colorCM-all-secondary-secondary-enabled);
}
.bg-colorcm-secondary.is-select,
.bg-colorcm-secondary:hover {
    background: var(--colorCM-all-secondary-secondary-pressed);
}
.bg-colorcm-secondary.is-disabled {
    background: var(--colorCM-all-secondary-secondary-disabled);
}
.bg-colorcm-sub-secondary {
    background: var(--colorCM-all-secondary-secondary-sub-enabled);
}
.bg-colorcm-sub-secondary.is-select,
.bg-colorcm-sub-secondary:hover {
    background: var(--colorCM-all-secondary-secondary-sub-pressed);
}
.bg-colorcm-sub-secondary.is-disabled {
    background: var(--colorCM-all-secondary-secondary-sub-disabled);
}

/* fill color */
.fill-color-default0 {
    color: var(--colorCM-mode1-fill-fill-default0);
}
.fill-color-default1 {
    color: var(--colorCM-mode1-fill-fill-default1);
}
.fill-color-default2 {
    color: var(--colorCM-mode1-fill-fill-default2);
}
.fill-color-default3 {
    color: var(--colorCM-mode1-fill-fill-default3);
}
.fill-color-default4 {
    color: var(--colorCM-mode1-fill-fill-default4);
}
.fill-color-default5 {
    color: var(--colorCM-mode1-fill-fill-default5);
}
.fill-color-default6 {
    color: var(--colorCM-mode1-fill-fill-default6);
}
.fill-color-default7 {
    color: var(--colorCM-mode1-fill-fill-default7);
}
.fill-color-default8 {
    color: var(--colorCM-mode1-fill-fill-default8);
}
.fill-color-default9 {
    color: var(--colorCM-mode1-fill-fill-default9);
}
.fill-color-default10 {
    color: var(--colorCM-mode1-fill-fill-default10);
}
.fill-color-default11 {
    color: var(--colorCM-mode1-fill-fill-default11);
}
.fill-color-default12 {
    color: var(--colorCM-mode1-fill-fill-default12);
}
.fill-color-default-disabled {
    color: var(--colorCM-mode1-fill-fill-disabled);
}

/* black-color */
.color-gl-black100 {
    color: var(--colorGL-all-black100);
}
.color-gl-black96 {
    color: var(--colorGL-all-black96);
}
.color-gl-black88 {
    color: var(--colorGL-all-black88);
}
.color-gl-black16 {
    color: var(--colorGL-all-black16);
}
.color-gl-black12 {
    color: var(--colorGL-all-black12);
}
.color-gl-black24 {
    color: var(--colorGL-all-black24);
}
.color-gl-black20 {
    color: var(--colorGL-all-black20);
}
.color-gl-black40 {
    color: var(--colorGL-all-black40);
}
.color-gl-black32 {
    color: var(--colorGL-all-black32);
}
.color-gl-black60 {
    color: var(--colorGL-all-black60);
}
.color-gl-black56 {
    color: var(--colorGL-all-black56);
}
.color-gl-black80 {
    color: var(--colorGL-all-black80);
}
.color-gl-black72 {
    color: var(--colorGL-all-black72);
}
.color-gl-black8 {
    color: var(--colorGL-all-black8);
}
.color-gl-black4 {
    color: var(--colorGL-all-black4);
}
.color-gl-black0 {
    color: var(--colorGL-all-black0);
}
/* white */
.color-gl-white100 {
    color: var(--colorGL-all-white100);
}
.color-gl-white16 {
    color: var(--colorGL-all-white16);
}
.color-gl-white20 {
    color: var(--colorGL-all-white20);
}
.color-gl-white24 {
    color: var(--colorGL-all-white24);
}
.color-gl-white32 {
    color: var(--colorGL-all-white32);
}
.color-gl-white40 {
    color: var(--colorGL-all-white40);
}
.color-gl-white56 {
    color: var(--colorGL-all-white56);
}
.color-gl-white60 {
    color: var(--colorGL-all-white60);
}
.color-gl-white72 {
    color: var(--colorGL-all-white72);
}
.color-gl-white80 {
    color: var(--colorGL-all-white80);
}
.color-gl-white88 {
    color: var(--colorGL-all-white80);
}
.color-gl-white96 {
    color: var(--colorGL-all-white96);
}
.color-gl-white12 {
    color: var(--colorGL-all-white12);
}
.color-gl-white8 {
    color: var(--colorGL-all-white8);
}
.color-gl-white4 {
    color: var(--colorGL-all-white4);
}
.color-gl-white0 {
    color: var(--colorGL-all-white0);
}
/* gray */
.color-gl-gray10 {
    color: var(--colorGL-all-gray10);
}
.color-gl-gray50 {
    color: var(--colorGL-all-gray50);
}
.color-gl-gray150 {
    color: var(--colorGL-all-gray150);
}
.color-gl-gray100 {
    color: var(--colorGL-all-gray100);
}
.color-gl-gray400 {
    color: var(--colorGL-all-gray400);
}
.color-gl-gray300 {
    color: var(--colorGL-all-gray300);
}
.color-gl-gray250 {
    color: var(--colorGL-all-gray250);
}
.color-gl-gray200 {
    color: var(--colorGL-all-gray200);
}
.color-gl-gray850 {
    color: var(--colorGL-all-gray850);
}
.color-gl-gray800 {
    color: var(--colorGL-all-gray800);
}
.color-gl-gray600 {
    color: var(--colorGL-all-gray600);
}
.color-gl-gray700 {
    color: var(--colorGL-all-gray700);
}
.color-gl-gray500 {
    color: var(--colorGL-all-gray500);
}
.color-gl-gray750 {
    color: var(--colorGL-all-gray750);
}
.color-gl-gray950 {
    color: var(--colorGL-all-gray950);
}
.color-gl-gray900 {
    color: var(--colorGL-all-gray900);
}
/* heritage-red */
.color-gl-heritage-red50 {
    color: var(--colorGL-all-heritage-red50);
}
.color-gl-heritage-red100 {
    color: var(--colorGL-all-heritage-red100);
}
.color-gl-heritage-red200 {
    color: var(--colorGL-all-heritage-red200);
}
.color-gl-heritage-red300 {
    color: var(--colorGL-all-heritage-red300);
}
.color-gl-heritage-red400 {
    color: var(--colorGL-all-heritage-red400);
}
.color-gl-heritage-red500 {
    color: var(--colorGL-all-heritage-red500);
}
.color-gl-heritage-red600 {
    color: var(--colorGL-all-heritage-red600);
}
.color-gl-heritage-red950 {
    color: var(--colorGL-all-heritage-red950);
}
.color-gl-heritage-red900 {
    color: var(--colorGL-all-heritage-red900);
}
.color-gl-heritage-red800 {
    color: var(--colorGL-all-heritage-red800);
}
.color-gl-heritage-red700 {
    color: var(--colorGL-all-heritage-red700);
}
/* red */
.color-gl-red500 {
    color: var(--colorGL-all-red500);
}
.color-gl-red600 {
    color: var(--colorGL-all-red600);
}
.color-gl-red800 {
    color: var(--colorGL-all-red800);
}
.color-gl-red700 {
    color: var(--colorGL-all-red700);
}
.color-gl-red950 {
    color: var(--colorGL-all-red950);
}
.color-gl-red900 {
    color: var(--colorGL-all-red900);
}
.color-gl-red400 {
    color: var(--colorGL-all-red400);
}
.color-gl-red300 {
    color: var(--colorGL-all-red300);
}
.color-gl-red100 {
    color: var(--colorGL-all-red100);
}
.color-gl-red200 {
    color: var(--colorGL-all-red200);
}
.color-gl-red50 {
    color: var(--colorGL-all-red50);
}
/* green */
.color-gl-green300 {
    color: var(--colorGL-all-green300);
}
.color-gl-green400 {
    color: var(--colorGL-all-green400);
}
.color-gl-green500 {
    color: var(--colorGL-all-green500);
}
.color-gl-green200 {
    color: var(--colorGL-all-green200);
}
.color-gl-green100 {
    color: var(--colorGL-all-green100);
}
/* yellow */
.color-gl-yellow300 {
    color: var(--colorGL-all-yellow300);
}
.color-gl-yellow400 {
    color: var(--colorGL-all-yellow400);
}
.color-gl-yellow500 {
    color: var(--colorGL-all-yellow500);
}
.color-gl-yellow200 {
    color: var(--colorGL-all-yellow200);
}
.color-gl-yellow100 {
    color: var(--colorGL-all-yellow100);
}

/* default */
.color-text-default {
    color: var(--text-text-default);
}