/* 약관 관련 */
.cmp-sidebar {
  position: fixed;
  left: calc(100 / 16 * 1rem);
  top:  calc(150 / 16 * 1rem);
  display: flex;
  flex-direction: column;
  gap: calc(3 / 16 * 1rem);
}
.cmp-sidebar li a::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  left:0;
  top: 0;
  background-color: hsla(11, 20%, 36%, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scaleY(0);
  transform-origin: top;
}
.cmp-sidebar li.is-active a::before {
  background-color: #DE5536;
  transform: scaleY(1);
}
.cmp-sidebar a {
  position: relative;
  display: block;
  padding: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem) ;
}