/* 스와이퍼 */
.cmp-swiper__wrap {
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(20 / 16 * 1rem);
}
.swiper-thumbnail {
    display: flex;
    width: 100%;
}
.swiper-thumbnail .thumbnail-wrap {
    width: 50%;
    min-height: calc(566 / 16 * 1rem);
}
.swiper-thumbnail .thumbnail-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-thumbnail .content-info {
    box-sizing: border-box;
    width: 50%;
    padding: calc(40 / 16 * 1rem) calc(80 / 16 * 1rem);
}
.swiper-thumbnail .content-info .chip__wrap {
    margin-bottom: calc(32 / 16 * 1rem);
}
.swiper-thumbnail .content-info .title {
    font-weight: 700;
    color: var(--text-text-default);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: calc(81 / 16 * 1rem);
    margin-bottom: calc(12 / 16 * 1rem);
}
.swiper-thumbnail .content-info .title + .description {
}
.swiper-thumbnail .content-info .description {
    color: var(--colorCM-mode1-text-text-secondary);
    margin-bottom: calc(32 / 16 * 1rem);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: calc(81 / 16 * 1rem);
}
.swiper-thumbnail .content-info .date-box {
    color: var(--text-text-tertiary);
}
.cmp-swiper__wrap .swiper-wrapper {
    margin-bottom: calc(88 / 16 * 1rem);
}
.cmp-swiper__wrap .swiper-pagination {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: calc(8 / 16 * 1rem);
}
.cmp-swiper__wrap .swiper-pagination-bullet {
    width: calc(8 / 16 * 1rem);
    height: calc(8 / 16 * 1rem);
    margin: 0 !important;
    border-radius: calc(var(--radius-mode1-circular) / 16 * 1rem);
    background-color: var(--colorCM-mode1-fill-fill-disabled);
    opacity: 1;
}
.cmp-swiper__wrap .swiper-pagination-bullet-active {
    width: calc(88 / 16 * 1rem);
    height: calc(2 / 16 * 1rem);
    background-color: var(--colorCM-mode1-fill-fill-default11);
}
@media screen and (min-width: 1280px) {
    .cmp-swiper__wrap {
        width: 100%;
        max-width: calc(1480 / 16 * 1rem);
        margin: 0 auto;
        padding: 0 calc(20 / 16 * 1rem);
    }
    .cmp-swiper__wrap .swiper-wrapper {
        margin-bottom: calc(var(--spacing-mode1-vertical8-x-l) / 16 * 1rem);
    }
}
/* rework style */
.cmp-swiper__wrap.type-text-pagination .swiper-thumbnail {
    width: 100%;

}
.cmp-swiper__wrap.type-text-pagination .swiper-thumbnail .content-info .title {
    height: calc(100 / 16 * 1rem);
    font-weight: 600;
    margin-bottom: calc(16 / 16 * 1rem);
}
.cmp-swiper__wrap.type-text-pagination .swiper-thumbnail  .content-info {
    padding: calc(0 / 16 * 1rem) calc(120 / 16 * 1rem)  calc(0 / 16 * 1rem)  calc(0 / 16 * 1rem) ;
}
.cmp-swiper__wrap.type-text-pagination .thumbnail-wrap {
    width: 50%;
    min-height: calc(405 / 16 * 1rem);
    border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
    overflow: hidden;
}
.cmp-swiper__wrap.type-text-pagination .thumbnail-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cmp-swiper__wrap.type-text-pagination .description {
    margin-bottom: 0;
    height: auto;
    max-height: calc(81 / 16 * 1rem);
}
.cmp-swiper__wrap.type-text-pagination .date-box  {
    color: var(--colorCM-mode1-text-text-secondary);
    margin-top: calc(48 / 16 * 1rem);
}
.cmp-swiper__wrap.type-text-pagination .swiper-pagination-bullet {
    height: auto;
    width: calc(100% / 4);
    position: relative;
    background: transparent;
}
.cmp-swiper__wrap.type-text-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: transparent;
}
.cmp-swiper__wrap.type-text-pagination .swiper-pagination-bullet::before {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #D9D9D9;
    position: absolute;
    left:0;
    top: 0;
}
.cmp-swiper__wrap.type-text-pagination .swiper-pagination-bullet::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #D9D9D9;
    position: absolute;
    left:0;
    top: 0;
    transition: all 0.3s;
    transform: scaleX(0);
    transform-origin: left;
}
.cmp-swiper__wrap.type-text-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    background: linear-gradient(90deg, #F803FE 0%, #0000FF 100%);
    transition: all 0.3s;
    animation: fill-bar 0.4s forwards;
}
/* @media screen and (max-width: 1919px) {
    .cmp-swiper__wrap {
        max-width: calc(1600 / 16 * 1rem);
        padding: 0 calc(40 / 16 * 1rem);
    }
}
@media screen and (max-width: 1599px) {
    .cmp-swiper__wrap {
        max-width: calc(1024 / 16 * 1rem);
        padding: 0 calc(32 / 16 * 1rem);
    }
    .swiper-thumbnail {
        flex-direction: column;
    }
    .swiper-thumbnail .thumbnail-wrap {
        width: 100%;
        min-height: auto;
    }
    .swiper-thumbnail .content-info {
        width: 100%;
        padding: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem) 0;
    }
    .swiper-thumbnail .content-info .chip__wrap {
        margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
    }
    .swiper-thumbnail .content-info .title {
        height: calc(72 / 16 * 1rem);
        margin-bottom: calc(12 / 16 * 1rem);
    }
    .swiper-thumbnail .content-info .description {
        margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
    }
    .cmp-swiper__wrap .swiper-wrapper {
        margin-bottom: calc(88/ 16 * 1rem);
    }
    .cmp-swiper__wrap .swiper-pagination-bullet-active {
        width: calc(24 / 16 * 1rem);
    }
}
@media screen and (max-width: 1023px) {
    .cmp-swiper__wrap {
        max-width: calc(768 / 16 * 1rem);
        padding: 0 calc(32 / 16 * 1rem);
    }
    .swiper-thumbnail .content-info {
        width: 100%;
        padding: calc(24 / 16 * 1rem) 0;
    }
    .swiper-thumbnail .content-info .chip__wrap {
        margin-bottom: calc(12 / 16 * 1rem);
    }
    .swiper-thumbnail .content-info .title {
        margin-bottom: calc(6 / 16 * 1rem);
    }
    .swiper-thumbnail .content-info .description {
        margin-bottom: calc(24 / 16 * 1rem);
    }
}
@media screen and (max-width: 767px) {
    .cmp-swiper__wrap {
        padding: 0 calc(20 / 16 * 1rem);
    }
    .swiper-thumbnail .content-info .title {
        height: calc(60 / 16 * 1rem);
    }
    .swiper-thumbnail .content-info .description {
        height: calc(48 / 16 * 1rem);
        -webkit-line-clamp: 2;
    }
} */
@keyframes fill-bar {
    to {
        transform: scaleX(1);
    }
}