/* 테이블 */
.table-container {
    overflow-x: auto;
    width: 100%;
    display: block;
    .data-table {
        width: 100%;
        color: var(--text-text-default, #1a1a1a);
        border-collapse: collapse;
        /* 스크롤 필요할시 아래 두 개 활성화 */
        table-layout: fixed; 
        min-width: 630px;
        thead {
            border-top: calc(2 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default7);
            border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default7);
        }
        th, td {
            padding: calc(var(--spacing-mode1-vertical2-x-l) / 16 * 1rem) calc(var(--spacing-mode1-horizontal-l) / 16 * 1rem);
            font-size: calc(18 / 16 * 1rem);
            line-height: calc(26 / 16 * 1rem);
            letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
        }
        td {
            border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default2);
            &.border-r-0 {
                border-right: 0;
            }
        }
        &.mo-fix {
            table-layout: fixed;
            min-width: auto;
            @media #{$min1280} {
                table-layout: auto;
            }
        }
        &.mo-list {
            table-layout: auto;
            td {
                padding: calc(24 / 16 * 1rem) calc(16 / 16 * 1rem);
            }
            td:nth-child(4) {
                position: relative;
                text-align: center;
                a {
                    display: inline-block;
                    text-align: center;
                }
                button {
                    vertical-align: middle;
                    display: inline-block;
                }
            }
            tr:last-child td {
                border-bottom: 1px solid var(--stroke-stroke-default-1, #1a1a1a);
            }
        }
    }
}
