/* 탭 */
.cmp-tab {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--colorGL-all-white100);
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: calc(44 / 16 * 1rem);
        height: calc(50 / 16 * 1rem);
        right: 0;        
        top:0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 95%);
        pointer-events: none;
        @media #{$min1280} {
            display: none;
        }
    }
    &__header {
        border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default2);
        margin-bottom: calc(48 / 16 * 1rem);
        overflow: hidden;
        overflow-x: scroll;
        position: relative;
        -ms-overflow-style:none;
        scrollbar-width:none;
        padding-right: calc(40 / 16 * 1rem);
        @media #{$min1280} {
            overflow: unset;
            overflow-x: unset;
            padding-right: 0;
            margin-bottom: calc(80 / 16 * 1rem);
        }
        &::-webkit-scrollbar {
            display:none;
        }
    }
    .tab__menu {
        display: flex;
        align-items: center;
        white-space: nowrap;  
        gap: calc(40 / 16 * 1rem);
        float: left;
        @media #{$min1280} {
            white-space: nowrap;  
            float: left;
        }
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: calc(54 / 16 * 1rem);
            /* padding: 0 calc(20 / 16 * 1rem); */
            @media #{$min1280} {
                height: calc(74 / 16 * 1rem);
            }
            &:last-of-type {
                margin-right: calc(24 / 16 * 1rem);
            }
            &.is-active {
                a {
                    color: var(--colorCM-mode1-text-text-default);
                    font-weight: 600;
                    &::after {
                        width: 100%;
                        background: var(--colorCM-mode1-background-background-default10);
                        transition: width 0.3s, background 0.3s;
                    }
                }
            }
        }
        a {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: calc(11 / 16 * 1rem) 0 calc(15 / 16 * 1rem);
            width: 100%;
            height: 100%;
            color: var(--colorCM-mode1-text-text-tertiary); 
            font-size: calc(var(--typo-mo-size-head-sm-mode) / 16 * 1rem);  
            font-weight: 400;
            line-height: calc(var(--typo-mo-line-height-body-lg) / 16 * 1rem);     
            letter-spacing: var(--letter-spacing-small);
            word-break: keep-all;
            @media #{$min1280} {
                padding: calc(20 / 16 * 1rem) 0;
                font-size: calc(var(--typo-pc-size-head-sm-mode) / 16 * 1rem);    
                font-weight: 400;
                line-height: calc(var(--typo-pc-line-height-head-sm-mode) / 16 * 1rem);
            }
            &::after {
                content: '';
                display: block;
                height: calc(3 / 16 * 1rem);
                width: 0%;
                background: var(--colorCM-mode1-background-background-default5);
                position: absolute;
                bottom: 0;
                left: 0;
                transition: width 0.3s, background 0.3s;
                @media #{$min1280} {
                    height: calc(4 / 16 * 1rem);
                }
            }
        }
    }
    .tab__content {
        display: none;
        &.is-active {
            display: block;
        }
    }
    &.align-center .tab__menu {
        justify-content: space-between;
        li {
            width: calc(100% / var(--tab-count));
        }
    }
    &.cmp-tab--sub {
        .tab__menu {
            a {
                font-size: calc(var(--typo-mo-size-body-md) / 16 * 1rem);
                line-height: calc(var(--typo-mo-line-height-body-md) / 16 * 1rem);
                letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
                @media #{$min1280} {
                    font-size: calc(var(--typo-pc-size-body-md) / 16 * 1rem);
                    line-height: calc(var(--typo-pc-line-height-body-md) / 16 * 1rem);
                }
            }
            li {
                &.is-active {
                    a {
                        color: var(--colorCM-mode1-text-text-secondary);
                        &::after {
                            height: calc(2 / 16 * 1rem);
                            background: var(--colorCM-mode1-text-text-secondary);
                        }
                    }
                }
            }
        }
    }
}

// .cmp-tab:has(.tab-content__wrap .tab__content .cmp-contents-title__wrap:first-child) .cmp-tab__header {
//     margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
// }


// .cmp-tab:has(.tab-content__wrap .tab__content .cmp-contents-title__wrap:first-child) .cmp-tab__header {
//     margin-bottom: calc(var(--spacing-mode1-vertical6-x-l-nudge) / 16 * 1rem);
//     @media #{$min1280} {
//         margin-bottom: inherit;
//     }
// }