/* 탭 */
.cmp-tab {
    display: flex;
    flex-direction: column;
    background: var(--colorGL-all-white100);
}
.cmp-tab .cmp-tab__header {
    border-bottom: 1px solid var(--colorCM-all-stroke-stroke-default6);
    margin-bottom: calc(80 / 16 * 1rem);
}
.cmp-tab .cmp-tab__header ul {
    display: flex;
    align-items: center;
}

.cmp-tab .cmp-tab__header ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(64 / 16 * 1rem);
}
.cmp-tab .cmp-tab__header ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 calc(40 / 16 * 1rem);
    color: var(--colorCM-all-text-text-tertiary);     
    font-size: calc(var(--typo-pc-size-body-lg) / 16 * 1rem);    
    font-weight: 500;
    line-height: calc(var(--typo-pc-line-height-body-lg) / 16 * 1rem);
    letter-spacing: var(--letter-spacing-small);
    position: relative;
}
.cmp-tab .cmp-tab__header ul li.is-active a {
    color: var(--typo-pc-size-body-lg);
}
.cmp-tab .cmp-tab__header ul li a::after {
    content: '';
    display: block;
    height: calc(4 / 16 * 1rem);
    width: 0%;
    background: var(--colorCM-all-stroke-stroke-default1);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s, background 0.3s;
}
.cmp-tab .cmp-tab__header ul li.is-active a::after {
    width: 100%;
    background: var(--colorCM-all-stroke-stroke-default2);
    transition: width 0.3s, background 0.3s;
}
.cmp-tab .tab__content {
    display: none;
}
.cmp-tab .tab__content.is-active {
    display: block;
}
.cmp-tab.align-center .cmp-tab__header ul {
    justify-content: space-between;
}
.cmp-tab.align-center .cmp-tab__header ul li {
    width: calc(100% / var(--tab-count));
}
@media screen and (max-width: 767px) {
    .cmp-tab {
        position: relative;
    }
    .cmp-tab .cmp-tab__header {
        overflow: hidden;
        overflow-x: scroll;
        position: relative;
        margin-bottom: calc(48 / 16 * 1rem);
    }
    .cmp-tab::after {
        content: '';
        display: block;
        position: absolute;
        width: calc(80 / 16 * 1rem);
        height: calc(50 / 16 * 1rem);
        right: 0;        
        top:0;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, #FFF 95%);
    }

    .cmp-tab .cmp-tab__header ul {
        white-space: nowrap;  
        gap: calc(10 / 16 * 1rem);
    }
    .cmp-tab .cmp-tab__header ul li {
        height: auto;
    }
    .cmp-tab .cmp-tab__header ul li a {    
        font-size: calc(var(--typo-mo-size-body-xs) / 16 * 1rem);  
        line-height: calc(var(--typo-mo-line-height-body-xs) / 16 * 1rem);     
        padding: calc(16 / 16 * 1rem);
        /* max-width: calc(80 / 16 * 1rem); */
        word-break: keep-all;
    }
    .cmp-tab .cmp-tab__header {
        -ms-overflow-style:none;
        scrollbar-width:none;
    }
    
    .cmp-tab .cmp-tab__header::-webkit-scrollbar {
        display:none;
    }
}