/* 타이포 그래프 */
.font-head-x-xl-mode {
    font-size: calc(var(--typo-pc-size-head-x-xl-mode) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-xxl-mode) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 400;
}
.font-head-x-xxl {
    font-size: calc(var(--typo-pc-size-head-x-xxl) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-xxxl) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 600;
}
.font-head-x-xl-main-banner {
    font-size: calc(72 / 16 * 1rem);
    line-height: calc(86 / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 600;
}
.font-head-x-xl {
    font-size: calc(var(--typo-pc-size-head-x-xl) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-xxl) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 800;
}
.font-head-xl {
    font-size: calc(var(--typo-pc-size-head-xl) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-xl) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 500;
}
.font-head-lg {
    font-size: calc(var(--typo-pc-size-head-lg) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-lg) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 500;
}
.font-head-md {
    font-size: calc(var(--typo-pc-size-head-md) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-md) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 600;
}
.font-head-sm {
    font-size: calc(var(--typo-pc-size-head-sm) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-sm) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 600;
}
.font-head-md-mode {
    font-size: calc(var(--typo-pc-size-head-md-mode) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-md-mode) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 500;
}
.font-head-sm-mode {
    font-size: calc(var(--typo-pc-size-head-sm-mode) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-head-sm-mode) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 600;
}
.font-body-lg {
    font-size: calc(var(--typo-pc-size-body-lg) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-body-lg) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
    font-weight: 400;
}
.font-body-md {
    font-size: calc(var(--typo-pc-size-body-md) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-body-md) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-body-sm {
    font-size: calc(var(--typo-pc-size-body-sm) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-body-sm) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-body-md-mode {
    font-size: calc(var(--typo-pc-size-body-md-mode) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-body-md-mode) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-caption-lg {
    font-size: calc(var(--typo-pc-size-caption-lg) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-caption-lg) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-caption-md {
    font-size: calc(var(--typo-pc-size-caption-md) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-caption-md) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-caption-sm {
    font-size: calc(var(--typo-pc-size-caption-sm) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-caption-sm) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-caption-lg-ui {
    font-size: calc(var(--typo-pc-size-caption-lg-ui) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-caption-lg-ui) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-caption-md-ui {
    font-size: calc(var(--typo-pc-size-caption-md-ui) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-caption-md-ui) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-caption-sm-ui {
    font-size: calc(var(--typo-pc-size-caption-sm-ui) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-caption-sm-ui) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}
.font-caption-xs {
    font-size: calc(var(--typo-mo-size-caption-xs) / 16 * 1rem);
    line-height: calc(var(--typo-mo-line-height-caption-xs) / 16 * 1rem);
    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
    font-weight: 400;
}

@media screen and (max-width: 720px) {
    .font-head-x-xl-mode {
        font-size: calc(var(--typo-mo-size-head-x-xl-mode) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-xxl-mode) / 16 * 1rem);
    }
    .font-head-x-xxl {
        font-size: calc(var(--typo-mo-size-head-x-xxl) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-xxxl) / 16 * 1rem);
    }
    .font-head-x-xl-main-banner {
        font-size: calc(36 / 16 * 1rem);
        line-height: calc(40 / 16 * 1rem);
        font-weight: 600;
    }
    .font-head-x-xl {
        font-size: calc(var(--typo-mo-size-head-x-xl) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-xxl) / 16 * 1rem);
    }
    .font-head-xl {
        font-size: calc(var(--typo-mo-size-head-xl) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-xl) / 16 * 1rem);
    }
    .font-head-lg {
        font-size: calc(var(--typo-mo-size-head-lg) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-lg) / 16 * 1rem);
    }
    .font-head-md {
        font-size: calc(var(--typo-mo-size-head-md) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-md) / 16 * 1rem);
    }
    .font-head-sm {
        font-size: calc(var(--typo-mo-size-head-sm) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-sm) / 16 * 1rem);
    }
    .font-head-md-mode {
        font-size: calc(var(--typo-mo-size-head-md-mode) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-md-mode) / 16 * 1rem);
    }
    .font-head-sm-mode {
        font-size: calc(var(--typo-mo-size-head-sm-mode) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-head-sm-mode) / 16 * 1rem);
    }
    .font-body-lg {
        font-size: calc(var(--typo-mo-size-body-lg) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-body-lg) / 16 * 1rem);
    }
    .font-body-md {
        font-size: calc(var(--typo-mo-size-body-md) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-body-md) / 16 * 1rem);
    }
    .font-body-sm {
        font-size: calc(var(--typo-mo-size-body-sm) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-body-sm) / 16 * 1rem);
    }
    .font-body-md-mode {
        font-size: calc(var(--typo-mo-size-body-md-mode) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-body-md-mode) / 16 * 1rem);
    }
    .font-caption-lg {
        font-size: calc(var(--typo-mo-size-caption-lg) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-caption-lg) / 16 * 1rem);
    }
    .font-caption-md {
        font-size: calc(var(--typo-mo-size-caption-md) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-caption-md) / 16 * 1rem);
    }
    .font-caption-sm {
        font-size: calc(var(--typo-mo-size-caption-sm) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-caption-sm) / 16 * 1rem);
    }
    .font-caption-md-ui {
        font-size: calc(var(--typo-mo-size-caption-md-ui) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-caption-md-ui) / 16 * 1rem);
    }
    .font-caption-lg-ui {
        font-size: calc(var(--typo-mo-size-caption-lg-ui) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-caption-lg-ui) / 16 * 1rem);
    }
    .font-caption-sm-ui {
        font-size: calc(var(--typo-mo-size-caption-sm-ui) / 16 * 1rem);
        line-height: calc(var(--typo-mo-line-height-caption-sm-ui) / 16 * 1rem);
    }
    .font-caption-xs {
        font-size: calc(var(--typo-pc-size-caption-xs) / 16 * 1rem);
        line-height: calc(var(--typo-pc-line-height-caption-xs) / 16 * 1rem);
    }
}