.cmp-title-select{
    .cmp-title__row {
        display: flex;
        gap: calc(var(--spacing-mode1-vertical-l) / 16 * 1rem);
        flex-direction: row; 
        align-items: center;
        @media #{$min1280} {
            gap: calc(var(--spacing-mode1-vertical2-x-l) / 16 * 1rem);
        }
        &.is-between {
            justify-content: space-between;
            align-items: center;
        }
        &.is-column {
            flex-direction: column;
            align-items: flex-start;
            .cmp-title__wrap {
                margin-top: 0;
            }
        }
        .cmp-title__wrap {
            margin-bottom: 0;
        }
        .cmp-select {
            margin-bottom: 0;
            &__item {
                width: calc(123 / 16 * 1rem);
                padding: 0;
                overflow: hidden;
            }
            .btn-dropdown {
                padding: calc(11 / 16 * 1rem) calc(16 / 16 * 1rem) calc(11 / 16 * 1rem) calc(24 / 16 * 1rem);
                font-weight: 400;
                background-size: calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
                background-position: calc(100% - calc(16 / 16 * 1rem)) 50%;
            }
        }
        .dropdown-menu {
            align-items: flex-start;
            
            .btn-dropdown {
                background-image: url("#{$basePath}image/icon/icon-arrow-dropdown-sub-bl20.svg");
                background-size: calc(20 / 16 * 1rem) calc(20 / 16 * 1rem);
            }
            .dropdown_list {
                padding: 0;
                border: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default2);
                border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
                box-shadow: unset;
                @media #{$min1280} {
                    border-radius: calc(var(--radius-mode1-s) / 16 * 1rem);
                }
                li {
                    padding: calc(11 / 16 * 1rem) calc(24 / 16 * 1rem);
                    @media #{$min1280} {
                        padding: calc(15 / 16 * 1rem) calc(24 / 16 * 1rem);
                    }
                }
                button {
                    font-size: calc(16 / 16 * 1rem);
                    line-height: calc(26 / 16 * 1rem);
                }
            }
        }
    }
}