
.cmp-solution-item__wrap {
    .solution-content-items {
        display: flex;
        flex-direction: column;
        background-color: var(--colorGL-all-white100);
        @media #{$phone} {
            padding: calc(24 / 16 * 1rem);   
        }
        & + .solution-content-items {
            margin-top: calc(60 / 16 * 1rem);
        }
        .solution-content {
            .cate-text {
                margin-top: calc(16 / 16 * 1rem);
            }
        }
        .item-image {
            margin-top: calc(60 / 16 * 1rem);
            img {
                width: 100%;
                max-width: 100%;
            }
        }
        .item-content-list {
            display: flex;
            flex-direction: column;
            gap: calc(40 / 16 * 1rem);
            li {
                gap: calc(12 / 16 * 1rem);
            }
        }
        &.type-left {
            flex-direction: row;
            flex-direction: row-reverse;
            .item-image {
                margin-top: calc(0 / 16 * 1rem);
                width: 50%;
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
            .solution-content {
                width: 50%;
                padding: calc(40 / 16 * 1rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
        &.type-item2-col {
            flex-direction: column-reverse;
        }
    }
    .solution-item-hor {
        display: flex;
        &.items2 {
            gap: calc(32 / 16 * 1rem);
        }
        &.items3 {
            gap: calc(16/ 16 * 1rem);
        }
        .solution-content-items {
            & + .solution-content-items {
                margin-top: calc(0 / 16 * 1rem);
            }
        }
        .item-image {
            margin-bottom: calc(32 / 16 * 1rem);
        }
    }
}