.cmp-hero-navigation {
    &__list {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
        background: var(--colorCM-mode1-fill-fill-default3);
        @media #{$min1280} {
            flex-direction: row;
            border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
            // background: rgba(0,0,0,0.5);
            // mix-blend-mode: soft-light;
        }
        li {
            position: relative;
            width: 100%;
            box-sizing: border-box;
            @media #{$min1280} {
                width: 25%;
            }
            &::after {
                display: block;
                content: '';
                position: absolute;
                bottom: 0;
                left: calc(24 / 16 * 1rem);
                width: calc(100% - calc(48 / 16 * 1rem));
                height: calc(1 / 16 * 1rem);
                background: var(--colorCM-mode1-background-background-default2);
                @media #{$min1280} {
                    top: calc(20 / 16 * 1rem);
                    bottom: initial;
                    left: initial;
                    right: 0;
                    width: calc(1 / 16 * 1rem);
                    height: calc(100% - calc(40 / 16 * 1rem));
                    background: var(--colorCM-mode1-background-background-default0);
                    opacity: 0.2;
                }
                @media #{$min1600} {
                    top: calc(40 / 16 * 1rem);
                    height: calc(100% - calc(80 / 16 * 1rem));
                }
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        gap: calc(16 / 16 * 1rem);
        padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);
        box-sizing: border-box;
        @media only screen and (min-width : 535px) {
            padding: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
        }
        @media #{$min1280} {
            padding: calc(20 / 16 * 1rem) calc(40 / 16 * 1rem);
        }
        @media #{$min1600} {
            padding: calc(40 / 16 * 1rem);
        }
    }
    &__title {
        @include ellipsis(2);
        // max-width: calc(279 / 16 * 1rem);
        color: var(--colorCM-mode1-text-text-default);
        font-size: calc(18 / 16 * 1rem);
        line-height: calc(28 / 16 * 1rem);
        @media #{$min1280} {
            min-height: calc(56 / 16 * 1rem);
            color: var(--colorCM-mode1-text-text-on-bg);
        }
        @media #{$min1600} {
            min-height: calc(68 / 16 * 1rem);
            font-size: calc(24 / 16 * 1rem);
            line-height: calc(34 / 16 * 1rem);
        }
    }
    &__tag {
        margin-top: calc(8 / 16 * 1rem);
        color: var(--colorCM-mode1-text-text-tertiary);
        opacity: 0.6;
        font-size: calc(16 / 16 * 1rem);
        line-height: calc(26 / 16 * 1rem);
        @media #{$min1280} {
            color: var(--colorCM-mode1-text-text-on-bg);
        }
        @media #{$min1600} {
            font-size: calc(18 / 16 * 1rem);
            line-height: calc(26 / 16 * 1rem);
        }
    }
    // .active-effect : hasEffect : true 인 경우
    .active-effect {
        overflow: hidden;
        &__item {
            // opacity: 0;
            // transform: translateY(30px);
            animation: fadeInUp 1s ease forwards;
        }
        .fade-in-bottom {
            .active-effect__item {
                animation: fadeInUp 1s ease forwards;
                @keyframes fadeInUp {
                    0% {
                        // opacity: 0;
                        transform: translateY(200px);
                        }
                    100% {
                        // opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
    &.color-mode-white {
        .cmp-hero-navigation__list {
            // @media #{$min1280} {
            //     background: rgba(0,0,0,0.5);
            // }
            // li {
            //     &:after {
            //         @media #{$min1280} {
            //             background: var(--colorCM-mode1-background-background-default0);
            //         }
            //     }
            // }
        }
        .cmp-hero-navigation__title {
            @media #{$min1280} {
                color: var(--colorCM-mode1-text-text-on-bg);
            }
        }
        .cmp-hero-navigation__tag {
            @media #{$min1280} {
                color: var(--colorCM-mode1-text-text-on-bg);
            }
        }
        .ico--mode-color-white {
            display: none;
            @media #{$min1280} {
                display: block;
            }
        }
        .ico--mode-color-black {
            display: block;
            @media #{$min1280} {
                display: none;
            }
        }
    }
    &.color-mode-black {
        .cmp-hero-navigation__list {
            // @media #{$min1280} {
            //     background: rgba(255,255,255,0.5);
            // }
            // li {
            //     &:after {
            //         @media #{$min1280} {
            //             opacity: 0.12;
            //             background: var(--colorCM-mode1-stroke-stroke-default10);
            //         }
            //     }
            // }
        }
        .cmp-hero-navigation__title {
            @media #{$min1280} {
                color: var(--colorCM-mode1-text-text-default);
            }
        }
        .cmp-hero-navigation__tag {
            @media #{$min1280} {
                color: var(--colorCM-mode1-text-text-default);
            }
        }
        .ico--mode-color-white {
            display: none;
        }
    }
    // &.fade-in {
    //     opacity: 0;
    //     animation: fadeIn 1s ease-in-out forwards;
    //     @keyframes fadeIn {
    //         0% {
    //             opacity: 0;
    //             }
    //         100% {
    //             opacity: 1;
    //         }
    //     }
    // }
}