@use '/src/assets/css/_index' as *;
.cmp-customer-case {
  .cmp-swiper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0 calc(-20 / 16 * 1rem);
    @media #{$min720}{
      justify-content: center;
      margin: 0;
    }

    .swiper-wrapper {
      display: flex;
      gap: 0;
      @media #{$min720} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc(20 / 16 * 1rem);
      }
      @media #{$min1280} {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .swiper-slide {
      display: flex;
      width: 73.61111111111%;
      height: auto;
      @media #{$min720} {
        width: 100%;
      }
    }
  }

  .customer-case-items {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: calc(27 / 16 * 1rem) calc(24 / 16 * 1rem);
    border: 1px solid var(--colorCM-mode1-stroke-stroke-default2);
    border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
    min-width: 0;
    background-color: var(--colorCM-mode1-fill-fill-default0);
    @media #{$min720} {
      padding: calc(40 / 16 * 1rem) calc(48 / 16 * 1rem);
    }
  
    * {
      min-width: 0;
    }
  }

  .customer-case-title {
    font-weight: 600;
    color: var(--colorCM-mode1-text-text-default);
    margin-bottom: calc(4 / 16 * 1rem);
    @media #{$min1280} {
      margin-bottom: calc(12 / 16 * 1rem);
    }
  }

  .customer-case-text {
    color: var(--colorCM-mode1-text-text-secondary);
    @include ellipsis(2);
    height: auto;
    margin-bottom: calc(4 / 16 * 1rem);
    @media #{$min1280} {
      margin-bottom: calc(40 / 16 * 1rem);
    }
  }
  .customer-case-more {
    a {
      display: flex;
      align-items: center;
      gap: calc(4 / 16 * 1rem);
      height: calc(26 / 16 * 1rem);
      margin-bottom: calc(24 / 16 * 1rem);
      @media #{$min1280} {
        position: absolute;
        top: calc(47 / 16 * 1rem);
        right: calc(48 / 16 * 1rem);
      }
    }
  }
  .customer-case-img {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(32 / 16 * 1rem);
    margin-bottom: calc(32 / 16 * 1rem);
    @media #{$min1280} {
      margin-bottom: calc(48 / 16 * 1rem);
      height: calc(40 / 16 * 1rem);
    }
    img {
      width: auto;
      height: 100%;
      &.type-pc {
        display: block;
        @media #{$phone} {
          display: none;
        }
      }

      &.type-mo {
        display: none;
        @media #{$phone} {
          display: block;
        }
      }
    }
  }
}
