//Customer Case
.cmp-customer-case {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-margin;
    @media #{$phone} {
        flex-direction: column;
    }
    .customer-case-items {
        display: flex;
        width: calc((100% / 3) - calc($gap-margin * 2 / 3));
        padding: calc(32 / 16 * 1rem);        
        flex-direction: column;
        border: 1px solid var(--colorCM-all-stroke-stroke-default7);
        @media #{$tablet} {
            width: calc((100% / 2) - calc($gap-margin / 2));
        }
        @media #{$phone} {
            width: 100%;            
            padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);  
        }
    }
    .cs-category-list {
        display: flex;
        align-items: center;
        gap: calc(8 / 16 * 1rem);
        @media #{$phone} {
            &+.customer-case-title {
                margin-top: calc(36 / 16 * 1rem);   
                margin-bottom: calc(8 / 16 * 1rem);   
            }
        }
        &+.customer-case-title {
            margin-top: calc(36 / 16 * 1rem);   
            margin-bottom: calc(12 / 16 * 1rem);   
        }
        li {
            position: relative;
            font-weight: 600;
            color: var(--colorGL-all-gray700);
            padding-right: calc(8 / 16 * 1rem);
            &::after {
                content: '';
                display: block;
                width: 1px;
                height: 16px;
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);
                background-color: var(--colorGL-all-gray150);
            }
            &:last-child {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
        }
    }
    .customer-case-title {
        font-weight: 600;
        color: var(--text-text-default);
    }
    .customer-case-text {    
        color: var(--colorCM-all-text-text-secondary);
        @include ellipsis(2);
        height: calc(48 / 16 * 1rem);
        @media #{$tablet}{
            height: calc(42 / 16 * 1rem);
        }
        @media #{$phone}{
            height: calc(42 / 16 * 1rem);
        }
    }
    .customer-case-cf {
        display: flex;
        justify-content: flex-end;
        margin-top: calc(40 / 16 * 1rem);
        height: calc(28 / 16 * 1rem);
        @media #{$phone} {
            margin-top: calc(32 / 16 * 1rem);
            height: calc(48 / 16 * 1rem);
        }
        img {
            width: fit-content;
            height: 100%;
            &.type-pc {
                display: block;
                @media #{$phone} {
                    display: none;
                }
            }
            &.type-mo {
                display: none;
                @media #{$phone} {
                    display: block;
                }
            }
        }
    }
}