.cmp-overview {
    display: flex;
    flex-direction: column; 
    &__title {

    }
    &__text-box {
        margin-top: calc(24 / 16 * 1rem);
        @media #{$min1280} {
            margin-top: calc(40 / 16 * 1rem);
        }
    }
    &--row {
        flex-direction: column;
        gap: calc(20 / 16 * 1rem);

        .cmp-overview-title {
            flex: none;
        }

        @media #{$min720} {
            flex-direction: row;

            .cmp-overview-title {
                flex: 0 0 50%;
            }
        }
    }
}
