.cmp_image-item-column {
    .image-item-column__wrap {
        display: flex;
        flex-direction: column;
        gap: calc(80 / 16 * 1rem);
        @media #{$tablet} {
            gap: calc(60 / 16 * 1rem);
        }
        @media #{$phone} {
            gap: calc(32 / 16 * 1rem);
        }
        &.type-revers {
            flex-direction: column-reverse;
        }
        & + .image-item-column__wrap {
            margin-top: calc(200 / 16 * 1rem);
            @media #{$tablet} {
                margin-top: calc(160 / 16 * 1rem);
            }
            @media #{$tabletMini} {
                margin-top: calc(120 / 16 * 1rem);
            }
            @media #{$phone} {
                margin-top: calc(80 / 16 * 1rem);
            }
        }
        &.type-radius {
            gap: 0;
            + .image-item-column__wrap {
                margin-top: calc(180 / 16 * 1rem);
                @media #{$phone} {
                    margin-top: calc(96 / 16 * 1rem);
                }
            }
            .image-item-column__text-box {
                margin-bottom: calc(40 / 16 * 1rem);
                @media #{$phone} {
                    margin-bottom: calc(24 / 16 * 1rem);
                }
                &__desc {
                    margin-bottom: calc(12 / 16 * 1rem);
                    @media #{$phone} {
                        margin-bottom: calc(8 / 16 * 1rem);
                    }
                }
                &__big-tilte {
                    @media #{$phone} {
                        font-size: calc(30 / 16 * 1rem);
                        line-height: calc(40 / 16 * 1rem);
                    }
                }
            }
            .image-item-column__text-wrap {                           
                margin-top: calc(32 / 16 * 1rem);
                @media #{$phone} {
                    margin-top: calc(24 / 16 * 1rem);
                }
                .image-item-column__text-box {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    gap: 1rem;
                    margin-bottom: 0;
                    @media #{$phone} {
                        display: block;
                    }
                    > * {
                        flex-grow: 1;
                        width: calc(50% - 1rem);
                        @media #{$phone} {
                            width: 100%;
                        }
                    }                    
                    &__desc {
                        margin-bottom: 0;
                    }    
                    &__text {
                        margin-top: 0;
                        font-size: calc(20 / 16 * 1rem);
                        font-weight: 400;
                        line-height: calc(34 / 16 * 1rem);
                        color: #565656;
                        @media #{$phone} {
                            font-size: calc(18 / 16 * 1rem);
                            line-height: calc(28 / 16 * 1rem);
                            margin-top: calc(8 / 16  * 1rem);
                        }
                    }
                }
            }            
            .image-item-column {
                &__container {
                    display: block;
                }
                &__text-box {
                    display: block;
                    width: 100%;
                }
            }            
            .image-item-column__container {
                gap: 0;
                &--image-container {                    
                    .img-box {
                        height: calc(464 / 16 * 1rem);
                        @media #{$phone} {
                            height: calc(104 / 16 * 1rem);
                        }
                        img {
                            border-radius: calc(32 / 16 * 1rem);
                        }
                    }
                }
            }
            &:last-child {
                padding-bottom: calc(120 / 16 * 1rem);
            }
        }
    }
    .image-item-column__container {
        display: flex;
        justify-content: center;
        gap: $gap-margin;
        @media #{$phone} {
            flex-direction: column;
            gap: calc(20 / 16 * 1rem);
        }
        &--image-container {
            flex-direction: column;
            .img-box {
                height: calc(480 / 16 * 1rem);
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @media #{$phone} {
                    height: calc(240 / 16 * 1rem);
                }
            }
            .img-box__desc {
                text-align: right;
                @media #{$phone} {
                    text-align: left;
                }
            }
        }
    }
    .image-item-column__text-box {
        display: flex;
        flex-direction: column;
        width: calc(50% - calc($gap-margin / 2));
        @media #{$phone} {
            width: 100%;
        }
        .font-red {
            color: #AA1239;
        }
        &__big-title {
            display: block;
            color: var(--text-text-default);
            font-weight: 700;
            // font-size: calc(var(--typo-pc-size-head-md) / 16 * 1rem);
            // line-height: calc(var(--typo-pc-line-height-head-md) / 16 * 1rem);
            // @media #{$tablet} {
            //     font-size: calc(var(--typo-tablet-size-head-md) / 16 * 1rem);
            //     line-height: calc(var(--typo-tablet-line-height-head-md) / 16 * 1rem);
            // }
            & + .image-item-column__text-box__desc {
                margin-top: calc(16 / 16 * 1rem);
            }
        }
        &__desc {
            display: block;
            color: var(--colorCM-mode1-text-text-tertiary);
            // font-size: calc(var(--typo-pc-size-body-md) / 16 * 1rem);
            // line-height: calc(var(--typo-pc-line-height-body-md) / 16 * 1rem);
            // @media #{$tablet} {
            //     font-size: calc(var(--typo-tablet-size-body-md) / 16 * 1rem);
            //     line-height: calc(var(--typo-tablet-line-height-body-sm) / 16 * 1rem);
            // }
        }
        &__sub-title {
            font-weight: 600;
            // font-size: calc(var(--typo-pc-size-body-lg) / 16 * 1rem);
            // line-height: calc(var(--typo-pc-line-height-body-lg) / 16 * 1rem);
            & + .image-item-column__text-box__text {
                margin-top: calc(13 / 16 * 1rem);
            }
        }
        &__text {
            color: var(--colorGL-all-black100);
            // font-size: calc(var(--typo-pc-size-body-sm) / 16 * 1rem);
            // line-height: calc(var(--typo-pc-line-height-body-sm) / 16 * 1rem);
            & + .image-item-column__text-box__text {
                margin-top: calc(27 / 16 * 1rem);
                @media #{$phone} {
                    margin-top: calc(24 / 16 * 1rem);
                }
            }
        }
    }
}