.cmp-user-case-ref {
  &__container {
    background-color: var(--colorCM-mode1-fill-fill-default1);
    padding: calc(80 / 16 * 1rem);
    @media #{$tablet} {
      padding: calc(60 / 16 * 1rem);
    }
    @media #{$phone} {
      padding: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
    }
  }
  &__title {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-mode1-vertical-m) / 16 * 1rem);
    margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
    @media #{$tablet} {
      margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
    }
  }
  &__content {
    display: flex;
    margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
    @media #{$tablet} {
      flex-direction: column;
      margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
    }
    @media #{$phone} {
      margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
    }
    & > div {
      width: 50%;
      @media #{$tablet} {
        width: 100%;
      }
    }
    .text-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: calc(10 / 16 * 1rem);
      min-height: calc(325 / 16 * 1rem);
      padding: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem) calc(var(--spacing-mode1-horizontal3-x-l) / 16 * 1rem);
      @media #{$tablet} {
        padding-bottom: 0;
      }
      @media #{$phone} {
        padding: 0;
        padding-top: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
      }
    }
    .cmp-wrap {
      margin-bottom: 0;
    }
    .cmp-image-box {
      display: flex;
      align-items: center;
      .img-box {
        width: 100%;
        height: auto;
      }
    }
  }
}