.sub-visual__wrap {
    width: 100%;
    height: calc(240 / 16 * 1rem);
    background-image: var(--hero-sub-mo-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;
    @media #{$min1280} {
        height: calc(480 / 16 * 1rem);
        background-image: var(--hero-sub-pc-img);
        // background-size: auto;
        background-position: center center;
    }

    .inner-wrap {
        height: 100%;
        position: relative;
    }

    .visual-text {
        position: absolute;
        left: calc(20 / 16 * 1rem);
        top: calc(50% - 40px);
        color: var(--colorGL-all-white100);

        // @media #{$min720} {
        //     left: calc(32 / 16 * 1rem);
        // }

        // @media #{$min1280} {
        //     left: calc(80 / 16 * 1rem);
        // }

        p + h2 {
            margin-top: calc(12 / 16 * 1rem);
        }
    }

    .sub-visual__container {
        display: flex;
        flex-direction: column;
        gap: calc(32 / 16 * 1rem);

        @media #{$min720} {
            flex-direction: row;
            gap: $gap-margin;
        }

        .visual-text {
            width: 100%;

            @media #{$min720} {
                width: calc(50% - calc($gap-margin / 2));
            }

            .desc {
                color: #281D1B;
                text-align: left;
                font-size: calc(var(--typo-mo-size-body-xl) / 16 * 1rem);
                line-height: calc(var(--typo-mo-line-height-body-xl) / 16 * 1rem);

                @media #{$min720} {
                    font-size: calc(var(--typo-tablet-size-body-xl) / 16 * 1rem);
                    line-height: calc(var(--typo-tablet-line-height-body-xl) / 16 * 1rem);
                    text-align: right;
                }
            }
        }
    }

    &.type-lifted {
        .visual-text {
            top: calc(275.5 / 16 * 1rem);

            @media #{$min720} {
                top: calc(200 / 16 * 1rem);
            }
        }
    }

    &.type-empty {
        padding: calc(40 / 16 * 1rem) 0;
        height: auto;
        background: none;
        // margin-top: calc(2 / 16 * 1rem);


        @media #{$min1280} {
            padding: calc(80 / 16 * 1rem) 0;
        }

        .visual-text {
            position: relative !important;
            top: initial !important;
            left: initial !important;
            color: var(--text-text-default);

            .sub-text + h2 {
                margin-top: calc(2 / 16 * 1rem);
                @media #{$min1280} {
                    margin-top: calc(8 / 16 * 1rem);
                }
            }
        }
    }

    &.type-wide {
        height: calc(284 / 16 * 1rem);
        @media #{$min1280} {
            height: calc(480 / 16 * 1rem);
        }
        .inner-wrap {
            max-width: calc(1600 / 16 * 1rem);
        }
        .visual-text {
            @media #{$min1280} {
                left: calc(60 / 16 * 1rem);
            }
        }
        // .visual-text {
        //     top: calc(24 / 16 * 1rem);
        //     left: calc(20 / 16 * 1rem);

        //     @media #{$min720} {
        //         left: calc(32 / 16 * 1rem);
        //     }

        //     @media #{$min1280} {
        //         left: calc(80 / 16 * 1rem);
        //     }
        // }
    }
}
