// overview
.cmp-overview__wrap {
    display: flex;
    flex-direction: column;
    .cmp-overview-title {
        color: var(--text-text-default);
        font-weight: 500;
        &+.cmp-overview-text {
            margin-top: calc(32 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(24 / 16 * 1rem);
            }
        }
        &+.cmp-overview-text2 {
            margin-top: calc(16 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(16 / 16 * 1rem);
            }
        }
    }
    .cmp-overview-text {
        color: var(--colorCM-mode1-text-text-secondary);
        p+p {
            margin-top: calc(16 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(12 / 16 * 1rem);
            }
        }
    }
}