@use '/src/assets/css/_index' as *;
.cmp_image-item-3col-box {
    .image-item-3col {
        display: flex;
        gap: $gap-margin;
        flex-wrap: wrap;
        @media #{$tablet} {
            flex-direction: column;
        }
        &.type-bg-none {
            @media #{$tablet} {
                flex-direction: row;
            }
            li {
                padding: 0;
                background: none;
                @media #{$tablet} {
                    padding: 0;
                    width: calc(33.33% - calc(($gap-margin * 2) / 3));
                }
                @media #{$phone} {
                    width: calc(50% - calc(($gap-margin) / 2));
                }
            }
            .img-box {
                img {
                    width: 100%;
                }
                & + .text-box {
                    margin-top: calc(var(--spacing-mode1-vertical2-x-l) / 16 * 1rem);
                }
            }
            .text-box {
                color: #281D1B;
                &.type-left {
                    .image-item-3col__title,
                    .image-item-3col__text {
                        text-align: left;
                    }
                }
                &.type-right {
                    .image-item-3col__title,
                    .image-item-3col__text {
                        text-align: right;
                    }
                }
            }
        }
        li {
            padding: calc(60 / 16 * 1rem) calc(32 / 16 * 1rem);
            width: calc(33.33% - calc(($gap-margin * 2) / 3));
            background: #FAFAFA;
            @media #{$tablet} {
                padding: calc(32 / 16 * 1rem);
                width: 100%;
            }
        }
        .img-box {
            margin: 0 auto;
            text-align: center;
            img {
                margin: 0 auto;
            }
            & + .text-box {
                margin-top: calc(12 / 16 * 1rem);
            }
        }
        &__title {
            display: block;
            text-align: center;
            & + .image-item-3col__text {
                margin-top: calc(12 / 16 * 1rem);
            }
        }
        &__text {
            text-align: center;
        }
    }
}