.cmp_imageltem__wrap {
    display: flex;
    flex-direction: column;
    .img-box {
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            border-radius: calc(16 / 16 * 1rem);
        }
    }
    .text-info {
        display: flex;
        flex-direction: column;
        margin-top: calc(24 / 16 * 1rem);
        // margin-bottom: calc(56 / 16 * 1rem);
        @media #{$min1280} {
            flex-direction: row;
            margin: 0;
        }
        .info-title {
            font-weight: 500;
            color: var(--text-text-default);
        }
        .info-text {
            color: var(--colorCM-mode1-text-text-secondary);
            margin-top: calc(0 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: 0;
            }
        }
        .info-list {
            li {
            position: relative;
            padding-left: calc(29 / 16 * 1rem);
            @media #{$min1280} {
                padding-left: calc(36.5 / 16 * 1rem);
            }
            &::before {
                content: '';
                position: absolute;
                width: calc(3 / 16 * 1rem);
                height: calc(3 / 16 * 1rem);
                background-color: #281d1b;
                border-radius: 50%;
                top: calc(13 / 16 * 1rem);
                left: calc(13 / 16 * 1rem);
                @media #{$min1280} {
                    width: calc(5 / 16 * 1rem);
                    height: calc(5 / 16 * 1rem);
                    top: calc(17.5 / 16 * 1rem);
                    left: calc(17.5 / 16 * 1rem);
                }
            }
            }
        }
    }
    .cmp_imageitem {
        display: flex;
        background-color: var(--colorGL-all-gray10);
        & + .cmp_imageitem {
            margin-top: calc(56 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: calc(120 / 16 * 1rem);
            }
        }
        &.type-default {
            flex-direction: column;
            background-color: transparent;
            .text-info {
                justify-content: space-between;
                gap: calc(24 / 16 * 1rem);
                @media #{$min1280} {
                    margin-top: calc(32 / 16 * 1rem);
                    // margin-bottom: 0;
                }
                .info-title {
                    width: 100%;
                    max-width: 48%;
                }
                .info-text {
                    flex: 1;
                }
            }
            .img-box {
            overflow: hidden;
            }
        }
        &.type-left {
            justify-content: space-between;
            flex-direction: column;
            @media #{$min1280} {
                flex-direction: row;
            }
            & + .type-left,
            & + .type-right {
                margin-top: calc(56 / 16 * 1rem);
                @media #{$min1280} {
                    margin-top: calc(48 / 16 * 1rem);
                }
            }
            .img-box {
                width: 100%;
                min-width: 100%;
                overflow: hidden;
                @media #{$min1280} {
                    width: 50%;
                    min-width: 50%;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .text-info {
                flex-direction: column;
                // justify-content: center;
                gap: calc(24 / 16 * 1rem);
                width: 100%;
                min-width: 100%;
                @media #{$min1280} {
                    width: 50%;
                    min-width: 50%;
                    padding: calc(80 / 16 * 1rem) calc(72 / 16 * 1rem);
                }
                &:has(.info-list) {
                    // padding: calc(24 / 16 * 1rem);
                    gap: calc(24 / 16 * 1rem);
                    @media #{$min1280} {
                        padding: calc(80 / 16 * 1rem) calc(72 / 16 * 1rem);
                    }
                }

                p {
                    & + p {
                    margin-top: calc(12 / 16 * 1rem);
                    }
                }
            }
        }
        &.type-right {
            justify-content: space-between;
            flex-direction: column;
            @media #{$min1280} {
                flex-direction: row-reverse;
            }
            & + .type-left,
            & + .type-right {
                margin-top: calc(56 / 16 * 1rem);
                @media #{$min1280} {
                    margin-top: calc(48 / 16 * 1rem);
                }
            }
            .img-box {
                width: 100%;
                min-width: 100%;
                overflow: hidden;
                @media #{$min1280} {
                    width: 50%;
                    min-width: 50%;
                }
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .text-info {
                flex-direction: column;
                // justify-content: center;
                gap: calc(24 / 16 * 1rem);
                width: 100%;
                min-width: 100%;
                @media #{$min1280} {
                    width: 50%;
                    min-width: 50%;
                    padding: calc(80 / 16 * 1rem) calc(72 / 16 * 1rem) 0 0;
                }
                p {
                    & + p {
                    margin-top: calc(12 / 16 * 1rem);
                    }
                }
                &:has(.info-list) {
                    padding: calc(24 / 16 * 1rem);
                    gap: calc(24 / 16 * 1rem);
                }
            }
        }
        &.type-mo-reverse {
            flex-direction: column-reverse;
            background-color: transparent;
            @media #{$min1280} {
                flex-direction: column;
            }
            .text-info {
                justify-content: space-between;
                gap: calc(24 / 16 * 1rem);
                margin-top: 0;
                margin-bottom: calc(24 / 16 * 1rem);
                @media #{$min1280} {
                    margin-top: calc(32 / 16 * 1rem);
                    margin-bottom: 0;
                }
                .info-title {
                    width: 100%;
                    max-width: 48%;
                }
                .info-text {
                    flex: 1;
                }
            }
            .img-box {
                overflow: hidden;
            }
        }

        &:has(.info-list) + .cmp_imageitem:has(.info-list) {
            margin-top: calc(16 / 16 * 1rem);
        }
    }
}
