.cmp-chart {
    .chart-wrap {
        &--column-chart {
            position: relative;
            height: calc(273 / 16 * 1rem);
            padding:0 calc(38.5 / 16 * 1rem);
            border-top: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default7);
            border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default7);
            box-sizing: border-box;
            @media #{$phone} {
                height: calc(150 / 16 * 1rem);
            }
        }
        &__xAxis-area {
            &__line {
                position: absolute;
                display: block;
                width: 100%;
                height: calc(1 / 16 * 1rem);
                background: var(--colorCM-all-stroke-stroke-default7);
                &:first-child {
                    top: 33.333%;
                    left: 0;
                }
                &:last-child {
                    top: 66.666%;
                    left: 0;
                }
            }
        }
        &__yAxis-area {
            position: relative;
            margin-bottom: calc(44 / 16 * 1rem);
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
        &__yAxis-series {
            display: flex;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            li {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                gap: calc(4 / 16 * 1rem);
                // padding: 0 calc(16 / 16 * 1rem);
                width: 100%;
                height: 100%;
                z-index: 1;
                box-sizing: border-box;
            }
            &__text {
                color: var(--colorCM-all-text-text-tertiary);
            }
            &__bar {
                display: block;
                width: calc(55 / 16 * 1rem);
                height: calc(var(--yAxis-series-target-val) / var(--yAxis-series-target-max-val) * 100%);
                background: var(--yAxis-series-bg);
                box-sizing: border-box;
                border-top-left-radius: calc(26 / 16 * 1rem);
                border-top-right-radius: calc(26 / 16 * 1rem);
                @media #{$tabletMini} {
                    width: calc(65 / 16 * 1rem);
                }
                @media #{$phone} {
                    width: calc(28 / 16 * 1rem);
                }
            }
        }
        &__yAxis-categories {
            position: absolute;
            left: 0;
            bottom: calc(-37 / 16 * 1rem);
            // padding:0 calc(38.5 / 16 * 1rem);
            width: 100%;
            display: flex;
            box-sizing: border-box;
            &__text {
                display: block;
            }
            li {
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                white-space: nowrap;
                // padding: 0 calc(16 / 16 * 1rem);
                width: 100%;
                box-sizing: border-box;
            }
        }
    }
}