// 상세 정보 요약 영역
.cmp-board-detail-info {
    .detail-info {
        border-bottom: 1px solid var(--colorCM-mode1-stroke-stroke-default2);
        &.type-wide {
            padding-bottom: calc(32 / 16 * 1rem);
            @media #{$min1280}{
                padding-bottom: calc(60/16*1rem);
            }
            .detail-info__title {
                color: var(--text-text-default);
                font-weight: 600;
                & + .detail-info__tag {
                    margin-top: calc(12 / 16 * 1rem);
                }
                & + .detail-info__text {
                    margin-top: calc(12 / 16 * 1rem);
                }
                & + .tag-box {
                    margin-top: calc(48 / 16 * 1rem);
                }
            }
            .detail-info__text {
                color: var(--colorCM-mode1-text-text-secondary);
                & + .detail-info__util {
                    margin-top: calc(48 / 16 * 1rem);
                }
            }
            .detail-info__tag {
                & + .detail-info__util {
                    margin-top: calc(48 / 16 * 1rem);
                }
            }
            .detail-info__util {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                margin-top: calc(16 / 16 * 1rem);
                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--colorCM-mode1-text-text-tertiary);
                    &.detail-info__like {
                        .btn {
                            padding: 0;
                            gap: calc(4 / 16 * 1rem);
                            // LIKE 버튼 비활성화 시
                            .btn__icon {
                                display: block;
                                &--is-active {
                                    display: none;
                                }
                            }
                            // LIKE 버튼 활성화 시
                            &--is-active {
                                .btn__icon {
                                    display: none;
                                    &--is-active {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                    & + .detail-info__util__item {
                        padding-left: calc(16 / 16 * 1rem);
                        &::before {
                            display: block;
                            content: '';
                            margin-right: calc(16 / 16 * 1rem);
                            width: calc(1 / 16 * 1rem);
                            height: calc(14 / 16 * 1rem);
                            background: var(--colorCM-mode1-stroke-stroke-default2);
                        }
                    }
                }
            }
        }
        // BX가이드에서 사용하지 않아 주석처리
        // &.type-card {
        //     padding-top: calc(40 / 16 * 1rem);
        //     .detail-info__category {
        //         & + .detail-info__title {
        //             margin-top: calc(12 / 16 * 1rem);
        //         }
        //     }
        //     .detail-info__title {
        //         display: block;
        //         padding-bottom: calc(32 / 16 * 1rem);
        //         color: var(--text-text-default);
        //         font-weight: 700;
        //         border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default5);
        //         & + .detail-info__desc {
        //             margin-top: calc(32 / 16 * 1rem);
        //         }
        //     }
        //     .detail-info__desc {
        //         display: flex;
        //         gap: calc(12 / 16 * 1rem);
        //         & + .detail-info__desc {
        //             padding-top: 0;
        //             margin-top: calc(12 / 16 * 1rem);
        //             border-top: 0;
        //         }
        //         & + .button__wrap {
        //             margin-top: calc(32 / 16 * 1rem);
        //         }
        //         &__tit {
        //             min-width: calc(84 / 16 * 1rem);
        //             width: calc(84 / 16 * 1rem);
        //             color: var(--text-text-default);
        //             font-weight: 500;
        //         }
        //         &__txt {
        //             width: 100%;
        //             color: var(--text-text-default);
        //             font-weight: 600;
        //         }
        //     }
        // }
    }
}