/* 약관 관련 */
.cmp-richtext {
    b {
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        font-weight: inherit;
    }
    i {
        font-style: italic;
    }
    sup {

    }
    sub {

    }
    a {
        border-bottom: calc(1 / 16 * 1rem) solid var(--text-text-default);
        &[target="_blank"] {
            border-bottom: 0;
            padding-right: calc(20 / 16 * 1rem);
            background: url("#{$basePath}image/icon/icon_arrow_right_bl24.svg");
            background-repeat: no-repeat;
            background-position: 100% center;
            background-size: calc(16 / 16 * 1rem) calc(16 / 16 * 1rem);
            @media #{$min720} {
                padding-right: calc(32 / 16 * 1rem);
                background-size: calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
            }
        }
    }
    blockquote {
        text-decoration: underline;
    }
    ul {
        li {
            position: relative;
            padding-left: calc(10 / 16 * 1rem);
            &::before {
                content: '';
                width: calc(3 / 16 * 1rem);
                height: calc(3 / 16 * 1rem);
                display: block;
                border-radius: 50%;
                position: absolute;
                left: 0;
                top: 10px;
                background-color: var(--colorCM-mode1-fill-fill-default5);
            }
        }
    }
    ol {
        list-style-type: decimal;
    }
}
