// 페이지 네이션
.cmp-pagination__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    .paging {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(8 / 16 * 1rem);
        .btn-move {
            width: calc(45 / 16 * 1rem);
            height: calc(45 / 16 * 1rem);
            display: flex;
            align-items: center;
            justify-content: center;
            &.is-disabled {
                i {
                    opacity: 0.16;
                }
            }
        }
    }
    ol {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(8 / 16 * 1rem);
        color: var(--text-text-tertiary);
        &.pc-type {
            display: inline-flex;
            @media #{$phone} {
                display: none;
            }
        }
        &.mo-type {
            display: none;
            @media #{$phone} {
                display: inline-flex;
            }
        }
        li {
            a {
                width: calc(45 / 16 * 1rem);
                height: calc(45 / 16 * 1rem);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-text-tertiary);
                border-radius: var(--radius-mode1-s-nudge);
                &.is-active {
                    background-color: var(--colorCM-mode1-fill-fill-default2);
                    color: var(--colorGL-all-gray950);
                }
            }
        }
    }
}