// TextImageCluster
.cmp-text-image-cluster {
    .TIC-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--spacing-mode1-vertical7-x-l) / 16 * 1rem);
        @media #{$tablet} {
            margin-bottom: calc(var(--spacing-mode1-vertical6-x-l-nudge) / 16 * 1rem);
        }
        @media #{$tabletMini} {
            margin-bottom: calc(var(--spacing-mode1-vertical6-x-l) / 16 * 1rem);
        }
        @media #{$phone} {
            margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
        }
        .cluster__ {
            &image {
                img {
                    width: 100%;
                }
                margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
                @media #{$phone} {
                 margin-bottom: calc(var(--spacing-mode1-vertical-l) / 16 * 1rem);
                }
                .pc {
                    @extend .cluster__image;
                    display: block;
                    @media #{$tabletMini} {
                        display: none;
                    }
                    &_only {
                        @media #{$tabletMini} {
                            display: block;
                        }
                    }
                }
                .mo {
                    @extend .cluster__image;
                    display: none;
                    @media #{$tabletMini} {
                        display: block;
                        img {
                            width: 100%;
                        }
                    }
                }
                &_bottom {
                    order: 2;
                    .pc {
                        // @extend .cluster__image;
                        display: block;
                        @media #{$tabletMini} {
                            display: none;
                            margin-bottom: 0;
                        }
                        &_only {
                            @media #{$tabletMini} {
                                display: block;
                                margin-bottom: 0;
                            }
                        }
                    }
                    .mo {
                        // @extend .cluster__image;
                        display: none;
                        @media #{$tabletMini} {
                            display: block;
                            img {
                                width: 100%;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
                // 바로 아래 다른 컴포넌트가 올 때도 margin-bottom 0이 되어서 잠시 보류
                // &:last-child {
                //     margin-bottom: 0;
                // }
            }
            &text {
                order: 1;
                &-title {
                    margin-bottom: calc(var(--spacing-mode1-vertical-l) / 16 * 1rem);
                }
                &-desc {
                    margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                    @media #{$phone} {
                      margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                    }
                    // 디스크립션 div가 마지막 자식일 때 마진0 (button__wrap 또는 image가 없을 때)
                    // &:last-child {
                    //     margin-bottom: 0;
                    // }
                }
                .button__wrap {
                    justify-content: start;
                    margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
                    @media #{$phone} {
                        flex-direction: column;
                        margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                        .btn {
                            min-width: 100%;
                        }
                    }
                    &__flex {
                        display: flex;
                        gap: calc(var(--spacing-mode1-horizontal-l) / 16 * 1rem);
                        margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
                        @media #{$phone} {
                            margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                            .btn {
                                flex: 1 1 0;
                                min-width: auto;
                            }
                        }
                    }
                    &.no-bottom,
                    &__flex.no-bottom {
                        margin-bottom: 0;
                    }
                }
                &:last-child {
                margin-bottom: 0;
                }
            }
        }   
    }
}
