.cmp-title__wrap {
  display: flex;
  flex-direction: column;
  color: var(--text-text-default);
}
.cmp-title__wrap .title-text {
  font-weight: 700;
}
.cmp-title__wrap .title-sub {
  margin-bottom: 0.5rem;
}