// cmp_imageltem__wrap
.cmp_imageltem__wrap {
    display: flex;    
    flex-direction: column;
    @media #{$phone} {
        flex-direction: column; 
    }
    .img-box {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .text-info {
        display: flex;   
        @media #{$phone} {
            flex-direction: column;
        }      
        .info-title {
            font-weight: 600;
            color: var(--text-text-default);
        }
        .info-text {
            color: var(--colorGL-all-gray850);
            @media #{$phone} {
                margin-top: calc(0 / 16 * 1rem);
            }
        }
        .info-list {
            // 리스트 앞 마커 디자인 없어서 임의로 적용
            list-style: disc;
            margin-left: calc(24 / 16 * 1rem);
        }
    }
    .cmp_imageitem {
        display: flex;
        background-color: var(--colorGL-all-gray10);
        &.type-default {
            flex-direction: column;
            background-color: transparent;
            .text-info { 
                margin-top: calc(60 / 16 * 1rem);
                justify-content: space-between;        
                gap: calc(16 / 16 * 1rem);    
                @media #{$phone} {
                    margin-top: calc(24 / 16 * 1rem);
                    margin-bottom: calc(40 / 16 * 1rem);
                }            
                .info-title {
                    color: var(--colorGL-all-gray950);
                    font-weight: 700;
                    width: 100%;
                    max-width: 48%;
                }
                .info-text {
                    flex:1;
                }
            }
        }
        &.type-left {
            justify-content: space-between;
            @media #{$tablet} {
                flex-direction: column;
                justify-content: center;
                gap: calc(0 / 16 * 1rem);   
            }
            .img-box {
                width: 50%;
                min-width: 50%;
                // height: calc(540 / 16 * 1rem);
                overflow: hidden;
                @media #{$tablet} {
                    width: 100%;
                    min-width: 100%;
                    height: auto;
                }            
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .text-info {
                flex-direction: column;
                justify-content: center;
                gap: calc(12 / 16 * 1rem);
                padding: calc(32 / 16 * 1rem) calc(80 / 16 * 1rem);
                width: 50%;
                min-width: 50%;                         
                @media #{$tablet} {      
                    border: 0;
                    margin-top: calc(0 / 16 * 1rem);
                    padding: calc(32 / 16 * 1rem) calc(40 / 16 * 1rem);
                    width: 100%;
                    min-width: 100%; 
                }
                @media #{$phone} {   
                    padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);  
                }
                &:has(.info-list) {
                    gap: calc(8 / 16 * 1rem);
                }
                p {
                    &+p {
                        margin-top: calc(12 / 16 * 1rem);
                    }
                }
            }
        }
        &.type-right {
            justify-content: space-between;
            flex-direction: row-reverse;     
            @media #{$tablet} {
                flex-direction: column;
                gap: calc(0 / 16 * 1rem);   
            }   
            .img-box {
                width: 50%;
                min-width: 50%;
                // height: calc(540 / 16 * 1rem);
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
                @media #{$tablet} {
                    width: 100%;
                    min-width: 100%;
                    height: auto;
                } 
            }
            .text-info {
                flex-direction: column;
                justify-content: center;
                gap: calc(12 / 16 * 1rem);
                padding: calc(32 / 16 * 1rem) calc(80 / 16 * 1rem);
                width: 50%;
                min-width: 50%;                                
                p {
                    &+p {
                        margin-top: calc(12 / 16 * 1rem);
                    }
                }
                @media #{$tablet} {      
                    border: 0;
                    margin-top: calc(0 / 16 * 1rem);
                    padding: calc(32 / 16 * 1rem) calc(40 / 16 * 1rem);
                    width: 100%;
                    min-width: 100%;  
                }
                @media #{$phone} {   
                    padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);  
                }
                &:has(.info-list) {
                    gap: calc(8 / 16 * 1rem);
                }
            }
        }    
        &+.cmp_imageitem {
            margin-top: calc(48 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(16 / 16 * 1rem);
            }
        }
    }
}