// TextImageCluster
.cmp-text-image-cluster {
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
        @media #{$min1280} {
            margin-bottom: calc(var(--spacing-mode1-vertical7-x-l) / 16 * 1rem);
        }
        .image-cluster {
            img {
                width: 100%;
            }
            margin-bottom: calc(var(--spacing-mode1-vertical-l) / 16 * 1rem);
            @media #{$min1280} {
                margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
            }
            .pc {
                @extend .image-cluster;
                display: none;
                @media #{$min1280} {
                    display: block;
                }
                &_only {
                    @media #{$min1280} {
                        display: block;
                    }
                }
            }
            .mo {
                @extend .image-cluster;
                display: block;
                width: 100%;
                @media #{$min1280} {
                    display: none;
                }
            }
            &__bottom {
                order: 2;
                .pc {
                    display: none;
                    margin-bottom: 0;
                    @media #{$min1280} {
                        display: block;
                    }
                    img {
                        width: 100%;
                        margin-bottom: 0;
                    }
                    &__only {
                        @media #{$min1280} {
                            display: block;
                            margin-bottom: 0;
                        }
                    }
                }
                .mo {
                    display: block;
                    @media #{$min1280} {
                        display: none;
                    }
                    img {
                        @media #{$min1280} {
                            width: 100%;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .text-cluster {
            order: 1;
            &__title {
                margin-bottom: calc(var(--spacing-mode1-vertical-l) / 16 * 1rem);
            }
            &__desc {
                margin-bottom: calc(var(--spacing-mode1-vertical-x-l) / 16 * 1rem);
                @media #{$min1280} {
                    margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
                }
                
            }
            .button-wrap {
                display: flex;
                gap: calc(var(--spacing-mode1-horizontal-l) / 16 * 1rem);
                justify-content: start;
                margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                flex-direction: column;
                @media #{$min1280} {
                    flex-direction: row;
                    margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
                }
                &__flex {
                    display: flex;
                    gap: calc(var(--spacing-mode1-horizontal-l) / 16 * 1rem);
                    margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                    @media #{$min1280} {
                        margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
                    }
                    .btn {
                        flex: 1 1 0;
                        @media #{$min1280} {
                            flex: unset;
                        }
                    }
                }
                &__flex-sub {
                    .btn {
                        width: 100%;
                        @media #{$min1280} {
                            width: fit-content;
                        }
                    }
                }
                &.no-bottom,
                &__flex.no-bottom {
                    margin-bottom: 0;
                }
            }
            &:last-child {
            margin-bottom: 0;
            }
        }
    }
}
