$row-gap : calc(64 / 16 * 1rem);
$column-gap: calc(70 / 16 * 1rem);
.cmp-dash-list {
    &__util {
        display: flex;
        justify-content: flex-end;
        color: var(--colorGL-all-gray700);
    }
    &__wrap {
        display: flex;
        row-gap: calc(70 / 16 * 1rem);
        column-gap: calc(40 / 16 * 1rem);
        row-gap: calc(64 / 16 * 1rem);
        flex-wrap: wrap;
        width: 100%;
        @media #{$min1280} {
            column-gap: $column-gap;
        }
    }
    .dash-list__item {
        display: flex;
        flex-direction: column;
        gap: calc(16 / 16 * 1rem);
        width: 100%;
        @media #{$min1280} {
            width: calc(50% - calc($column-gap / 2));
            gap: calc(24 / 16 * 1rem);
        }
        &.type-dash-top {
            &::before {
                display: block;
                content: '';
                min-width: calc(240 / 16 * 1rem);
                width: 75%;
                height: calc(1 / 16 * 1rem);
                background: var(--colorCM-mode1-stroke-stroke-default2);
                @media #{$min1280} {
                    min-width: 100%;
                    width: 100%;
                }
            }
        }
        &.type-dash-left {
            &::before {
                display: block;
                content: '';
                height: calc(1 / 16 * 1rem);
                height: 100%;
                background: var(--colorCM-mode1-stroke-stroke-default2);
            }
        }
        .dash-list__text-box {
            display: flex;
            flex-direction: column;
            gap: calc(4 / 16 * 1rem);
            .dash-list__small-text {
                @media #{$min1280} {
                    gap: calc(8 / 16 * 1rem);
                }
            }
            .dash-list__big-text {
                color: var(--colorGL-all-black100);
            }
        }
    } 
}