@use '/src/assets/css/_index' as *;
/* cmp_image_box */
.cmp-image-box {
    .img-box {
        position: relative;
        border-radius: calc(var(--radius-mode1-s) / 16 * 1rem);
        overflow: hidden;
        @media #{$min1280} {
            border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
        }
        img {
            width: 100%;
        }
        &__item-pc {
            display: none;
            @media #{$min1280} {
                display: block;
            }
        }
        &__item-mo {
            display: block;
            @media #{$min1280} {
                display: none;
            }
        }
        &.img-box__only-pc {
            display: none;
            @media #{$min1280} {
                display: block;
            }
        }
        &.img-box__only-mo {
            display: block;
            @media #{$min1280} {
                display: none;
            }
        }
    }
}