.cmp-select__item {
  display: flex;
  width: 8.125rem;
  min-width: 6.25rem;
  height: 3rem;
  border: 1px solid #1a1a1a;
  padding: calc(var(--spacing-mode1-vertical-s) / 16 * 1rem) calc(var(--spacing-mode1-vertical-m) / 16 * 1rem);
  border-radius: calc(var(--radius-mode1-circular) / 16 * 1rem);
}
.cmp-select .btn-dropdown.no-select {
  color: #1a1a1a;
}
.cmp-select .dropdown_list {
  width: 8.75rem;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.1);
  border: 0px solid #000;
  border-radius: 0;
  padding: 13px 16px 13px 20px;
  gap: calc(var(--spacing-mode1-vertical-m) / 16 * 1rem);
}