// postNavigation
.cmp-post-navigation {
    .post-navigation {
        &__item {
            display: flex;
            align-items: center;
            gap: calc(32 / 16 * 1rem);
            padding: calc(25 / 16 * 1rem) calc(20 / 16 * 1rem);
            @media #{$min1280}{
                padding: calc(24 / 16 * 1rem) calc(20 / 16 * 1rem);
            }
            & + .post-navigation__item {
                border-top: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default5);
            }
            
        }
        &__item--prev{
            border-bottom: 1px solid var(--colorCM-mode1-stroke-stroke-default2);
        }
        &__text {
            display: flex;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
            color: var(--text-text-default);
            white-space: nowrap;
            font-weight: 600;
        }
        &__link {
            display: -webkit-box;
            @include ellipsis(1);
            color: var(--colorCM-mode1-text-text-secondary);
        }
    }
}