// specList
.cmp-speclist__wrap {
    display: flex;
    flex-direction: column;
    &--border-top {
        .spec-item:first-of-type {
            padding-top: calc(32 / 16 * 1rem);
            border-top: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default2);
            @media #{$min1280}{
                padding-top: calc(24 / 16 * 1rem);
            }
        }
        &-pc {
            border-top: 0;
            @media #{$min1280}{
                border-top: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default2);
            }
        }
    }
    .spec-item {
        padding: calc(32 / 16 * 1rem) 0;
        border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default2);
        @media #{$min1280}{
            padding: calc(24 / 16 * 1rem) 0;
        }
        .spec-title {
            display: flex;
            gap: calc(12 / 16 * 1rem);
            @media #{$min1280}{
                gap: calc(16 / 16 * 1rem);
            }
            & + .spec-text {
                margin-top: calc(8 / 16 * 1rem);
                @media #{$min1280}{
                    margin-top: calc(12 / 16 * 1rem);
                }
            }
        }
        .spec-text {
            li {
                position: relative;
                padding-left: calc(26 / 16 * 1rem);
                &::before {
                    display: block;
                    content: '';
                    position: absolute;
                    top: calc(10 / 16 * 1rem);
                    left: calc(11 / 16 * 1rem);
                    width: calc(3 / 16 * 1rem);
                    height: calc(3 / 16 * 1rem);
                    background: var(--colorCM-mode1-text-text-secondary);
                    border-radius: 50%;
                    @media #{$min1280}{
                        top: calc(11 / 16 * 1rem);
                    }
                }
                &:only-of-type {
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }    
}