.cmp-input {
  &__wrap {
    display: flex;
    width: 100%;
    @media #{$phone} {
      flex-direction: column;
      gap: calc(var(--spacing-mode1-vertical-s) / 16 * 1rem);
    }
  }
  &__title {
    flex-shrink: 0;
    width: calc(134 / 16 * 1rem);
    padding: calc(12 / 16 * 1rem) calc(14 / 16 * 1rem) calc(12 / 16 * 1rem) 0;
    @media #{$phone} {
      padding: 0;
    }
    &--required {
      &::after {
        content: '*';
        display: inline-block;
        margin-left: calc(2 / 16 * 1rem);
        color: var(--colorCM-all-primary-primary-enabled);
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-mode1-vertical-s) / 16 * 1rem);
  }
  &__box {
    display: flex;
    gap: calc(var(--spacing-mode1-horizontal-s) / 16 * 1rem);
    width: 100%;
  }
  &__multi-box {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-mode1-horizontal-s) / 16 * 1rem);
    width: 100%;
  }
  &__label-box {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-mode1-horizontal-s) / 16 * 1rem);
    &:has(.cmp-input__item--checkbox--small) {
      gap: calc(6 / 16 * 1rem);
    }
  }
  &__item {
    width: 100%;
    padding: calc(12 / 16 * 1rem) calc(14 / 16 * 1rem);
    border: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default6);
    border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
    background-color: var(--colorCM-all-fill-fill-default0);
    font-size: calc(var(--typo-pc-size-body-xs) / 16 * 1rem);
    line-height: calc(var(--typo-pc-line-height-body-xs) / 16 * 1rem);
    &:focus {
      border-color: var(--colorCM-all-stroke-stroke-default1);
    }
    &::placeholder {
      color: var(--colorGL-all-gray600);
    }
    &--disabled {
      border-color: var(--colorCM-all-stroke-stroke-default6);
      background-color: var(--colorCM-all-fill-fill-disabled);
      color: var(--colorCM-all-text-text-disabled);
      opacity: 1;
      &::placeholder {
        color: var(--colorCM-all-text-text-disabled);
      }
    }
    &--readonly {
      border: none;
      background-color: var(--colorCM-all-fill-fill-default3);
      color: var(--colorCM-all-text-text-tertiary);
      opacity: 1;
      &::placeholder {
        color: var(--colorCM-all-text-text-tertiary);
      }
    }
    &--error {
      border-color: var(--colorCM-all-error-error-enabled);
      &:focus {
        border-color: var(--colorCM-all-error-error-enabled);
      }
    }
    &--select {
      appearance: unset;
      padding-right: calc(48 / 16 * 1rem);
      background-image: url(../../image/icon/icon_arrow_down.svg);
      background-repeat: no-repeat;
      background-size: calc(20 / 16 * 1rem);
      background-position: right calc(14 / 16 * 1rem) top 50%;
      &:has(> option[value=""]:checked):not(.cmp-input__item--readonly) {
        color: var(--colorCM-all-text-text-disabled);
        &:focus {
          color: var(--colorCM-all-text-text-default);
        }
      }
      &[readonly] {
        pointer-events: none;
      }
    }
    &--search {
      padding-right: calc(48 / 16 * 1rem);
      background-image: url(../../image/icon/icon_search_bl24.svg);
      background-repeat: no-repeat;
      background-size: calc(20 / 16 * 1rem);
      background-position: right calc(14 / 16 * 1rem) top 50%;
      &:has(> option[value=""]:checked) {
        color: var(--colorCM-all-text-text-disabled);
        &:focus {
          color: var(--colorCM-all-text-text-default);
        }
      }
      &[readonly] {
        pointer-events: none;
      }
    }
    &--textarea {
      width: 100%;
      height: auto;
      & > textarea {
        height: calc(96 / 16 * 1rem);
        resize: none;
      }
    }
    &--checkbox {
      flex-shrink: 0;
      appearance: unset;
      width: calc(24 / 16 * 1rem);
      height: calc(24 / 16 * 1rem);
      border: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default6);
      border-radius: calc(var(--radius-mode1-s) / 16 * 1rem);
      background-color: var(--colorCM-all-fill-fill-default0);
      background-size: cover;
      background-position: center;
      &:checked {
        background-color: var(--colorCM-all-primary-primary-enabled);
        background-image: url(../../image/icon/ico_checkbox_white.svg);
        border: none;
      }
      &:disabled {
        background-color: var(--colorCM-all-fill-fill-default3);
        &:checked {
          background-color: var(--colorCM-all-primary-primary-enabled);
          opacity: 0.4;
        }
      }
    }
    &--checkbox--small {
      flex-shrink: 0;
      appearance: unset;
      width: calc(24 / 16 * 1rem);
      height: calc(24 / 16 * 1rem);
      border: none;
      background-color: transparent;
      background-image: url(../../image/icon/ico_checkbox_default.svg);
      background-size: cover;
      background-position: center;
      &:checked {
        background-image: url(../../image/icon/ico_checkbox_checked.svg);
      }
      &:disabled {
        background-image: url(../../image/icon/ico_checkbox_disabled.svg);
        &:checked {
          background-image: url(../../image/icon/ico_checkbox_checked.svg);
          opacity: 0.4;
        }
      }
    }
    &--radio {
      flex-shrink: 0;
      position: relative;
      appearance: unset;
      width: calc(24 / 16 * 1rem);
      height: calc(24 / 16 * 1rem);
      border: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default6);
      border-radius: calc(var(--radius-mode1-circular) / 16 * 1rem);
      background-color: var(--colorCM-all-fill-fill-default0);
      &:checked {
        border-color: var(--colorCM-all-primary-primary-enabled);
        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: calc(15 / 16 * 1rem);
          height: calc(15 / 16 * 1rem);
          transform: translate(-50%, -50%);
          border-radius: calc(var(--radius-mode1-circular) / 16 * 1rem);
          background-color: var(--colorCM-all-primary-primary-enabled);
        }
      }
      &:disabled {
        background-color: var(--colorCM-all-fill-fill-disabled);
        &:checked {
          background-color: var(--colorCM-all-fill-fill-default0);
          opacity: 0.4;
        }
      }
    }
    &--dropdown {
      position: relative;
      width: 100%;
      .cmp-input__item {
        display: flex;
      }
      &:has(.cmp-input__item--disabled),
      &:has(.cmp-input__item--readonly) {
        pointer-events: none;
      }
      .dropdown_input {
        flex-grow: 1;
        flex-shrink: 0;
        display: none;
        width: calc(100% - (34 / 16 * 1rem));
        &.is-active {
          display: inline-block;
        }
        &::placeholder {
          color: var(--colorGL-all-gray600);
        }
      }
      .btn-dropdown {
        flex-shrink: 1;
        width: 100%;
        min-width: calc(20 / 16 * 1rem);
        min-height: calc(20 / 16 * 1rem);
        background-image: url(../../image/icon/icon_arrow_down.svg);
        background-repeat: no-repeat;
        background-position: right center;
        text-align: left;
        &.no-select {
          color: var(--colorGL-all-gray600);
        }
        &.is-active {
          background-image: url(../../image/icon/icon_arrow_up.svg);
        }
      }
      .dropdown_list {
        z-index: 3;
        position: absolute;
        left: 0;
        bottom: calc(-10 / 16 * 1rem);
        transform: translateY(100%);
        display: none;
        width: 100%;
        max-height: calc(152 / 16 * 1rem);
        padding: calc(12 / 16 * 1rem) calc(14 / 16 * 1rem);
        border: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default6);
        border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
        background-color: var(--colorCM-all-fill-fill-default0);
        overflow-y: auto;
        word-wrap: break-word;
        &.is-active {
          display: block;
        }
        &::-webkit-scrollbar {
          height: 100%;
          width: calc(20 / 16 * 1rem);
        }
        &::-webkit-scrollbar-thumb {
          border: calc(8 / 16 * 1rem) solid transparent;
          border-radius: calc(var(--radius-mode1-circular) / 16 * 1rem);
          background-color: var(--colorCM-all-fill-fill-default4);
          background-clip: content-box;
          box-sizing: border-box;
        }
        &::-webkit-scrollbar-button {
          height: calc(10 / 16 * 1rem);
          pointer-events: none;
        }
        li {
          padding: calc(6 / 16 * 1rem) calc(14 / 16 * 1rem);
          &.is-active {
            color: var(--colorCM-all-primary-primary-enabled);
            button {
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  &__count {
    text-align: right;
    & > span {
      color: var(--colorCM-all-primary-primary-enabled);
    }
  }
  &__info {
    color: var(--colorCM-all-error-error-enabled);
  }
}