// cmp itemList
.cmp-itemlist_columns__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-margin;
    @media #{$phone} {
        flex-direction: column;         
    }
    .item-wrap {
        width: calc((100% / 3) - calc($gap-margin * 2 / 3));        
        display: flex;
        flex-direction: column;
        gap: calc(40 / 16 * 1rem);
        padding: calc(47 / 16 * 1rem) calc(32 / 16 * 1rem);
        flex-direction: column;
        border: 1px solid var(--colorGL-all-gray200);
        @media #{$tablet} {
            width: calc((100% / 2) - calc($gap-margin / 2));   
        }
        @media #{$phone} {
            width: 100%;
            padding: calc(32 / 16 * 1rem) calc(24 / 16 * 1rem);
            gap: calc(36 / 16 * 1rem);
        }
        .info-title {
            color: var(--text-text-default);
            font-weight: 600; 
            & + .info-text {
                margin-top: calc(12 / 16 * 1rem);
                @media #{$phone} {
                    margin-top: calc(8 / 16 * 1rem);
                }
            }
        }    
        .info-text {
            @media #{$phone} {
                margin-top: calc(12 / 16 * 1rem);
            }
            li {
                color: var(--colorGL-all-gray950);
                display: flex;
                padding-left: calc(13 / 16 * 1rem);
                position: relative;
                &::before {
                    content: '';
                    width: calc(3 / 16 * 1rem);
                    height: calc(3 / 16 * 1rem);
                    display: block;
                    border-radius: 50%;
                    background-color: var(--colorCM-all-icon-icon-secondary);
                    position: absolute;
                    left:0;
                    top: calc(11 / 16 * 1rem);
                }
                &:only-child {
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
}