.cmp-title-unit {
    &__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: calc(12 / 16 * 1rem);
        @media #{$min1280} {
            justify-content: space-between;
        }
        &:not(:has(.cmp-title__wrap)) {
            align-items: flex-end;
            @media #{$min1280} {
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
    .cmp-title__wrap {
        margin-bottom: 0;
        // width: 100%;
    }
    .title-unit__box {
        // width: 100%;
        display: block;
        white-space: nowrap;
        text-align: right;
    }
}