@use '/src/assets/css/_index' as *;
.cmp-title-select{
   .cmp-title__row {
      display: flex;
      gap: calc(var(--spacing-mode1-vertical2-x-l)/16*1rem);
      flex-direction: row; 
   
        &.is-between {
          justify-content: space-between;
          align-items: center;
        }
   
        .dropdown-menu{
          align-items: flex-start;
      }
    }
}