.cmp-video__wrap {
    .cmp-video__iframe {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .cmp-video__link {
        .img-box {
            border-radius: calc(var(--radius-mode1-s) / 16 * 1rem);
            overflow: hidden;
            @media #{$min1280} {
                border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
            }
            img {
                width: 100%;
            }
        }

    }
}