// content list-thumbnails types
$gap-margin: calc(16 / 16 * 1rem);
$phone: "only screen and (max-width : 767px)";
$tabletMini: "only screen and (max-width : 1023px)";
$tablet: "only screen and (max-width : 1599px)";
$pcMiddle: "only screen and (max-width : 1919px)";
$pcWide: "screen and (min-width : 1920px)";

:root {
    --cmp-margin-bottom: 160;
    --cmp-margin-bottom-overview: 80;
    --cmp-margin-bottom-title: 64;
    --cmp-margin-bottom-teaser: 40;
    --cmp-margin-bottom-itemlist-columns: 64;
    --cmp-margin-bottom-imageltem: 48;
    --cmp-margin-bottom-customer: 64;
    --cmp-margin-bottom-datalist: 64;
}
@media #{$phone} {
    :root {
        --cmp-margin-bottom: 96;
        --cmp-margin-bottom-overview: 48;
        --cmp-margin-bottom-title: 32;
        --cmp-margin-bottom-teaser: 24;
        --cmp-margin-bottom-itemlist-columns: 32;
        --cmp-margin-bottom-imageltem: 16;
        --cmp-margin-bottom-customer: 32;
        --cmp-margin-bottom-datalist: 32;
    }
}
//반응형 *--
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}