// mixin 
$phone: "only screen and (max-width : 768px)";
$phone480: "only screen and (max-width : 480px)";
$phone360: "only screen and (max-width : 360px)";
$phonemini: "only screen and (max-width : 320px)";
$notebook: "screen and (max-width : 1366px)";
$tablet: "screen and (max-width : 1043px)";
$desktop: "screen and (min-width : 1044px)";
//반응형 *--
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}
