// content list-thumbnails types
$gap-margin: calc(16 / 16 * 1rem);
$phone: "only screen and (max-width : 767px)";
$tabletMini: "only screen and (max-width : 1023px)";
$tablet: "only screen and (max-width : 1599px)";
$pcMiddle: "only screen and (max-width : 1919px)";
$pcWide: "screen and (min-width : 1920px)";

:root {
    --cmp-margin-bottom: 160;
    --cmp-margin-bottom-overview: 80;
    --cmp-margin-bottom-title: 64;
    --cmp-margin-bottom-teaser: 40;
    --cmp-margin-bottom-itemlist-columns: 64;
    --cmp-margin-bottom-imageltem: 48;
    --cmp-margin-bottom-customer: 64;
    --cmp-margin-bottom-datalist: 64;
}
@media #{$phone} {
    :root {
        --cmp-margin-bottom: 96;
        --cmp-margin-bottom-overview: 48;
        --cmp-margin-bottom-title: 32;
        --cmp-margin-bottom-teaser: 24;
        --cmp-margin-bottom-itemlist-columns: 32;
        --cmp-margin-bottom-imageltem: 16;
        --cmp-margin-bottom-customer: 32;
        --cmp-margin-bottom-datalist: 32;
    }
}
//반응형 *--
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}
// 컴포넌트 margin-bottom:60px, 최하단 컴포넌트는 margin-bottom: 0;
.cmp-wrap {
    margin-bottom: calc(var(--spacing-mode1-horizontal5-x-l) / 16 * 1rem); 
    @media #{$phone} {
        margin-bottom: calc(48 / 16 * 1rem); 
    }
    &.cmp-overview__wrap {
        &+ .cmp-customer-case {
            margin-bottom: calc(var(--spacing-mode1-horizontal3-x-l) / 16 * 1rem);
        }
    }   
    &.cmp-customer-case {
        &+.button__wrap {            
            margin-top: calc(var(--cmp-margin-bottom-itemlist-columns) / 16 * 1rem);
            margin-bottom: calc(var(--cmp-margin-bottom) / 16 * 1rem);
        }      
    }
    &.dataList {
        &+.button__wrap {            
            margin-top: calc(var(--cmp-margin-bottom-itemlist-columns) / 16 * 1rem);
            margin-bottom: calc(var(--cmp-margin-bottom) / 16 * 1rem);
        }  
        .description {            
            @include ellipsis($line: 2);                           
            height: calc(48 / 16 * 1rem);
        }
    }
    & > div:last-child {
        margin-bottom: 0;
    }
}
// overview
.cmp-overview__wrap {
    display: flex;
    flex-direction: column;
    .cmp-overview-title {
        color: var(--text-text-default);
        font-weight: 700;
        &+.cmp-overview-text {
            margin-top: calc(64 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(32 / 16 * 1rem);
            }
        }
    }
    .cmp-overview-text {
        color: var(--text-text-default);
        p+p {
            margin-top: calc(32 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(16 / 16 * 1rem);
            }
        }
    }
}
//title
.cmp-title__wrap {
    display: flex;
    flex-direction: column; 
    color: var(--text-text-default);    
    .title-text {
        font-weight: 700;      
    }
}
// Teaser Titles
.cmp_teaser_title__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(40 / 16 * 1rem);
    .teaser-title {
        color: var(--text-text-default);
        &.type-button-flex {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: calc(20 / 16 * 1rem);
            @media #{$phone} {
                gap: calc(16 / 16 * 1rem);
            }
        }
        strong {
            font-weight: 700;
        }
        &+.teaser-text {
            margin-top: calc(12 / 16 * 1rem);
        }
    }
    .teaser-text {
        color: var(--text-text-default);
        p+p {
            margin-top: calc(32 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(16 / 16 * 1rem);
            }
        }
    }
}
// cmp_imageltem__wrap
.cmp_imageltem__wrap {
    display: flex;    
    flex-direction: column;
    @media #{$phone} {
        flex-direction: column; 
    }
    .img-box {
        img {
            width: 100%;
            height: 100%;
        }
    }
    .text-info {
        display: flex;   
        @media #{$phone} {
            flex-direction: column;
        }      
        .info-title {
            font-weight: 600;
            color: var(--text-text-default);
        }
        .info-text {
            color: var(--colorGL-all-gray850);
            @media #{$phone} {
                margin-top: calc(0 / 16 * 1rem);
            }
        }
    }
    .cmp_imageitem {
        display: flex;
        background-color: var(--colorGL-all-gray10);
        &.type-default {
            flex-direction: column;
            background-color: transparent;
            .text-info { 
                margin-top: calc(60 / 16 * 1rem);
                justify-content: space-between;        
                gap: calc(16 / 16 * 1rem);    
                @media #{$phone} {
                    margin-top: calc(24 / 16 * 1rem);
                    margin-bottom: calc(40 / 16 * 1rem);
                }            
                .info-title {
                    color: var(--colorGL-all-gray950);
                    font-weight: 700;
                    width: 100%;
                    max-width: 48%;
                }
                .info-text {
                    flex:1;
                }
            }
        }
        &.type-left {
            justify-content: space-between;
            @media #{$tablet} {
                flex-direction: column;
                justify-content: center;
                gap: calc(0 / 16 * 1rem);   
            }
            .img-box {
                width: 50%;
                min-width: 50%;
                // height: calc(540 / 16 * 1rem);
                overflow: hidden;
                @media #{$tablet} {
                    width: 100%;
                    min-width: 100%;
                    height: auto;
                }            
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .text-info {
                flex-direction: column;
                justify-content: center;
                gap: calc(12 / 16 * 1rem);
                padding: calc(32 / 16 * 1rem) calc(80 / 16 * 1rem);
                width: 50%;
                min-width: 50%;                         
                @media #{$tablet} {      
                    border: 0;
                    margin-top: calc(0 / 16 * 1rem);
                    padding: calc(32 / 16 * 1rem) calc(40 / 16 * 1rem);
                    width: 100%;
                    min-width: 100%; 
                }
                @media #{$phone} {   
                    padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);  
                }
                p {
                    &+p {
                        margin-top: calc(12 / 16 * 1rem);
                    }
                }
            }
        }
        &.type-right {
            justify-content: space-between;
            flex-direction: row-reverse;     
            @media #{$tablet} {
                flex-direction: column;
                gap: calc(0 / 16 * 1rem);   
            }   
            .img-box {
                width: 50%;
                min-width: 50%;
                // height: calc(540 / 16 * 1rem);
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
                @media #{$tablet} {
                    width: 100%;
                    min-width: 100%;
                    height: auto;
                } 
            }
            .text-info {
                flex-direction: column;
                justify-content: center;
                gap: calc(12 / 16 * 1rem);
                padding: calc(32 / 16 * 1rem) calc(80 / 16 * 1rem);
                width: 50%;
                min-width: 50%;                                
                p {
                    &+p {
                        margin-top: calc(12 / 16 * 1rem);
                    }
                }
                @media #{$tablet} {      
                    border: 0;
                    margin-top: calc(0 / 16 * 1rem);
                    padding: calc(32 / 16 * 1rem) calc(40 / 16 * 1rem);
                    width: 100%;
                    min-width: 100%;  
                }
                @media #{$phone} {   
                    padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);  
                }
            }
        }    
        &+.cmp_imageitem {
            margin-top: calc(48 / 16 * 1rem);
            @media #{$phone} {
                margin-top: calc(16 / 16 * 1rem);
            }
        }
    }
}
// cmp itemList
.cmp-itemlist_columns__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-margin;
    .item-wrap {
        width: calc((100% / 3) - calc($gap-margin * 2 / 3));        
        display: flex;
        flex-direction: column;
        gap: calc(40 / 16 * 1rem);
        padding: calc(47 / 16 * 1rem) calc(32 / 16 * 1rem);
        flex-direction: column;
        border: 1px solid var(--colorGL-all-gray200);
        .info-title {
            color: var(--text-text-default);
            font-weight: 600; 
            & + .info-text {
                margin-top: calc(12 / 16 * 1rem);
                @media #{$phone} {
                    margin-top: calc(8 / 16 * 1rem);
                }
            }
        }    
        .info-text {
            li {
                color: var(--colorGL-all-gray950);
                display: flex;
                padding-left: calc(13 / 16 * 1rem);
                position: relative;
                &::before {
                    content: '';
                    width: calc(3 / 16 * 1rem);
                    height: calc(3 / 16 * 1rem);
                    display: block;
                    border-radius: 50%;
                    background-color: var(--colorCM-all-icon-icon-secondary);
                    position: absolute;
                    left:0;
                    top: calc(11 / 16 * 1rem);
                }
                &:only-child {
                    padding-left: 0;
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    @media #{$phone} {
        flex-direction: column;         
        .item-wrap {
            width: 100%;
            padding: calc(32 / 16 * 1rem) calc(24 / 16 * 1rem);
            gap: calc(36 / 16 * 1rem);
            .info-text { 
                margin-top: calc(12 / 16 * 1rem);
            }
        }
    }
}

//썸네일 유형 & DataList 공통 사용
.content-list__util {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .content-list__count {
        display: flex;
        align-items: center;
        color: var(--text-text-default);
        font-size: calc(var(--typo-pc-size-body-xs) / 16 * 1rem);
        line-height: calc(var(--typo-pc-line-height-body-xs) / 16 * 1rem);
        text-align: right;
        @media #{$tablet} {
            font-size: calc(var(--typo-tablet-size-body-xs) / 16 * 1rem);
            line-height: calc(var(--typo-tablet-line-height-body-xs) / 16 * 1rem);
        }
        @media #{$phone} {
            font-size: calc(var(--typo-mo-size-body-xs) / 16 * 1rem);
            line-height: calc(var(--typo-mo-line-height-body-xs) / 16 * 1rem);
        }
        .font-bold {
            padding: 0 calc(2 / 16 * 1rem) 0 calc(8 / 16 * 1rem);
            font-size: calc(var(--typo-pc-size-body-md) / 16 * 1rem);
            line-height: calc(var(--typo-pc-line-height-body-md) / 16 * 1rem);
            @media #{$tablet} {
                font-size: calc(var(--typo-tablet-size-body-md) / 16 * 1rem);
                line-height: calc(var(--typo-tablet-line-height-body-md) / 16 * 1rem);
            }
            @media #{$phone} {
                font-size: calc(var(--typo-mo-size-body-md) / 16 * 1rem);
                line-height: calc(var(--typo-mo-line-height-body-md) / 16 * 1rem);
            }
        }
    }
    + .content-list__wrap {
        margin-top: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
    }
}
.content-list__wrap {
    display: flex;
    flex-wrap: wrap;
    @media #{$phone} {
        flex-direction: column;
    }
    &.thumbnail-type {
        gap: $gap-margin;
        &.pc-col3 {
            li {
                width: calc((100% / 3) - calc($gap-margin * 2 / 3));
                @media #{$tablet} {
                    width: calc((100% / 2) - calc($gap-margin / 2));
                }
                @media #{$phone} {
                    width: 100%;
                }
            }
        }
        &.pc-col2-big {
            li {
                width: calc((100% / 2) - calc($gap-margin / 2));
                @media #{$phone} {
                    width: 100%;
                }
            }
        }        
        &.type-box-line {
            .content-info {
                border: 1px solid var(--colorGL-all-gray250);
                border-top: 0;
            }
        }
        .content-list__inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            height: 100%;
            .thumbnail-wrap {
                width: 100%;
                height: 100%;
                // aspect-ratio: 16 / 9;
                // overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .content-info {
                padding: calc(24 / 16 * 1rem) calc(32 / 16 * 1rem);
                height: 100%;
                .category-label {
                    font-weight: 600;
                    color: #AE1847;
                    margin-bottom: calc(20 / 16 * 1rem);
                }
                .chip__wrap {
                    & + .title {
                        margin-top: calc(24 / 16 * 1rem);
                    }
                    
                } 
                .title {
                    @include ellipsis($line: 2);
                    font-weight: 700;
                    & + .chip__wrap.tag {
                        margin-top: calc(8 / 16 * 1rem);
                    }                   
                }
                .description {
                    color: var(--colorGL-all-gray850);
                    @include ellipsis($line: 3);
                    margin-top: calc(6 / 16 * 1rem);
                    & + .chip__wrap.tag {
                        margin-top: calc(24 / 16 * 1rem);
                    }                
                }
                .date-box {
                    margin-top: calc(14 / 16 * 1rem); 
                    color: var(--colorGL-all-gray700);
                }
            }
        }
    }
}
// specList
// .cmp-wrap:has(+ .button__wrap) {
//     margin-bottom: calc(var(--spacing-mode1-horizontal6-x-l) / 16 * 1rem);
// }
.cmp-speclist__wrap {
    border-top: 1px solid var(--colorGL-all-gray950);
    display: flex;
    flex-direction: column;
    .spec-item {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid var(--colorGL-all-gray200);
        gap: $gap-margin;
        padding: calc(60 / 16 * 1rem) 0;
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
        @media #{$phone} {
            flex-direction: column;
            padding: calc(40 / 16 * 1rem) 0;
        }
        .spec-num {
            font-weight: 700;
            color: var(--colorCM-all-primary-primary-enabled);
        }
        .spec-title {
            font-weight: 700;
            width: calc(50% - calc($gap-margin / 2));
            // max-width: calc(425 / 16 * 1rem);
            color: var(--colorGL-all-gray950);
            display: flex;
            gap: calc(16 / 16 * 1rem);
            @media #{$phone} {
                width: 100%;
            }
        }
        .spec-text {
            width: calc(50% - calc($gap-margin / 2));
            color: var(--colorGL-all-gray850);
            @media #{$phone} {
                padding-left: calc(45 / 16 * 1rem);
                width: 100%;
            }
            p {
                &+p {
                    margin-top: calc(24 / 16 * 1rem);
                }
            }
        }
    }    
}

//Customer Case
.cmp-customer-case {
    display: flex;
    flex-wrap: wrap;
    gap: $gap-margin;
    @media #{$phone} {
        flex-direction: column;
    }
    .customer-case-items {
        display: flex;
        width: calc((100% / 3) - calc($gap-margin * 2 / 3));
        padding: calc(32 / 16 * 1rem);        
        flex-direction: column;
        border: 1px solid var(--colorCM-all-stroke-stroke-default7);
        @media #{$tablet} {
            width: calc((100% / 2) - calc($gap-margin / 2));
        }
        @media #{$phone} {
            width: 100%;            
            padding: calc(20 / 16 * 1rem) calc(24 / 16 * 1rem);  
        }
    }
    .cs-category-list {
        display: flex;
        align-items: center;
        gap: calc(8 / 16 * 1rem);
        @media #{$phone} {
            &+.customer-case-title {
                margin-top: calc(36 / 16 * 1rem);   
                margin-bottom: calc(8 / 16 * 1rem);   
            }
        }
        &+.customer-case-title {
            margin-top: calc(36 / 16 * 1rem);   
            margin-bottom: calc(12 / 16 * 1rem);   
        }
        li {
            position: relative;
            font-weight: 600;
            color: var(--colorGL-all-gray700);
            padding-right: calc(8 / 16 * 1rem);
            &::after {
                content: '';
                display: block;
                width: 1px;
                height: 16px;
                position: absolute;
                right:0;
                top:50%;
                transform: translateY(-50%);
                background-color: var(--colorGL-all-gray150);
            }
            &:last-child {
                padding-right: 0;
                &::after {
                    display: none;
                }
            }
        }
    }
    .customer-case-title {
        font-weight: 600;
        color: var(--text-text-default);
    }
    .customer-case-text {    
        color: var(--colorCM-all-text-text-secondary);
        @include ellipsis(2);
        height: calc(48 / 16 * 1rem);
        @media #{$tablet}{
            height: calc(42 / 16 * 1rem);
        }
        @media #{$phone}{
            height: calc(42 / 16 * 1rem);
        }
    }
    .customer-case-cf {
        display: flex;
        justify-content: flex-end;
        margin-top: calc(40 / 16 * 1rem);
        height: calc(28 / 16 * 1rem);
        @media #{$phone} {
            margin-top: calc(32 / 16 * 1rem);
            height: calc(48 / 16 * 1rem);
        }
        img {
            width: fit-content;
            height: 100%;
            &.type-pc {
                display: block;
                @media #{$phone} {
                    display: none;
                }
            }
            &.type-mo {
                display: none;
                @media #{$phone} {
                    display: block;
                }
            }
        }
    }
}

// 페이지 네이션
.cmp-pagination__wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   
    .paging {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(8 / 16 * 1rem);
        .btn-move {
            width: calc(45 / 16 * 1rem);
            height: calc(45 / 16 * 1rem);
            display: flex;
            align-items: center;
            justify-content: center;
            &.is-disabled {
                i {
                    opacity: 0.16;
                }
            }
        }
    }
    ol {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: calc(8 / 16 * 1rem);
        color: var(--text-text-tertiary);
        &.pc-type {
            display: inline-flex;
            @media #{$phone} {
                display: none;
            }
        }
        &.mo-type {
            display: none;
            @media #{$phone} {
                display: inline-flex;
            }
        }
        li {
            a {
                width: calc(45 / 16 * 1rem);
                height: calc(45 / 16 * 1rem);
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--text-text-tertiary);
                border-radius: var(--radius-mode1-s-nudge);
                &.is-active {
                    background-color: var(--colorCM-all-fill-fill-default2);
                    color: var(--colorGL-all-gray950);
                }
            }
        }
    }
}

// buttonBanner
.cmp-buttonbanner {
    width: 100%;
    height: 100%;
    background-image: var(--button-banner-pc-img);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media #{$phone} {
        background-image: var(--button-banner-mo-img);
        background-position: left top;
    }
    .inner-wrap {
        height: 100%;
        padding: calc(56 / 16 * 1rem) calc(var(--spacing-mode1-horizontal-x-l) / 16 * 1rem);
        text-align: center;
    }
    .banner_content {
        p {
            margin-bottom: calc(40 / 16 * 1rem);
            font-size: calc(var(--typo-pc-size-head-xs) / 16 * 1rem);
            font-weight: 600;
            line-height: 42px;
            color: var(--colorGL-all-white100);
            @media #{$tablet} {
                font-size: calc(var(--typo-tablet-size-head-xs) / 16 * 1rem);
            }
            @media #{$phone} {
                font-size: calc(var(--typo-mo-size-head-xs) / 16 * 1rem);
            }
        }
    }
}

// 썸네일 유형
.cmp-thumbnail {
    .content-list__wrap {
        &.thumbnail-type {
            .content-list__inner {
                .thumbnail-wrap {
                    position: relative;
                    .float-text {
                        position: absolute;
                        left: calc(40 / 16 * 1rem);
                        bottom: calc(32 / 16 * 1rem);
                        color: var(--colorGL-all-white100);
                        font-size: calc(var(--size-body-xl) / 16 * 1rem);
                        font-weight: 500;
                        line-height: calc(var(--line-height-body-xl) / 16 * 1rem);
                    }
                }
                .content-info {
                    padding: calc(32 / 16* 1rem) calc(40 / 16* 1rem);
                    @media #{$phone} {
                        padding: calc(24 / 16* 1rem) calc(24 / 16* 1rem);    
                    }
                    .title {
                        height: calc(76.8 / 16 * 1rem);
                        @media #{$tablet} {
                            height: calc(59 / 16 * 1rem);
                        }
                    }
                    .description {
                        @include ellipsis($line: 2);
                        height: calc(54 / 16 * 1rem);
                        @media #{$tablet} {
                            height: calc(48 / 16 * 1rem);
                        }
                    }
                    .chip__wrap.tag {
                        align-items: flex-start;
                        height: calc(64 / 16 * 1rem);
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
// 상세 정보 요약 영역
.cmp-board-detail-info {
    .detail-info {
        // border-top: calc(2 / 16 * 1rem) solid var(--stroke-stroke-default-1);
        border-top: calc(2 / 16 * 1rem) solid #1A1A1A;
        &.type-wide {
            padding: calc(40 / 16 * 1rem) 0;
            border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default5);
            .detail-info__title {
                color: var(--text-text-default);
                font-weight: 700;
                line-height: calc(var(--typo-pc-line-height-head-sm) / 16 * 1rem);
                & + .detail-info__tag {
                    margin-top: calc(12 / 16 * 1rem);
                }
            }
            .detail-info__tag {
                & + .detail-info__util {
                    margin-top: calc(32 / 16 * 1rem);
                }
            }
            .detail-info__util {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                &__item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.detail-info__like {
                        .icon-heart-line {
                            margin-right: calc(4 / 16 * 1rem);
                        }
                    }
                    & + .detail-info__util__item {
                        padding-left: calc(20 / 16 * 1rem);
                        &::before {
                            display: block;
                            content: '';
                            margin-right: calc(20 / 16 * 1rem);
                            width: calc(1 / 16 * 1rem);
                            height: calc(14 / 16 * 1rem);
                            background: var(--colorCM-all-stroke-stroke-default5);
                        }
                    }
                }
            }
        }
        &.type-card {
            padding-top: calc(40 / 16 * 1rem);
            .detail-info__category {
                & + .detail-info__title {
                    margin-top: calc(12 / 16 * 1rem);
                }
            }
            .detail-info__title {
                display: block;
                padding-bottom: calc(32 / 16 * 1rem);
                color: var(--text-text-default);
                font-weight: 700;
                border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default5);
                & + .detail-info__desc {
                    margin-top: calc(32 / 16 * 1rem);
                }
            }
            .detail-info__desc {
                display: flex;
                gap: calc(12 / 16 * 1rem);
                & + .detail-info__desc {
                    padding-top: 0;
                    margin-top: calc(12 / 16 * 1rem);
                    border-top: 0;
                }
                & + .button__wrap {
                    margin-top: calc(32 / 16 * 1rem);
                }
                &__tit {
                    min-width: calc(84 / 16 * 1rem);
                    width: calc(84 / 16 * 1rem);
                    color: var(--colorCM-all-text-text-tertiary);
                    font-weight: 500;
                }
                &__txt {
                    width: 100%;
                    font-weight: 600;
                }
            }
        }
    }
}