// 컴포넌트 margin-bottom:60px, 최하단 컴포넌트는 margin-bottom: 0;
.cmp-wrap {
    margin-bottom: calc(var(--spacing-mode1-horizontal5-x-l) / 16 * 1rem); 
    @media #{$phone} {
        margin-bottom: calc(48 / 16 * 1rem); 
    }
    &.cmp-overview__wrap {
        &+ .cmp-customer-case {
            margin-bottom: calc(var(--spacing-mode1-horizontal3-x-l) / 16 * 1rem);
        }
    }   
    &.cmp-customer-case {
        &+.button__wrap {            
            margin-top: calc(var(--cmp-margin-bottom-itemlist-columns) / 16 * 1rem);
            margin-bottom: calc(var(--cmp-margin-bottom) / 16 * 1rem);
        }      
    }
    &.dataList {
        &+.button__wrap {            
            margin-top: calc(var(--cmp-margin-bottom-itemlist-columns) / 16 * 1rem);
            margin-bottom: calc(var(--cmp-margin-bottom) / 16 * 1rem);
        }  
        .description {            
            @include ellipsis($line: 2);                           
            height: calc(48 / 16 * 1rem);
        }
    }
    &.cmp-buttonbanner:last-child {
        margin-bottom: 0;
    }
    &.cmp-post-navigation {
        & + .button__wrap {
            margin-bottom: calc(var(--spacing-mode1-horizontal5-x-l) / 16 * 1rem); 
            @media #{$phone} {
                margin-bottom: calc(48 / 16 * 1rem); 
            }
        }
    }
    & > div:last-child {
        margin-bottom: 0;
    }
}
//썸네일 유형 & DataList 공통 사용
.content-list__util {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .content-list__count {
        display: flex;
        align-items: center;
        color: var(--text-text-default);
        font-size: calc(var(--typo-pc-size-body-xs) / 16 * 1rem);
        line-height: calc(var(--typo-pc-line-height-body-xs) / 16 * 1rem);
        text-align: right;
        @media #{$tablet} {
            font-size: calc(var(--typo-tablet-size-body-xs) / 16 * 1rem);
            line-height: calc(var(--typo-tablet-line-height-body-xs) / 16 * 1rem);
        }
        @media #{$phone} {
            font-size: calc(var(--typo-mo-size-body-xs) / 16 * 1rem);
            line-height: calc(var(--typo-mo-line-height-body-xs) / 16 * 1rem);
        }
        .font-bold {
            padding: 0 calc(2 / 16 * 1rem) 0 calc(8 / 16 * 1rem);
            font-size: calc(var(--typo-pc-size-body-md) / 16 * 1rem);
            line-height: calc(var(--typo-pc-line-height-body-md) / 16 * 1rem);
            @media #{$tablet} {
                font-size: calc(var(--typo-tablet-size-body-md) / 16 * 1rem);
                line-height: calc(var(--typo-tablet-line-height-body-md) / 16 * 1rem);
            }
            @media #{$phone} {
                font-size: calc(var(--typo-mo-size-body-md) / 16 * 1rem);
                line-height: calc(var(--typo-mo-line-height-body-md) / 16 * 1rem);
            }
        }
    }
    + .content-list__wrap {
        margin-top: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
    }
}
.content-list__wrap {
    display: flex;
    flex-wrap: wrap;
    @media #{$phone} {
        flex-direction: column;
    }
    &.thumbnail-type {
        gap: $gap-margin;
        &.pc-col3 {
            li {
                width: calc((100% / 3) - calc($gap-margin * 2 / 3));
                @media #{$tablet} {
                    width: calc((100% / 2) - calc($gap-margin / 2));
                }
                @media #{$phone} {
                    width: 100%;
                }
            }
        }
        &.pc-col2-big {
            li {
                width: calc((100% / 2) - calc($gap-margin / 2));
                @media #{$phone} {
                    width: 100%;
                }
            }
        }        
        &.type-box-line {
            .content-info {
                border: 1px solid var(--colorGL-all-gray250);
                border-top: 0;
            }
        }
        .content-list__inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            height: 100%;
            .thumbnail-wrap {
                width: 100%;
                height: 100%;
                // aspect-ratio: 16 / 9;
                // overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .content-info {
                padding: calc(24 / 16 * 1rem) calc(32 / 16 * 1rem);
                height: 100%;
                .category-label {
                    font-weight: 600;
                    color: #AE1847;
                    margin-bottom: calc(20 / 16 * 1rem);
                }
                .chip__wrap {
                    & + .title {
                        margin-top: calc(24 / 16 * 1rem);
                    }
                    
                } 
                .title {
                    @include ellipsis($line: 2);
                    font-weight: 700;
                    & + .chip__wrap.tag {
                        margin-top: calc(8 / 16 * 1rem);
                    }                   
                }
                .description {
                    color: var(--colorGL-all-gray850);
                    @include ellipsis($line: 3);
                    margin-top: calc(6 / 16 * 1rem);
                    & + .chip__wrap.tag {
                        margin-top: calc(24 / 16 * 1rem);
                    }                
                }
                .date-box {
                    margin-top: calc(14 / 16 * 1rem); 
                    color: var(--colorGL-all-gray700);
                }
            }
        }
    }
}