@import 'index.css';

.color-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 16px;
}
.color-list li {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
