$baseUrl: "/src/assets/image/icon/";
$fileType: "svg";

@mixin iconFile($wd, $ht, $icoName) {
    width: calc(#{$wd} / 16 * 1rem); 
    height: calc(#{$ht} / 16 * 1rem);
    min-width: calc(#{$wd} / 16 * 1rem); 
    background: url("#{$baseUrl}#{$icoName}." + $fileType) no-repeat center center; 
    background-size: contain;
}

/* 아이콘 */
.ico {
    display: inline-flex;
    background-size: contain;
    vertical-align: middle;
    &.icon-lang-bl24 {
        @include iconFile(24,24,'icon_lang_bl24');
    }
    &.icon-lang-bl40 {
        @include iconFile(40,40,'icon_lang_bl40');
    }
    &.icon-earth-wt24 {
        @include iconFile(24,24,'ico_language');
    }
    &.icon-search-wt24 {
        @include iconFile(24,24,'ico_search');
    }
    &.icon-search-bl32 {
        @include iconFile(32,32,'icon-search-bl32');
    }
    &.icon-search-bl35 {
        @include iconFile(35,35,'ico_sarch_bl35');
    }
    &.icon-search-bl40 {
        @include iconFile(40,40,'icon_search_bl40');
    }       
    &.icon-search-border-bl40 {
        @include iconFile(40,40,'icon_search_border_bl40');
    }       
    &.icon-remove-bl24 {
        @include iconFile(24,24,'ico_remove_gray24');
    }   
    &.icon-remove-bl28 {
        @include iconFile(28,28,'ico_remove_gray28');
    }   
    &.icon-arrow-right-bl16 {
        @include iconFile(16,16,'icon_arrow_right_bl16');
    }
    &.icon-arrow-right-bl20 {
        @include iconFile(20,20,'icon-arrow-right-bl20');
    }
    &.icon-arrow-right-bl24 {
        @include iconFile(24,24,'icon_arrow_right_bl24');
    }
    &.icon-arrow-right-gr24 {
        @include iconFile(24,24,'icon_arrow_right_gr24');
    }
    &.icon-main-arrow-right-bl24 {
        @include iconFile(24,24,'icon-main-arrow-right-bl24');
    }
    &.icon-arrow-right-wt16 {
        @include iconFile(16,16,'icon_arrow_wt16');
    }
    &.icon-main-arrow-left-gr24 {
        @include iconFile(24,24,'icon-main-arrow-left-gr24');
    }
    &.icon-arrow-down-bl24 {
        @include iconFile(24,24,'icon_arrow_down');
    }
    &.icon-arrow-down-bl20 {
        @include iconFile(20,20,'icon-arrow-down-bl20');
    }
    &.icon-arrow-dropdown-sub-bl20 {
        @include iconFile(20,20,'icon-arrow-dropdown-sub-bl20');
    }
    &.icon-arrow-up-bl24 {
        @include iconFile(24,24,'icon_arrow_up');
    }
    &.icon-search-bl24 {
        @include iconFile(24,24,'icon_search_bl24');
    }   
    &.icon-hamburger-menu_bl {
        @include iconFile(24,24,'icon_hamburger_bl');
    }      
    &.icon-hamburger-menu {
        @include iconFile(24,24,'btn_hamburger_menu');
    }   
    &.icon-more-dot {
        @include iconFile(16,16,'ico-more');
    }   
    &.icon-pagination-first {
        @include iconFile(32,32,'icon_page_first');
    }   
    &.icon-pagination-prev {
        @include iconFile(32,32,'icon_page_prev');
    }      
    &.icon-pagination-next {
        @include iconFile(32,32,'icon_page_next');
    } 
    &.icon-pagination-last {
        @include iconFile(32,32,'icon_page_last');
    }     
    &.icon-heart-line {
        @include iconFile(20,20,'icon_heart_line');
    }
    &.icon-heart-red400 {
        @include iconFile(20,20,'icon_heart_red400');
    }
    &.icon-navigation-up-w19 {
        @include iconFile(19,16,'icon-navigation-up-w19');
    }                       
    &.icon-navigation-up-w24 {
        @include iconFile(24,24,'icon_navigation_up_w24');
    }                       
    &.icon-navigation-down-w24 {
        @include iconFile(24,24,'icon_navigation_down_w24');
    }
    &.icon-navigation-down-wh48{
        @include iconFile(48,48,'icon-navigation-down-wh48');
    } 
    &.icon-navigation-down-gr100{
        @include iconFile(100,100,'icon-navigation-down-gr100');
    } 
    &.icon-navigation-right-bl24 {
        @include iconFile(24,24,'icon_navigation_right_bl24');
    }
    &.icon-navigation-right-wh16 {
        @include iconFile(24,24,'icon_navigation_right_wh16');
    }
    &.icon-navigation-right-red16 {
        @include iconFile(24,24,'icon_navigation_right_red16');
    }
    &.icon-navigation-right-bl40 {
        @include iconFile(40,40,'icon-navigation-right-bl40');
    }
    &.icon-download-bl24 {
        @include iconFile(24,24,'icon_download_bl24');
    }
    &.icon-download-bl20 {
        @include iconFile(20,20,'icon_download_bl20');
    }
    &.icon-minus-bl32 {
        @include iconFile(32,32,'icon-minus-bl24');
    }
    &.icon-plus-bl32 {
        @include iconFile(32,32,'icon-plus-bl32');
    }
    &.icon-plus-bl24 {
        @include iconFile(24,24,'icon-plus-bl24');
    }
    &.icon-plus-bl20 {
        @include iconFile(20,20,'icon-plus-bl20');
    }
    &.icon-plus-bl16 {
        @include iconFile(16,16,'icon-plus-bl16');
    }
    &.icon-plus-wh24 {
        @include iconFile(24,24,'icon-plus-wh24');
    }  
    &.icon-plus-wh16 {
        @include iconFile(16,16,'icon-plus-wh16');
    }
    &.icon-close-bl24 {
        @include iconFile(24,24,'icon-close-bl24');
    }   
    &.icon-close-bl32 {
        @include iconFile(32,32,'icon-close-bl32');
    }  
    &.icon-close-bl40 {
        @include iconFile(40,40,'icon-close-bl40');
    }
    &.icon-close-wh24 {
        @include iconFile(24,24,'icon-close-wh24');
    }
    &.icon-arrow-right-bl48{
        @include iconFile(48, 48, 'icon_arrow_right_bl48');
    }
    &.icon-checkbox-disabled-unselected-gr12{
        @include iconFile(14, 9.5, 'ico_checkbox_disabled_unselected');
    }
    &.icon-checkbox-normal-unselected-gr12{
        @include iconFile(14, 9.5, 'ico_checkbox_normal_unselected');
    }
    &.icon-checkbox-all-selected-wh12{
        @include iconFile(14, 9.5, 'ico_checkbox_all_selected');
    }
    &.icon-check-bl24{
        @include iconFile(14, 9.5, 'icon_check_bl24');
    }
    &.icon-play-bl20 {
        @include iconFile(20, 20, 'icon_play_bl20');
    }
    &.icon_nodata_gl100 {
        @include iconFile(100, 100, 'icon_nodata_gl100');
    }
    &.icon-cloud-consulting-color112 {
        @include iconFile(112, 112, 'icon-cloud-consulting-color112');
    }
    &.icon-cloud-maturity-assessment-color112 {
        @include iconFile(112, 112, 'icon-cloud-maturity-assessment-color112');
    }
    &.icon-am-color112 {
        @include iconFile(112, 112, 'icon-am-color112');
    }
    &.icon-gen-ai-consulting-color112 {
        @include iconFile(112, 112, 'icon-gen-ai-consulting-color112');
    }
    &.icon-application-modernization-color112 {
        @include iconFile(112, 112, 'icon-application-modernization-color112');
    }
    &.icon-am-discovery-color112 {
        @include iconFile(112, 112, 'icon-am-discovery-color112');
    }
    &.icon-am-incubaion-camp-color112 {
        @include iconFile(112, 112, 'icon-am-incubaion-camp-color112');
    }
    &.icon-cloud-managed-services-color112 {
        @include iconFile(112, 112, 'icon-cloud-managed-services-color112');
    }
    &.icon-fin-ops-clinic-color112 {
        @include iconFile(112, 112, 'icon-fin-ops-clinic-color112');
    }
    &.icon-security-enhancement-color112 {
        @include iconFile(112, 112, 'icon-security-enhancement-color112');
    }
    &.icon-well-architect-review-color112 {
        @include iconFile(112, 112, 'icon-well-architect-review-color112');
    }
    &.icon-aos-feature-color112 {
        @include iconFile(112, 112, 'icon-aos-feature-color112');
    }
    &.icon-why-lg-cns-color112 {
        @include iconFile(112, 112, 'icon-why-lg-cns-color112');
    }
    &.icon-aos-asset-management-service-color112 {
        @include iconFile(112, 112, 'icon-aos-asset-management-service-color112');
    }
    &.icon-space-management-service-color112 {
        @include iconFile(112, 112, 'icon-space-management-service-color112');
    }
    &.icon-preventive-inspection-automation-service-color112 {
        @include iconFile(112, 112, 'icon-preventive-inspection-automation-service-color112');
    }
    &.icon-performance-diagnosis-service-color112 {
        @include iconFile(112, 112, 'icon-performance-diagnosis-service-color112');
    }
    &.icon-intergrated-monitoring-service-color112 {
        @include iconFile(112, 112, 'icon-intergrated-monitoring-service-color112');
    }
    &.icon-maintenance-task-automation-service-color112 {
        @include iconFile(112, 112, 'icon-maintenance-task-automation-service-color112');
    }
    &.icon-it-help-desk-color112 {
        @include iconFile(112, 112, 'icon-it-help-desk-color112');
    }
    &.icon-device-platform-001-color112 {
        @include iconFile(112, 112, 'icon-device-platform-001-color112');
    }
    &.icon-device-platform-002-color112 {
        @include iconFile(112, 112, 'icon-device-platform-002-color112');
    }
    &.icon-device-platform-003-color112 {
        @include iconFile(112, 112, 'icon-device-platform-003-color112');
    }
    &.icon-product-lifecycle-management-001-color112 {
        @include iconFile(112, 112, 'icon-product-lifecycle-management-001-color112');
    }
    &.icon-product-lifecycle-management-002-color112 {
        @include iconFile(112, 112, 'icon-product-lifecycle-management-002-color112');
    }
    &.icon-product-lifecycle-management-003-color112 {
        @include iconFile(112, 112, 'icon-product-lifecycle-management-003-color112');
    }
    &.icon-service-provider-cololr112 {
        @include iconFile(112, 112, 'icon-service-provider-cololr112');
    }
    &.icon-reliable-01-color112 {
        @include iconFile(112, 112, 'icon-reliable-01-color112');
    }
    &.icon-reliable-02-color112 {
        @include iconFile(112, 112, 'icon-reliable-02-color112');
    }
    &.icon-individual-color112 {
        @include iconFile(112, 112, 'icon-individual-color112');
    }
    &.icon-enterprise-cloud-migration-color112 {
        @include iconFile(112, 112, 'icon-enterprise-cloud-migration-color112');
    }
    &.icon-cloud-foundation-landing-zone-color-112 {
        @include iconFile(112, 112, 'icon-cloud-foundation-landing-zone-color-112');
    }
    &.icon-cloud-dr-color112 {
        @include iconFile(112, 112, 'icon-cloud-dr-color112');
    }
    &.icon-cloud-gen-ai-platform-color112 {
        @include iconFile(112, 112, 'icon-cloud-gen-ai-platform-color112');
    }
    &.icon-ai-platform-color112 {
        @include iconFile(112, 112, 'icon-ai-platform-color112');
    }
    &.icon-gen-ai-studio-color112 {
        @include iconFile(112, 112, 'icon-gen-ai-studio-color112');
    }
    &.icon-private-5g-color112 {
        @include iconFile(112, 112, 'icon-private-5g-color112');
    }
    &.icon-si-specialist-color112 {
        @include iconFile(112, 112, 'icon-si-specialist-color112');
    }
    &.icon-diverse-business-experience-color112 {
        @include iconFile(112, 112, 'icon-diverse-business-experience-color112');
    }
    &.icon-dev-ops-platform-001-color112 {
        @include iconFile(112, 112, 'icon-dev-ops-platform-001-color112');
    }
    &.icon-dev-ops-platform-002-color112 {
        @include iconFile(112, 112, 'icon-dev-ops-platform-002-color112');
    }
    &.icon-dev-ops-platform-003-color112 {
        @include iconFile(112, 112, 'icon-dev-ops-platform-003-color112');
    }
    &.icon-human-rights-thumb01-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb01-color112');
    }
    &.icon-human-rights-thumb02-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb02-color112');
    }
    &.icon-human-rights-thumb03-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb03-color112');
    }
    &.icon-human-rights-thumb04-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb04-color112');
    }
    &.icon-human-rights-thumb05-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb05-color112');
    }
    &.icon-human-rights-thumb06-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb06-color112');
    }
    &.icon-human-rights-thumb07-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb07-color112');
    }
    &.icon-human-rights-thumb08-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb08-color112');
    }
    &.icon-human-rights-thumb09-color112 {
        @include iconFile(112, 112, 'icon-human-rights-thumb09-color112');
    }
    &.icon-jungdo-mgmt-thumb01-color112 {
        @include iconFile(112, 112, 'icon-jungdo-mgmt-thumb01-color112');
    }
    &.icon-jungdo-mgmt-thumb02-color112 {
        @include iconFile(112, 112, 'icon-jungdo-mgmt-thumb02-color112');
    }
    &.icon-jungdo-mgmt-thumb03-color112 {
        @include iconFile(112, 112, 'icon-jungdo-mgmt-thumb03-color112');
    }
    &.icon-jungdo-mgmt-thumb04-color112 {
        @include iconFile(112, 112, 'icon-jungdo-mgmt-thumb04-color112');
    }
    &.icon-jungdo-mgmt-thumb05-color112 {
        @include iconFile(112, 112, 'icon-jungdo-mgmt-thumb05-color112');
    }
    &.icon-jungdo-mgmt-thumb06-color112 {
        @include iconFile(112, 112, 'icon-jungdo-mgmt-thumb06-color112');
    }
    &.icon-jungdo-mgmt-thumb07-color112 {
        @include iconFile(112, 112, 'icon-jungdo-mgmt-thumb07-color112');
    }
}
