$baseUrl: "/src/assets/image/icon/";
$fileType: "svg";

@mixin iconFile($wd, $ht, $icoName) {
    width: calc(#{$wd} / 16 * 1rem); 
    height: calc(#{$ht} / 16 * 1rem);
    min-width: calc(#{$wd} / 16 * 1rem); 
    background: url("#{$baseUrl}#{$icoName}." + $fileType) no-repeat center center; 
}

/* 아이콘 */
.ico {
    display: inline-flex;
    background-size: contain;
    vertical-align: middle;
    &.icon-earth-wt24 {
        @include iconFile(24,24,'ico_language');
    }
    &.icon-search-wt24 {
        @include iconFile(24,24,'ico_search');
    }
    &.icon-search-bl35 {
        @include iconFile(35,35,'ico_search_bl35');
    }      
    &.icon-remove-bl28 {
        @include iconFile(28,28,'ico_remove_gray28');
    }        
}