@charset "UTF-8";
/* 아이콘 */
.ico {
  display: inline-flex;
  background-size: contain;
  vertical-align: middle;
}
.ico.icon-lang-bl24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_lang_bl24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-earth-wt24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/ico_language.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-search-wt24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/ico_search.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-search-bl35 {
  width: calc(35 / 16 * 1rem);
  height: calc(35 / 16 * 1rem);
  min-width: calc(35 / 16 * 1rem);
  background: url("/src/assets/image/icon/ico_sarch_bl35.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-search-bl40 {
  width: calc(40 / 16 * 1rem);
  height: calc(40 / 16 * 1rem);
  min-width: calc(40 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_search_bl40.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-remove-bl28 {
  width: calc(28 / 16 * 1rem);
  height: calc(28 / 16 * 1rem);
  min-width: calc(28 / 16 * 1rem);
  background: url("/src/assets/image/icon/ico_remove_gray28.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-arrow-right-bl16 {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_arrow_right_bl16.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-arrow-right-wt16 {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_arrow_wt16.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-arrow-down-bl24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_arrow_down.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-arrow-down-bl20 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-arrow-down-bl20.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-arrow-up-bl24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_arrow_up.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-search-bl24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_search_bl24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-hamburger-menu_bl {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_hamburger_bl.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-hamburger-menu {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/btn_hamburger_menu.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-more-dot {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/ico-more.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-pagination-first {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_page_first.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-pagination-prev {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_page_prev.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-pagination-next {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_page_next.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-pagination-last {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_page_last.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-heart-line {
  width: calc(20 / 16 * 1rem);
  height: calc(20 / 16 * 1rem);
  min-width: calc(20 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_heart_line.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-navigation-up-w24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_navigation_up_w24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-navigation-down-w24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_navigation_down_w24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-navigation-down-wh48 {
  width: calc(48 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
  min-width: calc(48 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-navigation-down-wh48.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-navigation-right-bl24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_navigation_right_bl24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-navigation-right-wh16 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_navigation_right_wh16.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-navigation-right-red16 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_navigation_right_red16.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-download-bl24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_download_bl24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-download-bl20 {
  width: calc(20 / 16 * 1rem);
  height: calc(20 / 16 * 1rem);
  min-width: calc(20 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_download_bl20.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-plus-bl24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-plus-bl24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-plus-bl20 {
  width: calc(20 / 16 * 1rem);
  height: calc(20 / 16 * 1rem);
  min-width: calc(20 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-plus-bl20.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-plus-bl16 {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-plus-bl16.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-plus-wh24 {
  width: calc(24 / 16 * 1rem);
  height: calc(24 / 16 * 1rem);
  min-width: calc(24 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-plus-wh24.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-plus-wh16 {
  width: calc(16 / 16 * 1rem);
  height: calc(16 / 16 * 1rem);
  min-width: calc(16 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-plus-wh16.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-close-bl32 {
  width: calc(32 / 16 * 1rem);
  height: calc(32 / 16 * 1rem);
  min-width: calc(32 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon-close-bl32.svg") no-repeat center center;
  background-size: contain;
}
.ico.icon-arrow-right-bl48 {
  width: calc(48 / 16 * 1rem);
  height: calc(48 / 16 * 1rem);
  min-width: calc(48 / 16 * 1rem);
  background: url("/src/assets/image/icon/icon_arrow_right_bl48.svg") no-repeat center center;
  background-size: contain;
}