.wrap {
    width: 100%;    
}
.inner-wrap {
    width: 100%;
    margin: 0 auto;  
}
.wrap {
    .header-inner {
        width: 100%;                    
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(40 / 16 * 1rem);      
        height: 100%;              
        @media #{$tablet} {
            gap: calc(20 / 16 * 1rem);            
            .logo {
                flex:1;
            }
        }
    }
    .header__wrap {
        width: 100%;
        border-bottom: 1px solid var(--colorGL-all-gray150);
        z-index: 12;
        display: flex;
        height: calc(80 / 16 * 1rem);
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;    
        .gnb-navy__wrap {
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            height: 100%;            
            @media #{$tablet} {
                display: none;
            }
        }
    
        .gnb-navy {
            &.navy-list {
                display: flex;
                align-items: center;                                       
                height: 100%;         
                > li {
                    padding: 0 calc(20 / 16 * 1rem);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    &:first-child {
                        padding-left: 0;
                    }
                    & > a {
                        color: var(--colorGL-all-gray950);
                        font-weight: 600;
                        position: relative;
                        display: block;
                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            bottom: -30px;
                            width: 0%;
                            height: calc(4 / 16 * 1rem);
                            background-color: var(--colorGL-all-black100);
                            transition: width 0.3s;
                        }
                        &:hover {
                            padding: 0 calc(5 / 16 * 1rem);
                            transition: all 0.3s;
                            transform: scaleX(1.1);
                            transform-origin: center;
                            &::after {
                                width: 100%;
                                transition: width 0.3s;
                            }
                        }
                    }
                    .gnb-sub__wrap--drop {
                        display: none;
                        position: absolute;
                        top: calc(60 / 16 * 1rem);
                        left:0;
                        background-color: var(--colorGL-all-white100);
                        width: 100%;
                    }
                    .gnb-sub__wrap {
                        display: none;
                        width: 100%;
                        max-width: calc(1354 / 16 * 1rem);
                        position: absolute;
                        top: 81px;
                        z-index: 13;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    // full depth menu
                    .sub-menu-list {
                        li {
                            .sub-menu-detail {
                                display: none;
                            }
                            a {
                                display: flex;
                                align-items: center;
                                color: var(--text-text-default);
                                width: calc(324 / 16 * 1rem);
                                height: calc(52 / 16 * 1rem);
                                padding-left: calc(24 / 16 * 1rem);                                
                                &:hover {
                                    background-color: var(--colorCM-all-fill-fill-default2);
                                }
                            }
                            &.is-active {
                                a {
                                    background-color: var(--colorCM-all-fill-fill-default2);
                                }
                                .sub-menu-detail {
                                    position: absolute;
                                    width: calc(996 / 16 * 1rem);
                                    left: calc(429 / 16 * 1rem);
                                    top: 0;
                                    padding: calc(32 / 16 * 1rem);
                                    display: block;
                                    .sub-menu-text {
                                        margin-top: calc(16 / 16 * 1rem);
                                        color: var(--text-text-default);
                                    }
                                    .sub-depth-menu-list {
                                        display: flex;
                                        flex-wrap: wrap;
                                        gap: calc(20 / 16 * 1rem);
                                        margin-top: calc(40 / 16 * 1rem);
                                        .sub-depth-items {
                                            width: calc((100% / 3) - calc(20 / 16 * 1rem));
                                            background-color: var(--colorGL-all-gray10);
                                            padding: calc(24 / 16 * 1rem) calc(32 / 16 * 1rem);
                                            .sub-depth-items-text {
                                                margin-top: calc(16 / 16 * 1rem);
                                                display: flex;
                                                flex-direction: column;
                                                gap: calc(12 / 16 * 1rem);
                                                li {
                                                    padding: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .sub-menu-tit {
                                font-weight: 700;
                                color: var(--text-text-default);
                            }
                        }
                    }
                    &.is-active {
                        & > a {
                            padding: 0 calc(5 / 16 * 1rem);
                            transition: all 0.3s;
                            transform: scaleX(1.1);
                            transform-origin: center;
                            &::after {
                                width: 100%;
                                transition: width 0.3s;
                            }
                        }
                        .gnb-sub__wrap--drop {
                            display: block;
                        }
                        .gnb-sub__wrap {
                            display: flex;
                        }
                        .gnb-sub-inner {
                            position: relative;
                            width: 100%;
                            .gnb-sub-left {
                                padding: calc(32 / 16 * 1rem);
                                border-right: 1px solid var(--colorGL-all-gray150);
                                max-width: calc(428 / 16 * 1rem);
                            }
                            .gnb-sub-inner {
                                position: relative;
                                width: 100%;
                                .gnb-sub-left {
                                    padding: calc(32 / 16 * 1rem);
                                    border-right: 1px solid var(--colorGL-all-gray150);
                                    max-width: calc(428 / 16 * 1rem);
                                }
                            }
                        }
                    }
                }
            }
        }
        .navy-left,
        .navy-right {
            height: 100%;
            display: flex;
            align-items: center;            
        }
        .navy-left,
        .navy-right,
        .gnb-util {
            display: flex;
            align-items: center;
        }
    
        .navy-left {
            gap: calc(40 / 16 * 1rem);
            flex: 1;
        }
    
        .gnb-util {
            gap: calc(30 / 16 * 1rem);
            .btn-lang {
                @media #{$tablet} {
                    display: none;
                }
            }
            .btn-type {
                border: 1px solid var(--colorGL-all-gray950);
                border-radius: 50px;
                display: flex;
                padding: calc(6 / 16 * 1rem) calc(30 / 16 * 1rem);
                justify-content: center;
                align-items: center;
                @media #{$tablet} {
                    display: none;
                }
            }            
        }
    
        .mo-menu {
            display: none;
            @media #{$tablet} {
                display: inline-flex;
                .btn-hamburger-menu {
                    .icon-hamburger-menu {
                        display: none;
                    }
                    .icon-hamburger-menu_bl {
                        display: block;
                    }                    
                }
            }
        }
    
        .logo_wt,
        .icon-earth-wt24,
        .icon-search-wt24 {
            display: none;
        }
    
        .logo_bl,
        .icon-lang-bl24,
        .icon-search-bl24 {
            display: block;
        }
    
        &::after {
            display: none;
        }
    
        &.is-active {
            background-color: var(--colorGL-all-white100);
            border-bottom: 1px solid var(--colorGL-all-gray150);
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                top: calc(81 / 16 * 1rem);
                height: var(--gnb-bg-height);
                background-color: var(--colorGL-all-white100);
                z-index: 12;
            }
        }
    }
    &.has-hero {
        .header__wrap {
            border-bottom: 1px solid var(--colorGL-all-white20);
            position: absolute;
            top: 0;
            left: 0;
            .navy-list {            
                & > li {                    
                    & > a {
                        color: var(--colorGL-all-white100);
                        &::after {
                            background-color: var(--colorGL-all-white100);
                        }
                        &:hover {
                            &::after {
                                content: '';
                                display: block;
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: -30px;
                                width: 100%;
                                height: calc(4 / 16 * 1rem);
                                transition: width 0.3s;
                            }
                        }
                    }
                }
            }
            .gnb-util {
                .btn-type {
                    border: 1px solid var(--colorGL-all-white20);
                    color: var(--colorGL-all-white100);
                }            
            }
            &.is-active {
                .navy-list {              
                    > li {                        
                        & > a {
                            color: var(--colorGL-all-gray950);
                            &::after {
                                background-color: var(--colorGL-all-black100);
                            }
                        }
                    }
                }
                .btn-type {
                    border: 1px solid var(--colorGL-all-gray950);
                    color: var(--colorGL-all-gray950);
                } 
                .logo_wt,
                .icon-earth-wt24,
                .icon-search-wt24 {
                    display: none;
                }
            
                .logo_bl,
                .icon-lang-bl24,
                .icon-search-bl24 {
                    display: block;
                }
            }
            .mo-menu {                
                @media #{$tablet} {                    
                    .btn-hamburger-menu {
                        .icon-hamburger-menu {                            
                            display: block;
                        }
                        .icon-hamburger-menu_bl {
                            display: none;
                        }
                        
                    }
                }
            }
        }
        .logo_bl,
        .icon-lang-bl24,
        .icon-search-bl24 {
            display: none;
        }

        .logo_wt,
        .icon-earth-wt24,
        .icon-search-wt24 {
            display: inline-flex;
        }

    }
}
//헤더
// HeroBanner
.sub-content__wrap {
    width: 100%;
    margin: 0 auto;
}
// page title area
.page-location__title-wrap {
    display: flex;
    flex-direction: column;
    gap: calc(2 / 16 * 1rem);
    color: var(--text-text-default);
    margin: calc(80 / 16 * 1rem) 0;
    .sub-title {
        font-weight: 700;        
    }
    .sub-text {
        font-weight: 400;
    }
}

.footer__wrap {
    padding: calc(40 / 16 * 1rem) 0;    
    border-top: 1px solid var(--colorGL-all-gray200);
    .footer-info__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        @media #{$phone} {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;      
        }
        .footer-menu {
            display: flex;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
            @media #{$phone} {
                flex-direction: column;
                align-items: flex-start;
                gap: calc(20 / 16 * 1rem);  
            }
            li {
                a {                
                    color: var(--colorGL-all-gray950);
                    padding: calc(8 / 16 * 1rem) 0;
                }
            }
        }
        .family-site__wrap {
            @media #{$phone} {
                width: 100%;
                margin-top: calc(24 / 16 * 1rem);
            }
        } 
        .dropdown-menu {
            &.family-site {
                position: relative;
                @media #{$phone} {
                    width: 100%;
                    position: relative;
                }
                button {                    
                    display: flex;
                    width: calc(193 / 16 * 1rem);
                    padding: calc(11 / 16 * 1rem) calc(16 / 16 * 1rem) calc(11 / 16 * 1rem)  calc(20 / 16 * 1rem);
                    justify-content: space-between;
                    align-items: center;
                    gap: calc(2 / 16 * 1rem);
                    border-radius: calc(50 / 16 * 1rem);
                    background-color: var(--colorGL-all-gray100);
                    @media #{$phone} {
                        width: 100%;
                    }
                    &::after {
                        content: '';
                        display: inline-flex;
                        width: calc(12 / 16 * 1rem);
                        height: calc(8 / 16 * 1rem);
                        background: url('/src/assets/image/icon/icon_arrow_down.svg') no-repeat center center;
                        background-size: contain;
                    }
                }
                .dropdown_list {
                    display: none;
                    &.is-active {
                        display: block;
                        border: 1px solid var(--colorCM-all-stroke-stroke-default7);
                        border-bottom: 0;
                        position: absolute;
                        width: 100%;
                        left:0;
                        top: -239px;
                        padding: calc(11 / 16 * 1rem) calc(12 / 16 * 1rem);                        
                        background-color: var(--colorGL-all-gray100);
                        border-radius: var(--radius-mode1-3-x-l);
                        z-index: 9;                        
                    }
                }
            }
        }        
    }
    .footer-info__bottom {
        margin-top: calc(20 / 16 * 1rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media #{$phone} {
            flex-direction: column;
            align-items: flex-start;
            flex-direction: column-reverse;
        }
        .footer-info {
            p {
                color: var(--colorGL-all-gray850);            
            } 
        }
        .footer-sns__wrap {
            display: flex;
            align-items: center;
            gap: calc(4 / 16 * 1rem);
            @media #{$phone} {
                margin-bottom: calc(20 / 16 * 1rem);
            }
            a {
                width: calc(36 / 16 * 1rem);
                height: calc(36 / 16 * 1rem);
                img {
                    width: 100%;
                }
            }
        }
    }
    &.type-dark {
        background: var(--colorCM-all-background-background-default10);
        .footer-info__top {
            .footer-menu {
                li {
                    a {
                        color: var(--colorGL-all-white100);
                    }
                }
            }
            .dropdown-menu {
                &.family-site {
                    button {
                        color: var(--colorGL-all-white100);
                        background: var(--colorCM-all-fill-fill-default10);
                        &::after {
                            background: url("/src/assets/image/icon/icon_arrow_down_wh.svg") no-repeat center center
                        }
                    }
                }
            }
        }
        .footer-info__bottom {
            .footer-info {
                p {
                    color: var(--colorGL-all-white100);
                }
            }
        }
    }
}
//푸터
// 레이아웃 Break point
.header-inner,
.inner-wrap {
    max-width: calc(1920 / 16 * 1rem);
    padding: 0 calc(80 / 16 * 1rem);    
    @media #{$pcMiddle} {
        max-width: calc(1600 / 16 * 1rem);        
        padding: 0 calc(40 / 16 * 1rem);   
    }
    @media #{$tablet} {        
        max-width: calc(1024 / 16 * 1rem);     
        padding: 0 calc(32 / 16 * 1rem);  
    }
    @media #{$tabletMini} {
        max-width: calc(768 / 16 * 1rem);  
        padding: 0 calc(32 / 16 * 1rem);             
    }        
    @media #{$phone} {
        max-width: 100%;        
        padding: 0 calc(20 / 16 * 1rem);  
    }  
}