// header 기본 스타일 변수
:root {
    --header-bg: var(--colorCM-all-background-background-default0);
    --header-active-bg : var(--colorCM-all-background-background-default0);
    --header-2depth-bg: var(--colorCM-all-background-background-default0);
    --header-border-color: var(--colorCM-all-stroke-stroke-default7);
    --header-active-border-color: var(--colorCM-all-stroke-stroke-default7);
    --header-font-color: var(--text-text-default);
    --header-active-underbar-bg: var(--colorCM-all-background-background-default10);
    --header-util-border-color: var(--colorCM-all-stroke-stroke-default4);
    --header-logo-bl-display: block;
    --header-logo-wh-display: none;
    --header-icon-bl-display: inline-flex;
    --header-icon-wh-display: none;
    --footer-bg: var(--colorCM-all-background-background-default0);
    --footer-font-color: var(--text-text-default);
    --footer-family-site-dropdown-bg : #F0F0F0;
    --footer-family-site-dropdown-icon: url('/src/assets/image/icon/icon-plus-bl16.svg');
}

@media #{$pcMiddle} {
}
@media #{$tablet} {
    $header-display: none;        
}
@media #{$tabletMini} {         
}        
@media #{$phone} {
}  
body {
    &.overflow,
    &.modal-open {
        overflow: hidden;
        height: 100%;
    }
    &.dark-mode {
        // header.dark-mode 스타일 변수로 변경
        --header-bg: transparent;
        --header-border-color: rgba(255,255,255,0.20);
        --header-font-color: var(--colorCM-all-text-text-on-bg);
        --header-active-underbar-bg: var(--colorCM-all-background-background-default0);
        --header-util-border-color: rgba(255,255,255,0.20);
        --header-icon-bl-display: none;
        --header-icon-wh-display: inline-flex;
        --header-logo-bl-display: none;
        --header-logo-wh-display: block;
        .header {
            // gnb 펼쳐졌을 경우 스타일 변수 변경
            &.is-active {
                --header-font-color: var(--text-text-default);
                --header-active-underbar-bg: var(--colorCM-all-background-background-default10);
            }
        }
    }
}
.inner-wrap {
    width: 100%;
    margin: 0 auto;  
}
.wrap {
    width: 100%;    
    // &.has-hero {
    //     .header__wrap {
    //         border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default7);
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         .navy-list {            
    //             & > li {                    
    //                 & > a {
    //                     &:hover {
    //                         &::after {
    //                             content: '';
    //                             display: block;
    //                             position: absolute;
    //                             left: 50%;
    //                             transform: translateX(-50%);
    //                             bottom: -30px;
    //                             width: 100%;
    //                             height: calc(4 / 16 * 1rem);
    //                             transition: width 0.3s;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //         &.header__wrap--fixed {
    //             position: fixed;
    //             top:0;
    //             left: 0;
    //             background-color: var(--colorCM-all-fill-fill-default0);
    //             border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default7);
    //             transform: translateY(0);
    //             .gnb-util {
    //                 // 언어 선택
    //                 .dropdown-menu {
    //                     &.lang-select {
    //                         .dropdown_list {
    //                             &.is-active {
    //                                 border: 1px solid var(--colorCM-all-stroke-stroke-default7);
    //                                 background-color: var(--colorGL-all-gray100);
    //                                 border-radius: var(--radius-mode1-3-x-l);
    //                             }
    //                         }
    //                     }
    //                 }         
    //             }
    //         }
    //         &.header__wrap--fixed-motion {
    //             transform: translateY(-100%);
    //         }
    //         &.header__wrap--bg-transparent {
    //             background-color: transparent;
    //             .navy-list {            
    //                 & > li {                    
    //                     & > a {
    //                         color: var(--colorGL-all-white100);
    //                         &::after {
    //                             background-color: var(--colorGL-all-white100);
    //                         }
    //                     }
    //                 }
    //             }
    //             .gnb-util {
    //                 .btn-type {
    //                     border: calc(1 / 16 * 1rem) solid var(--colorGL-all-white20);
    //                     color: var(--colorGL-all-white100);
    //                 }            
    //             }
    //             .logo_bl,
    //             .icon-lang-bl24,
    //             .icon-search-bl24,
    //             .icon-hamburger-menu_bl {
    //                 display: none;
    //             }

    //             .logo_wt,
    //             .icon-earth-wt24,
    //             .icon-search-wt24,
    //             .icon-hamburger-menu {
    //                 display: inline-flex;
    //             }
    //             .mo-menu {
    //                 @media #{$tablet} {
    //                     display: inline-flex;
    //                     .btn-hamburger-menu {
    //                         .icon-hamburger-menu {
    //                             display: inline-flex;
    //                         }
    //                         .icon-hamburger-menu_bl {
    //                             display: none;
    //                         }                    
    //                     }
    //                 }
    //             }
    //         }
    //         &.is-active {
    //             background: #fff;
    //             .navy-list {              
    //                 > li {                        
    //                     & > a {
    //                         color: var(--colorGL-all-gray950);
    //                         &::after {
    //                             background-color: var(--colorGL-all-black100);
    //                         }
    //                     }
    //                 }
    //             }
    //             .btn-type {
    //                 border: calc(1 / 16 * 1rem) solid var(--colorGL-all-gray950);
    //                 color: var(--colorGL-all-gray950);
    //             } 
    //             .logo_wt,
    //             .icon-earth-wt24,
    //             .icon-search-wt24,
    //             .icon-hamburger-menu {
    //                 display: none;
    //             }
            
    //             .logo_bl,
    //             .icon-lang-bl24,
    //             .icon-search-bl24,
    //             .icon-hamburger-menu_bl {
    //                 display: inline-flex;
    //             }
    //             .mo-menu {
    //                 @media #{$tablet} {
    //                     display: inline-flex;
    //                     .btn-hamburger-menu {
    //                         .icon-hamburger-menu {
    //                             display: none;
    //                         }
    //                         .icon-hamburger-menu_bl {
    //                             display: inline-flex;
    //                         }                    
    //                     }
    //                 }
    //             }
    //         }
    //         .mo-menu {                
    //             .btn-hamburger-menu {
    //                 .icon-hamburger-menu {                            
    //                         @media #{$tablet} {                    
    //                             display: none;
    //                         }
    //                 }
    //                 .icon-hamburger-menu_bl {
    //                     @media #{$tablet} {  
    //                         display: inline-flex;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    //     .logo_bl,
    //     .icon-lang-bl24,
    //     .icon-search-bl24,
    //     .icon-hamburger-menu_bl {
    //         display: inline-flex;
    //     }

    //     .logo_wt,
    //     .icon-earth-wt24,
    //     .icon-search-wt24,
    //     .icon-hamburger-menu {
    //         display: none;
    //     }
    //     .mo-menu {                
    //         .btn-hamburger-menu {
    //             .icon-hamburger-menu {                            
    //                     @media #{$tablet} {                    
    //                         display: none;
    //                     }
    //             }
    //             .icon-hamburger-menu_bl {
    //                 @media #{$tablet} {  
    //                     display: inline-flex;
    //                 }
    //             }
    //         }
    //     }
    // }
}
//헤더
.header {
    width: 100%;
    border-bottom: 1px solid var(--header-border-color);
    z-index: 12;
    display: flex;
    height: calc(80 / 16 * 1rem);
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    transition: transform 0.5s ease-in-out;
    background: var(--header-bg);
    &-inner {
        width: 100%;                    
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc(40 / 16 * 1rem);      
        height: 100%;              
        @media #{$tablet} {
            gap: calc(20 / 16 * 1rem);            
        }
        .logo {
            @media #{$tablet} {
                flex:1;
            }
        }
    }

    .gnb-navy__wrap {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: space-between;
        height: 100%;            
        @media #{$tablet} {
            display: none;
        }
        .navy-left {
            height: 100%;
            display: flex;
            align-items: center; 
            gap: calc(40 / 16 * 1rem);
            flex: 1;
        }
        .navy-right {
            height: 100%;
            display: flex;
            align-items: center;            
        }
    }
    
    .navy-list {
        display: flex;
        align-items: center;                                       
        height: 100%;         
        > li {
            padding: 0 calc(20 / 16 * 1rem);
            height: 100%;
            display: flex;
            align-items: center;
            &:first-child {
                padding-left: 0;
            }
            & > a {
                color: var(--header-font-color);
                font-weight: 600;
                position: relative;
                display: block;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: calc(-28 / 16 * 1rem);
                    width: 0%;
                    height: calc(4 / 16 * 1rem);
                    background-color: var(--header-active-underbar-bg);
                    transition: width 0.3s;
                }
                &:hover {
                    padding: 0 calc(5 / 16 * 1rem);
                    transition: all 0.3s;
                    transform: scaleX(1.1);
                    transform-origin: center;
                    &::after {
                        width: 100%;
                        transition: width 0.3s;
                    }
                }
            }
            .gnb-sub__wrap--drop {
                display: none;
                position: absolute;
                top: calc(60 / 16 * 1rem);
                left:0;
                background-color: var(--colorGL-all-white100);
                width: 100%;
            }
            .gnb-sub__wrap {
                display: none;
                width: 100%;
                max-width: calc(1354 / 16 * 1rem);
                position: absolute;
                top: 81px;
                z-index: 13;
                left: 50%;
                transform: translateX(-50%);
            }
            // full depth menu
            .sub-menu-list {
                li {
                    .sub-menu-detail {
                        display: none;
                    }
                    a {
                        display: flex;
                        align-items: center;
                        color: var(--text-text-default);
                        width: calc(324 / 16 * 1rem);
                        height: calc(52 / 16 * 1rem);
                        padding-left: calc(24 / 16 * 1rem);                                
                        &:hover {
                            background-color: var(--colorCM-all-fill-fill-default2);
                        }
                    }
                    &.is-active {
                        a {
                            background-color: var(--colorCM-all-fill-fill-default2);
                        }
                        .sub-menu-detail {
                            position: absolute;
                            width: calc(996 / 16 * 1rem);
                            left: calc(429 / 16 * 1rem);
                            top: 0;
                            padding: calc(32 / 16 * 1rem);
                            display: block;
                            .sub-menu-text {
                                margin-top: calc(16 / 16 * 1rem);
                                color: var(--text-text-default);
                            }
                            .sub-depth-menu-list {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                grid-auto-rows: 1fr;
                                gap: calc(20 / 16 * 1rem);
                                margin-top: calc(40 / 16 * 1rem);
                                .sub-depth-items {
                                    display: block;
                                    align-items: initial;
                                    padding-left: 0;
                                    // width: calc((100% / 3) - calc(calc((20 * 2) / 3) / 16 * 1rem));
                                    width: 100%;
                                    height: 100%;
                                    background-color: var(--colorGL-all-gray10);
                                    padding: calc(24 / 16 * 1rem) calc(32 / 16 * 1rem);
                                    .sub-depth-items-text {
                                        margin-top: calc(16 / 16 * 1rem);
                                        display: flex;
                                        flex-direction: column;
                                        gap: calc(12 / 16 * 1rem);
                                        li {
                                            padding: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .sub-menu-tit {
                        font-weight: 700;
                        color: var(--text-text-default);
                    }
                }
            }
            &.is-active {
                & > a {
                    padding: 0 calc(5 / 16 * 1rem);
                    transition: all 0.3s;
                    transform: scaleX(1.1);
                    transform-origin: center;
                    &::after {
                        width: 100%;
                        transition: width 0.3s;
                    }
                }
                .gnb-sub__wrap--drop {
                    display: block;
                }
                .gnb-sub__wrap {
                    display: flex;
                }
                .gnb-sub-inner {
                    position: relative;
                    width: 100%;
                    .gnb-sub-left {
                        padding: calc(32 / 16 * 1rem);
                        border-right: 1px solid var(--colorGL-all-gray150);
                        max-width: calc(428 / 16 * 1rem);
                    }
                    .gnb-sub-inner {
                        position: relative;
                        width: 100%;
                        .gnb-sub-left {
                            padding: calc(32 / 16 * 1rem);
                            border-right: 1px solid var(--colorGL-all-gray150);
                            max-width: calc(428 / 16 * 1rem);
                        }
                    }
                }
            }
        }
    }

    .gnb-util {
        display: flex;
        align-items: center;
        gap: calc(30 / 16 * 1rem);
        .btn-type {
            // border: 1px solid var(--colorGL-all-gray950);
            border: calc(1 / 16 * 1rem) solid var(--header-util-border-color);
            border-radius: 50px;
            display: flex;
            padding: calc(6 / 16 * 1rem) calc(30 / 16 * 1rem);
            justify-content: center;
            align-items: center;
            color: var(--header-font-color);
            @media #{$tablet} {
                display: none;
            }
        }
        // 언어 선택
        .dropdown-menu {
            position: relative;
            display: flex;
            align-items: center;
            @media #{$tablet} {
                display: none;
            }
            &.lang-select {
                .btn-lang {
                    @media #{$tablet} {
                        display: none;
                    }
                }
                .dropdown_list {
                    display: none;
                    &.is-active {
                        display: block;
                        border: 1px solid var(--colorCM-all-stroke-stroke-default7);
                        border-bottom: 0;
                        position: absolute;
                        // width: 100%;
                        width: calc(200 / 16 * 1rem);
                        right:0;
                        bottom: calc(-122 / 16 * 1rem);
                        padding: calc(11 / 16 * 1rem) calc(12 / 16 * 1rem);                        
                        background-color: var(--colorGL-all-gray100);
                        border-radius: var(--radius-mode1-3-x-l);
                        z-index: 9;                        
                    }
                }
            }
        }             
    }
    // 모바일 햄버거 메뉴
    .mo-menu {
        display: none;
        @media #{$tablet} {
            display: block;
        }
    }
    // .mo-menu {
    //     display: none;
    //     @media #{$tablet} {
    //         display: inline-flex;
    //         .btn-hamburger-menu {
    //             .icon-hamburger-menu {
    //                 display: none;
    //             }
    //             .icon-hamburger-menu_bl {
    //                 display: block;
    //             }                    
    //         }
    //     }
    // }
    // 모바일 gnb
    .mo-gnb-navy__wrap {
        display: none;
        &.is-active {
            @media #{$tablet} {
                display: block;
                position: fixed;
                top: calc(80 / 16 * 1rem);
                left: 0;
                width: 100%;
                height: calc(100vh - calc(80 / 16 * 1rem));
                background: var(--header-2depth-bg);
                overflow-y: auto;
                z-index: 1;
            }
            .mo-gnb-navy__container {
                margin: 0 auto;
                @media #{$tablet} {        
                    max-width: calc(1024 / 16 * 1rem);     
                    padding: 0 calc(32 / 16 * 1rem);  
                }
                @media #{$tabletMini} {
                    max-width: calc(768 / 16 * 1rem);  
                    padding: 0 calc(32 / 16 * 1rem);             
                }        
                @media #{$phone} {
                    max-width: 100%;        
                    padding: 0 calc(20 / 16 * 1rem);  
                }  
            }
            .mo-navy-list {
                @media #{$tablet} {
                    display: block;
                    padding: calc(24 / 16 * 1rem) 0 calc(20 / 16 * 1rem);
                    height: auto;
                    & + .mo-navy-list {
                        border-top: calc(1 / 16 * 1rem) solid var(--header-active-border-color);
                    }
                    & > li {
                        width: 100%;
                        box-sizing: border-box;
                        &:first-child {
                            padding: 0;
                        }
                        & > a {
                            display: block;
                            padding: calc(15 / 16 * 1rem) calc(24 / 16 * 1rem) calc(15 / 16 * 1rem) 0;
                            color: var(--header-font-color);
                            box-sizing: border-box;
                            background: url("/src/assets/image/icon/icon_page_next.svg") no-repeat right center / calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
                        }
                        &.is-active {
                            .gnb-sub__wrap {
                                display: block;
                            }
                        }
                    }
                }
            }
            .gnb-sub__wrap {
                @media #{$tablet} {
                    background: rgba(0,0,0,0.2);
                }
                .sub-menu-list {
                    & > li {
                        @media #{$tablet} {
                            width: 100%;
                            box-sizing: border-box;
                        }
                        &:first-child {
                            padding: 0;
                        }
                        & > a {
                            @media #{$tablet} {
                                display: block;
                                padding: calc(15 / 16 * 1rem) calc(24 / 16 * 1rem) calc(15 / 16 * 1rem) 0;
                                color: var(--header-font-color);
                                box-sizing: border-box;
                                background: url("/src/assets/image/icon/icon_page_next.svg") no-repeat right center / calc(24 / 16 * 1rem) calc(24 / 16 * 1rem);
                            }
                        }
                        &.is-active {
                            .gnb-sub__wrap {
                                @media #{$tablet} {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            // 모바일 util
            .mo-gnb-util {
                @media #{$tablet} {
                    padding: calc(20 / 16 * 1rem) 0 calc(40 / 16 * 1rem);
                    border-top: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default7);
                }
                .button__wrap {
                    color: var(--header-font-color);
                    &.link-counsel {
                        @media #{$tablet} {
                            justify-content: flex-start;
                        }
                        .btn {
                            @media #{$tablet} {
                                width: fit-content;
                            }
                        }
                        & + .dropdown-menu {
                            @media #{$tablet} {
                                margin-top: calc(20 / 16 * 1rem);
                            }
                        }
                    }
                }
                .dropdown-menu {
                    position: relative;
                    @media #{$phone} {
                        width: 100%;
                        position: relative;
                    }
                    &.lang-select {
                        button {
                            @media #{$tablet} {                    
                                display: flex;
                                // width: calc(193 / 16 * 1rem);
                                width: 100%;
                                padding: calc(13 / 16 * 1rem) calc(12 / 16 * 1rem) calc(13 / 16 * 1rem)  calc(20 / 16 * 1rem);
                                justify-content: space-between;
                                align-items: center;
                                gap: calc(2 / 16 * 1rem);
                                color: var(--header-font-color);
                                border: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default5);
                            }
                            @media #{$phone} {
                                width: 100%;
                            }
                            &::after {
                                @media #{$tablet} {
                                    content: '';
                                    display: inline-flex;
                                    width: calc(24 / 16 * 1rem);
                                    height: calc(24 / 16 * 1rem);
                                    background: url('/src/assets/image/icon/icon_arrow_down.svg') no-repeat center center;
                                    background-size: contain;
                                }
                            }
                        }
                        .dropdown_list {
                            display: none;
                            &.is-active {
                                @media #{$tablet} {
                                    display: block;
                                    border: 1px solid var(--colorCM-all-stroke-stroke-default7);
                                    border-bottom: 0;
                                    position: absolute;
                                    width: 100%;
                                    left:0;
                                    top: calc(-95 / 16 * 1rem);
                                    padding: calc(11 / 16 * 1rem) calc(12 / 16 * 1rem);                        
                                    background-color: var(--colorGL-all-gray100);
                                    border-radius: var(--radius-mode1-3-x-l);
                                    z-index: 9;      
                                }                  
                            }
                        }
                    }
                } 
            }
        }
        .mo-navy-list {
            display: none;
            // 모바일 gnb > 2epth
            .gnb-sub__wrap {
                display: none;
            }
        }
    }
    // 로고
    .logo_wt {
        display: var(--header-logo-wh-display);
    }
    .logo_bl {
        display: var(--header-logo-bl-display);
    }
    // 아이콘
    .icon-earth-wt24,
    .icon-search-wt24,
    .icon-hamburger-menu {
        display: var(--header-icon-wh-display);
    }

    .icon-lang-bl24,
    .icon-search-bl24,
    .icon-hamburger-menu_bl {
        display: var(--header-icon-bl-display);
    }

    &::after {
        display: none;
    }
    // &.header__wrap--fixed {
    //     position: fixed;
    //     top:0;
    //     left: 0;
    //     background-color: var(--colorCM-all-background-background-default0);
    //     transform: translateY(0);
    // }
    // &.header__wrap--fixed-motion {
    //     transform: translateY(-100%);
    // }

    &.is-active {
        background: var(--header-active-bg);
        border-bottom: 1px solid var(--header-active-border-color);
        z-index: 10;
        @media #{$tablet} {
            .dim {
                display: block;
            }
        }
        @media #{$phone} {
            position: fixed;
            top: 0;
            left: 0;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            top: calc(80 / 16 * 1rem);
            height: var(--gnb-bg-height);
            background-color: var(--header-active-bg);
            z-index: 12;
        }
        &.is-bg-transparent {
            --header-bg: var(--colorCM-all-background-background-default0);
            --header-border-color: var(--colorCM-all-stroke-stroke-default7);
            --header-font-color: var(--text-text-default);
            --header-active-underbar-bg: var(--colorCM-all-background-background-default10);
            --header-util-border-color: var(--colorCM-all-stroke-stroke-default4);
            --header-logo-bl-display: block;
            --header-logo-wh-display: none;
            --header-icon-bl-display: inline-flex;
            --header-icon-wh-display: none;
        }
    }
    &.is-bg-transparent {
        // header.dark-mode 스타일 변수로 변경
        --header-bg: transparent;
        --header-border-color: rgba(255,255,255,0.20);
        --header-font-color: var(--colorCM-all-text-text-on-bg);
        --header-active-underbar-bg: var(--colorCM-all-background-background-default0);
        --header-util-border-color: rgba(255,255,255,0.20);
        --header-icon-bl-display: none;
        --header-icon-wh-display: inline-flex;
        --header-logo-bl-display: none;
        --header-logo-wh-display: block;
    }
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
    .dim {
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
}

// HeroBanner
.sub-content__wrap {
    width: 100%;
    margin: 0 auto;
}
// page title area
.page-location__title-wrap {
    display: flex;
    flex-direction: column;
    gap: calc(2 / 16 * 1rem);
    color: var(--text-text-default);
    margin: calc(80 / 16 * 1rem) 0;
    .sub-title {
        font-weight: 700;        
    }
    .sub-text {
        font-weight: 400;
    }
}

.footer__wrap {
    padding: calc(40 / 16 * 1rem) 0;    
    border-top: 1px solid var(--colorGL-all-gray200);
    .footer-info__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(8 / 16 * 1rem);
        width: 100%;
        @media #{$phone} {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(24 / 16 * 1rem);
        }
        .footer-menu {
            display: flex;
            align-items: center;
            gap: calc(20 / 16 * 1rem);
            @media #{$phone} {
                flex-direction: column;
                align-items: flex-start;
                gap: calc(20 / 16 * 1rem);  
            }
            li {
                a, button {                
                    color: var(--footer-font-color);
                    font-weight: 500;
                    padding: calc(8 / 16 * 1rem) 0;
                }
            }
        }
        .family-site__wrap {
            @media #{$phone} {
                width: 100%;
            }
        } 
        .dropdown-menu {
            &.family-site {
                position: relative;
                @media #{$phone} {
                    width: 100%;
                    position: relative;
                }
                button {                    
                    display: flex;
                    width: calc(193 / 16 * 1rem);
                    padding: calc(11 / 16 * 1rem) calc(16 / 16 * 1rem) calc(11 / 16 * 1rem)  calc(20 / 16 * 1rem);
                    justify-content: space-between;
                    align-items: center;
                    gap: calc(2 / 16 * 1rem);
                    border-radius: calc(50 / 16 * 1rem);
                    background: var(--footer-family-site-dropdown-bg);
                    @media #{$phone} {
                        width: 100%;
                    }
                    &::after {
                        content: '';
                        display: inline-flex;
                        width: calc(16 / 16 * 1rem);
                        height: calc(16 / 16 * 1rem);
                        background: var(--footer-family-site-dropdown-icon);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
                .dropdown_list {
                    display: none;
                    &.is-active {
                        display: block;
                        border: 1px solid var(--colorCM-all-stroke-stroke-default7);
                        border-bottom: 0;
                        position: absolute;
                        width: 100%;
                        left:0;
                        top: -239px;
                        padding: calc(11 / 16 * 1rem) calc(12 / 16 * 1rem);                        
                        background: var(--footer-family-site-dropdown-bg);
                        border-radius: var(--radius-mode1-3-x-l);
                        z-index: 9;                        
                    }
                }
            }
        }        
    }
    .footer-info__bottom {
        margin-top: calc(20 / 16 * 1rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: calc(8 / 16 * 1rem);
        @media #{$phone} {
            flex-direction: column;
            align-items: flex-start;
            flex-direction: column-reverse;
            gap: calc(20 / 16 * 1rem);
        }
        .footer-info {
            p {
                color: var(--footer-font-color);    
            } 
        }
        .footer-sns__wrap {
            display: flex;
            align-items: center;
            gap: calc(4 / 16 * 1rem);
            a {
                width: calc(36 / 16 * 1rem);
                height: calc(36 / 16 * 1rem);
                img {
                    width: 100%;
                }
            }
        }
    }
    &.type-dark {
        --footer-bg: var(--colorCM-all-background-background-default10);
        --footer-font-color: var(--colorCM-all-text-text-on-bg);
        --footer-family-site-dropdown-icon: url('/src/assets/image/icon/icon-plus-wh16.svg');
        --footer-family-site-dropdown-bg : var(--colorCM-all-fill-fill-default10);

        background: var(--footer-bg);
        border-top: calc(1 / 16 * 1rem) solid rgba(255, 255, 255, 0.20);
        .footer-info__top {
            .footer-menu {
                li {
                    a, button {
                        color: var(--footer-font-color);
                    }
                }
            }
            .dropdown-menu {
                &.family-site {
                    button {
                        color: var(--footer-font-color);
                        background: var(--footer-family-site-dropdown-bg);
                        &::after {
                            background: var(--footer-family-site-dropdown-icon);
                        }
                    }
                }
            }
        }
        .footer-info__bottom {
            .footer-info {
                p {
                    color: var(--footer-font-color);
                }
            }
        }
    }
    &.type-transparent-wh {
        --footer-bg: transparent;
        --footer-font-color: var(--colorCM-all-text-text-on-bg);
        --footer-family-site-dropdown-icon: url('/src/assets/image/icon/icon-plus-wh16.svg');
        --footer-family-site-dropdown-bg : var(--colorCM-all-fill-fill-default10);

        background: var(--footer-bg);
        border-top: calc(1 / 16 * 1rem) solid rgba(255, 255, 255, 0.20);
        .footer-info__top {
            .footer-menu {
                li {
                    a, button {
                        color: var(--footer-font-color);
                    }
                }
            }
            .dropdown-menu {
                &.family-site {
                    button {
                        color: var(--footer-font-color);
                        background: var(--footer-family-site-dropdown-bg);
                        &::after {
                            background: var(--footer-family-site-dropdown-icon);
                        }
                    }
                }
            }
        }
        .footer-info__bottom {
            .footer-info {
                p {
                    color: var(--footer-font-color);
                }
            }
        }
    }
}
//푸터
// 레이아웃 Break point
.header-inner,
.inner-wrap {
    max-width: calc(1920 / 16 * 1rem);
    padding: 0 calc(80 / 16 * 1rem);    
    @media #{$pcMiddle} {
        max-width: calc(1600 / 16 * 1rem);        
        padding: 0 calc(40 / 16 * 1rem);   
    }
    @media #{$tablet} {        
        max-width: calc(1024 / 16 * 1rem);     
        padding: 0 calc(32 / 16 * 1rem);  
    }
    @media #{$tabletMini} {
        max-width: calc(768 / 16 * 1rem);  
        padding: 0 calc(32 / 16 * 1rem);             
    }        
    @media #{$phone} {
        max-width: 100%;        
        padding: 0 calc(20 / 16 * 1rem);  
    }  
}
// full body
body {
    &.type-full-dark {
        // height: 100vh;
        background-color: var(--colorGL-all-black100);
    }
}

.layout_ {
    &col2 {
        display: grid;
        grid-template-columns: calc(576 / 16 * 1rem) auto;
        gap: #{$gap-margin};
        @media #{$pcMiddle} {
            grid-template-columns: calc(496 / 16 * 1rem) auto;
        }
        @media #{$tablet} {
            grid-template-columns: calc(350 / 16 * 1rem) auto;
        }
        @media #{$tabletMini} {
            grid-template-columns: calc(254 / 16 * 1rem) auto;
        }
        @media #{$phone} {
            grid-template-columns: repeat(1, 100%);
            gap: calc(var(--spacing-mode1-horizontal-l) / 16 * 1rem);
            & > div:last-child .cmp-wrap:first-child:not(.cmp-table__wrap) {
                margin-top: calc(var(--spacing-mode1-horizontal-l) / 16 * 1rem);
            }
        }
        &.smallTitle {
            grid-template-columns: calc(428 / 16 * 1rem) auto;
            gap: #{$gap-margin};
            @media #{$pcMiddle} {
                grid-template-columns: calc(368 / 16 * 1rem) auto;
            }
            @media #{$tablet} {
                grid-template-columns: calc(228 / 16 * 1rem) auto;
            }
            @media #{$tabletMini} {
                grid-template-columns: auto;
                gap: calc(32 / 16 * 1rem);
            }
        }
        .cmp-title__wrap {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}