// mixin 
$phone: "only screen and (max-width : 768px)";
$phone480: "only screen and (max-width : 480px)";
$phone360: "only screen and (max-width : 360px)";
$phonemini: "only screen and (max-width : 320px)";
$notebook: "screen and (max-width : 1366px)";
$tablet: "screen and (max-width : 1043px)";
$desktop: "screen and (min-width : 1044px)";
//반응형 *--
@mixin ellipsis($line: 1) {
    @if ($line == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $line;
    }
}


.wrap {
    width: 100%;    
}
.inner-wrap {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
.header__wrap {
    width: 100%;
    height: calc(40 / 16 * 1rem);
    border-bottom: 1px solid var(--colorCM-all-stroke-stroke-default4);
    position: absolute;
    top:0;
    left:0;
    z-index: 12;
    display: flex;
    padding: calc(24 / 16 * 1rem) calc(40 / 16 * 1rem);
    justify-content: space-between;
    align-items: center;
    .navy-left {
        display: flex;
        align-items: center;
        gap: calc(40 / 16 * 1rem);
    }
    .navy-list {
        display: flex;
        align-items: center;
        gap: calc(40 / 16 * 1rem);
        li {
            a {
                color: var(--colorGL-all-white100);
                font-weight: 600;
            }
        }
    }
    .navy-right {
        display: flex;
        align-items: center;
        .navy-list {
            gap: calc(30 / 16 * 1rem);
            li {
                margin: 0 calc(5 / 16 * 1rem);
                &:has(.icon-type) {
                    margin: 0 calc(0 / 16 * 1rem);
                }
                .btn-type {
                    display: flex;
                    padding: calc(6 / 16 * 1rem) calc(30 / 16 * 1rem);
                    justify-content: center;
                    align-items: center;
                    border-radius: calc(50 / 16 * 1rem);
                    border: 1px solid var(--colorCM-all-fill-fill-default4);
                    font-weight: 600;
                }
            }
        }
    }
}
//헤더

.sub-visual__wrap {
    width: 100%;
    height: calc(660 / 16 * 1rem);
    background: url('/src/assets/image/sub/bg_sub_vi01.png') repeat-x center top;
    .inner-wrap {
        height: 100%;
        position: relative;
    }
    .visual-text {
        position: absolute;
        left:0;        
        top: calc(50% - 40px);
        color: var(--colorGL-all-white100);
    }
}
// 서브 비주얼

.footer__wrap {
    padding: calc(40 / 16 * 1rem) 0;
    .footer-info__wrap {
        display: flex;
        flex-direction: column;   
        gap: calc(24 / 16 * 1rem);
    }
    .footer-menu {
        display: flex;
        align-items: center;
        gap: calc(20 / 16 * 1rem);  
        li {
            a {                
                color: var(--colorGL-all-gray950);
                padding: calc(8 / 16 * 1rem) 0;
            }
        }
    } 
    .footer-info {
        p {
            color: var(--colorGL-all-gray850);            
        } 
    }
    .footer-util {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: calc(24 / 16 * 1rem);
        .footer-sns__wrap {
            display: flex;
            align-items: center;
            gap: calc(4 / 16 * 1rem);
            img {
                width: 36px;
                height: 36px;
            }
        }
        .dropdown-menu {
            &.family-site {
                position: relative;
                button {
                    border: 1px solid var(--colorGL-all-gray950);
                    display: flex;
                    width: calc(193 / 16 * 1rem);
                    padding: calc(11 / 16 * 1rem) calc(12 / 16 * 1rem) calc(11 / 16 * 1rem)  calc(20 / 16 * 1rem);
                    justify-content: space-between;
                    align-items: center;
                    gap: calc(4 / 16 * 1rem);
                    &::after {
                        content: '';
                        display: inline-flex;
                        width: calc(7 / 16 * 1rem);
                        height: calc(12 / 16 * 1rem);
                        background: url('/src/assets/image/icon/icon_arrow_down.svg') no-repeat center center;
                        background-size: contain;
                    }
                }
                .dropdown_list {
                    display: none;
                    &.is-active {
                        display: block;
                        border: 1px solid var(--colorGL-all-gray950);
                        border-bottom: 0;
                        position: absolute;
                        width: 100%;
                        left:0;
                        top: -93px;
                        padding: calc(11 / 16 * 1rem) calc(12 / 16 * 1rem);
                        background-color: var(--colorGL-all-white100);
                        z-index: 9;                        
                    }
                }
            }
        }
    }
}
//푸터
