.main {
    --notice-border-color-mode : rgba(255,255,255,0.20);
    --banner-color-mode: var(--colorCM-mode1-text-text-on-bg);
    --banner-color-display-white: block;
    --banner-color-display-black: none;
    &-content__inner {
        &.color-mode-white {
            --banner-color-mode: var(--colorCM-mode1-text-text-on-bg);
            --banner-color-display-white: block;
            --banner-color-display-black: none;
            --notice-border-color-mode : rgba(255,255,255,0.20);
        }
        &.color-mode-black {
            --banner-color-mode: var(--colorCM-mode1-text-text-default);
            --banner-color-display-white: none;
            --banner-color-display-black: block;
            --notice-border-color-mode : rgba(0,0,0,0.10);
        }
    }
    &-container {
        position: relative;
        padding: 0 calc(20 / 16 * 1rem);
        margin: 0 auto;
        @media #{$min1280} {
            padding: 0 calc(40 / 16 * 1rem);
            max-width: calc(1920 / 16 * 1rem);
        }
    }
    // 상단 interactive banner
    .interactive-hero {
        &.hero-style-01 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero01);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero01);
                    }
                }
            }
        }
        &.hero-style-02 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero02);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero02);
                    }
                }
            }
        }
        &.hero-style-03 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero03);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero03);
                    }
                }
            }
        }
        &.hero-style-04 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero04);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero04);
                    }
                }
            }
        }
        &.has-notice {
            .interactive-swiper {
                padding-top: calc(84 / 16 * 1rem);
                @media #{$min1280} {
                    padding-top: calc(152 / 16 * 1rem);
                }
            }
            .interactive-swiper__frame__video {
                margin-top: calc(16 / 16 * 1rem);
                @media #{$min1280} {
                    margin-top: 0;
                }
            }
        }
    }
    .interactive-swiper {
        position: relative;
        padding-top: calc(51 / 16 * 1rem);
        padding-bottom: calc(56 / 16 * 1rem);
        border-radius: calc(24 / 16 * 1rem);
        overflow: hidden;
        margin-bottom: calc(24 / 16 * 1rem);
        // transition-duration : 1s !important;
        @media #{$min1280} {
            // padding-bottom: calc(223 / 16 * 1rem);
            padding-bottom: calc(263 / 16 * 1rem);
        }
        @media #{$min1840} {
            padding-top: calc(88 / 16 * 1rem);
            // padding-bottom: calc(249 / 16 * 1rem);
            // padding-bottom: calc(223 / 16 * 1rem);
            border-radius: calc(var(--radius-mode1-x-l) / 16 * 1rem);
        }
        .cmp-swiper__wrap {
            padding: 0;
            margin-bottom: 0;
            max-width: 100%;
            .swiper-wrapper {
                margin-bottom: 0;
                .swiper-slide {
                    opacity: 0;
                    // transition-duration : 1s !important;
                    &.swiper-slide-active {
                        opacity: 1;
                    }
                }
            }
        }
        &__container {
            display: flex;
            flex-direction: column-reverse;
            @media #{$min1840} {
                flex-direction: row;
                justify-content: flex-end;
                margin-bottom: calc(26 / 16 * 1rem);
            }
        }
        &__text-box {
            text-align: center;
            padding: calc(40 / 16 * 1rem) calc(20 / 16 * 1rem) 0;
            @media #{$min1840} {
                position: absolute;
                top: calc(16 / 16 * 1rem);
                left: calc(96 / 16 * 1rem);
                padding: 0 0;
                text-align: left;
            }
        }
        &__title {
            color: var(--banner-color-mode);
            .display-pc {
                display: none;
                @media #{$min1840} {
                    display: block;
                }
            }
        }
        &__desc {
            margin-top: calc(12 / 16 * 1rem);
            color: var(--banner-color-mode);
            @media #{$min1840} {
                margin-top: calc(24 / 16 * 1rem);
            }
        }
        &__button {
            justify-content: center;
            margin-top: calc(18 / 16 * 1rem);
            @media #{$min1840} {
                justify-content: flex-start;
                margin-top: calc(32 / 16 * 1rem);
            }
            .btn {
                border-color: var(--banner-color-mode);
                &__text {
                    color: var(--banner-color-mode);
                }
            }
            .ico {
                &--color-white {
                    display: var(--banner-color-display-white);
                }
                &--color-black {
                    display: var(--banner-color-display-black);
                }
            }
        }
        &__frame {
            &__video {
                max-width: calc(1200 / 16 * 1rem);
                display: flex;
                justify-content: flex-end;
                margin: 0 auto;
                video {
                    margin-right: 0;
                    width: 100%;
                    @media (min-width: 1000px) {
                        max-width: calc(840 / 16 * 1rem);
                        margin: 0 auto;
                    }
                    @media (min-width: 1400px) {
                        max-width: calc(960 / 16 * 1rem);
                        margin: 0 auto;
                    }
                    @media (min-width: 1600px) {
                        width: 100%;
                    }
                }
            }
            &__image {
                margin: 0 calc(22 / 16 * 1rem);
                border: calc(3 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default0);
                border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
                overflow: hidden;
                // box-sizing: border-box;
                // aspect-ratio: 270 / 150;
                // aspect-ratio: 820 / 458;
                // max-height: calc(458 / 16 * 1rem);
                @media (min-width: 1000px) {
                    max-width: calc(840 / 16 * 1rem);
                    margin: 0 auto;
                }
                @media (min-width: 1400px) {
                    max-width: calc(960 / 16 * 1rem);
                    margin: 0 auto;
                }
                @media (min-width: 1600px) {
                    width: 100%;
                    margin: 0 auto;
                }
                @media #{$min1840} {
                    max-width: calc(820 / 16 * 1rem);
                    min-width: calc(656 / 16 * 1rem);
                    margin: calc(5 / 16 * 1rem) 0 0;
                    // margin: 0 0 calc(80 / 16 * 1rem);
                    // max-width: calc(840 / 16 * 1rem);
                    // height: calc(478 / 16 * 1rem);
                    border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
                    border: calc(10 / 16 * 1rem) solid rgba(255,255,255,0.60);
                }
                img {
                    width: 100%;
                    // height: 100%;
                    // object-fit: cover;
                }
            }
        }
        &__slide {
            transition: opacity 1s ease;
            // News Image Hero
            &--news {
                .interactive-swiper__container {
                    @media #{$min1840} {
                        justify-content: space-between;
                        gap: calc(85 / 16 * 1rem);
                        padding: 0 calc(107 / 16 * 1rem) 0 calc(96 / 16 * 1rem);
                    }
                }
                .interactive-swiper__text-box {
                    position: relative;
                    top: initial;
                    left: initial;
                    @media #{$min1840} {
                        max-width: calc(652 / 16 * 1rem);
                    }
                }
            }
        }
    }
    // 공지사항
    .notice-swiper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: calc(1920 / 16 * 1rem);
        .cmp-swiper__wrap {
            padding: 0 calc(40 / 16 * 1rem);
            max-width: none;
            width: 100%;
            @media #{$min1280} {
                padding: 0 calc(80 / 16 * 1rem);
            }
            .swiper {
                border-bottom: calc(1.5 / 16 * 1rem) solid var(--notice-border-color-mode);
            }
            .swiper-wrapper {
                margin-bottom: 0;
            }
            .swiper-slide {
                padding: calc(18 / 16 * 1rem) 0;
                @media #{$min1280} {
                    padding: calc(27 / 16 * 1rem) 0;
                }
            }
        }
        &__text {
            color: var(--banner-color-mode);
        }
        &__navigation {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            &--prev {
                left: 0;
            }
            &--next {
                right: 0;
            }
            .ico {
                &--color-white {
                    display: var(--banner-color-display-white);
                }
                &--color-black {
                    display: var(--banner-color-display-black);
                }
            }
        }
    }
    // heroNavigation
    .cmp-hero-navigation {
        @media #{$min1280} {
            position: absolute;
            bottom: calc(40 / 16 * 1rem);
            left: 50%;
            padding: 0 calc(80 / 16 * 1rem);
            max-width: calc(1920 / 16 * 1rem);
            width: 100%;
            transform: translateX(-50%);
            opacity: 0;
        }
    }
    // Search
    .dynamic-search {
        &__title {
            margin-bottom: calc(49 / 16 * 1rem);
            @media #{$min1840} {
                margin-bottom: calc(69 / 16 * 1rem);
            }
        }
        &--collapsed {            
            .dynamic-search__collapsed-area {
                // max-height: 110px;
                // transition: max-height 0.3s ease-out;
            }
            .dynamic-search__expanded-area {
                overflow: hidden;
                max-height: 0;
                // height: 0;
            }
            .main-container {
                margin-top: calc(40 / 16 * 1rem);
                margin-bottom: calc(96 / 16 * 1rem);
                @media #{$min1840} {
                    margin-top: calc(23 / 16 * 1rem);
                    margin-bottom: calc(160 / 16 * 1rem);
                }
            }
        }
        &--expanded {                        
            &-important{
                .dynamic-search__expanded-area { 
                    transition: none !important;
                }
            }
            .main-container {
                max-width: none;
                @media #{$min1840} {
                    max-width: calc(1440 / 16 * 1rem);
                }
            }
            .dynamic-search__collapsed-area {
                overflow: hidden;
                max-height: 0;
                // height: 0;
            }
            .dynamic-search__expanded-area {
                max-height: 587px;
                transition: max-height 0.5s ease-in-out;
            }
            .main-container {
                padding: 0 0;
                margin-top: calc(96 / 16 * 1rem);
                margin-bottom: calc(96 / 16 * 1rem);
                @media #{$min1280} {
                    padding: 0 calc(40 / 16 * 1rem);
                }
                @media #{$min1840} {
                    margin-top: calc(200 / 16 * 1rem);
                    margin-bottom: calc(199 / 16 * 1rem);
                }
            }
            .dynamic-search__title,
            .cmp-input {
                padding: 0 calc(20 / 16 * 1rem);
                @media #{$min1280} {
                    padding: 0 0;
                }
            }
        }
        // 펼침 상태의 검색 영역
        .cmp-input {
            &__item--search {
                padding: calc(8 / 16 * 1rem) calc(64 / 16 * 1rem) calc(8 / 16 * 1rem) 0;
                font-size: calc(var(--typo-mo-size-head-lg) / 16 * 1rem);
                line-height: calc(var(--typo-mo-line-height-head-lg) / 16 * 1rem);
                letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
                font-weight: 500;
                border-bottom-width: calc(2 / 16 * 1rem);
                @media #{$min1840} {
                    padding: calc(28 / 16 * 1rem) calc(142 / 16 * 1rem) calc(28 / 16 * 1rem) 0;
                    font-size: calc(var(--typo-pc-size-head-lg) / 16 * 1rem);
                    line-height: calc(var(--typo-pc-line-height-head-lg) / 16 * 1rem);
                }
            }
            .btn {
                &-remove {
                    @media #{$min1840} {
                        right: calc(86 / 16 * 1rem);
                    }
                    .ico {
                        @media #{$min1840} {
                            width: calc(56 / 16 * 1rem);
                            min-width: calc(56 / 16 * 1rem);
                            height: calc(56 / 16 * 1rem);
                        }
                    }
                }
                &-search {
                    .ico {
                        @media #{$min1840} {
                            width: calc(56 / 16 * 1rem);
                            min-width: calc(56 / 16 * 1rem);
                            height: calc(56 / 16 * 1rem);
                        }
                    }
                }
            }
        }
        &__keyword-area {
            margin: calc(32 / 16 * 1rem) auto 0;
            overflow: auto;
            max-width: calc(1360 / 16 * 1rem);
            @media #{$min1840} {
                margin: calc(36 / 16 * 1rem) auto 0;
                overflow: hidden;
            }
            &__scroll {
                display: flex;
                // flex-wrap: nowrap;
                gap: calc(8 / 16 * 1rem) calc(16 / 16 * 1rem);
                justify-content: flex-start;
                flex-wrap: wrap;
                white-space: nowrap;
                padding: 0 calc(20 / 16 * 1rem);
                width: calc(920 / 16 * 1rem);
                margin: 0 auto;
                @media #{$min1280} {
                    justify-content: flex-start;
                }
                @media #{$min1840} {
                    justify-content: center;
                    gap: calc(16 / 16 * 1rem);
                    padding: 0 calc(28 / 16 * 1rem);
                    width: 100%;
                }
            }
        }
        &__keyword-button {
            padding: calc(11 / 16 * 1rem) calc(24 / 16 * 1rem);
            height: calc(48 / 16 * 1rem);
            color: var(--colorCM-mode1-text-text-default);
            font-size: calc(16 / 16 * 1rem);
            line-height: calc(26 / 16 * 1rem);
            font-weight: 400;
            letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
            box-sizing: border-box;
            background: var(--colorCM-mode1-fill-fill-default3);
            border-radius: calc(100 / 16 * 1rem);
            @media #{$min1840} {
                padding: calc(24 / 16 * 1rem) calc(32 / 16 * 1rem);
                height: calc(88 / 16 * 1rem);
                font-size: calc(28 / 16 * 1rem);
                line-height: calc(40 / 16 * 1rem);
            }
        }
    }
    // Service
    .service-area {
        .service-content {
            margin-bottom: calc(96 / 16 * 1rem);
            @media #{$min1280} {
                margin-bottom: calc(160 / 16 * 1rem);
            }
        }
    }
    // News
    .news-swiper {
        .main-container {
            padding: 0 calc(20 / 16 * 1rem);
            @media #{$min1280} {
                padding: 0 calc(40 / 16 * 1rem);
                max-width: calc(1520 / 16 * 1rem);
            }
        }
        .cmp-swiper__wrap {
            padding: 0;
            margin-bottom: calc(160 / 16 * 1rem);
            .swiper-slide {
                @media #{$min1280} {
                    max-width: calc(33.33% - calc(calc(40 / 16 * 1rem) / 3));
                }
            }
        }
        &__container {
            display: flex;
            flex-direction: column;
            gap: calc(24 / 16 * 1rem);
            @media #{$min1280} {
                gap: calc(20 / 16 * 1rem);
            }
        }
        &__image {
            border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
            overflow: hidden;
            @media #{$min1280} {
                border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
            }
            img {
                width: 100%;
            }
        }
        &__desc {
            @include ellipsis(2);
            margin-top: calc(12 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: calc(8 / 16 * 1rem);
            }
        }
        &__category {
            display: block;
            margin-top: calc(16 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: calc(12 / 16 * 1rem);
            }
        }
        &__navigation-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            @media #{$min1280} {
                gap: calc(16 / 16 * 1rem);
            }
        }
        &__navigation {
            width: calc(40 / 16 * 1rem);
            height: calc(40 / 16 * 1rem);
            border-radius: 50%;
            border: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-icon-icon-default);
            box-sizing: border-box;
            @media #{$min1280} {
                width: calc(48 / 16 * 1rem);
                height: calc(48 / 16 * 1rem);
            }
            &--prev {
                .ico {
                    &--default {
                        transform: rotate(180deg);
                    }
                }
            }
            &--next {
                .ico {
                    &--disabled {
                        transform: rotate(180deg);
                    }
                }
            }
            .ico {
                display: inline-flex;
                &--disabled {
                    display: none;
                }
            }
            &:after {
                display: none;
            }
            &:disabled {
                border: calc(1 / 16 * 1rem) solid #F0F1F3;
                .ico {
                    display: none;
                    &--disabled {
                        display: inline-flex;
                    }
                }
            }
        }
    }
    // Button Banner
    .button-banner {
        background-color: #F5F7F9;
        .main-container {
            position: relative;
            padding: calc(80 / 16 * 1rem) 0 calc(134 / 16 * 1rem);
            background-image: url('#{$basePath}image/main/bg_main_button-banner_mo.png');
            background-repeat: no-repeat;
            background-position: 100% 0;
            background-size: contain;
            @media #{$min1280} {
                background-image: url('#{$basePath}image/main/bg_main_button-banner_pc.png');
                padding: calc(80 / 16 * 1rem) 0 calc(136 / 16 * 1rem);
            }
        }
        &__box {
            padding: 0 calc(20 / 16 * 1rem);
            margin: 0 auto;
            @media #{$min1280} {
                max-width: calc(1520 / 16 * 1rem);
                padding: 0 calc(40 / 16 * 1rem);
            }
        }
        &__navigation {
            margin-top: calc(24 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: calc(27 / 16 * 1rem);
            }
            .btn {
                padding: 0;
                &__text {
                    font-size: calc(var(--typo-mo-size-head-sm-mode) / 16 * 1rem);
                    line-height: calc(var(--typo-mo-line-height-head-sm-mode) / 16 * 1rem);
                    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
                    @media #{$min1280} {
                        font-size: calc(var(--typo-pc-size-head-sm-mode) / 16 * 1rem);
                        line-height: calc(var(--typo-pc-line-height-head-sm-mode) / 16 * 1rem);
                    }
                }
            }
        }
        .button__wrap--btn-top {
            position: absolute;
            right: calc(20 / 16 * 1rem);
            bottom: calc(20 / 16 * 1rem);
            @media #{$min1280} {
                display: none;
            }
        }
    }
    // 효과
    .active-effect {
        &:has(.fade-in-bottom) {
            overflow: hidden;
        }
        &.fade-in {
            .active-effect__item {
                opacity: 0;
                animation: fadeIn 1s ease-in-out forwards;
                transition: opacity 1s;
            }
        }
        &.fade-in-bottom {
            .active-effect__item {
                animation: fadeInUp 1s ease-in-out forwards;
                transition: opacity 1s, transform 1s;
            }
        }
        &.fade-in-right {
            .active-effect__item {
                animation: fadeInRight 1s ease-in-out forwards;
                transition: opacity 1s, transform 1s;
                
            }
        }
    }
    .fade-in {
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        transition: all 1s;
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translateY(10px);
            }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            transform: translateX(300px);
            }
        10% {
            opacity: 0;
            transform: translateX(300px);
            }
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            }
        100% {
            opacity: 1;
        }
    }

    @media #{$min1280} {
        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(100px);
                }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}