// .main {
//     &-visual {
//         &__wrap {
//             width: 100%;
//             background-image: url("#{$basePath}main/bg_main_hero_pc.png");
//             background-size: cover;
//             background-position: center center;
//             background-repeat: no-repeat;
//             padding-top: calc(80 / 16 * 1rem);
//             @media #{$phone} {
//                 background-image: url("#{$basePath}main/bg_main_hero_mo.png");
//                 background-position: top center;
//             }
//             .slogan-swiper {
//                 padding: calc(28 / 16 * 1rem) 0;
//                 margin: 0;
//                 width: 100%;
//                 max-width: none;
//                 border-bottom: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-trans-w20);
//             @media #{$phone} {
//                 padding-top: calc(14 / 16 * 1rem);
//                 padding-bottom: calc(14 / 16 * 1rem);
//             }
//             .swiper {
//                 margin: 0 auto;
//                 &-wrapper {
//                     margin: 0;
//                     flex-shrink: 1;
//                 }
//                 &-slide {
//                     color: var(--colorCM-mode1-text-text-on-bg);
//                     text-align: center;
//                 }
//                 &-button {
//                     &-wrap {
//                         position: absolute;
//                         top: 0;
//                         left: 50%;
//                         transform: translateX(-50%);
//                         display: flex;
//                         justify-content: space-between;
//                         align-items: center;
//                         width: 100%;
//                         height: 100%;
//                         z-index: 1;
//                         max-width: calc(1920 / 16 * 1rem);
//                         padding: 0 calc(80 / 16 * 1rem);    
//                         @media #{$pcMiddle} {
//                             padding: 0 calc(40 / 16 * 1rem);   
//                         }
//                         @media #{$tablet} {        
//                             padding: 0 calc(32 / 16 * 1rem);  
//                         }
//                         @media #{$tabletMini} {
//                             padding: 0 calc(32 / 16 * 1rem);             
//                         }        
//                         @media #{$phone} {
//                             padding: 0 calc(20 / 16 * 1rem);  
//                         }  
//                     }
//                     &-prev, &-next {
//                         position: static;
//                         width: calc(24 / 16 * 1rem);
//                         height: calc(24 / 16 * 1rem);
//                         margin-top: 0;
//                         background-image: url("#{$basePath}icon/icon_arrow_wt16.svg");
//                         background-repeat: no-repeat;
//                         background-size: contain;
//                         &::after {
//                         content: none;
//                         }
//                     }
//                     &-prev {
//                         transform: rotate(180deg);
//                     }
//                 }
//             }
//             }
//         }
//         &__flex {
//             display: flex;
//             height: calc(908 / 16 * 1rem);
//             margin: 0 auto;
//             max-width: calc(1920 / 16 * 1rem);
//             padding: 0 calc(80 / 16 * 1rem);
//             @media #{$pcMiddle} {
//                 padding: 0 calc(40 / 16 * 1rem);   
//             }
//             @media #{$tablet} {        
//                 padding: 0 calc(32 / 16 * 1rem);  
//             }
//             @media #{$tabletMini} {
//                 padding: 0 calc(32 / 16 * 1rem);             
//             }        
//             @media #{$phone} {
//                 padding: 0;  
//             }  
//             & > div:first-child {
//                 width: 100%;
//                 flex-basis: calc(1200 / 16 * 1rem);
//                 @media #{$phone} {
//                     padding: calc(20 / 16 * 1rem);
//                     flex-basis: auto;
//                 }
//             }
//             & > div:last-child {
//                 flex-basis: calc(560 / 16 * 1rem);
//                 width: 100%;
//                 padding-left: calc(40 / 16 * 1rem);
//                 border-left: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-trans-w20);
//                 @media #{$phone} {
//                     padding: calc(20 / 16 * 1rem);
//                     flex-basis: auto;
//                     border-top: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-trans-w20);
//                     border-left: none;
//                 }
//             }
//             @media #{$phone} {
//                 flex-direction: column;
//                 height: auto;
//             }
//         }
//     }

//     &-search {
//         display: flex;
//         flex-direction: column;
//         padding: calc(80 / 16 * 1rem) calc(40 / 16 * 1rem);
//         &__wrap {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             width: 100%;
//             height: calc(1080 / 16 * 1rem);
//             background-color: var(--colorCM-mode1-background-background-default2);
//             @media #{$phone} {
//                 height: auto;
//             }
//         }
//         & > .font-bold {
//             margin-bottom: calc(60 / 16 * 1rem);
//             @media #{$phone} {
//                 margin-bottom: calc(24 / 16 * 1rem);
//             }
//         }
//         & > .form-element__wrap {
//             margin-bottom: calc(20 / 16 * 1rem);
//             @media #{$phone} {
//                 height: auto;
//             }
//         }
//         &__result {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: calc(27 / 16 * 1rem) calc(20 / 16 * 1rem);
//             background-color: var(--colorCM-mode1-background-background-default0);
//             @media #{$phone} {
//                 padding: calc(6 / 16 * 1rem) calc(8 / 16 * 1rem);
//             }
//             &-wrap {
//             display: grid;
//             grid-template-columns: repeat(4, 1fr);
//             gap: #{$gap-margin};
//             margin-top: calc(20 / 16 * 1rem);
//                 @media #{$phone} {
//                     grid-template-columns: repeat(2, 1fr);
//                 }
//             }
//         }
//     }

//     // 검토중인 영역이라 임시로 높이값 + 배경색만 적용
//     // 메인 페이지 디자인이 미완료라서 영역확인을 위해 임시 스타일 지정
//     &-service {
//         &__wrap {
//             width: 100%;
//             height: calc(1080 / 16 * 1rem);
//             background-color: var(--colorCM-mode1-fill-fill-default10);
//             @media #{$phone} {
//                 height: calc(332 / 16 * 1rem);
//             }
//         }
//     }

//     &-now {
//         &__wrap {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             width: 100%;
//             padding: calc(150 / 16 * 1rem);
//             background-color: var(--colorCM-mode1-background-background-default0);
//             @media #{$phone} {
//                 height: auto;
//                 padding: calc(32 / 16 * 1rem) 0;
//             }
//             .cmp-wrap {
//                 margin-bottom: 0;
//                 &.dataList {
//                     .content-list__wrap.thumbnail-type .content-list__inner .content-info {
//                     background-color: var(--colorCM-mode1-background-background-default0);
//                     .title {
//                         @include ellipsis(1);
//                         height: calc(39 / 16 * 1rem);
//                         @media #{$phone} {
//                         height: calc(36 / 16 * 1rem);
//                         }
//                     }
//                     }
//                 }
//             }
//             .inner-wrap {
//                 @media #{$phone} {
//                     padding: 0;
//                 }
//             }
//         }
//         &-swiper {
//             max-width: none;
//             padding: 0;
//             @media #{$pcMiddle} {
//                 max-width: none;
//                 padding: 0;
//             }
//             @media #{$tablet} {
//                 max-width: none;
//                 padding: 0;
//             }
//             @media #{$tabletMini} {
//                 max-width: none;
//                 padding: 0;
//             }
//             @media #{$phone} {
//                 max-width: none;
//                 padding: 0;
//             }
//             &__top {
//                 display: flex;
//                 justify-content: space-between;
//                 gap: calc(24 / 16 * 1rem);
//                 align-items: center;
//                 margin-bottom: calc(40 / 16 * 1rem);
//                 @media #{$phone} {
//                     margin-bottom: calc(20 / 16 * 1rem);
//                     padding: 0 calc(20 / 16 * 1rem);
//                 }
//             }
//             .swiper {
//                 &-wrapper {
                    
//                 }
//                 &-slide {
//                     @media #{$phone} {
//                     width: 69.16666666667%;
//                     }
//                 }
//                 &-button {
//                     &-wrap {  
//                         display: flex;
//                         gap: calc(8 / 16 * 1rem);
//                         height: fit-content;
//                     }
//                     &-prev, &-next {
//                         position: static;
//                         width: calc(64 / 16 * 1rem);
//                         height: calc(64 / 16 * 1rem);
//                         margin-top: 0;
//                         background-image: url("#{$basePath}icon/btn_swiper_on.svg");
//                         &::after {
//                             content: none;
//                         }
//                     }
//                     &-prev {
//                         transform: rotate(180deg);
//                         &.swiper-button-disabled {
//                             transform: rotate(0deg);
//                         }
//                     }
//                     &-disabled {
//                         background-image: url("#{$basePath}icon/btn_swiper_off.svg");
//                         opacity: 1;
//                         &.swiper-button-next {
//                             transform: rotate(180deg);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
.main {
    --notice-border-color-mode : rgba(255,255,255,0.20);
    --banner-color-mode: var(--colorCM-mode1-text-text-on-bg);
    --banner-color-display-white: block;
    --banner-color-display-black: none;
    &-content__inner {
        &.color-mode-white {
            --banner-color-mode: var(--colorCM-mode1-text-text-on-bg);
            --banner-color-display-white: block;
            --banner-color-display-black: none;
            --notice-border-color-mode : rgba(255,255,255,0.20);
        }
        &.color-mode-black {
            --banner-color-mode: var(--colorCM-mode1-text-text-default);
            --banner-color-display-white: none;
            --banner-color-display-black: block;
            --notice-border-color-mode : rgba(0,0,0,0.10);
        }
    }
    &-container {
        position: relative;
        padding: 0 calc(20 / 16 * 1rem);
        margin: 0 auto;
        @media #{$min1280} {
            padding: 0 calc(40 / 16 * 1rem);
            max-width: calc(1920 / 16 * 1rem);
        }
    }
    .interactive-hero {
        &.hero-style-01 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero01);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero01);
                    }
                }
            }
        }
        &.hero-style-02 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero02);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero02);
                    }
                }
            }
        }
        &.hero-style-03 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero03);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero03);
                    }
                }
            }
        }
        &.hero-style-04 {
            .interactive-swiper {
                background: var(--colorCM-mode1-hero-hero04);
                .cmp-swiper__wrap {
                    .swiper-slide {
                        background: var(--colorCM-mode1-hero-hero04);
                    }
                }
            }
        }
        &.has-notice {
            .interactive-swiper {
                padding-top: calc(104 / 16 * 1rem);
                @media #{$min1280} {
                    padding-top: calc(152 / 16 * 1rem);
                }
            }
        }
    }
    .interactive-swiper {
        position: relative;
        padding-top: calc(54 / 16 * 1rem);
        padding-bottom: calc(56 / 16 * 1rem);
        border-radius: calc(24 / 16 * 1rem);
        overflow: hidden;
        margin-bottom: calc(24 / 16 * 1rem);
        @media #{$min1280} {
            padding-top: calc(88 / 16 * 1rem);
            // padding-bottom: calc(249 / 16 * 1rem);
            padding-bottom: calc(223 / 16 * 1rem);
            border-radius: calc(var(--radius-mode1-x-l) / 16 * 1rem);
        }
        .cmp-swiper__wrap {
            padding: 0;
            margin-bottom: 0;
            max-width: 100%;
            .swiper-wrapper {
                margin-bottom: 0;
                .swiper-slide {
                    opacity: 0;
                    transition: opacity 1s ease;
                    &.swiper-slide-active {
                        opacity: 1;
                    }
                }
            }
        }
        &__container {
            display: flex;
            flex-direction: column-reverse;
            @media #{$min1280} {
                flex-direction: row;
                justify-content: flex-end;
            }
        }
        &__text-box {
            text-align: center;
            padding: calc(40 / 16 * 1rem) calc(20 / 16 * 1rem) 0;
            @media #{$min1280} {
                position: absolute;
                top: calc(16 / 16 * 1rem);
                left: calc(96 / 16 * 1rem);
                padding: 0 0;
                text-align: left;
            }
        }
        &__title {
            color: var(--banner-color-mode);
            .display-pc {
                display: none;
                @media (min-width: 1600px) {
                    display: block;
                }
            }
        }
        &__desc {
            margin-top: calc(12 / 16 * 1rem);
            color: var(--banner-color-mode);
            @media #{$min1280} {
                margin-top: calc(24 / 16 * 1rem);
            }
        }
        &__button {
            justify-content: center;
            margin-top: calc(18 / 16 * 1rem);
            @media #{$min1280} {
                justify-content: flex-start;
                margin-top: calc(32 / 16 * 1rem);
            }
            .btn {
                border-color: var(--banner-color-mode);
                &__text {
                    color: var(--banner-color-mode);
                }
            }
            .ico {
                &--color-white {
                    display: var(--banner-color-display-white);
                }
                &--color-black {
                    display: var(--banner-color-display-black);
                }
            }
        }
        &__frame {
            &--video {
                max-width: calc(1200 / 16 * 1rem);
                display: flex;
                justify-content: flex-end;
                @media (min-width: 1000px) {
                    margin-bottom: calc(26 / 16 * 1rem);
                }
                video {
                    margin-right: 0;
                    width: 100%;
                    @media (min-width: 1000px) {
                        width: 80%;
                    }
                    @media (min-width: 1400px) {
                        width: 80%;
                    }
                    @media (min-width: 1600px) {
                        width: 100%;
                    }
                }
            }
            &--image {
                margin: 0 calc(22 / 16 * 1rem);
                border: calc(3 / 16 * 1rem) solid var(--colorCM-mode1-stroke-stroke-default0);
                border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
                overflow: hidden;
                box-sizing: border-box;
                aspect-ratio: 270 / 150;
                @media #{$min1280} {
                    aspect-ratio: 820 / 458;
                    margin: 0 0 calc(80 / 16 * 1rem);;
                    width: calc(840 / 16 * 1rem);
                    height: calc(478 / 16 * 1rem);
                    border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
                    border: calc(10 / 16 * 1rem) solid rgba(255,255,255,0.60);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        &__slide {
            transition: all 3s;
            // News Image Hero
            &--news {
                .interactive-swiper__container {
                    @media #{$min1280} {
                        justify-content: space-between;
                        gap: calc(85 / 16 * 1rem);
                        padding: 0 calc(107 / 16 * 1rem) 0 calc(96 / 16 * 1rem);
                    }
                }
                .interactive-swiper__text-box {
                    position: relative;
                    top: initial;
                    left: initial;
                    @media #{$min1280} {
                        max-width: calc(652 / 16 * 1rem);
                    }
                }
            }
        }
    }
    .notice-swiper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: calc(1920 / 16 * 1rem);
        .cmp-swiper__wrap {
            padding: 0 calc(40 / 16 * 1rem);
            max-width: none;
            width: 100%;
            @media #{$min1280} {
                padding: 0 calc(80 / 16 * 1rem);
            }
            .swiper {
                border-bottom: calc(1.5 / 16 * 1rem) solid var(--notice-border-color-mode);
            }
            .swiper-wrapper {
                margin-bottom: 0;
            }
            .swiper-slide {
                padding: calc(18 / 16 * 1rem) 0;
                @media #{$min1280} {
                    padding: calc(27 / 16 * 1rem) 0;
                }
            }
        }
        &__text {
            color: var(--banner-color-mode);
        }
        &__navigation {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            &--prev {
                left: 0;
            }
            &--next {
                right: 0;
            }
            .ico {
                &--color-white {
                    display: var(--banner-color-display-white);
                }
                &--color-black {
                    display: var(--banner-color-display-black);
                }
            }
        }
    }
    .cmp-hero-navigation {
        @media #{$min1280} {
            position: absolute;
            bottom: calc(40 / 16 * 1rem);
            left: 50%;
            padding: 0 calc(80 / 16 * 1rem);
            max-width: calc(1920 / 16 * 1rem);
            width: 100%;
            transform: translateX(-50%);
            opacity: 0;
        }
    }
    .news-swiper {
        .main-container {
            padding: 0 calc(20 / 16 * 1rem);
            @media #{$min1280} {
                padding: 0 calc(40 / 16 * 1rem);
                max-width: calc(1520 / 16 * 1rem);
            }
        }
        .cmp-swiper__wrap {
            padding: 0;
            .swiper-slide {
                @media #{$min1280} {
                    max-width: calc(33.33% - calc(calc(40 / 16 * 1rem) / 3));
                }
            }
        }
        &__container {
            display: flex;
            flex-direction: column;
            gap: calc(24 / 16 * 1rem);
            @media #{$min1280} {
                gap: calc(20 / 16 * 1rem);
            }
        }
        &__image {
            border-radius: calc(var(--radius-mode1-m) / 16 * 1rem);
            overflow: hidden;
            @media #{$min1280} {
                border-radius: calc(var(--radius-mode1-l) / 16 * 1rem);
            }
        }
        &__desc {
            @include ellipsis(2);
            margin-top: calc(12 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: calc(8 / 16 * 1rem);
            }
        }
        &__category {
            display: block;
            margin-top: calc(16 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: calc(12 / 16 * 1rem);
            }
        }
        &__navigation-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
            @media #{$min1280} {
                gap: calc(16 / 16 * 1rem);
            }
        }
        &__navigation {
            width: calc(40 / 16 * 1rem);
            height: calc(40 / 16 * 1rem);
            border-radius: 50%;
            border: calc(1 / 16 * 1rem) solid var(--colorCM-mode1-icon-icon-default);
            box-sizing: border-box;
            @media #{$min1280} {
                width: calc(48 / 16 * 1rem);
                height: calc(48 / 16 * 1rem);
            }
            &--prev {
                .ico {
                    &--default {
                        transform: rotate(180deg);
                    }
                }
            }
            &--next {
                .ico {
                    &--disabled {
                        transform: rotate(180deg);
                    }
                }
            }
            .ico {
                display: inline-flex;
                &--disabled {
                    display: none;
                }
            }
            &:after {
                display: none;
            }
            &:disabled {
                border: calc(1 / 16 * 1rem) solid #F0F1F3;
                .ico {
                    display: none;
                    &--disabled {
                        display: inline-flex;
                    }
                }
            }
        }
    }
    .button-banner {
        background-color: #F5F7F9;
        .main-container {
            position: relative;
            padding: calc(80 / 16 * 1rem) 0 calc(134 / 16 * 1rem);
            background-image: url('#{$basePath}image/main/bg_main_button-banner_mo.png');
            background-repeat: no-repeat;
            background-position: 100% 0;
            background-size: contain;
            @media #{$min1280} {
                background-image: url('#{$basePath}image/main/bg_main_button-banner_pc.png');
                padding: calc(80 / 16 * 1rem) 0 calc(136 / 16 * 1rem);
            }
        }
        &__box {
            padding: 0 calc(20 / 16 * 1rem);
            margin: 0 auto;
            @media #{$min1280} {
                max-width: calc(1520 / 16 * 1rem);
                padding: 0 calc(40 / 16 * 1rem);
            }
        }
        &__navigation {
            margin-top: calc(24 / 16 * 1rem);
            @media #{$min1280} {
                margin-top: calc(27 / 16 * 1rem);
            }
            .btn {
                padding: 0;
                &__text {
                    font-size: calc(var(--typo-mo-size-head-sm-mode) / 16 * 1rem);
                    line-height: calc(var(--typo-mo-line-height-head-sm-mode) / 16 * 1rem);
                    letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
                    @media #{$min1280} {
                        font-size: calc(var(--typo-pc-size-head-sm-mode) / 16 * 1rem);
                        line-height: calc(var(--typo-pc-line-height-head-sm-mode) / 16 * 1rem);
                    }
                }
            }
        }
        .button__wrap--btn-top {
            position: absolute;
            right: calc(20 / 16 * 1rem);
            bottom: calc(20 / 16 * 1rem);
            @media #{$min1280} {
                display: none;
            }
        }
    }
    // 효과
    .active-effect {
        overflow: hidden;
        &.fade-in-bottom {
            .active-effect__item {
                animation: fadeInUp 1s ease forwards;
                @keyframes fadeInUp {
                    0% {
                        opacity: 0;
                        transform: translateY(100px);
                        }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
    .fade-in {
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
        transition: all 1s;
        @keyframes fadeIn {
            0% {
                opacity: 0;
                }
            100% {
                opacity: 1;
            }
        }
    }
}