.contact-us {
    .sub-content__wrap {
        .inner-wrap {
            margin: 0 auto ;
            padding: calc(56/ 16 * 1rem) calc(20 / 16 * 1rem) calc(220 / 16 * 1rem);
            max-width: calc(996 / 16 * 1rem);
            @media #{$min1280} {
                padding: calc(120/ 16 * 1rem) calc(20 / 16 * 1rem) calc(280 / 16 * 1rem);
            }
            .cmp-input {
                margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
            }
        }
    }
}