.contact-us {
    &__visual-box {
        padding: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem) calc(var(--spacing-mode1-horizontal-x-l) / 16 * 1rem);
        background-color: #F5F5F5;
        margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
        @media #{$tablet} {
            margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
        }
        @media #{$phone} {
            margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
        }
    }
    .sub-content__wrap {
        .inner-wrap {
            margin: 0 auto calc(var(--spacing-mode1-vertical9-x-l) / 16 * 1rem);
            max-width: calc(1168 / 16 * 1rem);
            @media #{$pcMiddle} {
                max-width: calc(1008 / 16 * 1rem);
                margin-bottom: calc(var(--spacing-mode1-vertical7-x-l) / 16 * 1rem);
            }
            @media #{$tablet} {
                max-width: calc(896 / 16 * 1rem);
                margin-bottom: calc(var(--spacing-mode1-vertical6-x-l-nudge) / 16 * 1rem);
            }
            @media #{$phone} {
                margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
            }
            .cmp-input__wrap {
                margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
                @media #{$tabletMini} {
                    margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                }
                @media #{$phone} {
                    margin-bottom: calc(var(--spacing-mode1-vertical2-x-l) / 16 * 1rem);
                }
            }
            .check-box-container {
                .cmp-form-group{
                    .cmp-input__wrap{
                        margin-bottom: 0;
                    }
                }
                // width: 100%;
                // height: calc(148 / 16 * 1rem);
                // background-color: lightgray;
                // margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
            }
        }
    }
}