.bizinfo- {
    &comp-ovw {
        .inner-wrap {
            &.wide {
                .cmp-image-box {
                    padding: 0;
                    max-width: calc(1920 / 16 * 1rem);
                }
            }
        }
    }
    &ceo {
        &__container {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            gap: calc(98 / 16 * 1rem);
            margin: 0 auto;
            padding: calc(56 / 16 * 1rem) 0 calc(220 / 16 * 1rem);
            @media #{$min1280} {
                padding: calc(120 / 16 * 1rem) 0 calc(280 / 16 * 1rem);
            }
        }
        .mobile-image {
            display: block;
            margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
            @media #{$min1280} {
                display: none;
            }
        }
        .pc-image {
            display: none;
            @media #{$min1280} {
                display: block;
                min-width: calc(512 / 16 * 1rem);
            }
        }
        .title {
            display: block;
            font-size: calc(34 / 16 * 1rem);
            line-height: calc(42 / 16 * 1rem);
            letter-spacing: calc(var(--typo-mo-letter-spacing-default) / 16 * 1rem);
            @media #{$min1280} {
                font-size: calc(58 / 16 * 1rem);
                line-height: calc(72 / 16 * 1rem);
                letter-spacing: calc(var(--typo-pc-letter-spacing-default) / 16 * 1rem);
            }
        }
        .subtitle,
        &__description {
            margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
        }
        &__signature {
            display: flex;
            align-items: center;
            .role {
                margin-right: calc(8 / 16 * 1rem);
                @media #{$min1280} {
                    margin-right: calc(20 / 16 * 1rem);
                }
            }
        }
    }

    // .bizInfo_compliance
    &compliance {
        .compliance-ceo {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            @media #{$min1280} {
                align-items: flex-end;
            }
            &__text {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: calc(var(--spacing-mode1-vertical-x-l) / 16 * 1rem);
            }
            &__signature {
                max-width: 100%;
                width: calc(272 / 16 * 1rem);
                @media #{$min1280} {
                    width: calc(358 / 16 * 1rem);
                }
            }
        }
    }
    
    //.bizInfo_financial
    &financial {
        .graph-container {
            display: grid;
            grid-template-columns: 1fr;
            justify-content: center;
            gap: calc(56 / 16 * 1rem);
            clear: both; 
            @media #{$min1280} {
                grid-template-columns: 1fr 1fr 1fr;
                gap: calc(16 / 16 * 1rem);
            }
            &__wrap {
                padding: 0;
                @media #{$min1280} {
                    padding: 0 calc(16 / 16 * 1rem) calc(16 / 16 * 1rem);
                }
            }
        }
    }

    &history {
        color: #121212;
        &__visual {
            width: 100%;
            height: 100vh;
            position: relative;
            overflow: auto;
            &--img {
                display: block;
                width: calc(1430 / 16 * 1rem);
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                z-index: -1;
                @media #{$phone} {                    
                    top: calc(100% - (372 / 16  * 1rem));
                    transform: revert;
                }
            }
            .button__wrap {
                &--scroll-down {
                    position: absolute;
                    left: 0;
                    bottom: calc(120 / 16 * 1rem);
                    @media #{$phone} {                    
                        bottom: calc(80 / 16 * 1rem);
                    }
                }
            }
        }

        &__history {
            position: relative;
            .inner-wrap {
                max-width: calc(1600 / 16 * 1rem);
                @media #{$phone} {
                    padding: 0;
                }
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url("#{$basePath}image/sub/bg_history_pc02.png");
                background-size: cover;
                background-repeat: no-repeat;
                z-index: -2;
                bottom: 0;
            }
        }

        &__textarea {
            background-color: transparent;
            height: 100vh;
            letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
            gap: calc(var(--spacing-mode1-vertical-m) / 16 * 1rem);

            display: flex;
            flex-direction: column;
            justify-content: center;

            // ::before{
            //   content: "";
            //   position: absolute;
            //   top: 0;
            //   left: 0;
            //   width: 100%;
            //   height: 100%;
            //   background-image: url(#{$basePath}image/sub/bg_history_pc01.png);
            //   background-size: cover;
            //   background-repeat: no-repeat;
            //   z-index: -1;
            // }
            @media #{$phone} {
                position: absolute;
                top: calc(120 / 16 * 1rem);
                left: calc(20 / 16 * 1rem);
                height: auto;
            }

            h2 {
                font-size: calc(var(--typo-pc-size-head-xl) / 16 * 1rem);
            }

            p {
                font-size: calc(var(--typo-pc-size-head-sm) / 16 * 1rem);
                line-height: calc(var(--typo-pc-line-height-head-sm) / 16 * 1rem);
            }
        }

        // &__scroll::before{
        //   content: "";
        //   position: fixed;
        //   top:0;
        //   left: 0;
        //   width: 100%;
        //   height: 100%;
        //   background-image: url(/src/assets/image/sub/bg_history_pc02.png);
        //   background-size: cover;
        //   background-repeat: no-repeat;
        //   z-index: -2;
        //   bottom: 0;
        // }

        &__scroll {
            display: flex;
            gap: 1rem;
            // justify-content: space-between;
            padding: calc(var(--spacing-mode1-vertical6-x-l) / 16 * 1rem) 0;
            align-items: flex-start;
            overflow: visible;
            @media #{$phone} {
                flex-direction: column;
                // align-items: center;
                padding: 0;
                gap: calc(56 / 16 * 1rem);
            }
            
            .left-section {
                position: sticky;
                top: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
                flex: 1 1 0;
                @media #{$phone} {
                    border-bottom: 1px solid #f0f1f3;
                    width: 100%;
                    padding-top: 0;
                    white-space: nowrap;
                    background-color: #fff;
                    z-index: 5;
                    top: 0;                
                    max-width: 100%;
                    overflow-x: auto;
                    overflow-y: hidden;
                    display: flex;
                    align-items: center;
                    gap: calc(40 / 16 * 1rem);
                    min-height: calc(54 / 16 * 1rem);
                    transition: top 0.5s linear;
                }

                &__item {
                    letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
                    margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);

                    @media #{$phone} {
                        margin-bottom: 0;                        
                        display: inline-block;
                        &:first-child {
                            padding-left: 20px;
                        }
                        &:last-child {
                            padding-right: 20px;
                        }
                    }
                    h3 {
                        display: block;
                        font-size: calc(var(--typo-pc-size-head-sm) / 16 * 1rem);
                        font-weight: 600;
                        opacity: 0.4;
                        line-height: calc(var(--typo-pc-line-height-head-xl) / 16 * 1rem);
                        cursor: pointer;

                        @media #{$phone} {
                            font-size: calc(var(--typo-mo-size-body-lg) / 16 * 1rem);
                            line-height: calc(51 / 16 * 1rem);
                        }
                    }
                    span {
                        font-size: calc(var(--typo-pc-size-head-lg) / 16 * 1rem);
                        font-weight: 700;
                        line-height: calc(var(--typo-pc-line-height-head-lg) / 16 * 1rem);                        
                    }
                    p {
                        font-size: calc(var(--typo-pc-size-body-xl) / 16 * 1rem);
                        font-weight: 400;
                        opacity: 0.6;
                        line-height: calc(var(--typo-pc-line-height-head-xl) / 16 * 1rem);
                    }

                    span,
                    p {
                        display: none;
                    }

                    &.active {
                        h3 {
                            display: none;

                            @media #{$phone} {
                            display: block;
                            font-weight: 700;
                            opacity: 1;
                            border-bottom: 3px solid #121212;
                            }
                        }

                        span,
                        p {
                            display: block;
                            // opacity: 1;

                            @media #{$phone} {
                            display: none;
                            }
                        }
                    }
                }
            }
        }

        .right-section {
            position: relative;
            width: 38%;

            // width: 724px;
            // overflow: visible;
            height: auto;
            gap: calc(var(--spacing-mode1-horizontal6-x-l) / 16 * 1rem);
            @media #{$phone} {
                padding-top: calc(var(--spacing-mode1-horizontal5-x-l) / 16 * 1rem);
                width: 100%;
                padding: 0 calc(20 / 16 * 1rem) 0 calc(32 / 16 * 1rem);
            }
            
            .progress-bar {
                position: absolute;
                top: calc(37 / 16 * 1rem);
                width: calc(4 / 16 * 1rem);
                height: 100%;
                overflow: hidden;                
                background: linear-gradient(to bottom, #f0f1f3 0%, #f729c1 1%, #e156e2 35%, #c19df4 65%, #a9d7e6 100%);
                @media #{$phone} {
                    left: 32px;
                }
                .bar {
                    position: absolute;
                    bottom: 0;
                    width: calc(4 / 16 * 1rem);                    
                    background: #F0F1F3;                    
                }

                // .bar::before {
                //     content: '';
                //     position: absolute;
                //     top: -2px;
                //     width: 4px;
                //     height: 10px;
                //     background-repeat: no-repeat;
                //     background-size: contain;
                //     display: block;
                //     background-image: url('data:image/svg+xml,<svg width="2" height="1" viewBox="0 0 2 1" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M1 1C0.447754 1 0 0.552246 0 0V1H1ZM2 0C2 0.552246 1.55225 1 1 1H2V0Z" fill="%23262626"/></svg>');
                //     // background: #f729c1;
                // }
            }

            &__item {
                padding-left: calc(112 / 16 * 1rem);
                // width: calc(600 / 16 * 1rem);
                width: 100%;
                letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
                // overflow-y: auto;                

                @media #{$phone} {
                    padding-left: calc(36 / 16 * 1rem);
                    width: 100%;
                }

                .events {
                    margin-bottom: calc(var(--spacing-mode1-vertical6-x-l-nudge) / 16 * 1rem);

                    .event-month {
                        opacity: 0.4;
                        margin-bottom: 6px;
                        font-size: calc(var(--typo-pc-size-body-xs) / 16 * 1rem);
                        line-height: calc(var(--typo-pc-line-height-head-xs) / 16 * 1rem);
                    }

                    .event-desc-container {
                        display: flex;
                        gap: calc(20 / 16 * 1rem);
                        justify-content: space-between;

                        :has(.event-image) {
                            justify-content: center;
                        }
                    }

                    .event-desc {
                        flex: 1;
                        font-size: calc(var(--typo-pc-size-body-lg) / 16 * 1rem);
                        font-weight: 600;
                        line-height: calc(var(--typo-pc-line-height-body-lg) / 16 * 1rem);
                        margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
                    }
                }

                .year-container {
                    position: relative;
                    span {
                        display: contents;
                        // color: #F729C1;
                        font-size: calc(var(--typo-pc-size-head-2xl) / 16 * 1rem);
                        font-weight: 800;
                        
                    }
                    .year-title {
                        font-size: calc(78 / 16 * 1rem);
                        line-height: calc(94 / 16 * 1rem);
                        font-weight: 800;
                        color: rgba($color: #8E8E8E, $alpha: 0.3);
                    }

                    .circle-container {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate(-122px, -50%);
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;                       
                        &::before {
                            content: '';
                            position: absolute;
                            display: block;
                            width: 16px;
                            height: 16px;
                            background: #f0f1f3;
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        // &.active {
                        //     border-color: #e156e2;
                        //     box-shadow: 0 0 8px;
                        //     &::before {
                        //         background-color: #e156e2;
                        //     }
                        // }

                        // display: flex;
                        // align-items: center;
                        // justify-content: center;
                        margin-right: calc(var(--spacing-mode1-horizontal6-x-l) / 16 * 1rem);                        


                        @media #{$phone} {
                            left: 0;
                            transform: translate(-46px, -50%);
                        }
                        //엘리먼트 제거 ㅜㅠ
                        .outer-glow {
                          // width: 36px;
                          // height: 36px;
                          // background-color: #F729C1;
                          opacity: 0.5;
                          border-radius: 50%;
                          position: absolute;
                          // filter: blur(12px);
                        }

                        .outer-circle {
                          width: 25px;
                          height: 25px;
                          border: 2px solid #f0f1f3;
                          border-radius: 50%;
                          position: absolute;
                          display: flex;
                          align-items: center;
                          top: 0;
                          left: 0;
                          align-items: center;
                          justify-content: center;
                          background-color: #fff;
                        }

                        .inner-circle {
                          width: 15px; /* 7.5(radius) * 2 */
                          height: 15px;
                          background-color: #f0f1f3;
                          border-radius: 50%;
                        }
                    }
                }

                .event-image {
                    width: 72px;
                    height: 72px;
                    flex-shrink: 0;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }
        }
    }
    // .bizinfo-mgmt-info
    &mgmt-info {
        .cmp-accordion {
            .accordion-list {
                .terms_orderList {
                    li {
                        margin-left: calc(28 / 16 * 1rem);
                        padding: 0;
                        border-bottom: none;
                    }
                }
            }
        }
    }

    &jungdo-mgmt {
        .cmp_imageltem__wrap {
            .cmp_imageitem {
                .button__wrap {
                    justify-content: flex-start;
                    .btn {
                        width: 100%;
                        @media #{$min1280} {
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }

    &grow-fair {
        .cmp-table__wrap {
            .unit-text {
                @media #{$min1280} {
                    text-align: right;
                }
            }
            .data-table td {
                position: relative;
                ul li {
                    position: relative;
                    padding-left: calc(27 / 16 * 1rem);
                    &::before {
                        content: '';
                        position: absolute;
                        width: calc(4 / 16 * 1rem);
                        height: calc(4 / 16 * 1rem);
                        background-color: var(--colorCM-mode1-background-background-default7);
                        border-radius: 50%;
                        top: calc(10 / 16 * 1rem);
                        left: calc(12.5 / 16 * 1rem);
                    }
                }
            }
        }
    }

    // LGWay 관련 스타일
    &LG-way {
        background-color: #ffffff;
        color: #121212;
        &__section {
            display: flex;
            align-items: center;
            @media #{$phone} {
                padding-top: calc((var(--spacing-mode1-vertical5-x-l)) / 16 * 1rem);
                align-items: flex-start;
            }
            &--01 {
                @media #{$phone} {
                    padding-top: calc(56 / 16 * 1rem);
                    align-items: flex-start;
                }
                .inner-wrap {
                    z-index: 10;
                }  
            }
            &.full-sec {
                position: relative;
                height: 100%;
                @media #{$phone} {
                    height: auto;
                }
            }
            &.last-sec {
                padding-top: 0;
                .cmp-buttonbanner {
                    .inner-wrap {
                        display: block;
                        transform: none;
                        align-items: unset;
                    }
                    .banner_content {
                        .cmp-buttonbanner-title {
                            width: 75%;
                            @media #{$min1280} {
                                width: 54.1%;
                            }
                        }
                    }
                }
            }
            .inner-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transform: translateY(-20%);
                @media #{$phone} {
                    flex-direction: column;
                    transform: revert;
                }
                .button__wrap {
                    // width: fit-content;
                }
            }
            .button__wrap {
                &--scroll-down {
                    position: fixed;
                    left: 50%;
                    bottom: calc(140 / 16 * 1rem);
                    transform: translateX(-50%);
                    z-index: 50;
                    @media #{$phone} {
                        bottom: calc(80 / 16 * 1rem);
                    }
                    button {
                        cursor: pointer;
                    }
                    .ico {
                        @media #{$phone} {
                            width: calc(60 / 16 * 1rem);
                            min-width: calc(60 / 16 * 1rem);
                            height: calc(60 / 16 * 1rem);                            
                        }
                    }
                }
                &--detail {
                    position: relative;
                    .btn {
                        justify-content: space-between;
                        align-items: center;
                        padding-right: 64px;                     
                        min-width: calc(160 / 16 * 1rem);
                        height: calc(64 / 16 * 1rem);
                        @media #{$phone} {
                            padding-right: 38px;
                            min-width: 8.4rem;
                            height: calc(48 / 16 * 1rem);
                        }
                        &__text {
                            font-size: calc(20 / 16 * 1rem);
                            line-height: calc(34 / 16 * 1rem);
                            font-weight: 500;
                            letter-spacing: -0.2px;
                            @media #{$phone} {
                                font-size: calc(16 / 16 * 1rem);
                                line-height: calc(26 / 16 * 1rem);                                
                                font-weight: 400;
                            }
                        }
                        &-arrow__icon {
                            position: absolute;
                            top: 50%;
                            right: calc(24 / 16 * 1rem);
                            transform: translateY(-51%);
                            width: calc(40 / 16 * 1rem);
                            height: calc(40 / 16 * 1rem);
                            display: inline-block;
                            background-image: url("#{$basePath}image/icon/ico_arrow_right_bl64.svg");
                            background-repeat: no-repeat;
                            background-position: center center;
                            //background-color: var(--colorCM-mode1-icon-icon-on-bg);                        
                            @media #{$phone} {
                                width: calc(20 / 16 * 1rem);
                                height: calc(20 / 16 * 1rem);
                                right: calc(24 / 16 * 1rem);
                            }
                        }
                    }                    
                }
            }
        }
        &__container {
            position: relative;
            overflow: hidden;
        }
        .full-sec__pagination {
            position: fixed;
            right: calc(60 / 16 * 1rem);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            gap: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
            opacity: 0;
            z-index: 1;
            &.is-active {
                opacity: 1;
            }
            &.is-last {
                position: absolute;
                top: auto;
                bottom: calc(100vh / 2);
                opacity: 1;
                transform: translateY(50%);
            }
            &--item {
                padding: calc(5 / 16 * 1rem) calc(19 / 16 * 1rem);
                border: calc(1 / 16 * 1rem) solid var(--colorGL-all-black100);               
                border-radius: calc(50 / 16 * 1rem);
                &:not(.is-active) {
                    font-size: 0;
                    width: calc(10 / 16 * 1rem);
                    height: calc(10 / 16 * 1rem);
                    padding: 0;
                    background-color : var(--colorGL-all-grey200);
                    border: 0;
                }
            }
            @media #{$phone} {
                display: none;
            }
        }
        .full-sec__img {
            
            @media #{$pcMiddle} {
                width: 63.15789473684%;
            }
            @media #{$phone} {
                width: 144.44444444444%;
            }
            &.is-active {
                opacity: 1;
            }
            &.is-last {
                bottom: 0;
                opacity: 1;
            }
        }
        &__textarea {
            .font-head-lg {
                margin-bottom: calc(var(--spacing-mode1-vertical-l) / 16 * 1rem);
            }
            .font-head-sm,
            .font-head-xl {
                margin-bottom: calc(var(--spacing-mode1-vertical-m) / 16 * 1rem);
            }
            .font-head-sm.font-medium {
                margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
            }
            .button__wrap {
                margin-top: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
                width: fit-content;
                @media #{$phone} {
                    margin-top: calc(var(--spacing-mode1-vertical2-x-l) / 16 * 1rem);
                }
                .popupBtn {
                    padding: calc(20 / 16 * 1rem);
                    border-radius: 50%;
                    overflow: hidden;
                    border: calc(1 / 16 * 1rem) solid var(--colorCM-all-stroke-stroke-default3);
                    @media #{$phone} {
                        padding: calc(12 / 16 * 1rem);
                    }
                }
            }
        }
        .LG-way-swiper {
            height: 100vh;
            background-color: #fff;
            .parallax-bg {
                &-wrap {
                    .full-sec__img {                        
                        width: calc(1480 / 16 * 1rem);
                        height: 100%;
                        margin-left: auto;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: calc(200 / 16 * 1rem);
                        bottom: 0;                        
                        background-size: contain;
                        background-position: right center; 
                        background-repeat: no-repeat;
                        background-color: #fff;
                        opacity: 0;
                        @media #{$phone}, #{$tablet} {
                            width: 100%;
                            display: block;
                            right: 0;
                            transform: translateY(calc(80 / 16 * 1rem))
                        }
                        &.is-active {
                            opacity: 1;
                            transition: opacity 0.5s;

                        }
                        &--01 {
                            background-image: url(#{$basePath}image/sub/bg_lgway_sec02.png);
                        }
                        &--02 {
                            background-image: url(#{$basePath}image/sub/bg_lgway_sec03.png);
                        }
                        &--03 {
                            background-image: url(#{$basePath}image/sub/bg_lgway_sec04.png);
                        }
                    }
                }
            }
            .swiper-slide {
                .bizinfo-LG-way {                    
                    &__textarea {
                        width: 100%;
                        margin-right: auto;
                    }
                }
                &:first-child {
                    .bizinfo-LG-way__section__img {
                        position: static;
                        width: 100%;
                        height: 100%;
                        @media #{$phone} {
                            margin-top: calc(40 / 16 * 1rem);
                        }
                        img {
                            // min-width: calc(837 / 16 * 1rem);
                            height: auto;
                            @media #{$phone}, #{$tablet} {                            
                                min-width: 100%;
                            }
                        }
                    }
                }                
            }            
        }
    }
    // LGWay modal 관련 스타일
    &modal-way {
        .modal {
            &__container {
                background-image: url(#{$basePath}image/sub/bg_lgway_modal_img.png);
                color: #fff;
            }
            &__content {
                padding-bottom: 6rem;
            }
            &__body {
                &--content {
                    &__title {
                        h2 {
                            margin-bottom: 1rem;
                        }
                        &::after {
                            content: "";
                            width: 100%;
                            height: calc(2 / 16 * 1rem);
                            display: block;
                            background-color: #F0F1F3;
                            opacity: 0.4;
                            margin: calc(48 / 16 * 1rem) 0;
                            @media #{$min1280} {
                                margin: calc(80 / 16 * 1rem) 0;
                            }
                        }
                    }
                    &__detail {
                        h2 {
                            margin-bottom: calc(24 / 16 * 1rem);
                            @media #{$min1280} {
                                margin-bottom: calc(32 / 16 * 1rem);
                            }
                        }
                        &__list {                         
                            padding-bottom: 0;
                            @media #{$min1280} {
                                display: flex;
                                gap: calc(24 / 16 * 1rem);                                
                                padding-bottom: calc(80 / 16 * 1rem);
                            }
                            &__item {
                                text-align: center;
                                width: 100%;
                                padding-bottom: calc(40 / 16 * 1rem);
                                @media #{$min1280} {
                                    text-align: left;
                                    flex-grow: 1;
                                    width: calc(100% / 2 - calc(24 / 16 * 1rem));
                                    padding-bottom: 0;
                                }
                                p {
                                    &:before {
                                        content: "";
                                        width: calc(40 / 16 * 1rem);
                                        height: calc(3 / 16 * 1rem);
                                        display: block;
                                        background-color: #AFAFAF;
                                        margin: calc(24 / 16 * 1rem) auto;
                                        @media #{$min1280} {
                                            margin: calc(24 / 16 * 1rem) 0;
                                        }
                                    }
                                }
                            }
                        }
                        &:not(.card-type) {
                            @media #{$min1280} {
                                padding-top: calc(36 / 16 * 1rem);
                            }
                        }
                        &.card-type {
                            // pc
                            @media #{$min1280} {
                                &__item {
                                    width: calc(100% / 3 - calc(16 / 16 * 1rem));
                                    margin-bottom: 0;
                                }
                                .modal__body--content__detail__list {
                                    &__group {
                                        .modal__body--content__detail__list { 
                                            padding-bottom: calc(16 / 16 * 1rem);
                                        }
                                    }
                                }
                            }
                            .modal__body--content__detail__list {
                                gap: calc(16 / 16 * 1rem);
                                &__item {
                                    width: 100%;
                                    padding: calc(28 / 16 * 1rem);
                                    border-radius: calc(20 / 16 * 1rem);
                                    background:rgba(255, 255, 255, 0.08);
                                    backdrop-filter: blur(calc(40 / 16 * 1rem));
                                    margin-bottom: calc(16 / 16 * 1rem);
                                    text-align: left;
                                    p {
                                        &:before {
                                            display: none;
                                        }
                                    }
                                    .description {
                                        margin-top: calc(16 / 16 * 1rem);
                                        p:not(:last-child) {
                                            margin-bottom: calc(6 / 16 * 1rem);
                                        }
                                    }                                
                                }
                                &__group {
                                    margin-top: calc(48 / 16 * 1rem);
                                }
                            }
                        }
                        &.diagram-type {
                            display: flex;
                            justify-content: center;
                            .modal__body--content__detail__list {
                                gap: 0;                                
                                display: flex;
                                flex-direction: column;
                                max-width: 100%;                               
                                &__item {
                                    padding-bottom: 0;
                                    border-radius: 100%;
                                    border: 1px solid #afafaf;
                                    width: calc(280 / 16 * 1rem);
                                    height: calc(280 / 16 * 1rem);
                                    text-align: center; 
                                    display: flex;      
                                    flex-direction: column;                                       
                                    align-items: center;
                                    justify-content: center;
                                    margin-top: -30px;
                                    p {
                                        padding-top: calc(12 / 16 * 1rem);
                                        &:before {
                                            display: none;
                                        }
                                    }
                                    .description {
                                        margin-top: calc(16 / 16 * 1rem);
                                        p:not(:last-child) {
                                            margin-bottom: calc(6 / 16 * 1rem);
                                        }
                                    }
                                    &:first-child {
                                        margin-top: 0;
                                    }
                                }
                                &__group {
                                    margin-top: calc(48 / 16 * 1rem);
                                }
                            }
                            @media #{$min1280} {
                                padding-top: calc(55 / 16 * 1rem);
                                .modal__body--content__detail__list {
                                    flex-direction: row;                                    
                                    max-width: 1440px;
                                    margin: 0 50px;
                                    &__item {
                                        width: calc(480 / 16 * 1rem);
                                        height: calc(480 / 16 * 1rem);
                                        margin-right: -50px;
                                        margin-top: 0;
                                        p {
                                            padding-top: calc(24 / 16 * 1rem);
                                        }
                                        &:last-child {                                            
                                            margin-right: 0;                                           
                                        }
                                    }    
                                }
                            }
                            @media #{$min720} {
                                .modal__body--content__detail__list {
                                    &__item {
                                        width: calc(480 / 16 * 1rem);
                                        height: calc(480 / 16 * 1rem);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &__close {
                .btn {
                    background: none;
                }
            }
        }
    }
    &esg {
        &__btn-wrap-download {
            &.button__wrap {
                &.align-left {
                    .btn {
                        width: fit-content;
                    }
                }
            }
        }
    }

    &ir-activity {
        color: #1a1a1a;
        &__event-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(56 / 16 * 1rem);
            justify-content: space-between;
            // grid-template-columns: auto calc(724 / 16 * 1rem);
            @media #{$min1280} {
                flex-direction: row;
                gap: calc(32 / 16 * 1rem);
            }
        }
        .cmp-select{
            margin-top: calc(var(--typo-pc-size-body-xl) / 16 * 1rem);
        }
        .event-text {
            width: 100%;
            @media #{$min1280} {
                max-width: calc(832 / 16 * 1rem);
            }
            // // position: sticky;
            // // top: 20px;
            // // z-index: 10; 
            // background: white;
            // .event-period {
            //     font-size: calc(var(--typo-pc-size-head-lg) / 16 * 1rem);
            //     line-height: calc(var(--typo-pc-line-height-head-lg) / 16 * 1rem);
            //     @media #{$phone} {
            //         font-size: calc(var(--typo-mo-size-head-lg)/16*1rem);
            //         line-height: calc(var(--typo-mo-line-height-head-lg) / 16 * 1rem);
            //     }
            // }
        }
        .events-flex {
            position: relative;
            display: flex;
            flex-direction: row;
            gap: calc(var(--spacing-mode1-horizontal6-x-l) / 16 * 1rem);

            @media #{$phone}{
                margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge)/16*1rem);
                margin-left: calc(12 / 16 * 1rem);
            }

            .progress-bar {
                position: absolute;
                width: calc(4 / 16 * 1rem);
                height: 100%;
                background: #D9D9D9;          
                overflow: hidden;
                // margin: 0 calc(16 / 16 * 1rem);

                .bar {
                    position: absolute;
                    width: calc(4 / 16 * 1rem);
                    border-radius: 2px;
                    top: 0;
                    bottom: 0;
                    background: var(--colorCM-mode1-primary-primary-enabled);
                }
            }

            .event-area{
                display: flex;
                flex-direction: column;
                gap: calc(80 / 16 * 1rem);
                margin-left: calc(36 / 16 * 1rem);
                @media #{$min1280} {
                    margin-left: calc(116 / 16 * 1rem);
                    gap: calc(120 / 16 * 1rem);
                }

                .cmp-yearevent{
                    &__month {
                        // color: var(--colorCM-mode1-text-text-tertiary);
                        color: rgba($color: #8E8E8E, $alpha: 0.3);
                        // opacity: 0.3;
                        &.active {
                            color: var(--colorCM-mode1-primary-primary-enabled);
                            // opacity: 1;
                        }

                        .circle-container {
                            position: absolute;
                            left: calc(-12 / 16 * 1rem);
                            transform: translateY(calc(var(--spacing-mode1-horizontal4-x-l) / 16 * 1rem));
                            width: 28px;
                            height: 28px;
                            border-radius: 50%;
                            border: 2px solid #D9D9D9;
                            background: #fff;
                            opacity: 1;
                            @media #{$phone} {
                                transform: translateY(calc(var(--spacing-mode1-horizontal2-x-l) / 16 * 1rem));
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                display: block;
                                width: 16px;
                                height: 16px;
                                background: #D9D9D9;
                                border-radius: 50%;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                            &.active {
                                border-color: var(--colorCM-mode1-primary-primary-enabled);
                                &::before {
                                    background-color: var(--colorCM-mode1-primary-primary-enabled);
                                }
                            }
                        }
                    }
                }
            }
        }
        &__year-container {
            // display: flex;
            margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
            // gap: calc(var(--spacing-mode1-horizontal2-x-l) / 16 * 1rem);
            span {
                font-size: calc(var(--typo-pc-size-head-md) / 16 * 1rem);
            }
            select {
                margin: auto;
                margin-left: calc(var(--spacing-mode1-horizontal2-x-l) / 16 * 1rem);
            }
        }
        .cmp-accordion {
            .cmp-event-detail__list {
                li {
                    border-bottom: 0;
                }
            }
        }
        .inner-wrap {
            &.wide {
                &:has(.button__wrap--btn-top) {
                    padding-bottom: 0;
                }
                .cmp-buttonbanner {
                    max-width: 100%;
                    margin-bottom: 0;
                    .inner-wrap {
                        max-width: calc(1440 / 16 * 1rem);
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
