.survey-form {
    .sub-content__wrap {
        .inner-wrap {
            margin: 0 auto ;
            padding: calc(56/ 16 * 1rem) calc(20 / 16 * 1rem) calc(220 / 16 * 1rem);
            max-width: calc(996 / 16 * 1rem);
            @media #{$min1280} {
                padding: calc(120/ 16 * 1rem) calc(20 / 16 * 1rem) calc(280 / 16 * 1rem);
            }
            .cmp-input {
                margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
                @media #{$min1280} {
                    margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
                }
            }
        }
    }
    &__desc {
        font-size: calc(var(--typo-pc-size-body-sm) / 16 * 1rem);
        line-height: calc(var(--typo-pc-line-height-body-sm) / 16 * 1rem);
        letter-spacing: calc(var(--typo-pc-letter-spacing-small) / 16 * 1rem);
        font-weight: 400;
    }
}