@use "sass:math";
@use "sass:map";


// px -> rem 변환 mixin (base 16px)
@function rem($px, $base: 16) {
    @return math.div($px, $base) * 1rem;
}

@function font-size($fs, $base: 16) {
    @return calc(var($fs) / 16 * 1rem);
}

//이미지 경로
$asset-paths: (
        icon: '/src/assets/image/icon/',
        sub: '/src/assets/image/sub/'
);


// @param $type: 위 맵에서 정의된 키값
// @param $name: 파일명 (확장자 제외)
// @param $ext: 확장자 (기본 'png')
@mixin image-path($type, $name, $ext: 'png') {
    $base-path: map.get($asset-paths, $type);
    @if $base-path {
        background-image: url("#{$base-path}#{$name}.#{$ext}");
    }
}

// future page
.the-future-case {
    background: var(--colorCM-mode1-background-background-default10);
}
.full-type-content__wrap {
    width: 100%;
    height: 100%;
    background: url('#{$basePath}image/sub/bg_future_pc.png') no-repeat right calc(-100 / 16 * 1rem);
    background-size: cover;
    background-attachment: fixed;
    @media #{$tabletMini} {
        background-size: 213%;
        background-position: top rem(374) center;
    }

    .future-inner__wrap {
        padding-right: calc(120 / 16 * 1rem);    
        width: 100%;
        height: 100%;
        max-width: calc(1440 / 16 * 1rem);
        gap: calc(24 / 16 * 1rem);
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;        
        position: relative;
        @media #{$pcMiddle} {
            padding: 0 calc(40 / 16 * 1rem);   
        }
        @media #{$tablet} {        
            padding: 0 calc(32 / 16 * 1rem);  
        }
        @media #{$tabletMini} {
            flex-direction: column;
            gap: 0;
            max-width: calc(768 / 16 * 1rem);  
            padding: 0 calc(32 / 16 * 1rem);
        }
        @media #{$phone} {
            padding: 0 calc(20 / 16 * 1rem);  
        }  
        
        .future-text {
            display: flex;
            width: 100%;
            max-width: calc(1440 / 16 * 1rem);
            height: 100vh;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            //color: var(--colorCM-mode1-fill-fill-default0);
            position: fixed;
            top: calc(100 / 16 * 1rem);
            left: 50%;
            transform: translateX(-50%);
            padding-left: calc(36 / 16 * 1rem);
            padding-right: calc(638 / 16 * 1rem);
            box-sizing: border-box;
            @media #{$tabletMini} {
                position: fixed;
                top: 0;
                left: 0;
                height: auto;
                max-width: 100%;
                padding: 0 calc(20 / 16 * 1rem);
                margin: rem(120) auto 0;
            }
            .description-text {
                margin-top: calc(40 / 16 * 1rem);
                word-break: keep-all;
                @media #{$tabletMini} {
                    margin-top: rem(12);
                }
            }
            .button__wrap {
                .btn {
                    width: fit-content;
                    border-color: var(--colorCM-mode1-stroke-stroke-default0);
                }
            }
        }
        .future-content {
            // width: 100%;
            //margin-top: calc(200 / 16 * 1rem);
            margin: rem(200) 0 rem(100);
            // padding-left: calc(760 / 16 * 1rem);
            @media #{$tabletMini} {
                position: relative;
                z-index: 1;
                margin:rem(826) auto rem(140);
            }
        }
    }

    //리스트 스타일 변경 start
    .cmp-future-content {
        .future-content-items {
            border-radius: rem(40);
            overflow: hidden;
            padding: 0;
            gap: 0;
            box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.15);
            max-width: calc(470 / 16 * 1rem);
            @media #{$tabletMini} {
                border-radius: rem(20);
            }

            .item-content-list {
                padding: rem(40);

                @media #{$tabletMini} {
                    padding: rem(24);
                }
            }

            & + .future-content-items {
                margin-top: rem(36);

                @media #{$tabletMini} {
                    margin-top: rem(32);
                }

            }
        }
    }

    .cate-title {
        margin-bottom: rem(20);
        word-break: keep-all;

        @media #{$tabletMini} {
            margin-bottom: rem(12);
        }
    }

    .font-body-xl {
        font-size: font-size(--typo-pc-size-head-md-mode);
        @media #{$tabletMini} {
            font-size: font-size(--typo-pc-size-body-lg);
        }
    }
    //리스트 스타일 변경 end
}