.contact-us {
    &__visual-box {
        padding: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem) 0;
        background-color: #F5F5F5;
        margin-bottom: calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
        @media #{$tablet} {
            margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
        }
        @media #{$phone} {
            margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
        }
    }
    .inner-wrap {
        .form-container {
            margin: 0 calc(296 / 16 * 1rem) calc(var(--spacing-mode1-vertical9-x-l) / 16 * 1rem);
            
            @media #{$pcMiddle} {
                margin: 0 calc(256 / 16 * 1rem) calc(var(--spacing-mode1-vertical7-x-l) / 16 * 1rem);
            }
            @media #{$tablet} {
                margin: 0 0 calc(var(--spacing-mode1-vertical6-x-l-nudge) / 16 * 1rem);
            }
            @media #{$phone} {
                margin: 0 0 calc(var(--spacing-mode1-vertical5-x-l) / 16 * 1rem);
            }
            
            .cmp-input__wrap {
                margin-bottom: calc(var(--spacing-mode1-vertical3-x-l) / 16 * 1rem);
                @media #{$tabletMini} {
                    margin-bottom: calc(var(--spacing-mode1-vertical2-x-l-nudge) / 16 * 1rem);
                }
                @media #{$phone} {
                    margin-bottom: calc(var(--spacing-mode1-vertical2-x-l) / 16 * 1rem);
                }
            }
            .check-box-container {
                width: 100%;
                height: calc(148 / 16 * 1rem);
                background-color: lightgray;
                margin-bottom: calc(var(--spacing-mode1-vertical4-x-l) / 16 * 1rem);
            }
        }
    }
}