:root {
    --typo-pc-family-head: Pretendard;
    --typo-pc-family-caption: Pretendard;
    --typo-pc-family-body: Pretendard;
    --typo-pc-weight-bold700: bold;
    --typo-pc-weight-semibold600: semibold;
    --typo-pc-weight-regular400: regular;
    --typo-pc-size-head-xl: 60;
    --typo-pc-size-head-lg: 48;
    --typo-pc-size-head-md: 40;
    --typo-pc-size-head-sm: 36;
    --typo-pc-size-head-xs: 32;
    --typo-pc-size-body-xl: 28;
    --typo-pc-size-body-lg: 24;
    --typo-pc-size-body-md: 20;
    --typo-pc-size-body-sm: 18;
    --typo-pc-size-body-xs: 16;
    --typo-pc-size-caption-xl: 14;
    --typo-pc-size-caption-lg: 13;
    --typo-pc-size-caption-md: 12;
    --typo-pc-size-caption-sm: 11;
    --typo-pc-size-caption-xs: 10;
    --typo-pc-letter-spacing-default: 0;
    --typo-pc-letter-spacing-small: -0.5;
    --typo-pc-weight-medium500: medium;
    --typo-pc-line-height-head-xl: 72;
    --typo-pc-line-height-head-lg: 57.599998474121094;
    --typo-pc-line-height-head-md: 48;
    --typo-pc-line-height-head-sm: 43.20000076293945;
    --typo-pc-line-height-head-xs: 38.400001525878906;
    --typo-pc-line-height-body-xl: 42;
    --typo-pc-line-height-body-lg: 36;
    --typo-pc-line-height-body-md: 30;
    --typo-pc-line-height-body-sm: 27;
    --typo-pc-line-height-body-xs: 24;
    --typo-pc-line-height-caption-xl: 21;
    --typo-pc-line-height-caption-lg: 19.5;
    --typo-pc-line-height-caption-md: 18;
    --typo-pc-line-height-caption-xs: 15;
    --typo-pc-line-height-caption-sm: 16.5;
    --typo-mo-family-head: Pretendard;
    --typo-mo-family-caption: Pretendard;
    --typo-mo-family-body: Pretendard;
    --typo-mo-weight-bold700: bold;
    --typo-mo-weight-semibold600: semibold;
    --typo-mo-weight-regular400: regular;
    --typo-mo-size-head-xl: 32;
    --typo-mo-size-head-lg: 32;
    --typo-mo-size-head-md: 24;
    --typo-mo-size-head-sm: 24;
    --typo-mo-size-head-xs: 22;
    --typo-mo-size-body-xl: 20;
    --typo-mo-size-body-lg: 18;
    --typo-mo-size-body-md: 16;
    --typo-mo-size-body-sm: 16;
    --typo-mo-size-body-xs: 14;
    --typo-mo-size-caption-xl: 14;
    --typo-mo-size-caption-lg: 13;
    --typo-mo-size-caption-md: 12;
    --typo-mo-size-caption-sm: 11;
    --typo-mo-size-caption-xs: 10;
    --typo-mo-letter-spacing-default: 0;
    --typo-mo-letter-spacing-small: -0.5;
    --typo-mo-weight-medium500: medium;
    --typo-mo-line-height-head-xl: 38.400001525878906;
    --typo-mo-line-height-head-lg: 38.400001525878906;
    --typo-mo-line-height-head-md: 28.799999237060547;
    --typo-mo-line-height-head-sm: 28.799999237060547;
    --typo-mo-line-height-head-xs: 26.399999618530273;
    --typo-mo-line-height-body-xl: 30;
    --typo-mo-line-height-body-lg: 27;
    --typo-mo-line-height-body-md: 24;
    --typo-mo-line-height-body-sm: 24;
    --typo-mo-line-height-body-xs: 21;
    --typo-mo-line-height-caption-xl: 21;
    --typo-mo-line-height-caption-lg: 19.5;
    --typo-mo-line-height-caption-md: 18;
    --typo-mo-line-height-caption-xs: 15;
    --typo-mo-line-height-caption-sm: 16.5;
    --colorGL-all-black100: rgba(255, 0, 0, 1);
    --colorGL-all-black96: rgba(245, 0, 0, 0.95);
    --colorGL-all-black88: rgba(224, 0, 0, 0.87);
    --colorGL-all-black16: rgba(41, 0, 0, 0.15);
    --colorGL-all-black12: rgba(31, 0, 0, 0.11);
    --colorGL-all-black24: rgba(61, 0, 0, 0.23);
    --colorGL-all-black20: rgba(51, 0, 0, 0.2);
    --colorGL-all-black40: rgba(102, 0, 0, 0.4);
    --colorGL-all-black32: rgba(82, 0, 0, 0.31);
    --colorGL-all-black60: rgba(153, 0, 0, 0.6);
    --colorGL-all-black56: rgba(145, 0, 0, 0.56);
    --colorGL-all-black80: rgba(204, 0, 0, 0.8);
    --colorGL-all-black72: rgba(184, 0, 0, 0.72);
    --colorGL-all-black8: rgba(20, 0, 0, 0.07);
    --colorGL-all-black4: rgba(10, 0, 0, 0.03);
    --colorGL-all-black0: rgba(0, 0, 0, 0);
    --colorGL-all-white100: rgba(255, 255, 255, 1);
    --colorGL-all-white16: rgba(41, 255, 255, 0.15);
    --colorGL-all-white20: rgba(51, 255, 255, 0.2);
    --colorGL-all-white24: rgba(61, 255, 255, 0.23);
    --colorGL-all-white32: rgba(82, 255, 255, 0.31);
    --colorGL-all-white40: rgba(102, 255, 255, 0.4);
    --colorGL-all-white56: rgba(143, 255, 255, 0.56);
    --colorGL-all-white60: rgba(153, 255, 255, 0.6);
    --colorGL-all-white72: rgba(184, 255, 255, 0.72);
    --colorGL-all-white80: rgba(204, 255, 255, 0.8);
    --colorGL-all-white88: rgba(224, 255, 255, 0.87);
    --colorGL-all-white96: rgba(245, 255, 255, 0.95);
    --colorGL-all-white12: rgba(31, 255, 255, 0.11);
    --colorGL-all-white8: rgba(20, 255, 255, 0.07);
    --colorGL-all-white4: rgba(10, 255, 255, 0.03);
    --colorGL-all-white0: rgba(0, 255, 255, 0);
    --colorGL-all-gray10: rgba(255, 250, 250, 1);
    --colorGL-all-gray50: rgba(255, 245, 245, 1);
    --colorGL-all-gray150: rgba(255, 235, 235, 1);
    --colorGL-all-gray100: rgba(255, 240, 240, 1);
    --colorGL-all-gray400: rgba(255, 179, 179, 1);
    --colorGL-all-gray300: rgba(255, 204, 204, 1);
    --colorGL-all-gray250: rgba(255, 217, 217, 1);
    --colorGL-all-gray200: rgba(255, 229, 229, 1);
    --colorGL-all-gray850: rgba(255, 51, 51, 1);
    --colorGL-all-gray800: rgba(255, 64, 64, 1);
    --colorGL-all-gray600: rgba(255, 128, 128, 1);
    --colorGL-all-gray700: rgba(255, 102, 102, 1);
    --colorGL-all-gray500: rgba(255, 153, 153, 1);
    --colorGL-all-gray750: rgba(255, 89, 89, 1);
    --colorGL-all-gray950: rgba(255, 26, 26, 1);
    --colorGL-all-gray900: rgba(255, 38, 38, 1);
    --colorGL-all-heritage-red50: rgba(255, 224, 234, 1);
    --colorGL-all-heritage-red100: rgba(255, 173, 199, 1);
    --colorGL-all-heritage-red200: rgba(255, 122, 164, 1);
    --colorGL-all-heritage-red300: rgba(255, 71, 129, 1);
    --colorGL-all-heritage-red400: rgba(255, 20, 94, 1);
    --colorGL-all-heritage-red500: rgba(255, 0, 68, 1);
    --colorGL-all-heritage-red600: rgba(255, 0, 52, 1);
    --colorGL-all-heritage-red950: rgba(255, 0, 13, 1);
    --colorGL-all-heritage-red900: rgba(255, 0, 19, 1);
    --colorGL-all-heritage-red800: rgba(255, 0, 26, 1);
    --colorGL-all-heritage-red700: rgba(255, 0, 35, 1);
    --colorGL-all-red500: rgba(255, 99, 99, 1);
    --colorGL-all-red600: rgba(255, 66, 66, 1);
    --colorGL-all-red800: rgba(255, 0, 0, 1);
    --colorGL-all-red700: rgba(255, 2, 2, 1);
    --colorGL-all-red950: rgba(255, 1, 1, 1);
    --colorGL-all-red900: rgba(255, 2, 2, 1);
    --colorGL-all-red400: rgba(255, 140, 140, 1);
    --colorGL-all-red300: rgba(255, 181, 181, 1);
    --colorGL-all-red100: rgba(255, 236, 236, 1);
    --colorGL-all-red200: rgba(255, 213, 213, 1);
    --colorGL-all-red50: rgba(255, 250, 250, 1);
    --colorGL-all-green300: rgba(255, 167, 69, 1);
    --colorGL-all-green400: rgba(255, 143, 48, 1);
    --colorGL-all-green500: rgba(255, 77, 26, 1);
    --colorGL-all-green200: rgba(255, 251, 182, 1);
    --colorGL-all-green100: rgba(255, 254, 228, 1);
    --colorGL-all-yellow300: rgba(255, 146, 0, 1);
    --colorGL-all-yellow400: rgba(255, 117, 0, 1);
    --colorGL-all-yellow500: rgba(255, 88, 0, 1);
    --colorGL-all-yellow200: rgba(255, 190, 102, 1);
    --colorGL-all-yellow100: rgba(255, 224, 184, 1);
    --colorCM-all-primary-primary-enabled: rgba(255, 0, 52, 1);
    --colorCM-all-primary-primary-pressed: rgba(255, 0, 35, 1);
    --colorCM-all-primary-primary-sub-enabled: rgba(255, 224, 234, 1);
    --colorCM-all-primary-primary-disabled: rgba(255, 122, 164, 1);
    --colorCM-all-primary-primary-sub-pressed: rgba(255, 173, 199, 1);
    --colorCM-all-primary-primary-sub-disabled: rgba(255, 224, 234, 1);
    --colorCM-all-secondary-secondary-enabled: rgba(255, 51, 51, 1);
    --colorCM-all-secondary-secondary-pressed: rgba(255, 26, 26, 1);
    --colorCM-all-secondary-secondary-sub-enabled: rgba(255, 235, 235, 1);
    --colorCM-all-secondary-secondary-disabled: rgba(255, 102, 102, 1);
    --colorCM-all-secondary-secondary-sub-pressed: rgba(255, 153, 153, 1);
    --colorCM-all-secondary-secondary-sub-disabled: rgba(255, 235, 235, 1);
    --colorCM-all-text-text-default: rgba(255, 26, 26, 1);
    --colorCM-all-text-text-secondary: rgba(255, 51, 51, 1);
    --colorCM-all-text-text-disabled: rgba(255, 153, 153, 1);
    --colorCM-all-text-text-tertiary: rgba(255, 102, 102, 1);
    --colorCM-all-text-text-on-bg: rgba(255, 255, 255, 1);
    --colorCM-all-icon-icon-default: rgba(255, 26, 26, 1);
    --colorCM-all-icon-icon-secondary: rgba(255, 51, 51, 1);
    --colorCM-all-icon-icon-disabled: rgba(255, 153, 153, 1);
    --colorCM-all-icon-icon-tertiary: rgba(255, 102, 102, 1);
    --colorCM-all-icon-icon-on-bg: rgba(255, 255, 255, 1);
    --colorCM-all-stroke-stroke-default1: rgba(255, 26, 26, 1);
    --colorCM-all-stroke-stroke-default2: rgba(255, 51, 51, 1);
    --colorCM-all-stroke-stroke-default3: rgba(255, 102, 102, 1);
    --colorCM-all-stroke-stroke-default4: rgba(255, 153, 153, 1);
    --colorCM-all-stroke-stroke-default9: rgba(255, 245, 245, 1);
    --colorCM-all-stroke-stroke-default6: rgba(255, 217, 217, 1);
    --colorCM-all-stroke-stroke-default5: rgba(255, 204, 204, 1);
    --colorCM-all-stroke-stroke-default7: rgba(255, 229, 229, 1);
    --colorCM-all-stroke-stroke-default8: rgba(255, 235, 235, 1);
    --colorCM-all-fill-fill-default0: rgba(255, 255, 255, 1);
    --colorCM-all-fill-fill-default1: rgba(255, 250, 250, 1);
    --colorCM-all-fill-fill-default2: rgba(255, 245, 245, 1);
    --colorCM-all-fill-fill-default3: rgba(255, 240, 240, 1);
    --colorCM-all-fill-fill-default4: rgba(255, 229, 229, 1);
    --colorCM-all-fill-fill-default5: rgba(255, 204, 204, 1);
    --colorCM-all-fill-fill-default6: rgba(255, 153, 153, 1);
    --colorCM-all-fill-fill-default7: rgba(255, 102, 102, 1);
    --colorCM-all-fill-fill-default8: rgba(255, 64, 64, 1);
    --colorCM-all-fill-fill-disabled: rgba(255, 229, 229, 1);
    --colorCM-all-fill-fill-default12: rgba(255, 0, 0, 1);
    --colorCM-all-fill-fill-default11: rgba(255, 26, 26, 1);
    --colorCM-all-fill-fill-default10: rgba(255, 38, 38, 1);
    --colorCM-all-fill-fill-default9: rgba(255, 51, 51, 1);
    --colorCM-all-background-background-default0: rgba(255, 255, 255, 1);
    --colorCM-all-background-background-default1: rgba(255, 250, 250, 1);
    --colorCM-all-background-background-default2: rgba(255, 245, 245, 1);
    --colorCM-all-background-background-default3: rgba(255, 240, 240, 1);
    --colorCM-all-background-background-default4: rgba(255, 204, 204, 1);
    --colorCM-all-background-background-default5: rgba(255, 179, 179, 1);
    --colorCM-all-background-background-default6: rgba(255, 128, 128, 1);
    --colorCM-all-background-background-default7: rgba(255, 89, 89, 1);
    --colorCM-all-background-background-default8: rgba(255, 51, 51, 1);
    --colorCM-all-background-background-default9: rgba(255, 26, 26, 1);
    --colorCM-all-background-background-default10: rgba(255, 0, 0, 1);
    --colorCM-all-error-error-enabled: rgba(255, 66, 66, 1);
    --colorCM-all-error-error-pressed: rgba(255, 0, 0, 1);
    --colorCM-all-error-error-disabled: rgba(255, 181, 181, 1);
    --colorCM-all-error-error-sub-enabled: rgba(255, 181, 181, 1);
    --colorCM-all-error-error-sub-pressed: rgba(255, 99, 99, 1);
    --colorCM-all-error-error-sub-disabled: rgba(255, 181, 181, 1);
    --colorCM-all-caution-caution-enabled: rgba(255, 146, 0, 1);
    --colorCM-all-caution-caution-pressed: rgba(255, 117, 0, 1);
    --colorCM-all-caution-caution-disabled: rgba(255, 224, 184, 1);
    --colorCM-all-caution-caution-sub-enabled: rgba(255, 224, 184, 1);
    --colorCM-all-caution-caution-sub-pressed: rgba(255, 190, 102, 1);
    --colorCM-all-caution-caution-sub-disabled: rgba(255, 224, 184, 1);
    --colorCM-all-success-success-enabled: rgba(255, 167, 69, 1);
    --colorCM-all-success-success-pressed: rgba(255, 77, 26, 1);
    --colorCM-all-success-success-disabled: rgba(255, 254, 228, 1);
    --colorCM-all-success-success-sub-enabled: rgba(255, 254, 228, 1);
    --colorCM-all-success-success-sub-pressed: rgba(255, 251, 182, 1);
    --colorCM-all-success-success-sub-disabled: rgba(255, 254, 228, 1);
}
