:root {
    --typo-pc-family-head: Pretendard;
    --typo-pc-family-body: Pretendard;
    --typo-pc-family-caption: Pretendard;
    --typo-pc-weight-extrabold800: extrabold;
    --typo-pc-weight-bold700: bold;
    --typo-pc-weight-semibold600: semibold;
    --typo-pc-weight-medium500: medium;
    --typo-pc-weight-regular400: regular;
    --typo-pc-size-head-xl: 58;
    --typo-pc-size-head-lg: 48;
    --typo-pc-size-head-md: 40;
    --typo-pc-size-head-sm: 28;
    --typo-pc-size-head-md-mode: 36;
    --typo-pc-size-head-sm-mode: 24;
    --typo-pc-size-body-lg: 24;
    --typo-pc-size-body-md: 20;
    --typo-pc-size-body-sm: 18;
    --typo-pc-size-caption-lg: 20;
    --typo-pc-size-caption-md: 18;
    --typo-pc-size-caption-sm: 16;
    --typo-pc-line-height-head-xl: 72;
    --typo-pc-line-height-head-lg: 64;
    --typo-pc-line-height-head-md: 52;
    --typo-pc-line-height-head-sm: 40;
    --typo-pc-line-height-head-md-mode: 50;
    --typo-pc-line-height-head-sm-mode: 34;
    --typo-pc-line-height-body-lg: 36;
    --typo-pc-line-height-body-md: 34;
    --typo-pc-line-height-body-sm: 26;
    --typo-pc-line-height-caption-lg: 34;
    --typo-pc-line-height-caption-md: 26;
    --typo-pc-line-height-caption-sm: 26;
    --typo-pc-letter-spacing-default: -0.30000001192092896;
    --typo-pc-letter-spacing-small: -0.20000000298023224;
    --typo-pc-size-caption-sm-mode: 16;
    --typo-pc-line-height-caption-sm-mode: 24;
    --typo-mo-family-head: Pretendard;
    --typo-mo-family-body: Pretendard;
    --typo-mo-family-caption: Pretendard;
    --typo-mo-weight-extrabold800: extrabold;
    --typo-mo-weight-bold700: bold;
    --typo-mo-weight-semibold600: semibold;
    --typo-mo-weight-medium500: medium;
    --typo-mo-weight-regular400: regular;
    --typo-mo-size-head-xl: 34;
    --typo-mo-size-head-lg: 30;
    --typo-mo-size-head-md: 26;
    --typo-mo-size-head-sm: 20;
    --typo-mo-size-head-md-mode: 24;
    --typo-mo-size-head-sm-mode: 18;
    --typo-mo-size-body-lg: 18;
    --typo-mo-size-body-md: 16;
    --typo-mo-size-body-sm: 14;
    --typo-mo-size-caption-lg: 18;
    --typo-mo-size-caption-md: 16;
    --typo-mo-size-caption-sm: 14;
    --typo-mo-line-height-head-xl: 42;
    --typo-mo-line-height-head-lg: 40;
    --typo-mo-line-height-head-md: 36;
    --typo-mo-line-height-head-sm: 30;
    --typo-mo-line-height-head-md-mode: 34;
    --typo-mo-line-height-head-sm-mode: 28;
    --typo-mo-line-height-body-lg: 28;
    --typo-mo-line-height-body-md: 26;
    --typo-mo-line-height-body-sm: 26;
    --typo-mo-line-height-caption-lg: 26;
    --typo-mo-line-height-caption-md: 26;
    --typo-mo-line-height-caption-sm: 24;
    --typo-mo-letter-spacing-default: -0.30000001192092896;
    --typo-mo-letter-spacing-small: -0.20000000298023224;
    --typo-mo-size-caption-sm-mode: 14;
    --typo-mo-line-height-caption-sm-mode: 24;
    --colorGL-all-grey10: #fbfbfc;
    --colorGL-all-grey50: #e5e5e5;
    --colorGL-all-grey150: #d1d1d1;
    --colorGL-all-grey200: #afafaf;
    --colorGL-all-grey250: #8e8e8e;
    --colorGL-all-grey300: #787878;
    --colorGL-all-grey350: #565656;
    --colorGL-all-grey400: #3e3e3e;
    --colorGL-all-grey500: #121212;
    --colorGL-all-heritage-red100: #ffdaea;
    --colorGL-all-heritage-red200: #ff6b98;
    --colorGL-all-heritage-red300: #e2255b;
    --colorGL-all-heritage-red400: #9b002e;
    --colorGL-all-heritage-red500: #610024;
    --colorGL-all-red100: #ffd0cb;
    --colorGL-all-red200: #ff8074;
    --colorGL-all-red300: #ee1000;
    --colorGL-all-red400: #b20c00;
    --colorGL-all-red500: #6d0700;
    --colorGL-all-yellow100: #f9f5b9;
    --colorGL-all-yellow200: #fcd74c;
    --colorGL-all-yellow300: #f6ab20;
    --colorGL-all-yellow400: #be5c01;
    --colorGL-all-yellow500: #773100;
    --colorGL-all-green100: #d4f5c7;
    --colorGL-all-green200: #8ddf87;
    --colorGL-all-green300: #19ab57;
    --colorGL-all-green400: #209359;
    --colorGL-all-green500: #004121;
    --colorGL-all-sky100: #ccf7f0;
    --colorGL-all-sky200: #96ede6;
    --colorGL-all-sky300: #24cabf;
    --colorGL-all-sky400: #07888b;
    --colorGL-all-sky500: #00586d;
    --colorGL-all-blue100: #c4ecfa;
    --colorGL-all-blue200: #63c3f7;
    --colorGL-all-blue300: #4283e3;
    --colorGL-all-blue400: #0755b9;
    --colorGL-all-blue500: #003374;
    --colorGL-all-purple100: #e7e1ff;
    --colorGL-all-purple200: #b3a4f5;
    --colorGL-all-purple300: #685afc;
    --colorGL-all-purple400: #512fba;
    --colorGL-all-purple500: #2f2278;
    --colorGL-all-grey100: #e0e0e0;
    --colorGL-all-white0: #ffffff00;
    --colorGL-all-white5: #ffffff0c;
    --colorGL-all-white10: #ffffff19;
    --colorGL-all-white15: #ffffff26;
    --colorGL-all-white20: #ffffff33;
    --colorGL-all-white25: #ffffff3f;
    --colorGL-all-white30: #ffffff4c;
    --colorGL-all-white35: #ffffff59;
    --colorGL-all-white40: #ffffff66;
    --colorGL-all-white45: #ffffff72;
    --colorGL-all-white50: #ffffff7f;
    --colorGL-all-white60: #ffffff99;
    --colorGL-all-white70: #ffffffb2;
    --colorGL-all-white80: #ffffffcc;
    --colorGL-all-white90: #ffffffe5;
    --colorGL-all-white100: #ffffff;
    --colorGL-all-black0: #00000000;
    --colorGL-all-black5: #0000000c;
    --colorGL-all-black10: #00000019;
    --colorGL-all-black15: #00000026;
    --colorGL-all-black20: #00000033;
    --colorGL-all-black25: #0000003f;
    --colorGL-all-black30: #0000004c;
    --colorGL-all-black35: #00000059;
    --colorGL-all-black40: #00000066;
    --colorGL-all-black45: #00000072;
    --colorGL-all-black50: #0000007f;
    --colorGL-all-black60: #00000099;
    --colorGL-all-black70: #000000b2;
    --colorGL-all-black80: #000000cc;
    --colorGL-all-black90: #000000e5;
    --colorGL-all-black100: #000000;
    --colorGL-all-magenta-sky500: #d371f6;
    --colorGL-all-magenta-sky400: #ca86fa;
    --colorGL-all-magenta-sky350: #c591f7;
    --colorGL-all-magenta-sky250: #bca8f1;
    --colorGL-all-magenta-sky900: #f729c1;
    --colorGL-all-magenta-sky200: #b7b4ef;
    --colorGL-all-magenta-sky850: #f332c8;
    --colorGL-all-magenta-sky750: #ea44d5;
    --colorGL-all-magenta-sky650: #e156e2;
    --colorGL-all-magenta-sky800: #ee3bce;
    --colorGL-all-magenta-sky700: #e54ddc;
    --colorGL-all-magenta-sky50: #a9d7e6;
    --colorGL-all-magenta-sky550: #d868f0;
    --colorGL-all-magenta-sky600: #dc5fe9;
    --colorGL-all-magenta-sky150: #b2c0ec;
    --colorGL-all-magenta-sky450: #cf7afd;
    --colorGL-all-magenta-sky300: #c19df4;
    --colorGL-all-magenta-sky100: #aecbe9;
    --colorGL-all-grey450: #1f1f1f;
    --colorCM-mode1-text-text-defailt: #121212;
    --colorCM-mode1-text-text-secondary: #565656;
    --colorCM-mode1-text-text-tertiary: #8e8e8e;
    --colorCM-mode1-text-text-disabled: #e0e0e0;
    --colorCM-mode1-text-text-on-bg: #ffffff;
    --colorCM-mode1-error-error-enabled: #ee1000;
    --colorCM-mode1-background-background-default0: #ffffff;
    --colorCM-mode1-icon-icon-default: #121212;
    --colorCM-mode1-icon-icon-secondary: #565656;
    --colorCM-mode1-icon-icon-tertiary: #8e8e8e;
    --colorCM-mode1-icon-icon-disabled: #e0e0e0;
    --colorCM-mode1-icon-icon-on-bg: #ffffff;
    --colorCM-mode1-fill-fill-default0: #ffffff;
    --colorCM-mode1-fill-fill-default1: #fbfbfc;
    --colorCM-mode1-fill-fill-default2: #e5e5e5;
    --colorCM-mode1-fill-fill-default3: #d1d1d1;
    --colorCM-mode1-fill-fill-default4: #afafaf;
    --colorCM-mode1-fill-fill-default5: #8e8e8e;
    --colorCM-mode1-fill-fill-default6: #787878;
    --colorCM-mode1-fill-fill-default7: #565656;
    --colorCM-mode1-fill-fill-default8: #3e3e3e;
    --colorCM-mode1-fill-fill-default9: #1f1f1f;
    --colorCM-mode1-fill-fill-disabled: #e0e0e0;
    --colorCM-mode1-background-background-default8: #3e3e3e;
    --colorCM-mode1-background-background-default5: #8e8e8e;
    --colorCM-mode1-background-background-default4: #afafaf;
    --colorCM-mode1-background-background-default10: #121212;
    --colorCM-mode1-background-background-default3: #d1d1d1;
    --colorCM-mode1-background-background-default7: #565656;
    --colorCM-mode1-background-background-default1: #fbfbfc;
    --colorCM-mode1-background-background-default2: #e5e5e5;
    --colorCM-mode1-background-background-default6: #787878;
    --colorCM-mode1-stroke-stroke-default5: #8e8e8e;
    --colorCM-mode1-stroke-stroke-default4: #afafaf;
    --colorCM-mode1-stroke-stroke-default3: #d1d1d1;
    --colorCM-mode1-stroke-stroke-default9: #1f1f1f;
    --colorCM-mode1-stroke-stroke-default7: #565656;
    --colorCM-mode1-stroke-stroke-default6: #787878;
    --colorCM-mode1-stroke-stroke-default2: #e5e5e5;
    --colorCM-mode1-stroke-stroke-default8: #3e3e3e;
    --colorCM-mode1-stroke-stroke-default0: #ffffff;
    --colorCM-mode1-heritage-heritage01: #a9d7e6;
    --colorCM-mode1-heritage-heritage02: #aecbe9;
    --colorCM-mode1-heritage-heritage03: #b2c0ec;
    --colorCM-mode1-heritage-heritage04: #b7b4ef;
    --colorCM-mode1-heritage-heritage05: #bca8f1;
    --colorCM-mode1-heritage-heritage06: #c19df4;
    --colorCM-mode1-heritage-heritage07: #c591f7;
    --colorCM-mode1-heritage-heritage08: #ca86fa;
    --colorCM-mode1-heritage-heritage09: #cf7afd;
    --colorCM-mode1-heritage-heritage10: #d371f6;
    --colorCM-mode1-heritage-heritage11: #d868f0;
    --colorCM-mode1-heritage-heritage12: #dc5fe9;
    --colorCM-mode1-heritage-heritage13: #e156e2;
    --colorCM-mode1-heritage-heritage14: #e54ddc;
    --colorCM-mode1-heritage-heritage15: #ea44d5;
    --colorCM-mode1-heritage-heritage16: #ee3bce;
    --colorCM-mode1-heritage-heritage17: #f332c8;
    --colorCM-mode1-heritage-heritage18: #f729c1;
    --colorCM-mode1-stroke-stroke-disabled: #e0e0e0;
    --colorCM-mode1-fill-fill-default10: #121212;
    --colorCM-mode1-stroke-stroke-default1: #fbfbfc;
    --colorCM-mode1-stroke-stroke-default10: #121212;
    --colorCM-mode1-background-background-default9: #1f1f1f;
    --colorCM-mode1-success-success-enabled: #19ab57;
    --colorCM-mode1-primary-primary-enabled: #9b002e;
    --colorCM-mode1-primary-primary-pressed: #610024;
    --colorCM-mode1-primary-primary-disabled: #ff6b98;
    --radius-mode1-none: 0;
    --radius-mode1-x-s: 4;
    --radius-mode1-m: 20;
    --radius-mode1-l: 32;
    --radius-mode1-x-l: 40;
    --radius-mode1-circular: 999;
    --radius-mode1-s: 16;
}
