<!-- 푸터 -->
<%
    const footerType = typeof type !== 'undefined' && type ? type : '';
%>
<div class="footer__wrap <%= footerType == 'dark' ? 'type-dark' : '' %>">
    <div class="inner-wrap flex flex-col">
        <div class="footer-info__top">
            <ul class="footer-menu">
                <li><a href="#" class="font-body-xs">개인정보처리방침</a></li>
                <li><a href="#" class="font-body-xs">이메일주소 무단수집 거부</a></li>
                <li><a href="#" class="font-body-xs">정도경영 사이버 신문고</a></li>
                <li><a href="#" class="font-body-xs">사이트맵</a></li>
            </ul>
            <div class="family-site__wrap">
                <div class="dropdown-menu family-site">
                    <button type="button" class="font-caption-xl btn-dropdown">패밀리 사이트</button>
                    <ul class="dropdown_list">
                        <li><strong>자회사</strong></li>
                        <li>
                            <a href="https://www.biztechi.com" target="_blank">비즈테크아이</a>
                        </li>
                        <li>
                            <a href="https://www.biztechon.com" target="_blank">비즈테크온</a>
                        </li>
                        <li>
                            <a href="https://www.osci.kr" target="_blank">오픈소스컨설팅</a>
                        </li>
                        <li>
                            <a href="https://www.rightbrain.co.kr" target="_blank">라이트브레인</a>
                        </li>
                        <li>
                            <a href="http://hmaru.co.kr/" target="_blank">행복마루</a>
                        </li>
                        <li><strong>비지니스</strong></li>
                        <li>
                            <a href="http://www.entrue.com/" target="_blank">엔트루컨설팅</a>
                        </li>
                        <li>
                            <a href="http://partnerplus.lgcns.com/" target="_blank">파트너플러스</a>
                        </li>                                
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-info__bottom">
            <div class="footer-info">
                <p class="font-caption-xl">
                    서울시 강서구 마곡중앙8로 71 LG 사이언스파크 E13, E14<br>
                    ©LG CNS. All rights reserved.
                </p>
            </div>
            <div class="footer-sns__wrap">
                <a href="#" target="_blank" title="새창 열림">
                    <img src="/src/assets/image/icon/icon_youtube_<%= footerType == 'dark' ? 'wh36' : 'bl36' %>.png" alt="유튜브" /> 
                </a>     
                <a href="#" target="_blank" title="새창 열림">
                    <img src="/src/assets/image/icon/icon_facebook_<%= footerType == 'dark' ? 'wh36' : 'bl36' %>.png" alt="페이스북" />
                </a>     
                <a href="#" target="_blank" title="새창 열림">
                    <img src="/src/assets/image/icon/ico_insta_<%= footerType == 'dark' ? 'wh36' : 'bl36' %>.png" alt="인스타그램" />
                </a>     
                <a href="#" target="_blank" title="새창 열림">
                    <img src="/src/assets/image/icon/icon_in_<%= footerType == 'dark' ? 'wh36' : 'bl36' %>.png" alt="In" />
                </a>    
                <a href="#" target="_blank" title="새창 열림">
                    <img src="/src/assets/image/icon/icon_naver_<%= footerType == 'dark' ? 'wh36' : 'bl36' %>.png" alt="네이버" />
                </a>                                                     
            </div>
        </div>
    </div>
</div>
<!-- //푸터 -->
<script src="/assets/js/navigation.js"></script>
<script src="/assets/js/ui_common.js"></script>