<!-- cmp_Itemlist_3Columns_box -->
<div class="cmp-wrap cmp_image-item-3col-box">
    <% 
        const data = (typeof jsonData !== 'undefined' ? jsonData : []);
        const itemTypeValue = typeof itemType !== 'undefined' ? itemType : '';
    %>
    <% if (data.length> 0) { %>
        <ul class="image-item-3col <%- itemTypeValue %>">
            <% data.forEach((item)=> { %>
                <li>
                    <% if(item.title || item.text) { %>
                        <div class="text-box">
                            <% if(item.title) { %>
                                <span class="image-item-3col__title font-head-sm font-medium color-text-default">
                                    <%- item.title %>
                                </span>
                            <% } %>
                            <% if(item.text) {%>
                                <p class="image-item-3col__text font-body-lg color-text-secondary">
                                    <%- item.text %>
                                </p>
                            <% } %>
                        </div>
                    <% } %>
                    <% if(item.imageUrlPc) { %>
                        <div class="img-box">
                            <img src="<%- item.imageUrlPc %>" alt="<%- item.imageAlt %>" class="<%- typeof item.imageUrlMo !== 'undefined' && item.imageUrlMo ? 'img-box__only-pc' : '' %>">
                            <% if(item.imageUrlMo) { %>
                                <img src="<%- item.imageUrlMo %>" alt="<%- item.imageAlt %>" class="img-box__only-mo">
                            <% } %>
                        </div>
                    <% } %>
                </li>
            <% }) %>
        </ul>
    <% } %>
</div>