<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <div data-include-path="/src/guide/header.html"></div>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <div data-include-path="./cmp_lnb.html"></div>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Input</p>                    
                    <div class="section_text mt-5">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>