<!-- 기본 아코디언 -->
<div class="cmp-wrap cmp-accordion <%= typeof typeClass !== 'undefined' ? typeClass : 'basic-type' %> <%- typeof marginVertical !=='undefined' && marginVertical ? marginVertical : '' %>">
    <ul class="accordion-list">
        <% 
            const data = (typeof jsonData !== 'undefined' ? jsonData : []); 
            const itemLimit = typeof itemCount !== 'undefined' ? itemCount : 1;
        %>
        
        <% if (data.length > 0) { %>
            <% data.slice(0, itemLimit).forEach((faq, i) => { %>
                <li class="accordion-item <%= (typeof openIndex !== 'undefined' && i === openIndex) ? 'is-active' : '' %>">
                    <div class="accordion-title">
                        <button type="button">
                            <div class="tit font-head-sm-mode font-medium">
                                <%- faq.faqTitle %>
                            </div>
                            <i></i>
                        </button>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-text font-body-md">
                            <%- faq.faqContent %>
                        </div>
                    </div>
                </li>    
            <% }) %>
        <% } else { %>
            <% for (let i = 0; i < itemLimit; i++) { %>
                <li class="accordion-item <%= (typeof openIndex !== 'undefined' && i === openIndex) ? 'is-active' : '' %>">
                    <div class="accordion-title">
                        <button type="button">
                            <div class="tit font-head-sm-mode font-medium">
                                자주하는 질문 제목입니다.
                            </div>
                            <i></i>
                        </button>
                    </div>
                    <div class="accordion-content">
                        <div class="accordion-text font-body-md">
                            자주하는 질문 내용입니다. 기본적 긴 내용이 들어갈수 있습니다.
                        </div>
                    </div>
                </li>    
            <% } %>
        <% } %>                                                    
    </ul>
</div>
<!-- //기본 아코디언 -->