<p class="guide-title-h3">Input Component(Basic)</p>                    
<div class="cmp-exsample__wrap mt-5">
    <!-- 기본 Input -->
    <div class="form-element__wrap">
        <label class="ir-text">항목명</label>
        <span class="form-element__inner input-type">
            <input type="text" value="" placeholder="placeholder 입력하세요" />
        </span>
    </div>
    <!-- //기본 Input -->
</div>
<p class="guide-title-h3 mt-10">Input Component(search)</p>                    
<div class="cmp-exsample__wrap mt-5">
    <!-- 기본 Input -->
    <div class="form-element__wrap">
        <label class="ir-text">항목명</label>                          
        <span class="form-element__inner input-type input-search search-type-full">
            <button type="button" class="btn btn-search">
                <i class="ico icon-search-bl35"></i>                                
                <span class="ir-text">검색</span>
            </button>                                  
            <input type="text" value="" placeholder="placeholder 입력하세요" />
            <button type="button" class="btn btn-remove">
                <i class="ico icon-remove-bl28"></i>
                <span class="ir-text">삭제</span>
            </button>                                
        </span>
    </div>
    <!-- //기본 Input -->
</div>