<!-- cmp_button_item_list -->
<div class="cmp-wrap cmp_button_item_list__wrap">
    <% 
        const data = (typeof jsonData !== 'undefined' ? jsonData : []);
        const itemLimit = typeof itemCount !== 'undefined' ? itemCount : 1;
    %>
    <div class="button-item-grid">
    <% if(data.length > 0) { %>
        <% data.slice(0, itemLimit).forEach((item, i) => { %>
            <div class="cmp_button_item">
                <div class="cmp_button_item__text-box">
                    <p class="title font-head-md font-medium color-text-default"><%- item.title %></p>
                </div>
                <% if(typeof item.buttonName !== 'undefined' && item.buttonName) { %>
                    <div class="button__wrap">
                        <% if(item.buttonName && Array.isArray(item.buttonName)) { %>
                            <% item.buttonName.slice(0, 3).forEach((name, index) => { %>
                                <button type="button" class="btn btn-secondary btn-small <%- type == 'default' ? 'flex' : '' %>">
                                    <!-- <% if(name) { %>
                                        <span class="btn__text"><%= name %></span>
                                    <% } %>
                                    <% if (index >= 2) { %>
                                        <i class="btn__icon ico icon-pagination-next"></i> 
                                    <% } else { %>
                                        <i class="btn__icon ico icon-download-bl24"></i> 
                                    <% } %> -->
                                    <span class="btn__text"><%= name %></span>
                                    <% if(name == '방송듣기') { %>
                                        <i class="btn__icon ico icon-play-bl20"></i>
                                    <% } else { %>
                                        <i class="btn__icon ico icon-download-bl20"></i>
                                    <% } %>
                                </button>
                            <% }) %>
                            
                        <% } %>
                    </div>
                <% } else { %>
                    <div class="button__wrap">
                        <button type="button" class="btn btn-small btn-secondary">
                            <span class="btn__text">다운로드</span>
                            <i class="btn__icon ico icon-download-bl20"></i>
                        </button>
                    </div>
                <% } %>
            </div>
        <% }) %>
        </div>
    <% } else { %>
        <% for(let i = 0; i < itemLimit; i++) { %>
            <div class="cmp_button_item">
                <div class="cmp_button_item__text-box">
                    <p class="title font-head-md font-medium">2022~2023<br>지속가능경영보고서</p>
                </div>
                <div class="button__wrap align-right">
                    <button type="button" class="btn btn-medium btn-secondary">
                        <span class="btn__text">다운로드</span>
                        <i class="btn__icon ico icon-download-bl24"></i>
                    </button>
                </div>
            </div>
        <% } %>
    <% } %>
</div>