<!-- data list 유형 -->
<div class="cmp-wrap cmp-data-list">
    <div class="cmp-swiper data-list-swiper swiper">
        <div class="swiper-wrapper">
            <% 
                const data = (typeof jsonData !== 'undefined' ? jsonData : []); 
            %>
            <% data.forEach((item, i) => { %>
                <% 
                    const btn = (typeof item.button !== 'undefined' ? item.button : {}); 
                %>
                <div class="swiper-slide">
                    <a href="<%- btn.href %>" class="data-list-item <%- btn.disabled ? 'data-list-item--disabled' : '' %>">
                        <div class="data-list-img">
                            <img src="<%- item.imgPc %>" alt="" class="type-pc" />
                            <img src="<%- item.imgMo %>" alt="" class="type-mo" />
                        </div>
                        <div class="data-list-content">
                            <div class="title font-head-sm-mode">
                                <%- item.title %>
                            </div>
                            <div class="description font-body-sm">
                                <%- item.content %>
                            </div>
                            <div class="data-list-bottom">
                                <div class="font-caption-sm category-label"><%- item.label %></div>
                                <% if(btn.type === "download") { %>
                                    <span class="btn btn-primary data-list-download <%- btn.disabled ? 'is-disabled' : '' %>" modal-id="<%- btn.modalId %>" onclick="openModal(event)">
                                        <span class="ir-text">자료보기</span>
                                    </span>
                                <% } else if(btn.type === "link") { %>
                                    <span class="btn btn-primary data-list-link <%- btn.disabled ? 'is-disabled' : '' %>">
                                        <span class="ir-text">자료보기</span>
                                    </span>
                                <% } else if(btn.type === "video") { %>
                                    <span class="btn btn-primary data-list-video <%- btn.disabled ? 'is-disabled' : '' %>">
                                        <span class="ir-text">자료보기</span>
                                    </span>
                                <% } %>
                            </div>
                        </div>
                    </a>
                </div>
            <% }) %>
            <!-- //썸네일 유형 -->
        </div>
    </div>
</div>
<!-- data list 유형 -->
