<div class="cmp-wrap cmp-pagination__wrap">
    <div class="paging">
        <a href="#none" class="btn-move first">
            <i class="ico icon-pagination-first"><span class="ir-text">맨처음으로</span></i>
        </a>
        <a href="#none" class="btn-move prev">
            <i class="ico icon-pagination-prev"><span class="ir-text">이전페이지</span></i>
        </a>
        <ol class="font-body-xs">
            <li><a href="#none">1</a></li>
            <li class="more-page">
                <a href="#none">
                    <i class="ico icon-more-dot"><span class="ir-text">더보기</span></i>
                </a>
            </li>
            <li><a href="#none">4</a></li>
            <li><a href="#none" class="is-active">5</a></li>
            <li><a href="#none">6</a></li>
            <li><a href="#none">7</a></li>
            <li class="more-page">
                <a href="#none">
                    <i class="ico icon-more-dot"><span class="ir-text">더보기</span></i>
                </a>
            </li>
            <li><a href="#none">20</a></li>
        </ol>
        <a href="#none" class="btn-move next">
            <i class="ico icon-pagination-next"><span class="ir-text">다음페이지</span></i>
        </a>
        <a href="#none" class="btn-move last">
            <i class="ico icon-pagination-last"><span class="ir-text">마지막페이지</span></i>
        </a>
    </div>
</div>