<div class="cmp-title-select">
    <div class="cmp-title__row <%= typeof rowJustify !== 'undefined' && rowJustify ? rowJustify : '' %>">
        <% if(typeof title !== 'undefined' && title) { %>
            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                title: {
                    text: title.text,
                    size: typeof title.size !== 'undefined' && title.size ? title.size : 'font-head-lg',
                    class: typeof title.addClass !== 'undefined' && title.addClass ? title.addClass : 'color-text-default font-medium',
                },
            })) %>
        <% } %>

        <% if (typeof showSelect !== 'undefined' && showSelect === true) { %>
            <%
                const safeOptions = Array.isArray(options) ? options : [];
                const placeholder = typeof selectedValue !=='undefined' && selectedValue ? selectedValue : '연도선택' 
            %>
            <%- include('src/component/cmp_select.html', Object.assign({}, locals, { 
                selectedValue: placeholder , 
                options: safeOptions
            })) %>
        <% } %>
    </div>
</div>
