<!-- 썸네일 유형 -->
<div class="cmp-wrap cmp-thumbnail <%= typeof thumType !== 'undefined' && thumType === 'card' ? 'card' : '' %> <%= typeof thumType !== 'undefined' && thumType === 'list' ? 'list' : '' %>">
    <% 
        const data=(typeof jsonData !=='undefined' ? jsonData : []); 
        const itemLimit=typeof itemCount !=='undefined' ? itemCount : 1;
        const contentTypeValue = typeof contentType !=='undefined' ? contentType : '' ;
    %>
    <% if (typeof allCountData !=='undefined' && allCountData || locals.title) { %>
        <div class="content-list__util <%- locals.title ? 'content-list__util--has-title' : '' %>">
            <% if(locals.title) { %>
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                    title: {
                        text: locals.title.text,
                        size: locals.title.size ? locals.title.size : '',
                        class: locals.title.addClass ? locals.title.addClass : '',
                    },
                })) %>
            <% } %>
            <% if(allCountData) { %>
                <span class="content-list__count">
                    총 <strong class="font-semibold"><%- allCountData %></strong> 건</span>
                </span>
            <% } %>
        </div>
    <% } %>
    <ul class="content-list__wrap thumbnail-type type-box-line <%= typeof itemClass !== 'undefined' ? itemClass : 'pc-col3' %> <%= typeof contentType !== 'undefined' && contentType ? contentType : '' %>">
        <% if (typeof thumType !== 'undefined' && thumType) { %>
            <!-- 04.16 BX 가이드 적용 마크업 수정 -->
            <% 
                const detail=(typeof detailData !=='undefined' ? detailData : []); 
            %>
            <% detail.forEach((item) => { %>
                <li>
                    <a href="<%- item.floatText %>" class="thumbnail-item">
                        <% if(typeof item.img !=='undefined') { %>
                            <% 
                                const img = item.img; 
                            %>
                            <div class="thumbnail-wrap">
                                <img src="<%- img.url %>" alt="<%= img.alt ? img.url : '' %>" />
                            </div>
                        <% } %>
                        <div class="content-info">
                            <div class="content-top">
                                <% if(typeof item.label !=='undefined') { %>
                                    <div class="label font-caption-sm"><%- item.label %></div>
                                <% } %>
                                <% if(typeof item.title !=='undefined') { %>
                                    <div class="title font-caption-lg"><%- item.title %></div>
                                <% } %>
                                <% if(typeof item.description !=='undefined') { %>
                                    <div class="description font-caption-md"><%- item.description %></div>
                                <% } %>
                            </div>
                            <div class="content-bottom">
                                <% if(typeof item.tag !=='undefined') { %>
                                    <div class="tag-box">
                                        <% item.tag.forEach((tag) => { %>
                                        <div class="tag"><%- tag %></div>
                                        <% }) %>
                                    </div>
                                <% } %>
                                <% if(typeof item.img !=='undefined') { %>
                                    <div class="category font-caption-sm"><%- item.category %></div>
                                <% } %>
                            </div>
                        </div>
                    </a>
                </li>
            <% }); %>
            <!-- // 04.16 BX 가이드 적용 마크업 수정 -->
        <% } else if (data.length > 0) { %>
            <!-- 04.16 기존 마크업 오류방지용으로 유지 -->
            <% data.slice(0, itemLimit).forEach((item, i) => { %>                            
                <li>
                    <a href="#" class="content-list__inner">
                        <div class="thumbnail-wrap">
                            <% if(!contentTypeValue || contentTypeValue !== 'type-moa-case4') { %>
                                <img src="https://placehold.co/939x470" alt="" />
                            <% } %>
                            <% if(item.floatText) { %>
                                <span class="float-text"><%- item.floatText %></span>
                            <% } %>
                        </div>
                        <div class="content-info">
                            <% if(item.category || (contentTypeValue == 'type-moa-case2' || contentTypeValue == 'type-moa-case3')) { %>
                                <div class="chip__wrap">
                                    <% if(item.category) { %>
                                        <div class="chip bg-basic font-caption-xl font-semibold"><%- item.category %></div>
                                    <% } %>
                                </div>
                            <% } %>
                            <div class="title font-body-lg">
                                <%- item.title %>
                            </div>
                            <% if(item.content || (contentTypeValue == 'type-moa-case1' || contentTypeValue == 'type-news')) { %>
                                <div class="description">
                                    <% if(item.content) { %>
                                        <p class="font-body-sm">
                                            <%- item.content %>                                            
                                        </p>
                                    <% } %>
                                </div>
                            <% } %>
                            <% if(item.tag || (contentTypeValue == 'type-moa-case1' || contentTypeValue == 'type-moa-case2' || contentTypeValue == 'type-moa-case3')) { %>
                                <div class="chip__wrap tag">
                                    <% if(item.tag) { %>
                                        <% item.tag.forEach((tag, i) => { %>
                                            <div class="chip bg-black font-caption-xl"><%- tag %></div>
                                        <% }) %>
                                    <% } %>
                                </div>
                            <% } %>
                            <% if(item.date) { %>
                                <div class="date-box font-body-xs">
                                <%- item.date %>
                                </div>
                            <% } %>
                        </div>
                    </a>
                </li>             
            <% }) %>
        <% } else { %>
            <% for (let i = 0; i < itemLimit; i++) { %>                                           
                <li>
                    <a href="#" class="content-list__inner">
                        <div class="thumbnail-wrap">
                            <img src="https://placehold.co/939x470" alt="" />
                        </div>
                        <div class="content-info">
                            <div class="chip__wrap">
                                <div class="chip bg-basic font-caption-xl">보도자료</div>
                            </div>
                            <div class="title font-body-lg">
                                글로벌 DX시장의 ‘퍼스트 무버(First Mover)’로 도약할 것”LG CNS, 기업공개 임박함 기업공개 임박함
                            </div>
                            <div class="description font-body-sm">
                                현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것” 현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것”
                            </div>
                            <div class="date-box font-body-xs">
                                2025.01.10
                            </div>
                        </div>
                    </a>
                </li>    
            <% } %>
            <!-- // 04.16 기존 마크업 오류방지용으로 유지 -->
        <% } %>                          
    </ul>
<!-- //썸네일 유형 -->   
</div>                   