<div class="sub-visual__wrap" style="--hero-sub-pc-img: url('<%= typeof pcImg !== 'undefined' ? pcImg : '등록된 이미지 없음' %>'); 
--hero-sub-mo-img: url('<%= typeof moImg !== 'undefined' ? moImg : '등록된 이미지 없음' %>');">
    <div class="inner-wrap">
        <div class="visual-text">
            <p class="font-body-xl sub-text"><%= typeof subText !== 'undefined' ? subText : '기본 타이틀 문구' %></p>
            <h2 class="font-head-xl font-semibold"><%= typeof pageTitle !== 'undefined' ? pageTitle : '기본 타이틀 문구' %></h2>
        </div>
    </div>
</div>