<!-- cmp_Itemlist_3Columns -->
<div class="cmp-wrap cmp-itemlist_columns__wrap">
    <% 
        const data = (typeof jsonData !== 'undefined' ? jsonData : []); 
        const itemLimit = typeof itemCount !== 'undefined' ? itemCount : 1;
    %>
    <% if (data.length > 0) { %>
        <% data.slice(0, itemLimit).forEach((item, i) => { %>
            <div class="item-wrap <%- typeof itemType !== 'undefined' && itemType ? itemType : '' %>">
                <% if(typeof ImageAlign !== 'undefined' && ImageAlign) {%>
                    <% if(ImageAlign == 'left') {%>
                        <div class="item-image type-left">
                            <img src="<%= item.imageUrl %>" alt="" />
                        </div>
                    <% } else if(ImageAlign == 'right') { %>
                        <div class="item-image type-right">
                            <img src="<%= item.imageUrl %>" alt="" />
                        </div>
                    <% } else if(ImageAlign=='center' ) { %>
                        <div class="item-image type-center">
                            <img src="<%= item.imageUrl %>" alt="" />
                        </div>
                    <% } else { %>
                        <div class="item-image type-left">
                            <img src="<%= item.imageUrl %>" alt="" />
                        </div>
                    <% } %>
                <% } else {%>
                    <div class="item-image type-left">
                        <img src="<%= item.imageUrl %>" alt="" />
                    </div>
                <% }%>

                <% if(typeof textAlign !== 'undefined' && textAlign) {%>
                    <% if(textAlign =='left') {%>
                        <div class="item-info__wrap type-left">
                            <div class="font-body-lg info-title"><%- item.title %></div>
                            <ul class="info-text">
                                <% if (item.content && Array.isArray(item.content)) {%>
                                    <% item.content.forEach((content) => { %>
                                        <li><%- content %></li>
                                    <%})%>
                                <% } else {%>
                                    <li><%- item.content %></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } else if(textAlign =='right') { %>
                        <div class="item-info__wrap type-right">
                            <div class="font-body-lg info-title"><%- item.title %></div>
                            <ul class="info-text">
                                <% if (item.content && Array.isArray(item.content)) {%>
                                    <% item.content.forEach((content)=> { %>
                                        <li><%- content %></li>
                                    <%})%>
                                <% } else {%>
                                    <li><%- item.content %></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } else if(textAlign=='center' ) { %>
                        <div class="item-info__wrap type-center">
                            <div class="font-body-lg info-title"><%- item.title %></div>
                            <ul class="info-text">
                                <% if (item.content && Array.isArray(item.content)) {%>
                                    <% item.content.forEach((content)=> { %>
                                        <li><%- content %></li>
                                    <%})%>
                                <% } else {%>
                                    <li><%- item.content %></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } else { %>
                        <div class="item-info__wrap type-left">
                            <div class="font-body-lg info-title"><%- item.title %></div>
                            <ul class="info-text">
                                <% if (item.content && Array.isArray(item.content)) {%>
                                    <% item.content.forEach((content)=> { %>
                                        <li><%- content %></li>
                                    <%})%>
                                <% } else {%>
                                    <li><%- item.content %></li>
                                <% } %>
                            </ul>
                        </div>
                    <% } %>
                <% } else {%>
                    <div class="item-info__wrap type-left">
                        <div class="font-body-lg info-title"><%- item.title %></div>
                        <ul class="info-text">
                            <% if (item.content && Array.isArray(item.content)) {%>
                                <% item.content.forEach((content)=> { %>
                                    <li><%- content %></li>
                                <%})%>
                            <% } else {%>
                                <li><%- item.content %></li>
                            <% } %>
                        </ul>
                    </div>
                <% } %>
            </div>
        <% }) %>
    <% } else { %>
        <% for (let i = 0; i < itemLimit; i++) { %>
            <div class="item-wrap <%- typeof itemType !== 'undefined' && itemType ? itemType : '' %>">
                <% if(typeof ImageAlign !== 'undefined' && ImageAlign) {%>
                    <% if(ImageAlign=='left') {%>
                        <div class="item-image type-left">
                            <img src="https://placehold.co/78x78" alt="" />
                        </div>
                    <%} else if(ImageAlign=='right') { %>
                        <div class="item-image type-right">
                            <img src="https://placehold.co/78x78" alt="" />
                        </div>
                    <% } else {%>
                        <div class="item-image type-left">
                            <img src="https://placehold.co/78x78" alt="" />
                        </div>
                    <% } %>
                <% } else {%>
                    <div class="item-image type-left">
                        <img src="https://placehold.co/78x78" alt="" />
                    </div>
                <% } %>

                <% if(typeof textAlign !== 'undefined' && textAlign) {%>
                    <% if(textAlign =='left') {%>
                        <div class="item-info__wrap type-left">
                            <div class="font-body-lg info-title">재고 최적화</div>
                            <ul class="info-text">
                                <li>간헐적 수요 대응을 위해 고객 만족도 수준에 따라 필요한 적정 재고 산출</li>
                            </ul>
                        </div>
                    <%} else if(textAlign =='right') { %>
                        <div class="item-info__wrap type-right">
                            <div class="font-body-lg info-title">재고 최적화</div>
                            <ul class="info-text">
                                <li>간헐적 수요 대응을 위해 고객 만족도 수준에 따라 필요한 적정 재고 산출</li>
                            </ul>
                        </div>
                    <% } else { %>
                        <div class="item-info__wrap type-left">
                            <div class="font-body-lg info-title">재고 최적화</div>
                            <ul class="info-text">
                                <li>간헐적 수요 대응을 위해 고객 만족도 수준에 따라 필요한 적정 재고 산출</li>
                            </ul>
                        </div>
                    <% } %>
                <% } else { %>
                    <div class="item-info__wrap type-left">
                        <div class="font-body-lg info-title">재고 최적화</div>
                        <ul class="info-text">
                            <li>간헐적 수요 대응을 위해 고객 만족도 수준에 따라 필요한 적정 재고 산출</li>
                        </ul>
                    </div>
                <% } %> 
            </div>
        <% } %>
    <% } %>  
</div>
<!-- cmp_Itemlist_3Columns -->