<!-- cmp-form-group -->
<div class="cmp-form-group">
  <% 
    const data = (typeof jsonData !== 'undefined' ? jsonData : {}); 
    const box = (typeof data.box !== 'undefined' ? data.box : {}); 
    const acco = (typeof data.acco !== 'undefined' ? data.acco : []); 
  %>
  <div class="cmp-form-group__wrap">
    <% if(typeof box !=='undefined' && box) { %>
      <div class="cmp-form-group__box">
        <%- include('src/component/cmp_input.html', Object.assign({}, locals, { 
            jsonData: [
              {
                id: 0,
                inputData: [
                  {
                    type: "checkbox",
                    name: box.name,
                    dataList: [
                      {
                        value: box.value,
                        label: box.label,
                        required: box.required,
                        checked: box.checked,
                        disabeld: box.disabeld,
                      },
                    ],
                  },
                ]
              },
            ],
        })) %>
      </div>
    <% } %>
    <% if(typeof acco !=='undefined' && acco) { %>
      <div class="cmp-form-group__accordion <%= typeof typeClass !== 'undefined' ? typeClass : 'basic-type' %>">
        <% acco.forEach((terms, i) => { %>
          <div class="accordion-item">
            <div class="accordion-title">
              <%- include('src/component/cmp_input.html', Object.assign({}, locals, { 
                  jsonData: [
                    {
                      id: i,
                      inputData: [
                        {
                          type: "checkbox",
                          size: "small",
                          name: data.name,
                          dataList: [
                            {
                              value: terms.value,
                              label: terms.label,
                              required: terms.required,
                              checked: terms.checked,
                              disabeld: terms.disabeld,
                            },
                          ],
                        },
                      ]
                    },
                  ],
              })) %>
              <button><i class="ico icon-arrow-down-bl24"></i></button>
            </div>
            <div class="accordion-content">
              <div class="accordion-text">
                <%- terms.text %>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% } %>
  </div>
</div>