                <div class="lnb-side__wrap">
                    <ul class="lnb_list has-chilren">
                        <li><strong>폼</strong>
                            <ul>
                                <li><a href="#">Input</a></li>
                                <li><a href="#">Select Box</a></li>
                                <li><a href="#">Radio & Checkbox</a></li>
                                <li><a href="#">Extends</a></li>
                            </ul>
                        </li>
                        <li><strong>아이콘</strong>
                            <ul>
                                <li><a href="/src/component/cmp_icon.html">아이콘</a></li>
                            </ul>
                        </li>
                        <li><strong>컴포넌트</strong>
                            <ul>
                                <li><a href="/src/component/cmp_button.html">버튼</a></li>
                                <li><a href="#">모달</a></li>
                                <li><a href="#">아코디언</a></li>
                                <li><a href="#">테이블</a></li>
                                <li><a href="/src/component/cmp_tab.html">탭</a></li>
                                <li><a href="#">드롭다운</a></li>
                                <li><a href="#">툴팁</a></li>
                                <li><a href="#">토스트</a></li>
                            </ul>
                        </li>    
                        <li><strong>유틸리티</strong>
                            <ul>
                                <li><a href="#">스와이프</a></li>
                                <li><a href="#">모션</a></li>
                            </ul>
                        </li>                
                    </ul>
                </div> 