<!-- cmp-input -->
<div class="cmp-wrap cmp-input">
    <% 
        const data = (typeof jsonData !== 'undefined' ? jsonData : []); 
    %>
    <% data.forEach((item)=> { %>
        <div class="cmp-input__wrap">
            <% 
                const title = (typeof item.title !== 'undefined' ? item.title : []);
                const inputDataList = (typeof item.inputData !== 'undefined' ? item.inputData : []);
            %>
            <% inputDataList.forEach((inputData) => { %>
                <div class="cmp-input__container">
                    <% if(typeof inputData.title !=='undefined' && inputData.title) { %>
                        <div class="cmp-input__title">
                            <% if(inputData.type === "checkbox" || inputData.type === "radio") { %>
                                <span class="font-caption-md-ui <%- inputData.required === true ? 'cmp-input__title--required' : '' %>" for="<%- inputData.id %>"><%- inputData.title %></span>
                            <% } else { %>
                                <label class="font-caption-md-ui <%- inputData.required === true ? 'cmp-input__title--required' : '' %>" for="<%- inputData.id %>"><%- inputData.title %></label>
                            <% } %>
                        </div>
                    <% } %>
                    <% if(typeof inputData !=='undefined' && inputData) { %>
                        <div class="cmp-input__content">
                            <div class="cmp-input__box <%- inputData.dataListStyle === 'sub' ? 'cmp-input__box--sub' : '' %>">
                                <% if(inputData.type === 'select') { %>
                                    <% if(!inputData.title) { %>
                                        <label class="ir-text" for="<%- item.id %>"><%- inputData.placeholder %></label>
                                    <% } %>
                                    <select class="cmp-input__item cmp-input__item--select <%- inputData.state === 'disabled' && inputData.state ? 'cmp-input__item--disabled' : '' %> <%- inputData.state === 'readonly' && inputData.state ? 'cmp-input__item--readonly' : '' %> <%- inputData.state === 'error' && inputData.state ? 'cmp-input__item--error' : '' %> <%- inputData.state==='success' && inputData.state ? 'cmp-input__item--success' : '' %>" id="<%- inputData.id %>" <%- inputData.state === 'disabled' && inputData.state ? 'disabled' : '' %> <%- inputData.state === 'readonly' && inputData.state ? 'readonly' : '' %> <%- inputData.required === true ? 'required' : '' %>>
                                        <% if(inputData.placeholder) { %>
                                            <option value="" disabled hidden selected><%- inputData.placeholder %></option>
                                        <% } %>
                                        <% inputData.option.forEach((option)=> { %>
                                            <option value="<%- option.value %>" <%- option.selected === true ? 'selected' : '' %>><%- option.value %></option>
                                        <% }) %>
                                    </select>
                                <% } else if(inputData.type === 'search') { %>
                                    <% if(!inputData.title) { %>
                                        <label class="ir-text" for="<%- inputData.id %>"><%- inputData.placeholder %></label>
                                    <% } %>
                                    <input
                                        class="cmp-input__item cmp-input__item--<%- inputData.type %> <%- inputData.state === 'disabled' && inputData.state ? 'cmp-input__item--disabled' : '' %> <%- inputData.state === 'readonly' && inputData.state ? 'cmp-input__item--readonly' : '' %> <%- inputData.state === 'error' && inputData.state ? 'cmp-input__item--error' : '' %> <%- inputData.state === 'success' && inputData.state ? 'cmp-input__item--success' : '' %>"
                                        id="<%- inputData.id %>"
                                        type="text"
                                        placeholder="<%- inputData.placeholder %>"
                                        value="<%- inputData.value %>"
                                        <%- inputData.state === 'disabled' && inputData.state ? 'disabled' : '' %>
                                        <%- inputData.state === 'readonly' && inputData.state ? 'readonly' : '' %>
                                        <%- inputData.required === true ? 'required' : '' %>
                                    >
                                    <button type="button" class="btn btn-remove">
                                        <i class="ico icon-remove-bl24"></i>
                                        <span class="ir-text">삭제</span>
                                    </button>
                                    <button type="button" class="btn btn-search">
                                        <i class="ico icon-search-bl32"></i>
                                        <span class="ir-text">검색</span>
                                    </button>
                                <% } else if(inputData.type === 'textarea') { %>
                                    <div class="cmp-input__item--<%- inputData.type %>">
                                    <% if(!inputData.title) { %>
                                        <label class="ir-text" for="<%- item.id %>"><%- inputData.placeholder %></label>
                                    <% } %>
                                    <textarea
                                        class="cmp-input__item <%- inputData.state === 'disabled' && inputData.state ? 'cmp-input__item--disabled' : '' %> <%- inputData.state === 'readonly' && inputData.state ? 'cmp-input__item--readonly' : '' %> <%- inputData.state === 'error' && inputData.state ? 'cmp-input__item--error' : '' %> <%- inputData.state==='success' && inputData.state ? 'cmp-input__item--success' : '' %>"
                                        id="<%- inputData.id %>"
                                        type="text"
                                        placeholder="<%- inputData.placeholder %>"
                                        <%- inputData.state === 'disabled' && inputData.state ? 'disabled' : '' %>
                                        <%- inputData.state === 'readonly' && inputData.state ? 'readonly' : '' %>
                                        <%- inputData.required === true ? 'required' : '' %>
                                        ><%- inputData.value %></textarea>
                                        <% if(inputData.countMax && inputData.state !== 'error' && inputData.state !== 'success') { %>
                                            <p class="cmp-input__count"><span>0</span> / <%- inputData.countMax %></p>
                                        <% } %>
                                    </div>
                                <% } else if(inputData.type === 'checkbox') { %>
                                    <% inputData.dataList.forEach((check)=> { %>
                                        <div class="cmp-input__label-box">
                                            <input class="<%- inputData.size === 'small' && inputData.size ? 'cmp-input__item--checkbox--small' : 'cmp-input__item--checkbox' %> <%- check.disabeld === 'disabled' && check.disabeld ? 'cmp-input__item--disabled' : '' %>" id="<%- check.value %>" type="checkbox" name="<%- inputData.name %>" value="<%- check.value %>" <%- check.disabeld === true ? 'disabled' : '' %> <%- check.checked === true ? 'checked' : '' %> <%- check.required === true ? 'required' : '' %>>
                                            <label class="<%- check.label ? '' : 'ir-text' %> cmp-input__label-text" for="<%- check.value %>"><%- check.label ? check.label : check.id %></label>
                                        </div>
                                    <% }) %>
                                <% } else if(inputData.type === 'radio') { %>
                                    <% inputData.dataList.forEach((radio)=> { %>
                                        <div class="cmp-input__label-box">
                                            <input class="cmp-input__item cmp-input__item--radio <%- radio.disabeld === 'disabled' && radio.disabeld ? 'cmp-input__item--disabled' : '' %>" id="<%- radio.value %>" type="radio" name="<%- inputData.name %>" value="<%- radio.value %>" <%- radio.disabeld === true ? 'disabled' : '' %> <%- radio.checked === true ? 'checked' : '' %> <%- radio.required === true ? 'required' : '' %>>
                                            <label class="<%- radio.label ? '' : 'ir-text' %> cmp-input__label-text" for="<%- radio.value %>"><%- radio.label ? radio.label : radio.value %></label>
                                        </div>
                                    <% }) %>
                                <% } else if(inputData.type === 'dropdown') { %>
                                    <div class="dropdown-menu cmp-input__item--dropdown">
                                        <div class="cmp-input__item">
                                            <input class="dropdown_input" placeholder="<%- inputData.enterPlacehold %>">
                                                <button class="btn-dropdown no-select"><%- inputData.placeholder %></button>
                                            </div>
                                        <ul class="dropdown_list">
                                            <% inputData.option.forEach((option)=> { %>
                                                <li class="<%- option.disabled === true && option.disabled ? 'is-disabled' : '' %>">
                                                    <button class="<%- option.enter === true && option.enter ? 'dropdown_enter' : '' %>"><%- option.value %></button>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                    <!-- 아코디언처럼 펼쳐지는 타입 -->
                                <% } else { %>
                                    <% if(!inputData.title) { %>
                                        <label class="ir-text" for="<%- inputData.id %>"><%- inputData.placeholder %></label>
                                    <% } %>
                                    <input
                                    class="cmp-input__item cmp-input__item--<%- inputData.type %> <%- inputData.state === 'disabled' && inputData.state ? 'cmp-input__item--disabled' : '' %> <%- inputData.state === 'readonly' && inputData.state ? 'cmp-input__item--readonly' : '' %> <%- inputData.state === 'error' && inputData.state ? 'cmp-input__item--error' : '' %> <%- inputData.state==='success' && inputData.state ? 'cmp-input__item--success' : '' %>"
                                    id="<%- inputData.id %>"
                                    type="<%- inputData.type %>"
                                    placeholder="<%- inputData.placeholder %>"
                                    value="<%- inputData.value %>"
                                    <%- inputData.state === 'disabled' && inputData.state ? 'disabled' : '' %>
                                    <%- inputData.state === 'readonly' && inputData.state ? 'readonly' : '' %>
                                    <%- inputData.required === true ? 'required' : '' %>
                                    >
                                <% } %>
                            </div>
                            <% if(inputData.type === 'search' && inputData.step) { %>
                                <!-- .cmp-input__drop-content.is-active : 가이드를 위한 활성화 처리 -->
                                <div class="cmp-input__drop-content is-active">
                                    <% if(inputData.step === 'guide') { %>
                                        <!-- search : 검색영역 최초 활성화 시 -->
                                        <div class="cmp-input__drop-content--guide">
                                            <span class="font-body-lg font-semibold drop-content__title">회사(소속) 검색 Tip</span>
                                            <dl>
                                                <dt class="font-body-md font-semibold">기업명 검색 시</dt>
                                                <dd>근무기업의 사업자등록증에 기재된 한글 기업명이 가장 정확하게 검색됩니다. (예시: LG CNS -> 엘지씨엔에스)</dd>
                                            </dl>
                                            <dl>
                                                <dt>사업자등록번호 검색 시</dt>
                                                <dd>10자리 숫자로만 입력해주세요.</dd>
                                            </dl>
                                        </div>
                                    <% } else if (inputData.step === 'result') {%>
                                        <!-- search : 검색 시_결과노출 -->
                                        <div class="cmp-input__drop-content--result">
                                            <ul class="result__list">
                                                <li>
                                                    <a href="#" class="result__select-box">
                                                        <span class="font-body-md font-semibold result__title">엘지씨앤에스</span>
                                                        <span class="font-body-sm result__address result__address--num">1234567890</span>
                                                        <span class="font-body-sm result__address">경기도 성남시 분당구 황새울로 234</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="result__select-box">
                                                        <span class="font-body-md font-semibold result__title">엘지씨앤에스</span>
                                                        <span class="font-body-sm result__address result__address--num">1234567890</span>
                                                        <span class="font-body-sm result__address">경기도 성남시 분당구 황새울로 234</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="result__select-box">
                                                        <span class="font-body-md font-semibold result__title">엘지씨앤에스</span>
                                                        <span class="font-body-sm result__address result__address--num">1234567890</span>
                                                        <span class="font-body-sm result__address">경기도 성남시 분당구 황새울로 234</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="result__select-box">
                                                        <span class="font-body-md font-semibold result__title">엘지씨앤에스</span>
                                                        <span class="font-body-sm result__address result__address--num">1234567890</span>
                                                        <span class="font-body-sm result__address">경기도 성남시 분당구 황새울로 234</span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- pagination : 검색결과가 10개 이상일 경우 노출 -->
                                            <%- include('src/component/cmp_pagination.html') %>
                                            <!-- //pagination -->
                                            <div class="result__util">
                                                <p class="result__util__text font-body-sm">현재 검색에 사용한 회사 정보로 직접 입력하시겠습니까?</p>
                                                <div class="button__wrap">
                                                    <button type="button" class="btn btn-ultra-small btn-secondary">
                                                        <span class="btn__text">입력하기</span>
                                                    </button>
                                                    <button type="button" class="btn btn-ultra-small btn-secondary result__btn-close">
                                                        <span class="btn__text">닫기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } else if (inputData.step === 'result-empty') {%>
                                        <!-- search : 검색 시_결과없음 -->
                                        <div class="cmp-input__drop-content--result-empty">
                                            <p class="font-body-lg font-semibold result__empty-text">검색 결과가 없습니다.</p>
                                            <div class="result__util">
                                                <p class="result__util__text font-body-sm">현재 검색에 사용한 회사 정보로 직접 입력하시겠습니까?</p>
                                                <div class="button__wrap">
                                                    <button type="button" class="btn btn-ultra-small btn-secondary">
                                                        <span class="btn__text">입력하기</span>
                                                    </button>
                                                    <button type="button" class="btn btn-ultra-small btn-secondary result__btn-close">
                                                        <span class="btn__text">닫기</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                            <% if(inputData.info) { %>
                                <p class="cmp-input__info"><%- inputData.info %></p>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            <% }) %>
        </div>
    <% }) %>
</div>