<!-- 이미지 컴포넌트 -->
<div class="cmp-wrap cmp-image-box <%- typeof marginVertical !== 'undefined' && marginVertical ? marginVertical : '' %>">
    <% 
        const data=(typeof jsonData !=='undefined' ? jsonData : []); 
        const isRound = typeof round !== 'undefined' ? round : false; 
    %>
    <% if (data.length> 0) { %>
        <div class="img-box <%- isRound ? 'img-box--round' : '' %> <%- typeof addClass !== 'undefined' && addClass ? addClass : '' %>">
            <% data.forEach((item)=> { %>
                <img src="<%- item.pc %>" alt="<%- alt %>" class="<%- item.mo && typeof item.mo !== 'undefined' ? 'img-box__item-pc' : ''%>">
                <% if(item.mo && typeof item.mo !=='undefined' ) {%>
                    <img src="<%- item.mo %>" alt="<%- alt %>" class="img-box__item-mo">
                <% } %>
            <% }) %>
        </div>
    <% } %>
</div>