<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <div data-include-path="/src/guide/header.html"></div>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <div data-include-path="./cmp_lnb.html"></div>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Button Component(Basic)</p>                    
                    <div class="cmp-exsample__wrap mt-5">
                        <!-- 기본 button -->
                        <div class="button__wrap">
                            <button type="button" class="btn btn-primary">
                                목록                                
                            </button>                            
                            <button type="button" class="btn btn-primary">
                                목록
                                <i class="ico icon-arrow-right-wt16"></i>
                            </button>
                        </div>
                        <!-- //기본 button -->
                    </div>

                    <p class="guide-title-h3 mt-10">Button Component(White)</p>
                    <div class="cmp-exsample__wrap mt-5 bg-black p-4">
                        <!-- 배경 흰색 button -->
                        <!-- hover, disabled 시 컬러없음 * 추후 디자인 추가 예정 -->
                        <div class="button__wrap">
                            <button type="button" class="btn btn-white">
                                목록
                            </button>
                            <button type="button" class="btn btn-white" disabled>
                                목록
                                <i class="ico icon-arrow-right-wt16"></i>
                            </button>
                        </div>
                        <!-- //배경 흰색 button -->
                    </div>

                    <p class="guide-title-h3 mt-10">Button Component(Black)</p>
                    <div class="cmp-exsample__wrap mt-5">
                        <!-- 배경 검정색 button -->
                        <!-- hover, disabled 시 컬러없음 * 추후 디자인 추가 예정 -->
                        <div class="button__wrap">
                            <button type="button" class="btn btn-black">
                                목록
                            </button>
                            <button type="button" class="btn btn-black" disabled>
                                목록
                                <i class="ico icon-arrow-right-wt16"></i>
                            </button>
                        </div>
                        <!-- //배경 검정색 button -->
                    </div>

                    <p class="guide-title-h3 mt-10">Button Component(Transparent)</p>
                    <div class="cmp-exsample__wrap mt-5 bg-black p-4">
                        <!-- 배경 투명 & 테두리 button -->
                        <!-- hover, disabled 시 컬러없음 * 추후 디자인 추가 예정 -->
                        <div class="button__wrap">
                            <button type="button" class="btn btn-trans">
                                목록
                            </button>
                            <button type="button" class="btn btn-trans" disabled>
                                목록
                                <i class="ico icon-arrow-right-wt16"></i>
                            </button>
                        </div>
                        <!-- //배경 투명 & 테두리 button -->
                    </div>

                    <p class="guide-title-h3 mt-10">Button Component(Round)</p>
                    <div class="cmp-exsample__wrap mt-5">
                        <!-- 배경 투명 & 테두리 button -->
                        <!-- hover, disabled 시 컬러없음 * 추후 디자인 추가 예정 -->
                        <div class="button__wrap">
                            <button type="button" class="btn btn-round">
                                목록
                            </button>
                            <button type="button" class="btn btn-round" disabled>
                                목록
                            </button>
                        </div>
                        <!-- //배경 투명 & 테두리 button -->
                    </div>

                    <p class="guide-title-h3 mt-10">Button Component(Size)</p>
                    <div class="cmp-exsample__wrap mt-5">
                        <div class="button__wrap">
                            <button type="button" class="btn btn-black btn-small">
                                small
                            </button>
                            <button type="button" class="btn btn-black btn-middle">
                                middle
                                <i class="ico icon-arrow-right-wt16"></i>
                            </button>
                        </div>
                        <!-- //배경 흰색 button -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script type="module">
        import { checkInputFocus } from "/src/assets/js/ui_common.js"
        checkInputFocus();
    </script>
</body>
</html>