<div class="cmp-wrap cmp-overview__wrap <%= typeof isRow !== 'undefined' && isRow ? 'cmp-overview__wrap--row' : '' %>">
    <div class="font-head-md cmp-overview-title"><%- typeof overviewTitle !== 'undefined' ? overviewTitle : 'overview 타이틀' %>
    </div>

    <% if(typeof overviewContent !== 'undefined' && overviewContent) { %>
        <div class="font-body-sm cmp-overview-text">
            <%- typeof overviewContent !== 'undefined' ? `${overviewContent}` : `<p>overview 문구 길게 들어갈수 있음</p>` %>
        </div>
    <% } else if(typeof overviewContent2 !== 'undefined' && overviewContent2) { %>
        <div class="font-body-sm cmp-overview-text2">
            <%- typeof overviewContent2 !== 'undefined' ? `${overviewContent2}` : `<p>overview2 문구 길게 들어갈수 있음</p>` %>
        </div>
    <% } else if(typeof overviewContent3 !== 'undefined' && overviewContent3) { %>
        <div class="font-body-lg cmp-overview-text">
            <%- typeof overviewContent3 !== 'undefined' ? `${overviewContent3}` : `<p>overview3 문구 길게 들어갈수 있음</p>` %>
        </div>
    <% } else if(typeof overviewContent4 !== 'undefined' && overviewContent4) { %>
        <div class="font-body-md cmp-overview-text4">
            <%- typeof overviewContent4 !== 'undefined' ? `${overviewContent4}` : `<p>overview3 문구 길게 들어갈수 있음</p>` %>
        </div>
    <% } %>

</div>