<div class="cmp-wrap cmp_teaser_title__wrap mb-<%- typeof marginbottom !== 'undefined' && marginbottom ? marginbottom : '0' %>">
    <% if (typeof title !== 'undefined' && title) { %>
        <div class="teaser-title <%= typeof arrowButton !== 'undefined' ? 'type-button-flex' : '' %>">
            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                title:
                    {
                        text: title.text,
                        size: title.size ? title.size : 'sm',
                        class: title.class,
                        subTitle: title.subTitle,
                        subDesc: title.subDesc,
                    },
            })) %>
            <!-- 04.15 자세히 보기 버튼 임시 비활성화 -->
            <!-- <% if(typeof arrowButton !== 'undefined' && arrowButton) {%>
                <div class="button__wrap">
                    <a href="#" class="btn btn-medium btn-text">
                        <span class="btn__text">
                            <%= arrowButton %>
                        </span>
                        <i class="ico icon-pagination-next"></i>
                    </a>
                </div>
            <% } %> -->
            <!-- // 04.15 자세히 보기 버튼 임시 비활성화 -->
        </div>
    <% } %>
    <% if(typeof textCon !== 'undefined' && textCon) { %>
        <div class="teaser-text">
            <% textCon.forEach((text) => { %>
                <p class="font-body-md"><%- text %></p>
            <% }) %>
        </div>
    <% } %>
</div>