<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <div data-include-path="/src/guide/header.html"></div>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <div data-include-path="./cmp_lnb.html"></div>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Input Component(Basic)</p>                    
                    <div class="cmp-exsample__wrap mt-5">
                        <!-- 기본 Input -->
                        <div class="form-element__wrap">
                            <label class="ir-text">항목명</label>
                            <span class="form-element__inner input-type">
                                <input type="text" value="" placeholder="placeholder 입력하세요" />
                            </span>
                        </div>
                        <!-- //기본 Input -->
                    </div>
                    <p class="guide-title-h3 mt-10">Input Component(search)</p>                    
                    <div class="cmp-exsample__wrap mt-5">
                        <!-- 기본 Input -->
                        <div class="form-element__wrap">
                            <label class="ir-text">항목명</label>                          
                            <span class="form-element__inner input-type input-search search-type-full">
                                <button type="button" class="btn btn-search">
                                    <i class="ico icon-search-bl35"></i>                                
                                    <span class="ir-text">검색</span>
                                </button>                                  
                                <input type="text" value="" placeholder="placeholder 입력하세요" />
                                <button type="button" class="btn btn-remove">
                                    <i class="ico icon-remove-bl28"></i>
                                    <span class="ir-text">삭제</span>
                                </button>                                
                            </span>
                        </div>
                        <!-- //기본 Input -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script type="module">
        import { checkInputFocus } from "/src/assets/js/ui_common.js"
        checkInputFocus();
    </script>
</body>
</html>