<!-- 이미지 컴포넌트 -->
<div class="cmp-wrap cmp-image-box">
    <% 
        const data=(typeof jsonData !=='undefined' ? jsonData : []); 
    %>
    <% if (data.length> 0) { %>
        <div class="img-box <%- addClass %>">
            <% data.forEach((item)=> { %>
                <img src="<%- item.pc %>" alt="<%- alt %>" class="<%- item.mo && typeof item.mo !== 'undefined' ? 'img-box__item-pc' : ''%>">
                <% if(item.mo && typeof item.mo !== 'undefined') {%>
                    <img src="<%- item.mo %>" alt="<%- alt %>" class="img-box__item-mo">
                <% } %>
            <% }) %>
        </div>
    <% } else {%>
        <div class="img-box">
            <img src="https://placehold.co/1144x643" alt="이미지 컴포넌트 기본 타입">
        </div>
    <% } %>
</div>