<div class="cmp-wrap cmp-overview <%= typeof isRow !== 'undefined' && isRow ? 'cmp-overview--row' : '' %> <%- typeof marginVertical !=='undefined' && marginVertical ? marginVertical : '' %>">
    <% if(typeof overviewTitle !== 'undefined' && overviewTitle) { %>
        <span class="cmp-overview__title <%- typeof overviewTitle.size !== 'undefined' && overviewTitle.size ? overviewTitle.size : 'font-head-lg' %> <% typeof overviewTitle.style !=='undefined' && overviewTitle.style ? overviewTitle.style : 'font-medium color-text-default' %>">
            <%- overviewTitle.text ? overviewTitle.text : '' %>
        </span>
    <% } %>
    <% if(typeof overviewContent !== 'undefined' && overviewContent) { %>
        <div class="cmp-overview__text-box <%- typeof overviewContent.size !== 'undefined' && overviewContent.size ? overviewContent.size : 'font-body-md' %> <%- typeof overviewContent.style !=='undefined' && overviewContent.style ? overviewContent.style : 'font-normal color-text-secondary' %>">
            <% if(Array.isArray(overviewContent.text)) { %>
                <% overviewContent.text.forEach((item) => { %>
                    <p class="cmp-overview__text">
                        <%- item ? item : '' %>
                    </p>
                <% }) %>
            <% } else { %>
                <p class="cmp-overview__text">
                    <%- overviewContent.text ? overviewContent.text : '' %>
                </p>
            <% } %>
        </div>
    <% } %>
</div>