<div class="cmp-wrap cmp-buttonbanner" style="--button-banner-pc-img: url('<%= typeof pcImg !== 'undefined' ? pcImg : '등록된 이미지 없음' %>'); 
--button-banner-mo-img: url('<%= typeof moImg !== 'undefined' ? moImg : '등록된 이미지 없음' %>');">
    <div class="inner-wrap">
        <div class="banner_content">
            <%- typeof title !== 'undefined' ? `<p>${title}</p>` : `<p>타이틀 문구 길게 들어갈수 있음</p>` %>
            <div class="button__wrap">
                <a href="#" class="btn btn-large btn-primary">
                    <span class="btn__text">
                        <%= typeof buttonText !=='undefined' ? buttonText : '기본 버튼 문구' %>
                    </span>
                    <i class="btn__icon ico icon-arrow-right-wt16"></i>
                </a>
            </div>
        </div>
    </div>
</div>