<div class="cmp-wrap cmp_teaser_title__wrap">
    <div class="font-head-xs teaser-title"><strong><%= typeof teaserPoint !== 'undefined' ? teaserPoint : '강조 문구' %></strong>를 지원하는 <%= typeof teaserTitle !== 'undefined' ? teaserTitle : '티저 타이틀 기본 문구' %></div>
    <div class="font-body-sm teaser-text">
        <%- typeof teaserText1 !== 'undefined' ? `<p>${teaserText1}</p>` : `<p>티저 문구 길게 들어갈수 있음</p>` %>
        <%- typeof teaserText2 !== 'undefined' ? `<p>${teaserText2}</p>` : '' %>
    </div>
</div>