<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <div data-include-path="/src/guide/header.html"></div>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <div data-include-path="./cmp_lnb.html"></div>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Button Component(Basic)</p>                    
                    <div class="cmp-exsample__wrap mt-5">
                        <!-- 기본 button -->
                        <div class="button__wrap">
                            <button type="button" class="btn btn-primary">
                                목록                                
                            </button>                            
                            <button type="button" class="btn btn-primary">
                                목록
                                <i class="ico icon-arrow-right-wt16"></i>
                            </button>
                        </div>
                        <!-- //기본 button -->
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script type="module">
        import { checkInputFocus } from "/src/assets/js/ui_common.js"
        checkInputFocus();
    </script>
</body>
</html>