<div class="cmp-wrap cmp-pagination__wrap">
    <div class="paging">
        <a href="#none" class="btn-move first is-disabled">
            <i class="ico icon-pagination-first"><span class="ir-text">맨처음으로</span></i>
        </a>
        <a href="#none" class="btn-move prev is-disabled">
            <i class="ico icon-pagination-prev"><span class="ir-text">이전페이지</span></i>
        </a>
        <ol class="font-caption-xl pc-type">
            <li><a href="#none" class="is-active">1</a></li>
            <li><a href="#none">2</a></li>
            <li><a href="#none">3</a></li>
            <li><a href="#none">4</a></li>
            <li><a href="#none">5</a></li>
        </ol>
        <ol class="font-caption-xl mo-type">
            <li><a href="#none"  class="is-active">1</a></li>
            <li><a href="#none">2</a></li>
            <li><a href="#none">3</a></li>
        </ol>        
        <a href="#none" class="btn-move next">
            <i class="ico icon-pagination-next"><span class="ir-text">다음페이지</span></i>
        </a>
        <a href="#none" class="btn-move last">
            <i class="ico icon-pagination-last"><span class="ir-text">마지막페이지</span></i>
        </a>
    </div>
</div>