<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Tab Component</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- 기본 탭 -->
                        <div class="cmp-tab basic-type align-left">
                            <div class="cmp-tab__header">
                                <ul class="tab__menu">
                                    <li class="is-active">
                                        <a href="#">탭 메뉴1</a>
                                    </li>
                                    <li>
                                        <a href="#">탭 메뉴2</a>
                                    </li>   
                                    <li>
                                        <a href="#">탭 메뉴3</a>
                                    </li> 
                                    <li>
                                        <a href="#">탭 메뉴4</a>
                                    </li>                                                                                                                                              
                                </ul>
                            </div>
                            <div class="tab-content__wrap">
                                <div class="tab__content is-active">
                                    <div style="height: 300px;">탭 메뉴1</div>
                                </div>
                                <div class="tab__content">
                                    <div style="height: 300px;">탭 메뉴2</div>
                                </div>
                                <div class="tab__content">
                                    <div style="height: 300px;">탭 메뉴3</div>
                                </div>  
                                <div class="tab__content">
                                    <div style="height: 300px;">탭 메뉴4</div>
                                </div>                                                                 
                            </div>
                        </div>
                        <!-- //기본 탭 -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script type="module">
        import { tabMenu } from "/src/assets/js/ui_common.js"
        tabMenu('.basic-type', 'tab');
    </script>
</body>
</html>