<div class="cmp-wrap cmp-buttonbanner<%= typeof desc !== 'undefined' && desc ? ' cmp-buttonbanner__sub' : '' %>" style="--button-banner-pc-img: url('<%= typeof pcImg !== 'undefined' ? pcImg : '등록된 이미지 없음' %>'); 
--button-banner-mo-img: url('<%= typeof moImg !== 'undefined' ? moImg : '등록된 이미지 없음' %>');">
    <div class="inner-wrap">
        <div class="banner_content">
            <div class="cmp-buttonbanner-subtitle">
                <%- typeof subtitle !== 'undefined' ? `<p>${subtitle}</p>` : `<p>타이틀 문구 길게 들어갈수 있음</p>` %>
            </div>
            <div class="cmp-buttonbanner-title">
                <%- typeof title !== 'undefined' ? `<p>${title}</p>` : `<p>타이틀 문구 길게 들어갈수 있음</p>` %>
            </div>
            <% if(typeof desc !== 'undefined' && desc) { %>
                <div class="cmp-buttonbanner-desc">
                    <% desc.forEach((item)=> { %>
                        <span class="cmp-buttonbanner-desc__text font-head-sm font-normal color-text-default"><%- item %></span>
                    <% })%>
                </div>
            <% } %>
            <div class="cmp-buttonbanner-btn">
                <a href="#">
                    <% if(typeof buttonText !== 'undefined' && buttonText) { %>
                        <span class="ir-text"></span>
                    <% } %>
                    <i class="btn__icon ico icon-arrow-right-bl80"></i>
                </a>
            </div>
            <div class="button__wrap button__wrap--btn-top align-right">
                <button type="button" class="btn-icon btn-top">
                    <i class="ico icon-navigation-up-w19"></i>
                    <span class="ir-text">최상위로 이동</span>
                </button>
            </div>
        </div>
    </div>
</div>