<!-- cmp-dash-list -->
<% 
    const margin = typeof marginVertical !=='undefined' && marginVertical ? marginVertical : '' ;
    console.log(margin)
%>
<div class="cmp-wrap cmp-dash-list <%- margin %>">
    <% 
        const data = (typeof jsonData !== 'undefined' ? jsonData : []); 
    %>
    <% if(typeof utilText !=='undefined' && utilText) { %>
        <div class="cmp-dash-list__util">
            <span class="font-body-xs"><%- utilText %></span>
        </div>
    <% } %>
    <ul class="cmp-dash-list__wrap">
        <% data.forEach((item) => { %>
            <li class="dash-list__item <%- typeof itemType !== 'undefined' && itemType ? itemType : '' %>">
                <div class="dash-list__text-box">
                    <span class="dash-list__small-text font-body-sm color-text-secondary"><%- item.smallText %></span>
                    <span class="dash-list__big-text font-head-md color-text-default"><%- item.bigText %></span>
                </div>
            </li>
        <% }) %>
    </ul>
</div>