<div class="cmp-wrap cmp-title__wrap">
    <% if (typeof subTitle !=='undefined' ) { %>
        <div class="font-body-lg title-sub"><%- subTitle %></div>
    <% } %>
    <div class="font-head-md">
        <% if(typeof titleText !== 'undefined') { %>
            <strong class="title-text"><%- titleText %></strong>
        <% } %>
        <% if (typeof titlePrimary2 !== 'undefined') {%>
            <strong class="title-text colorcm-primary"><%- titlePrimary2 %></strong>
        <% } %>
    </div>
    <% if (typeof titleText2 !=='undefined' ) { %>
        <div class="font-head-md title-text"><%- titleText2 %></div>
    <% } %>
    <% if (typeof titlePrimary !=='undefined' ) { %>
        <div class="font-head-md title-text colorcm-primary"><%- titlePrimary %></div>
    <% } %>
</div>