<div class="cmp-wrap cmp-buttonbanner" style="--button-banner-pc-img: url('<%= typeof pcImg !== 'undefined' ? pcImg : '등록된 이미지 없음' %>'); 
--button-banner-mo-img: url('<%= typeof moImg !== 'undefined' ? moImg : '등록된 이미지 없음' %>');">
    <div class="inner-wrap">
        <div class="banner_content">
            <div class="font-body-sm cmp-buttonbanner-subtitle">
                <%- typeof subtitle !== 'undefined' ? `<p>${subtitle}</p>` : `<p>타이틀 문구 길게 들어갈수 있음</p>` %>
            </div>
            <div class="font-head-md cmp-buttonbanner-title">
                <%- typeof title !== 'undefined' ? `<p>${title}</p>` : `<p>타이틀 문구 길게 들어갈수 있음</p>` %>
            </div>
            <div class="cmp-buttonbanner-btn">
                <a href="#">
                    <span class="ir-text"><%- buttonText %></span>
                    <i class="btn__icon ico icon-arrow-right-bl48"></i>
                </a>
            </div>
            <div class="button__wrap button__wrap--btn-top align-right">
                <button type="button" class="btn-icon btn-top">
                    <i class="ico icon-navigation-up-w19"></i>
                    <span class="ir-text">최상위로 이동</span>
                </button>
            </div>
        </div>
    </div>
</div>