<div class="cmp-wrap cmp-agenda <%- typeof marginVertical !== 'undefined' && marginVertical ? marginVertical : ''%>">
    <% 
    const data = (typeof jsonData !== 'undefined' ? jsonData : []); 
    %>
    <% data.forEach((item)=> { %>
        <div class="cmp-agenda__item">
            <div class="cmp-agenda__time">
                <span class="time-text font-body-lg font-medium"><%- item.timeStart %> ~ <%- item.timeEnd %></span>
            </div>
            <div class="cmp-agenda__box">
                <span class="font-body-lg font-medium"><%- item.boxTitle %></span>
                <div class="cmp-wrap cmp-richtext">
                    <%- item.richText %>
                </div>
            </div>
        </div>
    <% }) %>
</div>