<div class="cmp-wrap cmp-title__wrap mb-<%- typeof marginbottom !== 'undefined' && marginbottom ? marginbottom : '0' %>">
    <% if (typeof title !== 'undefined' && title) { %>
        <% if (typeof title.subTitle !== 'undefined' && title.subTitle) { %>
            <div class="font-body-sm title-sub"><%- title.subTitle %></div>
        <% } %>
        <div class="font-head-<%= typeof title.size !== 'undefined' ? title.size : 'lg' %> <%= typeof title.class !== 'undefined' ? title.class : '' %>"><%- title.text %></div>
        <% if (typeof title.subDesc !=='undefined' && title.subDesc) { %>
            <div class="font-body-sm title-sub-desc"><%- title.subDesc %></div>
        <% } %>
    <% } %>
</div>
