<div class="cmp-wrap cmp-sidebar">
    <ul>
        <% if (typeof anchors !== 'undefined' && anchors.length > 0) { %>
            <% anchors.forEach((anchor, index) => { %>
                <li class="<%= activeSection === anchor.id ? 'is-active' : '' %>">
                    <a href="#<%= anchor.id %>">
                        <span class="circle"></span>
                        <span class="label"><%= anchor.name %></span>
                    </a>
                </li>
                
            <% }); %>
        <% } %>
    </ul>
</div>