<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <title>
      <%= data.title %>
   </title>
   <meta name="description" content="<%= data.description %>">
   <link rel="stylesheet" href="/src/assets/css/index.css" />
   <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
   <div class="wrap bizInfo_financial">
      <%- include('src/_inc/header.html') %>
         <!-- //헤더 영역 -->
         <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { pcImg: 'empty' , moImg: 'empty' ,
            subText: '기업정보' , pageTitle: '재무정보' , rightDesc: '' })) %>


            <!-- //비주얼 영역 -->
            <div class="sub-content__wrap">
               <div class="inner-wrap">
                  <div class="cmp-wrap cmp-tab basic-type align-left">
                     <div class="cmp-tab__header">
                        <ul class="tab__menu">
                           <li class="is-active">
                              <a href="#">재무상태표</a>
                           </li>
                           <li>
                              <a href="#">손익계산서</a>
                           </li>
                           <li>
                              <a href="#">현금흐름표</a>
                           </li>
                           <li>
                              <a href="#">신용등급</a>
                           </li>
                        </ul>
                     </div>
                     <div class="tab-content__wrap">
                        <div class="tab__content is-active">
                           <div style="height: 300px;">탭 메뉴1</div>
                        </div>
                        <div class="tab__content">
                           <div style="height: 300px;">탭 메뉴1</div>

                        </div>
                        <div class="tab__content">
                           <div style="height: 300px;">탭 메뉴1</div>

                        </div>
                        <div class="tab__content font-body-sm">
                           <div class="table-container">
                              <table class="text-center data-table">
                                 <caption>LG CNS 신용등급 평가 정보</caption>
                                 <thead>
                                    <tr>
                                       <th scope="col" class="text-left" colspan="2">평가기관</th>
                                       <th scope="col">신용등급</th>
                                       <th scope="col">Outlook</th>
                                       <th scope="col">평가년도</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td rowspan="3" class="font-bold">국내</td>
                                       <td class="text-left font-bold">한국신용평가</td>
                                       <td>AA-</td>
                                       <td>안정적</td>
                                       <td>2024</td>
                                    </tr>
                                    <tr>
                                       <td class="text-left font-bold">NICE신용평가</td>
                                       <td>AA-</td>
                                       <td>안정적</td>
                                       <td>2024</td>
                                    </tr>
                                    <tr>
                                       <td class="text-left font-bold">한국기업평가</td>
                                       <td>AA-</td>
                                       <td>안정적</td>
                                       <td>2024</td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <%- include('src/_inc/footer.html') %>
   </div>
   <script>
      tabMenu('.basic-type', 'tab');
   </script>
</body>

</html>