<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap bizInfo_enviroMgmt">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="cmp-wrap cmp-tab basic-type align-left">
                    <div class="cmp-tab__header">
                        <ul class="tab__menu">
                            <li class="is-active">
                                <a href="#">방침/관리체계</a>
                            </li>
                            <li>
                                <a href="#">인증/수상</a>
                            </li>   
                            <li>
                                <a href="#">기후변화</a>
                            </li> 
                            <li>
                                <a href="#">실천활동</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content__wrap">
                        <div class="tab__content is-active">
                            <div style="height: 300px;">탭 메뉴1</div>
                        </div>
                        <div class="tab__content">
                            <div style="height: 300px;">탭 메뉴2</div>
                        </div>
                        <div class="tab__content">
                            <div style="height: 300px;">탭 메뉴3</div>
                        </div>  
                        <div class="tab__content">
                            <div style="height: 300px;">탭 메뉴4</div>
                        </div>                                                                 
                    </div>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
    <script>
        tabMenu('.basic-type', 'tab');
    </script>
</body>
</html>