<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>
        <%= data.title %>
    </title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
    <div class="wrap bizinfo-financial">
        <%- include('src/_inc/header.html') %>
            <!-- //헤더 영역 -->
            <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
                pcImg: 'empty' , 
                moImg: 'empty' ,
                subText: 'IR' , 
                pageTitle: '재무정보' , 
                rightDesc: '' 
            })) %>
            <!-- //비주얼 영역 -->
            <div class="sub-content__wrap">
                <div class="inner-wrap wide">
                    <div class="cmp-wrap cmp-tab basic-type align-left mb-exc-spacing-280-178">
                        <div class="cmp-tab__header">
                            <ul class="tab__menu">
                                <li class="is-active">
                                    <a href="#">재무상태표</a>
                                </li>
                                <li>
                                    <a href="#">손익계산서</a>
                                </li>
                                <li>
                                    <a href="#">현금흐름표</a>
                                </li>
                                <li>
                                    <a href="#">신용등급</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content__wrap">
                            <div class="tab__content is-active">
                                <%- include('src/component/cmp_title_unit.html', {
                                    unit : "[ 단위 : 십억원 ]",
                                    marginVertical: 'mb-exc-spacing-40-16',
                                }) %>
                                <div class="graph-container mb-spacing11">
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">자산</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 0,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#B2C0EC',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">부채</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 1,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#C591F7',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">자본</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 2,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#E156E2',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                </div>
                                <%- include('src/component/cmp_title_unit.html', {
                                    title : {
                                        text: '재무상대표',
                                        size: 'lg',
                                        addClass: 'color-text-default font-medium',
                                    },
                                    unit : "[ 단위 : 십억원 ]",
                                    marginVertical: 'mb-spacing05',
                                }) %>
                                <div class="cmp-wrap cmp-table__wrap  mb-0">
                                    <div class="table-container">
                                        <table class="data-table">
                                        <caption>LG CNS 요약 연결재무상태표</caption>
                                        <thead>
                                            <tr class="text-right">
                                                <th scope="col" width="325" class="text-left font-semibold color-text-default">요약 연결재무상태표</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2019년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2020년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2021년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2022년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2023년</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">자산총계</td>
                                                <td class="font-normal color-text-secondary">2,615,308</td>
                                                <td class="font-normal color-text-secondary">2,883,415</td>
                                                <td class="font-normal color-text-secondary">3,324,672</td>
                                                <td class="font-normal color-text-secondary">3,865,135</td>
                                                <td class="font-normal color-text-secondary">4,040,680</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">유동자산</td>
                                                <td class="font-normal color-text-secondary">1,670,395</td>
                                                <td class="font-normal color-text-secondary">1,973,939</td>
                                                <td class="font-normal color-text-secondary">2,330,449</td>
                                                <td class="font-normal color-text-secondary">2,847,939</td>
                                                <td class="font-normal color-text-secondary">3,037,232</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">비유동자산</td>
                                                <td class="font-normal color-text-secondary">1,670,395</td>
                                                <td class="font-normal color-text-secondary">909,476</td>
                                                <td class="font-normal color-text-secondary">994,223</td>
                                                <td class="font-normal color-text-secondary">1,017,196</td>
                                                <td class="font-normal color-text-secondary">1,003,448</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">부채총계</td>
                                                <td class="font-normal color-text-secondary">1,392,470</td>
                                                <td class="font-normal color-text-secondary">1,596,092</td>
                                                <td class="font-normal color-text-secondary">1,862,695</td>
                                                <td class="font-normal color-text-secondary">2,234,346</td>
                                                <td class="font-normal color-text-secondary">2,172,423</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">유동부채</td>
                                                <td class="font-normal color-text-secondary">1,033,222</td>
                                                <td class="font-normal color-text-secondary">1,033,043</td>
                                                <td class="font-normal color-text-secondary">1,382,441</td>
                                                <td class="font-normal color-text-secondary">2,005,334</td>
                                                <td class="font-normal color-text-secondary">1,543,113</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">비유동부채</td>
                                                <td class="font-normal color-text-secondary">359,248</td>
                                                <td class="font-normal color-text-secondary">563,050</td>
                                                <td class="font-normal color-text-secondary">480,254</td>
                                                <td class="font-normal color-text-secondary">229,012</td>
                                                <td class="font-normal color-text-secondary">629,311</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">자본총계</td>
                                                <td class="font-normal color-text-secondary">1,222,838</td>
                                                <td class="font-normal color-text-secondary">1,287,323</td>
                                                <td class="font-normal color-text-secondary">1,461,977</td>
                                                <td class="font-normal color-text-secondary">1,630,788</td>
                                                <td class="font-normal color-text-secondary">1,868,256</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">자본금</td>
                                                <td class="font-normal color-text-secondary">47,198</td>
                                                <td class="font-normal color-text-secondary">47,198</td>
                                                <td class="font-normal color-text-secondary">47,198</td>
                                                <td class="font-normal color-text-secondary">47,198</td>
                                                <td class="font-normal color-text-secondary">47,198</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">자본잉여금</td>
                                                <td class="font-normal color-text-secondary">36,693</td>
                                                <td class="font-normal color-text-secondary">36,693</td>
                                                <td class="font-normal color-text-secondary">36,693</td>
                                                <td class="font-normal color-text-secondary">35,041</td>
                                                <td class="font-normal color-text-secondary">35,041</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">이익잉여금</td>
                                                <td class="font-normal color-text-secondary">1,152,846</td>
                                                <td class="font-normal color-text-secondary">1,220,927</td>
                                                <td class="font-normal color-text-secondary">1,382,398</td>
                                                <td class="font-normal color-text-secondary">1,553,012</td>
                                                <td class="font-normal color-text-secondary">1,772,366</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">기타포괄 손익누계액</td>
                                                <td class="font-normal color-text-secondary">-16,035</td>
                                                <td class="font-normal color-text-secondary">-19,058</td>
                                                <td class="font-normal color-text-secondary">-8,892</td>
                                                <td class="font-normal color-text-secondary">-9,285</td>
                                                <td class="font-normal color-text-secondary">8,700</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">기타자본항목</td>
                                                <td class="font-normal color-text-secondary">-</td>
                                                <td class="font-normal color-text-secondary">-</td>
                                                <td class="font-normal color-text-secondary">-</td>
                                                <td class="font-normal color-text-secondary">-</td>
                                                <td class="font-normal color-text-secondary">-</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">비지배주주지분</td>
                                                <td class="font-normal color-text-secondary">2,135</td>
                                                <td class="font-normal color-text-secondary">1,562</td>
                                                <td class="font-normal color-text-secondary">4,580</td>
                                                <td class="font-normal color-text-secondary">4,823</td>
                                                <td class="font-normal color-text-secondary">4,951</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">부채비율</td>
                                                <td class="font-normal color-text-secondary">114%</td>
                                                <td class="font-normal color-text-secondary">124%</td>
                                                <td class="font-normal color-text-secondary">127%</td>
                                                <td class="font-normal color-text-secondary">137%</td>
                                                <td class="font-normal color-text-secondary">116%</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab__content">
                                <%- include('src/component/cmp_title_unit.html', {
                                    unit : "[ 단위 : 십억원 ]",
                                    marginVertical: 'mb-exc-spacing-40-16',
                                }) %>
                                <div class="graph-container mb-spacing11">
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">매출액</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 0,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#B2C0EC',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">영업이익</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 1,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#C591F7',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">당기순이익</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 2,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#E156E2',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                </div>
                                <%- include('src/component/cmp_title_unit.html', {
                                    title : {
                                        text: '손익계산서',
                                        size: 'lg',
                                        addClass: 'color-text-default font-medium',
                                    },
                                    unit : "[ 단위 : 십억원 ]",
                                    marginVertical: 'mb-spacing05',
                                }) %>
                                <div class="cmp-wrap cmp-table__wrap  mb-0">
                                    <div class="table-container">
                                        <table class="data-table">
                                        <caption>LG CNS 요약 손익계산서</caption>
                                        <thead>
                                            <tr class="text-right">
                                                <th scope="col" width="325" class="text-left font-semibold color-text-default">요약 연결손익계산서</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2019년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2020년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2021년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2022년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2023년</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">매출액</td>
                                                <td class="font-normal color-text-secondary">3,283,314</td>
                                                <td class="font-normal color-text-secondary">3,360,486</td>
                                                <td class="font-normal color-text-secondary">4,143,140</td>
                                                <td class="font-normal color-text-secondary">4,969,651</td>
                                                <td class="font-normal color-text-secondary">5,605,300</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">영업이익</td>
                                                <td class="font-normal color-text-secondary">212,849</td>
                                                <td class="font-normal color-text-secondary">246,121</td>
                                                <td class="font-normal color-text-secondary">328,585</td>
                                                <td class="font-normal color-text-secondary">385,395</td>
                                                <td class="font-normal color-text-secondary">464,048</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">법인세차감전순이익</td>
                                                <td class="font-normal color-text-secondary">207,321</td>
                                                <td class="font-normal color-text-secondary">231,711</td>
                                                <td class="font-normal color-text-secondary">316,090</td>
                                                <td class="font-normal color-text-secondary">364,864</td>
                                                <td class="font-normal color-text-secondary">442,662</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">당기순이익</td>
                                                <td class="font-normal color-text-secondary">163,452</td>
                                                <td class="font-normal color-text-secondary">166,494</td>
                                                <td class="font-normal color-text-secondary">234,946</td>
                                                <td class="font-normal color-text-secondary">264,968</td>
                                                <td class="font-normal color-text-secondary">332,352</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab__content">
                                <%- include('src/component/cmp_title_unit.html', {
                                    unit : "[ 단위 : 십억원 ]",
                                    marginVertical: 'mb-exc-spacing-40-16',
                                }) %>
                                <div class="graph-container mb-spacing11">
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">영업활동 현금흐름</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 0,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#B2C0EC',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">영업활동 현금흐름</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 1,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#C591F7',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                    <div class="graph-container__wrap">
                                        <span class="graph-title color-text-default font-medium text-center font-body-lg block mb-3">재무활동 현금흐름</span>
                                        <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                            id: 2,
                                            type: 'columnChart',
                                            categories: ['2019', '2020', '2021', '2022', '2023'],
                                            series: ['212', '246', '328', '385', '464'],
                                            categoryBarColor : '#E156E2',
                                            valueMax: '600',
                                        })) %>
                                    </div>
                                </div>
                                <%- include('src/component/cmp_title_unit.html', {
                                    title : {
                                        text: '현금흐름표',
                                        size: 'lg',
                                        addClass: 'color-text-default font-medium',
                                    },
                                    unit : "[ 단위 : 천원 ]",
                                    marginVertical: 'mb-spacing05',
                                }) %>
                                <div class="cmp-wrap cmp-table__wrap mb-0">
                                    <div class="table-container">
                                        <table class="data-table">
                                        <caption>LG CNS 현금흐름표</caption>
                                        <thead>
                                            <tr class="text-right">
                                                <th scope="col" width="325" class="text-left font-semibold color-text-default"></th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2019년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2020년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2021년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2022년</th>
                                                <th scope="col" width="223" class="font-semibold color-text-default">2023년</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">영업활동현금흐름</td>
                                                <td class="font-normal color-text-secondary">198,515,329</td>
                                                <td class="font-normal color-text-secondary">431,638,521</td>
                                                <td class="font-normal color-text-secondary">181,285,643</td>
                                                <td class="font-normal color-text-secondary">161,613,218</td>
                                                <td class="font-normal color-text-secondary">143,562,189</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">영업으로부터 창출된 현금</td>
                                                <td class="font-normal color-text-secondary">255,546,926</td>
                                                <td class="font-normal color-text-secondary">475,299,796</td>
                                                <td class="font-normal color-text-secondary">257,457,101</td>
                                                <td class="font-normal color-text-secondary">268,139,578</td>
                                                <td class="font-normal color-text-secondary">279,196,332</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">이자수익 수취</td>
                                                <td class="font-normal color-text-secondary">6,897,130</td>
                                                <td class="font-normal color-text-secondary">7,430,059</td>
                                                <td class="font-normal color-text-secondary">6,391,926</td>
                                                <td class="font-normal color-text-secondary">10,442,897</td>
                                                <td class="font-normal color-text-secondary">31,344,846</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">배당수익 수취</td>
                                                <td class="font-normal color-text-secondary">522,468</td>
                                                <td class="font-normal color-text-secondary">1,111,798</td>
                                                <td class="font-normal color-text-secondary">1,718,188</td>
                                                <td class="font-normal color-text-secondary">716,637</td>
                                                <td class="font-normal color-text-secondary">696,957</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">법인세 환급</td>
                                                <td class="font-normal color-text-secondary">814,599</td>
                                                <td class="font-normal color-text-secondary">1,676,843</td>
                                                <td class="font-normal color-text-secondary">2,689,323</td>
                                                <td class="font-normal color-text-secondary">3,927</td>
                                                <td class="font-normal color-text-secondary">1,847,487</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">이자비용 지급</td>
                                                <td class="font-normal color-text-secondary">14,655,303</td>
                                                <td class="font-normal color-text-secondary">14,447,172</td>
                                                <td class="font-normal color-text-secondary">-12,385,090</td>
                                                <td class="font-normal color-text-secondary">-11,406,447</td>
                                                <td class="font-normal color-text-secondary">-36,595,622</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">법인세 납부</td>
                                                <td class="font-normal color-text-secondary">50,610,491</td>
                                                <td class="font-normal color-text-secondary">39,432,803</td>
                                                <td class="font-normal color-text-secondary">-74,585,805</td>
                                                <td class="font-normal color-text-secondary">-106,283,374</td>
                                                <td class="font-normal color-text-secondary">-132,927,811</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">투자활동현금흐름</td>
                                                <td class="font-normal color-text-secondary">-68,012,672</td>
                                                <td class="font-normal color-text-secondary">-166,228,548</td>
                                                <td class="font-normal color-text-secondary">-109,868,083</td>
                                                <td class="font-normal color-text-secondary">-96,559,238</td>
                                                <td class="font-normal color-text-secondary">-113,740,744</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">투자활동으로 인한 현금유입액</td>
                                                <td class="font-normal color-text-secondary">23,023,855</td>
                                                <td class="font-normal color-text-secondary">50,198,218</td>
                                                <td class="font-normal color-text-secondary">21,728,707</td>
                                                <td class="font-normal color-text-secondary">45,817,317</td>
                                                <td class="font-normal color-text-secondary">132,492,253</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">투자활동으로 인한 현금유출액</td>
                                                <td class="font-normal color-text-secondary">-91,036,527</td>
                                                <td class="font-normal color-text-secondary">-216,426,766</td>
                                                <td class="font-normal color-text-secondary">-131,596,790</td>
                                                <td class="font-normal color-text-secondary">-142,376,555</td>
                                                <td class="font-normal color-text-secondary">-246,232,997</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">재무활동현금흐름</td>
                                                <td class="font-normal color-text-secondary">-80,569,794</td>
                                                <td class="font-normal color-text-secondary">-33,865,175</td>
                                                <td class="font-normal color-text-secondary">-185,481,295</td>
                                                <td class="font-normal color-text-secondary">54,667,966</td>
                                                <td class="font-normal color-text-secondary">-254,728,193</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">재무활동으로 인한 현금유입액</td>
                                                <td class="font-normal color-text-secondary">16,697,597</td>
                                                <td class="font-normal color-text-secondary">310,769,735</td>
                                                <td class="font-normal color-text-secondary">6,407,091</td>
                                                <td class="font-normal color-text-secondary">294,396,667</td>
                                                <td class="font-normal color-text-secondary">426,166,567</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">재무활동으로 인한 현금유출액</td>
                                                <td class="font-normal color-text-secondary">-97,267,391</td>
                                                <td class="font-normal color-text-secondary">-344,634,910</td>
                                                <td class="font-normal color-text-secondary">-191,888,386</td>
                                                <td class="font-normal color-text-secondary">-239,728,701</td>
                                                <td class="font-normal color-text-secondary">-680,894,760</td>
                                            </tr>
                                            <tr class="text-right">
                                                <td class="text-left font-semibold color-text-default">현금및현금성자산의 증감</td>
                                                <td class="font-normal color-text-secondary">49,932,863</td>
                                                <td class="font-normal color-text-secondary">231,544,798</td>
                                                <td class="font-normal color-text-secondary">-114,063,735</td>
                                                <td class="font-normal color-text-secondary">119,721,946</td>
                                                <td class="font-normal color-text-secondary">-224,906,748</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab__content font-body-sm">
                                <%- include('src/component/cmp_title.html', {
                                    title : {
                                        text: '손익계산서',
                                        size: 'lg',
                                        class: 'color-text-default font-medium',
                                    },
                                    marginVertical: 'mb-spacing05',
                                }) %>
                                <div class="cmp-wrap cmp-table__wrap mb-0">
                                    <div class="table-container">
                                        <table class="text-center data-table">
                                        <caption>LG CNS 신용등급 평가 정보</caption>
                                        <thead>
                                            <tr>
                                                <th scope="col" width="489" class="text-center font-semibold color-text-default" colspan="2">평가기관</th>
                                                <th scope="col" width="317" class="text-center font-semibold color-text-default">신용등급</th>
                                                <th scope="col" width="317" class="text-center font-semibold color-text-default">Outlook</th>
                                                <th scope="col" width="317" class="text-center font-semibold color-text-default">평가년도</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="3" class="text-center font-semibold color-text-default border-r-0">국내</td>
                                                <td class="text-left font-semibold color-text-default">한국신용평가</td>
                                                <td class="text-center font-normal color-text-secondary">AA-</td>
                                                <td class="text-center font-normal color-text-secondary">안정적</td>
                                                <td class="text-center font-normal color-text-secondary">2024</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-semibold color-text-default">NICE신용평가</td>
                                                <td class="text-center font-normal color-text-secondary">AA-</td>
                                                <td class="text-center font-normal color-text-secondary">안정적</td>
                                                <td class="text-center font-normal color-text-secondary">2024</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-semibold color-text-default">한국기업평가</td>
                                                <td class="text-center font-normal color-text-secondary">AA-</td>
                                                <td class="text-center font-normal color-text-secondary">안정적</td>
                                                <td class="text-center font-normal color-text-secondary">2024</td>
                                            </tr>
                                        </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button__wrap button__wrap--btn-top align-right">
                        <button type="button" class="btn-icon btn-top">
                            <i class="ico icon-navigation-up-w19"></i>
                            <span class="ir-text">최상위로 이동</span>
                        </button>
                    </div>
                </div>
            </div>
            <%- include('src/_inc/footer.html') %>
    </div>
    <script>
        tabMenu('.basic-type', 'tab');
    </script>
</body>

</html>