<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap bizInfo_enviroMgmt">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, {
            pcImg: 'empty',
            moImg: 'empty',
            subText: '기업정보',
            pageTitle: '공시정보',
        })) %>


        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="cmp-wrap cmp-tab basic-type align-left">
                    <div class="cmp-tab__header">
                        <ul class="tab__menu">
                            <li class="is-active">
                                <a href="#">전자공고</a>
                            </li>
                            <li>
                                <a href="#">공시자료</a>
                            </li> 
                        </ul>
                    </div>
                    <div class="tab-content__wrap">
                        <div class="tab__content is-active">
                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                titleText: '전자공고' ,
                            })) %>
                            <div class="table-container">
                                <table class="text-center data-table">
                                   <caption>LG CNS 공시정보 전자공고</caption>
                                   <thead>
                                      <tr>
                                         <th scope="col" class="w-24">번호</th>
                                         <th scope="col" class="w-3/6">공고명</th>
                                         <th scope="col">등록일</th>
                                         <th scope="col">자료 다운로드</th>
                                      </tr>
                                   </thead>
                                   <tbody>
                                      <tr>
                                         <td>1</td>
                                         <td>외부감사인 선임 공고</td>
                                         <td>2024.12.31</td>
                                         <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                      </tr>
                                      <tr>
                                        <td>2</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>3</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>4</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>5</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>6</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>7</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>8</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>9</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                     <tr>
                                        <td>10</td>
                                        <td>외부감사인 선임 공고</td>
                                        <td>2024.12.31</td>
                                        <td><a href="#"><img src="/src/assets/image/icon/icon_download_bl24.svg" alt=""></a></td>
                                     </tr>
                                   </tbody>
                                </table>
                             </div>
                             <div class="cmp-exsample__wrap mt-3">
                                <!-- pagination -->
                                <%- include('src/component/cmp_pagination.html') %>
                                <!-- //pagination -->
                            </div>
                        </div>
                        <div class="tab__content">
                            공시자료 content
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
    <script>
        tabMenu('.basic-type', 'tab');
    </script>
</body>
</html>