<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <title>
      <%= data.title %>
   </title>
   <meta name="description" content="<%= data.description %>">
   <link rel="stylesheet" href="/src/assets/css/index.css" />
   <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
   <div class="wrap bizInfo_irActivity">
      <%- include('src/_inc/header.html') %>
         <!-- //헤더 영역 -->
         <!-- //비주얼 영역 -->
         <div class="sub-content__wrap">
            <div class="inner-wrap">
               <div class="bizInfo_irActivity__container">
                  <div class="cmp-exsample__wrap mt-3">
                     <%- include('src/component/cmp_title.html', Object.assign({}, locals, { subTitle: 'IR' ,
                        titleText: 'IR 활동' , })) %>
                        <div class="cmp-wrap cmp-tab basic-type align-left">
                           <div class="cmp-tab__header">
                              <ul class="tab__menu">
                                 <li class="is-active">
                                    <a href="#">IR 행사</a>
                                 </li>
                                 <li>
                                    <a href="#">실적발표</a>
                                 </li>
                                 <li>
                                    <a href="#">주주총회</a>
                                 </li>
                              </ul>
                           </div>
                           <div class="tab-content__wrap">
                              <div class="tab__content is-active">
                                 <div class="bizInfo_irActivity__event">
                                    <div>
                                       <span class="bizInfo_irActivity__event-period font-bold">기간별 IR 행사를<br />
                                          확인해 보세요.</span>
                                       <select name="IR" id="">
                                          <option value="">2024년</option>
                                       </select>
                                    </div>
                                    <div class="bizInfo_irActivity__event-year">
                                       <%- include('src/component/cmp_yearEvent.html', Object.assign({}, locals, {
                                          month: '11월' , events: [ { title: 'Google Cloud Partner of the Year 2년 연속 수상'
                                          , date: '2024.11.12' , location: '뉴욕' }] })) %>
                                          <%- include('src/component/cmp_yearEvent.html', Object.assign({}, locals, {
                                             month: '10월' , events: [ {
                                             title: 'Google Cloud Partner of the Year 2년 연속 수상' , date: '2024.11.12' ,
                                             location: '뉴욕' }, { title: 'Google Cloud Partner of the Year 2년 연속 수상' ,
                                             date: '2024.11.12' , location: '뉴욕' } ] })) %>
                                             <%- include('src/component/cmp_yearEvent.html', Object.assign({}, locals, {
                                                month: '9월' , events: [ {
                                                title: 'Google Cloud Partner of the Year 2년 연속 수상' , date: '2024.11.12'
                                                , location: '뉴욕' },{ title: 'Google Cloud Partner of the Year 2년 연속 수상'
                                                , date: '2024.11.12' , location: '뉴욕' },{
                                                title: 'Google Cloud Partner of the Year 2년 연속 수상' , date: '2024.11.12'
                                                , location: '뉴욕' }] })) %>
                                                <%- include('src/component/cmp_yearEvent.html', Object.assign({},
                                                   locals, { month: '08월' , events: [ {
                                                   title: 'Google Cloud Partner of the Year 2년 연속 수상' ,
                                                   date: '2024.11.12' , location: '뉴욕' }, {
                                                   title: 'Google Cloud Partner of the Year 2년 연속 수상' ,
                                                   date: '2024.11.12' , location: '뉴욕' } ] })) %>
                                    </div>
                                 </div>
                              </div>
                              <div class="tab__content">
                                 <div>탭 메뉴2</div>
                              </div>
                              <div class="tab__content">
                                 <div>탭 메뉴3</div>
                              </div>
                           </div>
                        </div>
                        <!-- //기본 탭 -->
                  </div>
               </div>
            </div>
            <%- include('src/_inc/footer.html') %>
         </div>

         <script>
            tabMenu('.basic-type', 'tab');
         </script>
</body>

</html>