<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title><%= data.title %></title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap bizInfo_LGWay">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="bizInfo_bizInfo_LGWay__container">
                  <div class="bizInfo_LGWay__textarea">
                     <h2 class="font-bold">LG Way</h2>
                     <br class="font-medium">
                        LG 고유의 경영철학이자, 전 임직원이 지키고<br/>
                        실천해야 할 사고와 행동의 기반입니다.
                     </p>
                     <p>
                        경영이념인 ‘고객을 위한 가치창조’와 ‘인간존중의 경영’을<br/>
                        LG의 행동방식인 ‘정도경영’으로 실천함으로써 LG의 비전인<br/>
                        ‘일등LG’를 달성하자는 것입니다.
                     </p>
                 </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>