<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>
        <%= data.title %>
    </title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
    <div class="wrap">
        <%- include('src/_inc/header.html') %>
            <!-- //헤더 영역 -->

            <!-- //비주얼 영역 -->
            <div class="sub-content__wrap">
                <div class="inner-wrap">
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- Title -->
                        <%- include('src/component/cmp_title.html', Object.assign({}, locals, { subTitle: '회사소개!!' ,
                            titleText: '기업소개' , })) %>
                            <!-- //Title -->
                    </div>
                    <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, {
                        pcImg: '/src/assets/image/sub/bg_sub_vi01.png' , moImg: '/src/assets/image/sub/bg_sub_mvi01.png'
                        , subText: '' , pageTitle: 'IT 서비스 전문기업에서 DX NO.1 기업으로' })) %>
                        <div class="cmp-exsample__wrap mt-3">
                            <% const dashListData=[ { id: 0, type: 'type-default' ,
                                smallText: 'IT경험 <br>(1987년 EDS와 합작 설립)' , bigText: '38년' }, { id: 1,
                                type: 'type-default' , smallText: '매출 <br>(‘20~’23 CAGR : 18.6%)' , bigText: '56,053억원'
                                }, { id: 2, type: 'type-default' , smallText: '이익 <br>(’20~’23 CAGR : 23.6%)' ,
                                bigText: '4,640억원' }, { id: 3, type: 'type-default' , smallText: '글로벌 매출 비중' ,
                                bigText: '19.0%' }, { id: 4, type: 'type-default' , smallText: '직원 수' ,
                                bigText: '7,000명+' }, { id: 51, type: 'type-default' , smallText: '해외 법인 / 지사 근무인원' ,
                                bigText: '1,200명+' }, { id: 6, type: 'type-default' , smallText: '확보 특허권' ,
                                bigText: '426건' }, { id: 7, type: 'type-default' , smallText: '확보 S/W 저작권' ,
                                bigText: '1,323건' }, ] %>
                                <%- include('src/component/cmp_dash_list.html', Object.assign({}, locals, { jsonData:
                                    dashListData, itemType: 'type-dash-top' , utilText: '(2024년 1월 기준)' , })) %>
                        </div>
                        <div class="cmp-exsample__wrap mt-5">
                            <% const imageItemColumnData=[ { id: 0, type: 'type-default' ,
                                imageUrl: '/src/assets/image/temp/full_imag01.png' , imageAlt: 'test' ,
                                title: '고객 비즈니스의 <br>성공을 돕는 <span class="font-red">신념</span>' ,
                                desc: 'Pursuing Excellence' , subTitle: '혁신(革新, Innovation)은 아주 작은 변화에서 시작됩니다.' ,
                                content:
                                [ '고객은 비즈니스 혁신으로 편리하고 편안한 세상을 만들고 있습니다. <br>고객도 몰랐던 비즈니스 가치를 먼저 발견하여 제공하고, 성장과 변화를 함께 만드는 것. <br>LG CNS는 Digital Business Innovator로서 차별화된 고객 경험을 제공하기 위해 <br>여러분의 비즈니스에 디지털 혁신을 더하여 변화의 속도를 높이고 있습니다.'
                                , ], }, { id: 1, type: 'type-default' ,
                                imageUrl: '/src/assets/image/temp/full_imag01.png' , imageAlt: 'test' ,
                                title: '변화를 넘어 혁신을 <br>이끄는 <span class="font-red">DX 기술</span>' ,
                                desc: 'Digital Leadership' , subTitle: 'LG CNS는 단순한 IT 기술 회사가 아닙니다.' , content:
                                [ 'IT 기술로 급변하는 환경에 대응할 뿐만 아니라 <br>DX 기술로 보이지 않는 세상 곳곳을 디지털화합니다.<br>공공, 금융, 제조, 서비스 등 다양한 산업 영역에 걸쳐 차별화된 경험과 <br>가치를 제공함으로써 더 나은 미래를 만드는 원동력이 됩니다.'
                                , ],},{ id: 1, type: 'type-default' , imageUrl: '/src/assets/image/temp/full_imag01.png'
                                , imageAlt: 'test' , title: '지속 가능한 미래를 <br>위한 <span class="font-red">성장 가속화</span>' ,
                                desc: 'Flywheel Framework' , subTitle: '모두에게 이로운 지속 가능한 미래를 위하여' , content:
                                [ '고객의 비즈니스가 성장할 수 있도록 최고의 IT 전문가들이 <br>과감한 도전과 실행으로 미래의 기술을 앞당겨 실현하고 있습니다.' , ],}, ] %>
                                <%- include('src/component/cmp_image_item_column.html', Object.assign({}, locals, {
                                    jsonData: imageItemColumnData })) %>
                        </div>
                </div>
                <div class="cmp-exsample__wrap mt-3">
                    <!-- ButtonBanner -->
                    <%- include('src/component/cmp_buttonBanner.html', Object.assign({}, locals, {
                        pcImg: '/src/assets/image/sub/bg_sub_enterprice.png' ,
                        moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png' ,
                        title: 'IR 정보와 관련하여 궁금하신 사항 있으시면 <br> 유선전화 또는 온라인 문의로 연락주시길 바랍니다.' , buttonText: '바로가기' , })) %>
                        <!-- //ButtonBanner -->
                </div>
            </div>
            <%- include('src/_inc/footer.html') %>
    </div>
</body>

</html>