<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap bizInfo_enviroMgmt">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, {
            pcImg: 'empty',
            moImg: 'empty',
            subText: '기업정보',
            pageTitle: '환경경영',
            rightDesc: 'LG CNS는 친환경 기술로<br>환경경영을 실천하고 있습니다.'
        })) %>


        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="cmp-wrap cmp-tab basic-type align-left">
                    <div class="cmp-tab__header">
                        <ul class="tab__menu">
                            <li class="is-active">
                                <a href="#">방침/관리체계</a>
                            </li>
                            <li>
                                <a href="#">인증/수상</a>
                            </li>   
                            <li>
                                <a href="#">기후변화</a>
                            </li> 
                            <li>
                                <a href="#">실천활동</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content__wrap">
                        <div class="tab__content is-active">
                            <%- include('src/component/cmp_overview.html', Object.assign({}, locals, { 
                                overviewTitle: '안전보건방침', 
                                overviewContent: 'LG CNS는 “임직원 및 협력사 직원의 건강과 공동체 안전”을 최우선 가치로 인식하며, 안전보건 성과의 지속적인 개선을 통해 안전하고 건강한 일터를 조성한다.'
                            })) %>

                            <% const specListData1 = [ 
                                { 
                                    id: 0,
                                    title: '타협 불가한 제1의 가치',
                                    content: [
                                        '안전보건을 경영의 최우선 가치로 한다.', 
                                    ]
                                }, 
                                { 
                                    id: 1, 
                                    title: '원칙 준수',
                                    content: [
                                        '안전보건에 관한 법규 및 이해관계자의 요구사항을 준수하고 기본과 원칙에 의한 안전보건경영 시스템을 운영한다.',
                                    ]
                                }, 
                                { 
                                    id: 2,
                                    title: '참여와 공개',
                                    content: [
                                        '구성원은 안전보건 활동에 능동적으로 참여하며 안전보건성과는 이해관계자들에게 투명하게 공개한다.',
                                    ]
                                },
                                { 
                                    id: 3,
                                    title: '지속적 개선',
                                    content: [
                                        '안전보건을 확보하기 위한 내부 및 외부의 피드백을 통해 안전보건 관리체계의 지속적인 개선을 추구한다.',
                                    ]
                                },
                            ]; 
                            %>
                            <%- include('src/component/cmp_SpecList.html', {
                                itemCount: 4,
                                jsonData: specListData1,
                                styleType: 'type-box',
                            }) %>

                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                titleText: '안전보건목표', 
                            })) %>

                            <% const specListData2 = [ 
                                { 
                                    id: 0,
                                    content: [
                                        '경영진은 사업장의 안전보건 활동을 위해 정기적으로 검하며 구성원의 의견을 청취하고 개선한다.', 
                                    ]
                                }, 
                                { 
                                    id: 1, 
                                    content: [
                                        '구성원은 규정된 안전보건 활동에 주도적으로 참여하고 실행한다.',
                                    ]
                                }, 
                                { 
                                    id: 2,
                                    content: [
                                        '산업재해를 예방하기 위한 예산을 수립하고, 집행의 적정성을 점검한다.',
                                    ]
                                },
                                { 
                                    id: 3,
                                    content: [
                                        '유해위험요인에 대한 사전발굴 및 사후대책을 적기 이행한다.',
                                    ]
                                },
                                { 
                                    id: 4,
                                    content: [
                                        '정기적으로 안전보건 경영성과를 평가하여 투명하게 정보를 공개하고 경영진에게 보고한다.',
                                    ]
                                },
                            ]; 
                            %>
                            <%- include('src/component/cmp_SpecList.html', {
                                itemCount: 5,
                                jsonData: specListData2,
                                styleType: 'type-box',
                            }) %>

                            <%- include('src/component/cmp_overview.html', Object.assign({}, locals, { 
                                overviewTitle: '환경방침', 
                                overviewContent: 'LG CNS는 인간존중의 경영 이념 아래, 안전보건환경을 회사의 지속 가능한 경영 요소로 인식하여 경영활동 전과정(Life Cycle)에서 적극 실천한다.'
                            })) %>

                            <% const specListData3 = [ 
                                { 
                                    id: 0,
                                    content: [
                                        '모든 경영활동으로 인한 환경오염을 최소화하고 환경보호에 적극 동참한다.', 
                                    ]
                                }, 
                                { 
                                    id: 1, 
                                    title: '원칙 준수',
                                    content: [
                                        '국내 · 외 환경법규 및 이해관계자의 요구사항을 준수하고 글로벌 수준의 환경경영 시스템을 운영한다.',
                                    ]
                                }, 
                                { 
                                    id: 2,
                                    title: '참여와 공개',
                                    content: [
                                        '모든 구성원은 기후변화에 대응하고 환경경영성과를 평가하여 투명하게 정보를 공개하고, 이해관계자들과 성실히 소통한다.',
                                    ]
                                },
                                { 
                                    id: 3,
                                    title: '지속적 개선',
                                    content: [
                                        '환경변화 등 외부위험요인에 대해 Risk관리체계를 정착하고, 지속적인 개선을 추구한다.',
                                    ]
                                },
                            ]; 
                            %>
                            <%- include('src/component/cmp_SpecList.html', {
                                itemCount: 4,
                                jsonData: specListData3,
                                styleType: 'type-box',
                            }) %>

                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                titleText: '환경목표', 
                            })) %>

                            <% const specListData4 = [ 
                                { 
                                    id: 0,
                                    content: [
                                        '경영진은 사업장의 환경오염을 예방하기 위해 정기적으로 점검하며 구성원의 의견을 청취하고 개선한다.', 
                                    ]
                                }, 
                                { 
                                    id: 1, 
                                    content: [
                                        '구성원은 기후변화 대응을 위해 저탄소 · 친환경 · 자원절약에 적극 참여한다.',
                                    ]
                                }, 
                                { 
                                    id: 2,
                                    content: [
                                        '대 · 내외 환경적 요인 등 모든 Risk를 사전에 검토하고 대책을 수립한다.',
                                    ]
                                },
                                { 
                                    id: 3,
                                    content: [
                                        '환경경영성과를 평가하여 투명하게 정보를 공개하고 경영진에게 보고한다.',
                                    ]
                                },
                            ]; 
                            %>
                            <%- include('src/component/cmp_SpecList.html', {
                                itemCount: 4,
                                jsonData: specListData4,
                                styleType: 'type-box',
                            }) %>

                            <%- include('src/component/cmp_overview.html', Object.assign({}, locals, { 
                                overviewTitle: '안전보건환경 관리체계', 
                                overviewContent: 'LG CNS는 회사의 발전과 임직원을 안전보건환경을 위해 전사 차원의 관리조직을 운영하고 있습니다.'
                            })) %>

                            <!-- 임시 영역 -->
                            <div style="height: 600px; background-color: aliceblue;">그래픽 영역</div>
                            <!-- // 임시 영역 -->
                        </div>
                        <div class="tab__content">
                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                titleText: '환경경영시스템, <br>안전보건경영시스템 「ISO」 인증', 
                            })) %>
                            <%
                                const itemList2Col = [
                                    {
                                        imageUrl: 'https://placehold.co/872x490',
                                        imageAlt: 'ISO 14001',
                                        title: '환경경영시스템(ISO 14001)',   
                                        text: 'LG CNS는 환경경영시스템 인증을 취득해 유지하고 있습니다. 모든 기업 활동과정에서 환경에 영향을 미치는 요인을 파악하고 환경성과를 개선하는 환경경영시스템이 국제표준화기구(ISO) 요건을 준수하는지 평가하는 인증입니다.',    
                                    },
                                    {
                                        imageUrl: 'https://placehold.co/872x490',
                                        imageAlt: 'ISO 45001',
                                        title: '안전보건경영시스템(ISO 45001)',   
                                        text: 'LG CNS는 안전보건경영시스템을 인증도 취득해 유지하고 있습니다. 안전보건 정책의 수립, 실행, 점검 ,시정, 검토 등을 통해 안전보건성과를 개선하는 시스템이 ISO의 국제적 기준을 갖췄는지 인증합니다.',    
                                    },
                                ]
                            %>
                            <%- include('src/component/cmp_image_item_2columns.html', {
                                jsonData: itemList2Col
                            }) %>               
                            <%
                                const imageItemColumnDataPremier = [
                                    {
                                        id: 0,
                                        type: 'type-default',
                                        imageUrl: '/src/assets/image/temp/full_imag01.png',
                                        imageAlt: 'test',
                                        title: '브릴어워즈(Brill Awards) 수상',
                                        content: [
                                            'LG CNS 부산 데이터센터는 ‘업타임인스티튜트(Uptime Institute)’가 매년 선정하는 데이터센터 업계 최고 권위상인 브릴어워즈(Brill Awards) 디자인분야 우수 데이터센터로 선정됐습니다. 디자인 단계부터 에너지 효율과 안전을 고려한 점을 높이 평가받았습니다. 부산 데이터센터는 당시 국제 유일의 데이터센터 굴뚝 ‘풍도’, 세계최초로 특허 출원한 ‘빌트업 외기냉방 시스템’을 적용했습니다. 국내최초로 면진 설비도 도입해 리히터 규모 8.0 지진에도 고객사에게 무중단 서비스를 제공할 수 있습니다.',
                                        ],
                                        imgDesc: '2014년 브릴어워즈 디자인분야 우수 센터로 선정된 LG CNS 부산 데이터센터 전경'
                                    },                                                       
                                ]
                            %> 
                            <%- include('src/component/cmp_image_item_column.html', Object.assign({}, locals, {                             
                                jsonData: imageItemColumnDataPremier
                            })) %>
                        </div>
                        <div class="tab__content">
                            <%
                                const imageItemColumnDataChange = [
                                    {
                                        id: 0,
                                        type: 'type-default',
                                        imageUrl: '/src/assets/image/temp/full_imag01.png',
                                        imageAlt: 'test',
                                        title: '온실가스 감축',
                                        subTitle: '혁신(革新, Innovation)은 아주 작은 변화에서 시작됩니다.',
                                        content: [
                                            '온실가스 배출권거래제는 저탄소녹생성장기본법에 의거, 정부가 기업에 온실가스를 배출할 수 있는 총량을 사전에 할당하고, 기업은 자체적인 온실가스 감축 및 배출권 거래를 통해 온실가스 감축 목표를 달성할 수 있도록 하는 제도입니다.',
                                            'LG CNS는 이러한 에너지 제도에 효율적으로 대응하기 위해 데이터센터 소비전력을 자동 측정하고 온실가스 배출량을 실시간 집계 할 수 있는 온실가스 인벤토리 시스템을 구축하여 운영중입니다. 환경 관련 국제 인증인 CDP(Carbon Disclosure Project)에 맞춰 외부의 친환경 강화 요구에 적극적으로 대응하고 있습니다.',
                                        ],
                                        imgDesc: '온실가스 배출권 거래제 대상 사업장으로 지정된 LG CNS 상암데이터 센터 전경'
                                    },
                                    {
                                        id: 1,
                                        type: 'type-default',
                                        imageAlt: 'test',
                                        title: '친환경 그린데이터 센터',
                                        content: [
                                            'LG CNS는 전력사용량이 높은 데이터센터의 에너지 절감을 위해 다양한 솔루션을 개발·적용하여 데이터센터를 운영하고 있습니다. 또한 신재생 및 에너지 효율향상 설비 도입을 통한 건물 내 소비 효율화도 진행하고 있습니다. LG CNS는 온실가스 배출량 감소를 위한 솔루션을 개발·적용하여 친환경 데이터센터를 운영하고 있으며, 데이터센터의 기반설비 통합운영을 위해 친환경 IT 시스템을 개발해 구축/운영하고 있습니다.',
                                            '친환경 IT 시스템은 기반설비(전기, 기계, 온/습도, 조명 등) 및 보안설비를 통합 모니터링해 장애 감지, 분석, 제어 등을 통해 전산실 에너지를 효율적으로 관리함으로써 온실가스 배출량 절감에 기여합니다. 또한, 자연외기를 이용한 친환경 제품인 빌트업 외기 냉방시스템을 세계 최초로 특허출원하여 전 센터에 적용하고 있으며, 서버 집중 냉각 장치인 집중공조시스템 개발 및 고효율UPS, LED 조명등을 전 센터에 적용하여 온실가스 배출량 감소에 기여하고 있습니다.',
                                        ],
                                    },                                                            
                                ]
                            %> 
                            <%- include('src/component/cmp_image_item_column.html', Object.assign({}, locals, {                             
                                jsonData: imageItemColumnDataChange
                            })) %>

                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                titleText: '친환경 IT시스템 데이터센터 적용 시, 에너지 절감 효과 (상암IT센터)', 
                            })) %>
                            <div class="cmp-wrap cmp-table__wrap">
                                <span class="unit-text font-body-sm font-bold">[ 절감량 / 단위 : tCO2eq ]</span>
                                <div class="cmp-wrap table-container font-body-sm">
                                    <table class="text-center data-table">
                                        <caption>친환경 IT시스템 데이터센터 적용 시, 에너지 절감 효과</caption>
                                        <thead>
                                            <tr>
                                                <th width="428"></th>
                                                <th scope="col" width="126.5">2014</th>
                                                <th scope="col" width="126.5">2015</th>
                                                <th scope="col" width="126.5">2016</th>
                                                <th scope="col" width="126.5">2017</th>
                                                <th scope="col" width="126.5">2018</th>
                                                <th scope="col" width="126.5">2019</th>
                                                <th scope="col" width="126.5">2020</th>
                                                <th scope="col" width="126.5">누계</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-left font-bold">LED 조명등 (전층) 교체</td>
                                                <td>223</td>
                                                <td>446</td>
                                                <td>446</td>
                                                <td>446</td>
                                                <td>446</td>
                                                <td>446</td>
                                                <td>446</td>
                                                <td>2,899</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-bold">기계실(B3-4층) 외기 공조</td>
                                                <td>150</td>
                                                <td>404</td>
                                                <td>404</td>
                                                <td>404</td>
                                                <td>404</td>
                                                <td>404</td>
                                                <td>404</td>
                                                <td>2,574</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-bold">전산실(2-9층) 외기 공조</td>
                                                <td>AA</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>560</td>
                                                <td>1,366</td>
                                                <td>1,366</td>
                                                <td>1,366</td>
                                                <td>6,024</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-bold">고효율 UPS(2-9층) 교체</td>
                                                <td>-</td>
                                                <td>69</td>
                                                <td>278</td>
                                                <td>278</td>
                                                <td>278</td>
                                                <td>278</td>
                                                <td>278</td>
                                                <td>1,461</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-bold">태양광 설치</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>6</td>
                                                <td>6</td>
                                                <td>12</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-bold">전산실(2-9층) 고효율 항온기 교체</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>49</td>
                                                <td>256</td>
                                                <td>305</td>
                                            </tr>
                                            <tr>
                                                <td class="text-left font-bold">총계</td>
                                                <td>373</td>
                                                <td>919</td>
                                                <td>1,688</td>
                                                <td>2,494</td>
                                                <td>2,494</td>
                                                <td>2,494</td>
                                                <td>2,494</td>
                                                <td>13,276</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>  
                        <div class="tab__content">
                            <% 
                            const imageItemColumnData4 = [
                                {
                                    id: 0,
                                    type: 'type-default',
                                    imageUrl: 'https://placehold.co/1760x480',
                                    imageAlt: '1760x480',
                                    title: '산업안전보건위원회 운영',
                                    content: [
                                        '직원들의 적극적인 참여를 통해 사업장의 안전과 보건 증진을 위해 산업안전보건위원회를 운영하고 있습니다.<br>위원회에서는 경영진과 사원대표가 분기별로 모여 사업장의 안전과 보건에 관한 중요사항을 의논하고 결정하고 있습니다.'
                                    ],
                                },
                                {
                                    id: 1,
                                    type: 'type-default',
                                    imageUrl: 'https://placehold.co/1760x480',
                                    imageAlt: '1760x480',
                                    title: '코로나19 예방 대응체계 정착',
                                    content: [
                                        'LG CNS는 2019년 감염병 위기대응 실무 매뉴얼을 마련하고 조직별 R&R(역할과 책임)과 비상 대응프로세스를 수립했습니다.<br>이를 바탕으로 코로나19 상황 발생 시 정부의 위기 대응 절차에 따라 현장 가이드 및 모니터링, 비상상황실 운영, 임직원과 협력사 직원의 재택근무와 자가격리 조치를 시행하는 등 체계적으로 대응할 수 있었습니다. 사업장 내 출입 시 발열체크 및 통제, 주기적인 방역 및 실내외 마스크 필수 착용과 더불어 정부의 거리두기 지침보다 강화된 단계별 대응지침을 적용해 안전한 사업장을 구축하고 있습니다.'
                                    ],
                                },
                                {
                                    id: 2,
                                    type: 'type-default',
                                    imageUrl: 'https://placehold.co/1760x480',
                                    imageAlt: '1760x480',
                                    title: '임직원 심폐소생술 교육',
                                    content: [
                                        'LG CNS는 임직원의 안전보건 의식을 높이기 위해 임직원의 특성을 반영한 맟춤형 온·오프라인 안전보건교육을 실시하고 있습니다.<br>2020년 이후에는 심폐소생술 실습 체험장을 구축하여 운영하고 있습니다. 응급상황 발생 시 임직원들의 위기대응능력을 높이기 위해 자기주도 학습형 인공지능 VR(Virtual Reality) 심폐소생술 교육 솔루션을 도입, 임직원 대상 심폐소생술 교육을 실시하고 있습니다.'
                                    ],
                                },
                                {
                                    id: 3,
                                    type: 'type-default',
                                    imageUrl: 'https://placehold.co/1760x480',
                                    imageAlt: '1760x480',
                                    title: '사무환경 모니터링',
                                    content: [
                                        'LG CNS는 임직원이 쾌적한 사무환경에서 근무할 수 있도록 사업장 내 실내 공기질 측정장비를 도입해 상시 모니터링 체계를 운영하고 있습니다.<br>또한 임직원의 육체적·정신적 건강을 위해 심리상담실, 마사지 서비스, 간호사 상담 등 건강 케어 프로그램을 운영하고 있으며, 간호사 자격을 갖춘 보건전문가의 철저한 관리를 통해 건강관리 전문성을 강화했습니다.'
                                    ],
                                },
                                {
                                    id: 4,
                                    type: 'type-default',
                                    imageUrl: 'https://placehold.co/1760x480',
                                    imageAlt: '1760x480',
                                    title: '산업안전 예방',
                                    content: [
                                        '전 사업장의 무재해·무사고 달성을 위해 전사 안전환경 진단체계를 구축하고 주기적으로 진단을 실시하고 있습니다.<br>이를 통해 사전에 안전환경 위험 요소를 발굴하고 제거하는 예방 체계를 정착시키고 있습니다.'
                                    ],
                                }
                            ]
                        %>
                        <%- include('src/component/cmp_image_item_column.html', Object.assign({}, locals, {                             
                            jsonData: imageItemColumnData4
                        })) %>
                        </div>                                                                 
                    </div>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
    <script>
        tabMenu('.basic-type', 'tab');
    </script>
</body>
</html>