<!DOCTYPE html>
<html lang="ko">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
   <title>
      <%= data.title %>
   </title>
   <meta name="description" content="<%= data.description %>">
   <link rel="stylesheet" href="/src/assets/css/index.css" />
   <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
   <div class="wrap bizinfo-mgmt-info">
      <%- include('src/_inc/header.html') %>
         <!-- //헤더 영역 -->
         <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { pcImg: 'empty' , moImg: 'empty' ,
            subText: '기업정보' , pageTitle: '경영정보' , rightDesc: '' })) %>
            <!-- //비주얼 영역 -->
            <div class="sub-content__wrap">
               <div class="inner-wrap">
                  <div class="cmp-wrap cmp-tab basic-type align-left">
                     <div class="cmp-tab__header">
                        <ul class="tab__menu">
                           <li class="is-active">
                              <a href="#">정관</a>
                           </li>
                           <li>
                              <a href="#">이사회</a>
                           </li>
                        </ul>
                     </div>
                     <div class="tab-content__wrap">
                        <div class="tab__content is-active">
                           <%- include('src/component/cmp_contents_title.html', Object.assign({}, locals, { 
                              contentsTitle: 'LG CNS는 윤리경영 기반의 경영 실현을 위해<br>노력하고 있습니다.',
                           })) %>

                           <div class="layout_col2">
                              <div>
                                 <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                    titleText: '정권', 
                                 })) %>
                              </div>
                              <div>
                                 <%
                                    const accoData = [
                                       {
                                             id: 0,
                                             faqTitle: "총칙",
                                             faqContent: `
                                                제 1 조 회사명<br>
                                                본 회사의 회사명은 “주식회사 엘지씨엔에스”라 하고 영어로는 “LG CNS Co., Ltd.”라 한다.(이하 “회사” 라 한다.)<br>
                                                <br>
                                                제 2 조 목적<br>
                                                회사는 다음의 사업을 영위함을 목적으로 한다.<br>
                                                <ol class="terms_orderList">
                                                   <li>전산시스템의 분석, 설계, 개발, 통합, 교육, 운영 등을 포함한 전산시스템 용역의 제공 및 판매</li>
                                                   <li>부가통신(유무선 전산망), 전산자원대여, 컨설팅, 데이터베이스 등을 포함한 정보처리기술 용역의 제공 및 판매</li>
                                                   <li>컴퓨터 및 정보처리학원 운영업</li>
                                                   <li>전자전기기계기구의 임대업</li>
                                                   <li>멀티미디어 및 멀티미디어용 소프트웨어의 제작, 판매, 대여 및 프랜차이즈업</li>
                                                   <li>기계장비 및 기기의 제조 및 판매</li>
                                                   <li>건설업(통신공사, 전기공사, 실내건축공사 등)</li>
                                                   <li>부동산업</li>
                                                   <li>국내, 국제광고 및 판매촉진의 대행, 광고물의 제작 및 판매업</li>
                                                   <li>신∙재생에너지 사업</li>
                                                   <li>기간통신사업(회선설비 보유 무선사업, 음성재판매, 인터넷 전화, 국제회선 재판매 등)</li>
                                                   <li>전자금융업</li>
                                                   <li>산업디자인, 인쇄</li>
                                                   <li>전시물기획, 제작, 설치</li>
                                                   <li>환경연출, 설치</li>
                                                   <li>증기생산 및 판매업</li>
                                                   <li>소방시설업</li>
                                                   <li>환경컨설팅</li>
                                                   <li>경비업(호송경비, 기계경비 등)</li>
                                                   <li>평생교육시설운영업</li>
                                                   <li>원격학원운영업</li>
                                                   <li>의료기기판매업</li>
                                                   <li>발전업</li>
                                                   <li>개인정보 보호법, 신용정보의 이용 및 보호에 관한 법률, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 위치정보의 보호 및 이용 등에 관한 법률 등 관련 법령이 허용하는 범위 내에서 데이터(개인정보, 신용정보 및 위치정보 포함)의 수집, 보관, 위탁, 판매, 이용, 결합, 반출 등 처리 및 가명, 익명 처리에 대한 적정성 평가 등의 데이터 관련 사업(본인신용정보관리업, 위치정보 및 위치기반서비스업 포함)</li>
                                                   <li>전 각 항에 관련되는 용역 및 제품의 수출입</li>
                                                   <li>전기 목적달성에 직접 또는 간접으로 관련되는 일체의 행위</li>
                                                </ol>
                                                <br>
                                                제 3 조 본점의 소재지 및 지점 등의 설치<br>
                                                ① 회사는 본점을 대한민국(이하 “한국”이라 한다) 서울특별시(이하 ”서울”이라 한다)에 둔다.<br>
                                                ② 회사는 필요에 따라 이사회의 결의로 국내외에 지점, 출장소, 사무소 및 현지법인을 둘 수 있다.<br>
                                                <br>
                                                제 4 조 공고방법<br>
                                                회사의 공고는 회사의 인터넷 홈페이지(http://www.lgcns.com)에 게재한다. 다만, 전산장애 또는 그 밖의 부득이한 사유로 회사의 인터넷 홈페이지 공고를 할 수 없을 때에는 한국 서울에서 발행되어 일반적으로 구독되는 일간지인 한국경제신문에 게재한다.
                                             `
                                       },
                                       {
                                             id: 1,
                                             faqTitle: "주식",
                                             faqContent: `2`
                                       },
                                       {
                                             id: 2,
                                             faqTitle: "사채",
                                             faqContent: `3`
                                       },
                                       {
                                             id: 3,
                                             faqTitle: "주주총회",
                                             faqContent: `4`
                                       },
                                       {
                                             id: 4,
                                             faqTitle: "이사, 이사회, 감사위원회",
                                             faqContent: `5`
                                       },
                                       {
                                             id: 5,
                                             faqTitle: "계산",
                                             faqContent: `6`
                                       },
                                       {
                                             id: 6,
                                             faqTitle: "부칙",
                                             faqContent: `7`
                                       },
                                    ];
                                 %>
                                 <%- include('src/component/cmp_accordion.html', {
                                    typeClass: 'open-type',
                                    openIndex: 0,
                                    itemCount: 7,
                                    jsonData: accoData
                                 }) %>
                              </div>
                           </div>
                        </div>
                        <div class="tab__content">
                           <div class="layout_col2 smallTitle">
                              <div>
                                 <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                    titleText: '이사회 구성', 
                                 })) %>
                              </div>
                              <div>
                                 <%
                                    const multiItemListData = [
                                       {
                                             id: 0,
                                             title: '현신균 이사',
                                             subtitle: '이사회 의장',
                                             detail: '(주)엘지씨엔에스 사장',
                                             imageUrl: 'https://placehold.co/270/transparent/gray',
                                       },
                                       {
                                             id: 1,
                                             title: '김용환 이사',
                                             detail: '맥쿼리자산운용㈜ 대표',
                                             imageUrl: 'https://placehold.co/270/transparent/gray',
                                       },
                                       {
                                             id: 2,
                                             title: '홍범식 이사',
                                             detail: '㈜엘지유플러스 대표',
                                             imageUrl: 'https://placehold.co/270/transparent/gray',
                                       },
                                       {
                                             id: 3,
                                             title: '이호영 이사',
                                             detail: '한양대 법학전문대학원 원장/교수',
                                             imageUrl: 'https://placehold.co/270/transparent/gray',
                                       },
                                       {
                                             id: 4,
                                             title: '이성주 이사',
                                             detail: '서울대학교 산업공학과 교수',
                                             imageUrl: 'https://placehold.co/270/transparent/gray',
                                       },
                                       {
                                             id: 5,
                                             title: '이인무 이사',
                                             detail: '카이스트 경영공학부 교수',
                                             imageUrl: 'https://placehold.co/270/transparent/gray',
                                       },
                                       {
                                             id: 6,
                                             title: '정환 이사',
                                             detail: '고려대 통계학과 교수',
                                             imageUrl: 'https://placehold.co/270/transparent/gray',
                                       }
                                    ]
                                 %>
                                 <%- include('src/component/cmp_profile_card_list.html', Object.assign({}, locals, { 
                                    itemCount: 7,
                                    jsonData: multiItemListData,
                                 })) %> 
                              </div>
                           </div>
                           <%- include('src/component/cmp_title.html', {
                              titleText: '이사회 활동',
                              showSelect: true,
                              selectedValue: '2024년',
                              options: ['2025년', '2024년', '2023년'],
                              rowJustify: 'space-between'
                            }) %>
                           <div class="cmp-wrap cmp-table__wrap">
                              <div class="table-container">
                                 <table class="data-table">
                                    <caption>이사회 활동</caption>
                                    <thead>
                                       <tr>
                                          <th scope="col" width="198">연도</th>
                                          <th scope="col" width="198">차수</th>
                                          <th scope="col" width="310">이사회 개최일자</th>
                                          <th scope="col" width="856">의안 내용</th>
                                          <th scope="col" width="198">가결여부</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <tr class="text-center">
                                          <td rowspan="29">2024</td>
                                          <td rowspan="2">1차</td>
                                          <td rowspan="2">2024-02-06</td>
                                          <td class="text-left">제37기 재무제표 및 영업보고서 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">내부회계관리규정 개정 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="3">2차</td>
                                          <td rowspan="3">2024-02-22</td>
                                          <td class="text-left">2024년 산업안전 및 보건계획 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">2024년 사업계획 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">제37기 정기주주총회 소집 및 회의목적사항 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="2">3차</td>
                                          <td rowspan="2">2024-03-22</td>
                                          <td class="text-left">이사 보수 집행 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">집행임원 성과인센티브 지급 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="1">4차</td>
                                          <td rowspan="1">2024-05-16</td>
                                          <td class="text-left">집행임원 성과인센티브 지급기준 변경 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="2">5차</td>
                                          <td rowspan="2">2024-08-12</td>
                                          <td class="text-left">유가증권시장(코스피) 상장 추진의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">임시주주총회 소집 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="1">6차</td>
                                          <td rowspan="1">2024-09-09</td>
                                          <td class="text-left">임시주주총회 변경 소집 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="3">7차</td>
                                          <td rowspan="3">2024-09-26</td>
                                          <td class="text-left">규정 제개정 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">임시주주총회 회의목적사항 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">사외이사 보수 지급 기준 및 집행 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="7">8차</td>
                                          <td rowspan="7">2024-10-14</td>
                                          <td class="text-left">감사위원회 설치 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">사외이사후보추천위원회 설치 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">내부거래위원회 설치 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">ESG위원회 설치 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">이사회 내 위원회 위원 선임의 건(사외이사후보추천위원회)</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">이사회 내 위원회 위원 선임의 건(내부거래위원회)</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">이사회 내 위원회 위원 선임의 건(ESG위원회)</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="5">10차</td>
                                          <td rowspan="5">2024-11-21</td>
                                          <td class="text-left">이익배당을 위한 기준일 설정 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">케냐 지점 설립 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">계열사 등과의 자기거래 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">계열사와의 상품용역 거래 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">집행임원 인사 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td rowspan="2">11차</td>
                                          <td rowspan="2">2024-12-05</td>
                                          <td class="text-left">준법지원인 선임의 건</td>
                                          <td>가결</td>
                                       </tr>
                                       <tr class="text-center">
                                          <td class="text-left">유가증권시장 상장을 위한 신주발행 및 구주매출 승인의 건</td>
                                          <td>가결</td>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <%- include('src/_inc/footer.html') %>
   </div>
   <script>
      tabMenu('.basic-type', 'tab');
      accordion('.open-type', 'basic');
   </script>
</body>

</html>