<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title><%= data.title %></title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body class="">
    <div class="wrap has-hero main">
        <%- include('src/_inc/header.html') %>
        <div class="main-content__wrap">
            <!-- notice + Interactive Hero + navigation list -->
            <div class="main-content__inner">
            </div>
            <!-- notice + Interactive Hero + navigation list // -->
            <!-- Search -->
            <div class="main-content__inner">
            </div>
            <!-- Search // -->
            <!-- Service -->
            <div class="main-content__inner">
            </div>
            <!-- Service // -->
            <!-- News -->
            <div class="main-content__inner news-swiper">
                <span class="font-head-lg font-semibold color-text-default align-center">
                    미래를 선도하는 LG CNS의 <br class="display-pc">
                    소식을 전해드립니다
                </span>
                <div class="cmp-wrap cmp-swiper__wrap">
                    <div class="swiper swiper-news" data-autoplay="false" data-pagination="false">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="news-swiper__image">
                                        <img src="https://placehold.co/467x262" alt="">
                                    </div>
                                    <div class="news-swiper__text">
                                        <span class="news-swiper__title font-head-sm-mode color-text-default">Awards 수상</span>
                                        <p class="news-swiper__desc font-body-sm color-text-secondary">
                                            세계 4대 디자인 어워드라 불리는 미국 'IDEA 디자인 어워드', 독일 'IF 디자인 어워드', 독일 '레드닷 디자인 어워드'를 수상
                                        </p>
                                        <span class="news-swiper__category font-body-sm color-text-secondary">News</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="news-swiper__image">
                                        <img src="https://placehold.co/467x262" alt="">
                                    </div>
                                    <div class="news-swiper__text">
                                        <span class="news-swiper__title font-head-sm-mode color-text-default">DAP GenAI Platform</span>
                                        <p class="news-swiper__desc font-body-sm color-text-secondary">
                                            DAP GenAI Platform은 기업특화 생성형AI플랫폼으로, 기업고객은 온프레미스, 클라우드 등 보유중인 인프라에 설치해 비즈니스에 필요한 생성형 AI서비스를 빠르게 만들어 즉각적인 가치 창출을 할 수
                                            있습니다.
                                        </p>
                                        <span class="news-swiper__category font-body-sm color-text-secondary">동영상</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="news-swiper__image">
                                        <img src="https://placehold.co/467x262" alt="">
                                    </div>
                                    <div class="news-swiper__text">
                                        <span class="news-swiper__title font-head-sm-mode color-text-default">CloudXper</span>
                                        <p class="news-swiper__desc font-body-sm color-text-secondary">
                                            CloudXper는 클라우드 진단과 컨설팅부터 전환, 운영까지 모든 클라우드 서비스를 ‘엔드 투 엔드(end-to-end)’로 제공하는 LG CNS 클라우드 브랜드입니다.
                                        </p>
                                        <span class="news-swiper__category font-body-sm color-text-secondary">아티클</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="news-swiper__image">
                                        <img src="https://placehold.co/467x262" alt="">
                                    </div>
                                    <div class="news-swiper__text">
                                        <span class="news-swiper__title font-head-sm-mode color-text-default">CloudXper</span>
                                        <p class="news-swiper__desc font-body-sm color-text-secondary">
                                            CloudXper는 클라우드 진단과 컨설팅부터 전환, 운영까지 모든 클라우드 서비스를 ‘엔드 투 엔드(end-to-end)’로 제공하는 LG CNS 클라우드 브랜드입니다.
                                        </p>
                                        <span class="news-swiper__category font-body-sm color-text-secondary">아티클</span>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="#">
                                    <div class="news-swiper__image">
                                        <img src="https://placehold.co/467x262" alt="">
                                    </div>
                                    <div class="news-swiper__text">
                                        <span class="news-swiper__title font-head-sm-mode color-text-default">CloudXper</span>
                                        <p class="news-swiper__desc font-body-sm color-text-secondary">
                                            CloudXper는 클라우드 진단과 컨설팅부터 전환, 운영까지 모든 클라우드 서비스를 ‘엔드 투 엔드(end-to-end)’로 제공하는 LG CNS 클라우드 브랜드입니다.
                                        </p>
                                        <span class="news-swiper__category font-body-sm color-text-secondary">아티클</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="news-swiper__navigation-wrap">
                            <button type="button" class="news-swiper__navigation news-swiper__navigation--prev">
                                <i class="ico icon-main-arrow-right-bl24 ico--default"></i>
                                <i class="ico icon-main-arrow-left-gr24 ico--disabled"></i>
                                <span class="ir-text">이전 보기</span>
                            </button>
                            <button type="button" class="news-swiper__navigation news-swiper__navigation--next">
                                <i class="ico icon-main-arrow-right-bl24 ico--default"></i>
                                <i class="ico icon-main-arrow-left-gr24 ico--disabled"></i>
                                <span class="ir-text">다음 보기</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- News // -->
            <!-- Button Banner (유사) -->
            <div class="main-content__inner button-banner">
                <div class="button-banner__box">
                    <span class="font-head-x-xl-mode color-text-default">
                        THE FOUNDATION OF <br class="display-pc">
                        OUR BRAND EXPERIENCE
                    </span>
                    <div class="button__wrap button-banner__navigation">
                        <a href="#" class="btn btn-text">
                            <span class="btn__text">
                                Brand Story
                            </span>
                            <i class="btn__icon ico icon-navigation-right-bl40"></i>
                        </a>
                    </div>
                </div>
                <div class="button__wrap button__wrap--btn-top align-right">
                    <button type="button" class="btn-icon btn-top">
                        <i class="ico icon-navigation-up-w19"></i>
                        <span class="ir-text">최상위로 이동</span>
                    </button>
                </div>
            </div>
            <!-- Button Banner (유사) // -->
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
    <script src="/assets/bundle/swiper-bundle.min.js"></script>
    <script src="/assets/js/initializeSwipers.js"></script>
    <script>
        const swiperOptions = [
            {
                slidesPerView: 3,
                spaceBetween: 12,
                navigation: {
                    nextEl: '.news-swiper__navigation--next',
                    prevEl: '.news-swiper__navigation--prev',
                },
            }
        ];
        // Swiper 초기화
        initializeSwipers(swiperOptions, '.swiper-news');       
    </script>
</body>
</html>