<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>
        <%= data.title %>
    </title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body class="">
    <div class="wrap has-hero main">
        <%- include('src/_inc/header.html') %>
            <div class="main-content__wrap">
                <!-- notice + Interactive Hero + navigation list -->
                <div class="main-content__inner interactive-hero has-notice hero-style-01 color-mode-white">
                    <div class="main-container">
                        <!-- interactive banner -->
                        <div class="interactive-swiper">
                            <div class="cmp-wrap cmp-swiper__wrap mb-0">
                                <div class="swiper swiper-interactive-banner">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide interactive-swiper__slide">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xxl interactive-swiper__title">
                                                        <div class="active-effect" data-effect="fade-in-bottom">
                                                            <span class="block active-effect__item">
                                                                Generative AI
                                                            </span>
                                                        </div>
                                                        <div class="active-effect" data-effect="fade-in-bottom">
                                                            <span class="block active-effect__item" data-effect-delay="0.2s">
                                                                in your work
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">생성형 AI 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--video">
                                                    <video muted autoplay playsinline loop preload="auto">
                                                        <source
                                                            src="/src/assets/image/main/main_interactive_hero_mv_01.mp4"
                                                            type="video/webm" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xxl interactive-swiper__title">
                                                        Generative AI <br>
                                                        in your work
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">생성형 AI 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--video">
                                                    <video muted autoplay playsinline loop preload="auto">
                                                        <source src="/src/assets/image/main/main_interactive_hero_mv_02.mp4"
                                                            type="video/webm" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xxl interactive-swiper__title">
                                                        Generative AI <br>
                                                        in your work
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">생성형 AI 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--video">
                                                    <video muted autoplay playsinline loop preload="auto">
                                                        <source
                                                            src="/src/assets/image/main/main_interactive_hero_mv_02.mp4"
                                                            type="video/webm" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xxl interactive-swiper__title">
                                                        Generative AI <br>
                                                        in your work
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">생성형 AI 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--video">
                                                    <video muted autoplay playsinline loop preload="auto">
                                                        <source src="/src/assets/image/main/main_interactive_hero_mv_02.mp4"
                                                            type="video/webm" />
                                                    </video>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide interactive-swiper__slide--news">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xl-main-banner interactive-swiper__title">
                                                        <div class="active-effect" data-effect="fade-in-bottom">
                                                            <span class="block active-effect__item">
                                                                LG CNS
                                                            </span>
                                                        </div>
                                                        <div class="active-effect" data-effect="fade-in-bottom">
                                                            <span class="block active-effect__item" data-effect-delay="0.2s">
                                                                1,300억 미래에셋생명
                                                            </span>
                                                        </div>
                                                        <div class="active-effect" data-effect="fade-in-bottom">
                                                            <span class="block active-effect__item" data-effect-delay="0.4s">
                                                                차세대 시스템 구축
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">기사 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="active-effect" data-effect="fade-in-right">
                                                    <div class="interactive-swiper__frame interactive-swiper__frame--image active-effect__item">
                                                        <img src="/src/assets/image/main/main_interactive_hero_news_thumb01.png" alt="" >
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide interactive-swiper__slide--news">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xl-main-banner interactive-swiper__title">
                                                        LG CNS <br class="display-pc">
                                                        1,300억 미래에셋생명 <br class="display-pc">
                                                        차세대 시스템 구축
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">기사 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--image">
                                                    <img src="/src/assets/image/main/main_interactive_hero_news_thumb02.png"
                                                        alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide interactive-swiper__slide--news">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xl-main-banner interactive-swiper__title">
                                                        LG CNS <br class="display-pc">
                                                        1,300억 미래에셋생명 <br class="display-pc">
                                                        차세대 시스템 구축
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">기사 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--image">
                                                    <img src="/src/assets/image/main/main_interactive_hero_news_thumb03.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide interactive-swiper__slide--news">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xl-main-banner interactive-swiper__title">
                                                        LG CNS <br class="display-pc">
                                                        1,300억 미래에셋생명 <br class="display-pc">
                                                        차세대 시스템 구축
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">기사 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--image">
                                                    <img src="/src/assets/image/main/main_interactive_hero_news_thumb04.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide interactive-swiper__slide--news">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xl-main-banner interactive-swiper__title">
                                                        LG CNS <br class="display-pc">
                                                        1,300억 미래에셋생명 <br class="display-pc">
                                                        차세대 시스템 구축
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">기사 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--image">
                                                    <img src="/src/assets/image/main/main_interactive_hero_news_thumb05.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide interactive-swiper__slide--news">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xl-main-banner interactive-swiper__title">
                                                        LG CNS <br class="display-pc">
                                                        1,300억 미래에셋생명 <br class="display-pc">
                                                        차세대 시스템 구축
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">기사 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--image">
                                                    <img src="/src/assets/image/main/main_interactive_hero_news_thumb06.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide interactive-swiper__slide interactive-swiper__slide--news">
                                            <div class="interactive-swiper__container">
                                                <div class="interactive-swiper__text-box">
                                                    <div class="font-head-x-xl-main-banner interactive-swiper__title">
                                                        LG CNS <br class="display-pc">
                                                        1,300억 미래에셋생명 <br class="display-pc">
                                                        차세대 시스템 구축
                                                    </div>
                                                    <p class="font-body-md interactive-swiper__desc">
                                                        AI가 자연스럽게 업무에 통합되어, 효율성을 극대화하고 <br class="display-pc">
                                                        비즈니스의 빠른 성장을 이끌어갑니다.
                                                    </p>
                                                    <div class="button__wrap interactive-swiper__button">
                                                        <a href="#" target="_self" class="btn btn-x-large btn-secondary">
                                                            <span class="btn__text">기사 바로보기</span>
                                                            <i class="ico icon-main-navigation-right-wh40 ico--color-white"></i>
                                                            <i class="ico icon-main-navigation-right-bl40 ico--color-black"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="interactive-swiper__frame interactive-swiper__frame--image">
                                                    <img src="/src/assets/image/main/main_interactive_hero_news_thumb07.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- interactive banner // -->
                        <!-- 공지사항 -->
                        <div class="notice-swiper">
                            <div class="cmp-wrap cmp-swiper__wrap mb-0">
                                <div class="swiper swiper-notice" data-autoplay="false" data-pagination="false">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <p class="font-head-sm-mode font-normal text-center notice-swiper__text">새로운
                                                세상을 기술합니다. 1</p>
                                        </div>
                                        <div class="swiper-slide">
                                            <p class="font-head-sm-mode font-normal text-center notice-swiper__text">새로운
                                                세상을 기술합니다. 2</p>
                                        </div>
                                        <div class="swiper-slide">
                                            <p class="font-head-sm-mode font-normal text-center notice-swiper__text">새로운
                                                세상을 기술합니다. 3</p>
                                        </div>
                                    </div>
                                    <div class="notice-swiper__navigation-wrap">
                                        <button type="button" class="notice-swiper__navigation notice-swiper__navigation--prev">
                                            <i class="ico icon-notice-arrow-left-wh24 ico--color-white"></i>
                                            <i class="ico icon-notice-arrow-left-bl24 ico--color-black"></i>
                                            <span class="ir-text">이전 보기</span>
                                        </button>
                                        <button type="button" class="notice-swiper__navigation notice-swiper__navigation--next">
                                            <i class="ico icon-notice-arrow-right-wh24 ico--color-white"></i>
                                            <i class="ico icon-notice-arrow-right-bl24 ico--color-black"></i>
                                            <span class="ir-text">다음 보기</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 공지사항 // -->
                        <!-- heroNavigation -->
                        <% const titleNavData = [ 
                            { 
                                href: "#" , 
                                target: "_self" , 
                                tag: "고객스토리" ,
                                title: "Vision AI로 철스크랩 판정의 정확성과 효율성 모두 잡다" , 
                                hasEffect : true,
                                effectType: 'fade-in-bottom',
                            }, 
                            { 
                                href: "#" , 
                                target: "_self" , 
                                tag: "자료" ,
                                title: "해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서" , 
                                hasEffect : true,
                                effectDelay: '0.1s',
                                effectType: 'fade-in-bottom',
                            }, 
                            { 
                                href: "#" , 
                                target: "_self" ,
                                tag: "행사" , 
                                title: "ESG 경영 DX : 지속가능성을 높이는 게임체인저" , 
                                hasEffect : true,
                                effectDelay: '0.2s',
                                effectType: 'fade-in-bottom',
                            }, 
                            { 
                                href: "#" , 
                                target: "_self" ,
                                tag: "Techlog" , 
                                title: "생성형 AI의 모든 것" , 
                                hasEffect : true,
                                effectDelay: '0.3s',
                                effectType: 'fade-in-bottom',
                            }, 
                        ] %>
                        <%- include('src/component/cmp_hero_navigation.html', Object.assign({}, locals, { 
                            jsonData: titleNavData, 
                            colorMode:"white", 
                            marginVertical: "mb-0" 
                        })) %>
                        <!-- heroNavigation // -->
                    </div>
                </div>
                <!-- notice + Interactive Hero + navigation list // -->
                <!-- Search -->
                <div class="main-content__inner">
                </div>
                <!-- Search // -->
                <!-- Service -->
                <div class="main-content__inner">
                </div>
                <!-- Service // -->
                <!-- News -->
                <div class="main-content__inner news-swiper">
                    <div class="main-container">
                        <span class="block font-head-lg font-semibold color-text-default text-center mb-spacing08">
                            미래를 선도하는 <br class="display-mo">LG CNS의 <br class="display-pc">
                            소식을 <br class="display-mo">전해드립니다
                        </span>
                        <div class="cmp-wrap cmp-swiper__wrap">
                            <div class="swiper swiper-news" data-autoplay="false" data-pagination="false">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="#" class="news-swiper__container">
                                            <div class="news-swiper__image">
                                                <img src="https://placehold.co/467x262" alt="">
                                            </div>
                                            <div class="news-swiper__text">
                                                <span
                                                    class="news-swiper__title font-head-sm-mode color-text-default">Awards
                                                    수상</span>
                                                <p class="news-swiper__desc font-body-sm color-text-secondary">
                                                    세계 4대 디자인 어워드라 불리는 미국 'IDEA 디자인 어워드', 독일 'IF 디자인 어워드', 독일 '레드닷
                                                    디자인 어워드'를 수상
                                                </p>
                                                <span
                                                    class="news-swiper__category font-body-sm color-text-secondary">News</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="news-swiper__container">
                                            <div class="news-swiper__image">
                                                <img src="https://placehold.co/467x262" alt="">
                                            </div>
                                            <div class="news-swiper__text">
                                                <span
                                                    class="news-swiper__title font-head-sm-mode color-text-default">DAP
                                                    GenAI Platform</span>
                                                <p class="news-swiper__desc font-body-sm color-text-secondary">
                                                    DAP GenAI Platform은 기업특화 생성형AI플랫폼으로, 기업고객은 온프레미스, 클라우드 등 보유중인 인프라에
                                                    설치해 비즈니스에 필요한 생성형 AI서비스를 빠르게 만들어 즉각적인 가치 창출을 할 수
                                                    있습니다.
                                                </p>
                                                <span
                                                    class="news-swiper__category font-body-sm color-text-secondary">동영상</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="news-swiper__container">
                                            <div class="news-swiper__image">
                                                <img src="https://placehold.co/467x262" alt="">
                                            </div>
                                            <div class="news-swiper__text">
                                                <span
                                                    class="news-swiper__title font-head-sm-mode color-text-default">CloudXper</span>
                                                <p class="news-swiper__desc font-body-sm color-text-secondary">
                                                    CloudXper는 클라우드 진단과 컨설팅부터 전환, 운영까지 모든 클라우드 서비스를 ‘엔드 투
                                                    엔드(end-to-end)’로 제공하는 LG CNS 클라우드 브랜드입니다.
                                                </p>
                                                <span
                                                    class="news-swiper__category font-body-sm color-text-secondary">아티클</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="news-swiper__container">
                                            <div class="news-swiper__image">
                                                <img src="https://placehold.co/467x262" alt="">
                                            </div>
                                            <div class="news-swiper__text">
                                                <span
                                                    class="news-swiper__title font-head-sm-mode color-text-default">Awards
                                                    수상</span>
                                                <p class="news-swiper__desc font-body-sm color-text-secondary">
                                                    세계 4대 디자인 어워드라 불리는 미국 'IDEA 디자인 어워드', 독일 'IF 디자인 어워드', 독일 '레드닷
                                                    디자인 어워드'를 수상
                                                </p>
                                                <span
                                                    class="news-swiper__category font-body-sm color-text-secondary">News</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="news-swiper__container">
                                            <div class="news-swiper__image">
                                                <img src="https://placehold.co/467x262" alt="">
                                            </div>
                                            <div class="news-swiper__text">
                                                <span
                                                    class="news-swiper__title font-head-sm-mode color-text-default">DAP
                                                    GenAI Platform</span>
                                                <p class="news-swiper__desc font-body-sm color-text-secondary">
                                                    DAP GenAI Platform은 기업특화 생성형AI플랫폼으로, 기업고객은 온프레미스, 클라우드 등 보유중인 인프라에
                                                    설치해 비즈니스에 필요한 생성형 AI서비스를 빠르게 만들어 즉각적인
                                                    가치 창출을 할 수
                                                    있습니다.
                                                </p>
                                                <span
                                                    class="news-swiper__category font-body-sm color-text-secondary">동영상</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="#" class="news-swiper__container">
                                            <div class="news-swiper__image">
                                                <img src="https://placehold.co/467x262" alt="">
                                            </div>
                                            <div class="news-swiper__text">
                                                <span
                                                    class="news-swiper__title font-head-sm-mode color-text-default">CloudXper</span>
                                                <p class="news-swiper__desc font-body-sm color-text-secondary">
                                                    CloudXper는 클라우드 진단과 컨설팅부터 전환, 운영까지 모든 클라우드 서비스를 ‘엔드 투
                                                    엔드(end-to-end)’로 제공하는 LG CNS 클라우드 브랜드입니다.
                                                </p>
                                                <span
                                                    class="news-swiper__category font-body-sm color-text-secondary">아티클</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="news-swiper__navigation-wrap">
                                    <button type="button" class="news-swiper__navigation news-swiper__navigation--prev">
                                        <i class="ico icon-main-arrow-right-bl24 ico--default"></i>
                                        <i class="ico icon-main-arrow-left-gr24 ico--disabled"></i>
                                        <span class="ir-text">이전 보기</span>
                                    </button>
                                    <button type="button" class="news-swiper__navigation news-swiper__navigation--next">
                                        <i class="ico icon-main-arrow-right-bl24 ico--default"></i>
                                        <i class="ico icon-main-arrow-left-gr24 ico--disabled"></i>
                                        <span class="ir-text">다음 보기</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- News // -->
                <!-- Button Banner (유사) -->
                <div class="main-content__inner button-banner">
                    <div class="main-container">
                        <div class="button-banner__box">
                            <span class="font-head-x-xl-mode color-text-default">
                                THE FOUNDATION OF <br class="display-pc">
                                OUR BRAND EXPERIENCE
                            </span>
                            <div class="button__wrap button-banner__navigation">
                                <a href="#" class="btn btn-text">
                                    <span class="btn__text">
                                        Brand Story
                                    </span>
                                    <i class="btn__icon ico icon-navigation-right-bl40"></i>
                                </a>
                            </div>
                        </div>
                        <div class="button__wrap button__wrap--btn-top align-right">
                            <button type="button" class="btn-icon btn-top">
                                <i class="ico icon-navigation-up-w19"></i>
                                <span class="ir-text">최상위로 이동</span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Button Banner (유사) // -->
            </div>
            <%- include('src/_inc/footer.html') %>
    </div>
    <!-- <script src="/assets/bundle/swiper-bundle.min.js"></script> -->
    <!-- <script src="/assets/js/initializeSwipers.js"></script> -->
    <script src="/assets/js/main_interactive_hero.js"></script>
    <script>
        /* swiper-notice */
        let swiperNotice = new Swiper('.swiper-notice', {
            loop: false,
            slidesPerView: 1,
            navigation: {
                nextEl: '.notice-swiper__navigation--next',
                prevEl: '.notice-swiper__navigation--prev',
            },
        })

        /* swiper-news */
        let swiperNews = new Swiper('.swiper-news', {
            slidesPerView: 1.1,
            spaceBetween: 12,
            navigation: {
                nextEl: '.news-swiper__navigation--next',
                prevEl: '.news-swiper__navigation--prev',
            },
            breakpoints: {
                720: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                1280: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                }
            }
        })

        

    </script>
</body>

</html>