<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero sub_moa__board-detail">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
            moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
            subText: 'MOA', 
            pageTitle: '뉴스레터' 
        })) %>
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="board-detail__warp mt-20">
                    <div class="board-detail__container">
                        <%
                            const iamgeData = [
                                {
                                    pc: 'https://placehold.co/1144x643',
                                    mo: '',
                                }
                            ]
                        %>
                        <%- include('src/component/cmp_image_box.html', Object.assign({}, locals, { 
                            jsonData: iamgeData,
                            alt: 'EveryITthing',
                            addClass: 'detail-info-visual'
                        })) %>
                    </div>
                    <div class="board-detail__container type-float">
                        <% const boardInfoData=[ 
                                { 
                                    title : '등록기간' , 
                                    text : '2024.09.12 - 2024.10.16' , 
                                }, 
                                { 
                                    title : '행사일' , 
                                    text: '2024.10.16' ,
                                }, 
                                { 
                                    title : '행사시간' , 
                                    text : '13:10 - 14:10' , 
                                }, 
                                { 
                                    title : '장소' , 
                                    text : '온라인' , 
                                }, 
                            ]; 
                        %>
                        <%- include('src/component/cmp_board_detail_info.html', Object.assign({}, locals, { 
                            category: '웨비나',
                            title : '<EveryITthing!> 2025년 AI 전망: AI 에이전트로 여는 미래',
                            date: locals.date || '',
                            likeCount : locals.date || '',
                            tag : ['제조', '서비스', '통신', '경영관리', 'Digital Workplace Platform'],
                            jsonData: boardInfoData,
                            contentType: 'type-card',
                        })) %>
                    </div>
                    <div class="board-detail__container">
                        <div class="cmp-wrap" style="height: 600px; background-color: whitesmoke;">컨텐츠 들어가는 영역</div>
                        <%- include('src/component/cmp_post_navigation.html') %>
                        <div class="button__wrap">
                            <a href="#" class="btn btn-black btn-small">
                                목록
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('src/component/cmp_buttonBanner.html', Object.assign({}, locals, {
                pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
                moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
                title: 'LG CNS의 전문 역량을 귀사의 비즈니스와 접목시켜<br>혁신적인 시너지로 만들어 나가고 싶다면 지금 상담신청 하세요.',
                buttonText: '상담 신청',
            })) %>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>