<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: 'empty',
            moImg: 'empty',
            subText: 'MOA', 
            pageTitle: '자료실'
        })) %>
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <%- include('src/component/cmp_search.html', Object.assign({}, locals, {
                    title: 'DX 전문기업 LG CNS의 DX 기술을 공유합니다.<br>DX Contents를 다운받아보시고 Insight를 얻어보세요.',
                    placeholder: '검색어를 입력하세요.',
                })) %>
                <%- include('src/component/cmp_thumbnail_type.html', Object.assign({}, locals, { 
                    allCountData: '883',
                    thumType: 'card',
                    detailData: [
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            label: 'Label',
                            title: '해킹 공격과 방어의 전쟁 : PURPLE LAB 보안 심층분석 보고서',
                            description: 'Global NO.1 데이터센터 컨설팅/설계/구축/운영까지 Total Lifecycle 전문 서비스를 제공합니다.',
                            tag: ['# 제조', '화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                    ]
                })) %>
                <%- include('src/component/cmp_pagination.html') %>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>