<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
            moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
            subText: 'MOA', 
            pageTitle: '고객스토리' 
        })) %>
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="mt-20">
                    <%- include('src/component/cmp_board_detail_info.html', Object.assign({}, locals, { 
                        title : '업계 최초 AUtoStore 도입으로 최대 저장 공간과 물류 효율 달성',
                        tag : ['제조', '서비스', '통신', '경영관리', 'Digital Workplace Platform'],
                        date : '2024.04.04',
                        likeCount : '11',
                        contentType: 'type-wide',
                    })) %>
                    <div class="cmp-wrap" style="height: 600px; background-color: whitesmoke;">컨텐츠 들어가는 영역</div>
                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                        teaserTitle: '관련 스토리',
                    })) %>
                    <% 
                        const thumbnailDataStoryDetail=[
                            {
                                id: 0,
                                title: 'SK하이닉스 SK하이닉스 SK하이닉스 SK하이닉스 SK하이닉스 SK하이닉스 SK하이닉스 SK하이닉스 SK하이닉스',
                                content: '회사의 첫인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’ 회사의 첫인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’ 회사의 첫인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’ 회사의 첫인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’',
                                tag : ['제조','화학', '서비스', '경영관리', 'Digital Workplace Platform'],
                            },
                            {
                                id: 1,
                                title: 'LG전자',
                                content: `고객의 기대를 뛰어넘다, '언어 장벽 제로'를 실현한 DigitalTrans`,
                                tag : ['전자','제조', '전환 및 구축'],
                            },
                            {
                                id: 2,
                                title: '대한제강',
                                content: 'Vision AI로 철스크랩 판정의 정확성과 효율성을 모두 잡다',
                                tag : ['전자','제조', 'AI', 'Vision AI'],
                            },
                        ]
                    %>
                    <%- include('src/component/cmp_thumbnail_type.html', { 
                        itemClass: 'pc-col3' , 
                        itemCount: 3, 
                        contentType : 'type-moa-case1',
                        jsonData : thumbnailDataStoryDetail, 
                    }) %>
                    <%- include('src/component/cmp_post_navigation.html') %>
                    <div class="button__wrap">
                        <a href="#" class="btn btn-secondary btn-large">
                            <span class="btn__text">목록</span>
                        </a>
                    </div>
                </div>
            </div>
            <%- include('src/component/cmp_buttonBanner.html', Object.assign({}, locals, {
                pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
                moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
                title: 'LG CNS의 전문 역량을 귀사의 비즈니스와 접목시켜<br>혁신적인 시너지로 만들어 나가고 싶다면 지금 상담신청 하세요.',
                buttonText: '상담 신청',
            })) %>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>