<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title><%= data.title %></title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: 'empty',
            moImg: 'empty',
            subText: 'MOA', 
            pageTitle: '고객스토리' 
        })) %>
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <%- include('src/component/cmp_board_detail_info.html', Object.assign({}, locals, { 
                    title : '업계 최초 AUtoStore 도입으로 최대 저장 공간과 물류 효율 달성',
                    tag : ['제조', '서비스', '통신', '경영관리', 'Digital Workplace Platform'],
                    date : '2024.04.04',
                    likeCount : '11',
                    contentType: 'type-wide',
                })) %>
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                    title: {
                        text: 'Vitesco Technologies 고객 스토리를 영상으로 시청하세요:',
                        size: 'sm',
                        class: 'font-medium',
                    },
                })) %>
                <%- include('src/component/cmp_video.html', Object.assign({}, locals, { 
                    id: 1,
                    type: 'iframe',
                    videoUrl: 'https://www.youtube.com/embed/B3u8O4CwV9M',
                    videoTitle: 'test',
                    addClass: 'test1',
                })) %>
                <div class="cmp-wrap" style="height: 600px; background-color: whitesmoke;">컨텐츠 들어가는 영역</div>
                <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                    teaserTitle: '관련 스토리',
                })) %>
            </div>
            <div class="inner-wrap wide background-color-default1">
                <%- include('src/component/cmp_user_case_ref.html', {
                    title: {
                        title: "KT&G 고객 스토리 ebook 다운받기",
                        subTitle: "지금 읽으신 고객 스토리를 더 자세히 알고 싶으시면 ebook을 다운받아 보세요"
                    },
                    img: {
                        imgPc: "https://placehold.co/724x408",
                        imgMo: "https://placehold.co/320x179",
                        imgAlt: "alt",
                        imgClass: "test",
                    },
                    richText: "<p>ESG 뉴스레터 'ESG 에브릿띵'과 함께 지속 가능한 비즈니스의 최신 트렌드와 인사이트를 받아보세요. 지금 뉴스레터를 구독하시면 ESG 에브릿띵에서 다룬 핵심 인사이트를 요약 정리한 특별 eBook을 제공해 드립니다.</p><br><p><sup>*</sup>정보 입력 후 등록을 하시면 이메일로 eBook을 발송해 드립니다.</p><ul><li>ESG 경영의 기초와 중요성</li><li>ESG 경영 실천을 위한 핵심 가이드</li><li>글로벌 ESG 규제와 트렌드</li><li>ESG 공시 대응을 위한 전략</li></ul>",
                    button: {
                        btnIcon: "download",
                        btnText: "다운로드",
                    }
                }) %>
            </div>
            <div class="inner-wrap">
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                        title:
                            {
                                text: '관련 스토리',
                            },
                        marginVertical: 'mb-0',
                })) %>
                <%- include('src/component/cmp_thumbnail_type.html', Object.assign({}, locals, { 
                    thumType: 'list',
                    detailData: [
                        {
                            img: {
                                    url: 'https://placehold.co/480x270',
                                    alt: '이미지알트'
                                },
                            label: 'Label',
                            title: '사람을 위한, 사람에 의한, 사람의 ESG 경영',
                            description: '에이브러햄 링컨은 게티즈버그 연설문(Gettysburg Address)을 통해 ‘국민의, 국민에 의한, 국민을 위한 정부는 이 땅에서 사라지지 않을 것이다',
                            tag: ['# 제조', '# 화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            img: {
                                    url: 'https://placehold.co/480x270',
                                    alt: '이미지알트'
                                },
                            label: 'Label',
                            title: '보안 강화를 위한 블록체인 기술',
                            description: '디지털 시대에 정보의 안전한 관리는 필수이며, 블록체인은 이를 해결할 수 있는 혁신적인 기술로 자리매김하고 있습니다.',
                            tag: ['# 제조', '# 화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                        {
                            img: {
                                    url: 'https://placehold.co/480x270',
                                    alt: '이미지알트'
                                },
                            label: 'Label',
                            title: 'LG CNS가 제안하는 진화하는 사이버 공격 대처 방안',
                            description: '사이버 공격이 갈수록 정교해지고 있습니다. 해커들은 공공기관, 방위산업, 민간기업을 가리지 않고 공격 대상으로 삼고 있으며, 이로 인한 피해도 전 세계적으로 급증하고 있습니다.',
                            tag: ['# 제조', '# 화학', '# 통신', '# 경영관리', '# Digital Workplace Platform'],
                        },
                    ]
                })) %>
                <div class="button__wrap mo-100">
                    <a href="#" class="btn btn-primary btn-large">
                        <span class="btn__text">모든 스토리 살펴보기</span>
                    </a>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>