<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="cmp-wrap  cmp-board-detail-info">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
                pcImg: 'empty',
                moImg: 'empty',
                subText: '뉴스룸', 
                pageTitle: '보도자료'
            })) %>   
            <div class="cmp-wrap inner-wrap">
                <%- include('src/component/cmp_board_detail_info.html', Object.assign({}, locals, { 
                    title : '“글로벌 DX시장의 ‘퍼스트 무버(First Mover)’로 도약할 것”LG CNS, 기업공개(IPO) 기자간담회 개최',
                    text : '현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것”',
                    prefixText: '보도자료',
                    date : '2024.04.04',
                    contentType: 'type-wide',
                })) %>
                <div class="cmp-wrap cmp-richtext">
                    <p>
                        ■ 국제표준화기구의 ‘비즈니스 연속성 인증’, ‘에너지경영시스템 인증’도 획득<br/>
                        AX전문기업 LG CNS가 최근 행정안전부(이하 행안부)로부터 4곳(상암/부산/가산/하남)의 데이터센터에 대해 ‘재해경감 우수기업 인증’을 획득했다. △상암 △부산 △가산 데이터센터는 LG CNS가 소유·운영하고 있으며, △하남 데이터센터는 LG CNS가 위탁 운영 중이다.<br/><br/>

                        ‘재해경감 우수기업 인증’은 재난과 같은 위기가 발생했을 때 기업활동이 중단되지 않도록 하는 비즈니스 연속성 경영시스템(BCMS, Business Continuity Management System)을 평가해, 우수기업에게 인증서를 수여하는 제도다. LG CNS 데이터센터는 각종 재난이 발생하더라도 최단 시간내에 핵심 시스템을 복구하고 피해를 최소화하는 역량을 보유하고 있다. 특히 무중단 전력 공급 역량과 화재, 지진 등의 재해 대응 측면에서 높은 평가를 받았다.<br/><br/>

                        LG CNS 데이터센터는 고객에게 365일 24시간 무중단으로 서비스를 제공한다. 데이터센터의 핵심 인프라 설비인 무정전 전원공급장치(UPS, Uninterruptible Power Supply) 등을 갖추고 있으며, 이중화된 변전소에서 안정적으로 전력을 공급한다. 전력 공급이 중단될 때도 자가발전 시스템으로 동일 용량의 전원 공급이 가능하다. LG CNS는 정전에 대비해 실제 전원을 차단시켜 데이터센터의 핵심 설비가 정상 작동하는지 검증하는 정전테스트도 매년 실시하고 있다.
                        또한 LG CNS는 디지털트윈 기술을 바탕으로 데이터센터의 전력계통을 3D로 구현했다. 과거에는 전력계통 장애 시 현장에 출동해 문제를 파악하는 시간이 많이 소요됐다면, 이제는 3D로 시각화된 전력장비와 전력흐름을 보고 현장에 가지 않더라도 직관적인 상황 파악과 신속한 대응이 가능하다.<br/><br/>

                        LG CNS는 AI 기술을 적용해 데이터센터의 안전성을 강화하고 있다. 예를 들어, AI CCTV는 데이터센터에서 연기가 피어오르거나 작은 불꽃이 발생할 경우, 즉각적으로 화재 위험신호를 탐지해 경고 알림을 제공한다. 이 외에도 LG CNS 데이터센터는 공기 흡입형 감지기, 소방감지기 등 최첨단 기술과 설비를 통해 다중 감시 방식으로 운영되고 있어 화재 위험으로부터 안전하다. LG CNS는 관할 소방서와 함께 매년 비상 대응 훈련도 실시하고 있다.<br/><br/>

                        LG CNS ‘부산 글로벌 클라우드 데이터센터’는 면진구조를 갖춘 대한민국 대표 데이터센터로 꼽힌다. 부산 데이터센터는 국내 최초의 면진 데이터센터로, 규모 8.0의 강진도 견딜 수 있도록 설계됐다. 면진건물은 지진 발생 시 고무기둥 댐퍼가 좌우로 흔들리면서 진동 에너지를 흡수하기 때문에 건물과 서버 등의 장비는 지진의 영향을 받지 않고 안전하게 보호된다.<br/>
                        지난해 8월 LG CNS 데이터센터는 국제표준화기구(ISO, International Standardization)가 공인하는 ‘비즈니스 연속성(ISO22301) 인증’을 받기도 했다. LG CNS 데이터센터의 비즈니스 연속성 경영시스템(BCMS)이 국내 뿐만 아니라 국제 표준에서도 인정을 받은 것을 의미한다.<br/><br/>

                        이와 더불어 LG CNS 데이터센터는 ‘에너지경영시스템(ISO50001) 인증’도 받았다. 에너지경영시스템 인증은 국제표준화기구가 기후변화 시대의 기업경영에 있어 에너지 절감 계획과 실행, 운영을 촉진하기 위한 국제 인증이다. LG CNS는 데이터센터의 온실가스 모니터링 시스템을 구축해 온실가스 배출량을 상시 확인하고 관리하는 체계를 마련했다. 태양광 발전설비도 도입해 온실가스 배출량을 저감하고 있다.<br/><br/>

                        LG CNS AI클라우드사업부장 김태훈 전무는 “LG CNS가 운영중인 모든 데이터센터가 재해 대응 역량의 우수성을 국내외에서 인정받았다는 점에서 큰 의미가 있다”며, “기업 고객들이 안전하게 데이터센터 서비스를 이용할 수 있도록 고객가치를 지속 강화할 것”이라고 강조했다.
                    </p>
                    <img src="https://placehold.co/980x564" alt="">
                </div>
                <%- include('src/component/cmp_post_navigation.html', Object.assign({}, locals, { 
                    pagenationPrev :'test1',
                    pagenationNext : 'test2',
                })) %> 
                <div class="button__wrap">
                    <a href="#" class="btn btn-secondary btn-large">
                        <span class="btn__text">목록</span>
                    </a>
                </div>
                
            </div>
            <div class="cmp-exsample__wrap mt-3">
                <!-- ButtonBanner -->
                <%- include('src/component/cmp_buttonBanner.html', Object.assign({}, locals, {
                    pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
                    moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
                    title: 'LG CNS의 전문 역량을 귀사의 비즈니스와 접목시켜<br>혁신적인 시너지로 만들어 나가고 싶다면 지금 상담신청 하세요.',
                    buttonText: '바로가기',
                })) %>
                <!-- //ButtonBanner -->
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>