<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap mt-20">
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                    subTitle: '뉴스룸',
                    titleText: '보도자료', 
                })) %>
            </div>
            <!-- Swiper -->
            <div class="cmp-wrap cmp-swiper__wrap mt-20">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title font-head-xs">
                                        <a href="#">LG CNS, 국내 3대 신용평가에서 신용등급 전망 상향</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        국내 3대 신용평가사 모두 신용등급 전망 ‘AA- 안정적’에서 ‘AA- 긍정적’으로 조정
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.11
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title font-head-xs">
                                        <a href="#">LG CNS, 유가증권시장 상장 위한 증권신고서 제출</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        5일 금융위원회에 증권신고서 제출, 내년 2월 상장 목표로 본격 공모절차 돌입
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.06
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title font-head-xs">
                                        <a href="#">LG CNS, 유가증권시장 상장 위한 증권신고서 제출</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        5일 금융위원회에 증권신고서 제출, 내년 2월 상장 목표로 본격 공모절차 돌입
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.06
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title font-head-xs">
                                        <a href="#">LG CNS, 유가증권시장 상장 위한 증권신고서 제출</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        5일 금융위원회에 증권신고서 제출, 내년 2월 상장 목표로 본격 공모절차 돌입
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.06
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- //Swiper -->
            <%- include('src/component/cmp_search.html', Object.assign({}, locals, {
                title: 'LG CNS의 보도자료를 확인해 보세요.',
            })) %>
            <div class="inner-wrap">
                <% 
                    const thumbnailDataNewsRoom=[
                        {
                            id: 0,
                            category: '보도자료',
                            title: '“글로벌 DX시장의 ‘퍼스트 무버(First Mover)’로 도약할 것”LG CNS, 기업공개(IPO) 기자간담회 개최',
                            content: '현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것” 현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것”',
                            date: '2025.01.10',
                        },
                        {
                            id: 1,
                            category: '보도자료',
                            title: 'LG CNS, 국내 3대 신용평가에서 신용등급 전망 상향',
                            content: '국내 3대 신용평가사 모두 신용등급 전망 ‘AA- 안정적’에서 ‘AA- 긍정적’으로 조정',
                            date: '2024.12.11',
                        },
                        {
                            id: 2,
                            category: '보도자료',
                            title: 'AI로 ‘철스크랩 등급’ 판정',
                            content: '■ LG CNS-대한제강, 합작법인 아이모스(Aimos) 설립 ∙∙∙ 철스크랩 분류 사업 본격화',
                            date: '2024.05.02',
                        },
                        {
                            id: 3,
                            category: '보도자료',
                            title: 'LG CNS, 차세대 DX 분야 청년인재 양성 나선다',
                            content: '고용노동부 주관 직업훈련 프로그램 K-디지털 트레이닝 교육기관으로 발탁',
                            date: '2024.11.27',
                        },
                        {
                            id: 4,
                            category: '보도자료',
                            title: 'LG CNS, 전력 AI 솔루션 ‘에너딕트’ 출시',
                            content: 'SaaS 형태로 제공해 고객의 초기 구축비용 절감 … 글로벌 사업장에서도 손쉽게 도입',
                            date: '2024.11.06',
                        },
                        {
                            id: 5,
                            category: '보도자료',
                            title: 'LG CNS, 채용 연계형 계약학과 신입생 모집',
                            content: '- 고려대 「AI데이터사이언스학과」, 연세대 「지능형데이터,최적화학과」 -',
                            date: '2024.09.30',
                        },
                        {
                            id: 6,
                            category: '보도자료',
                            title: 'LG CNS, 구글 클라우드 「생성형 AI 전문기업」 아시아 최초 인증',
                            content: '지난 7월 신설된 구글 클라우드의 「생성형 AI 전문기업」 인증 획득',
                            date: '2024.10.10',
                        },
                        {
                            id: 7,
                            category: '보도자료',
                            title: 'LG CNS, 국내 최초 최적화 경연 ‘최적화 그랜드 챌린지 2024’ 성료',
                            content: 'LG CNS 주최 최적화 경연대회, 국내 유수 대학과 대기업서 380여개팀 몰려',
                            date: '2024.10.28',
                        },
                        {
                            id: 8,
                            category: '보도자료',
                            title: 'LG CNS, ‘싱글렉스(SINGLEX)’로 SaaS 사업 박차',
                            content: '21일부터 22일까지 양일간 ‘싱글렉스 라이브(SINGLEX Live)’ 웨비나 개최',
                            date: '2024.08.08',
                        },
                        {
                            id: 9,
                            category: '보도자료',
                            title: 'LG CNS, 대학교 직접 찾아 우수 인재 확보 나선다',
                            content: '현신균 대표, 서울대학교 재학생 100여명 대상 ‘리더십’ 특강 진행',
                            date: '2024.06.17',
                        },
                        {
                            id: 10,
                            category: '보도자료',
                            title: 'LG CNS, 「DX 엔지니어」 「클라우드」 등 하반기 신입·경력 채용',
                            content: '전공 무관, DX 전문가로 성장 원하는 대졸자 이상 세 자릿수 채용 예정 ',
                            date: '2024.05.02',
                        },
                        {
                            id: 11,
                            category: '보도자료',
                            title: 'LG CNS, 인도네시아 DX사업 대폭 강화',
                            content: '인니 시나르마스 그룹과 합작투자 계약 체결',
                            date: '2024.03.28',
                        },
                    ]
                %>
                <%- include('src/component/cmp_thumbnail_type.html', { 
                    itemClass: 'pc-col3' , 
                    itemCount: 12, 
                    allCountData: '883' ,
                    contentType : 'type-news',
                    jsonData : thumbnailDataNewsRoom, 
                }) %>
                <%- include('src/component/cmp_pagination.html') %>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
    <script src="/assets/bundle/swiper-bundle.min.js"></script>
    <script src="/assets/js/initializeSwipers.js"></script>
    <script>
        // Swiper 옵션 배열
        const swiperOptions = [
            { loop: true, speed: 500, slidesPerView: 'auto' },
        ];
        // Swiper 초기화
        initializeSwipers(swiperOptions); 
    </script>
</body>
</html>