<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <!-- <%- include('src/component/cmp_heroBanner.html') %> -->
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <!-- Swiper -->
            <div class="cmp-swiper__wrap mt-20 mb-20">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title  font-head-xs">
                                        <a href="#">LG CNS, 유가증권시장 상장 위한 증권신고서 제출</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        5일 금융위원회에 증권신고서 제출, 내년 2월 상장 목표로 본격 공모절차 돌입
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.06
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title font-head-xs">
                                        <a href="#">LG CNS, 유가증권시장 상장 위한 증권신고서 제출</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        5일 금융위원회에 증권신고서 제출, 내년 2월 상장 목표로 본격 공모절차 돌입
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.06
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title font-head-xs">
                                        <a href="#">LG CNS, 유가증권시장 상장 위한 증권신고서 제출</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        5일 금융위원회에 증권신고서 제출, 내년 2월 상장 목표로 본격 공모절차 돌입
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.06
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="swiper-thumbnail">
                                <div class="thumbnail-wrap">
                                    <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                </div>
                                <div class="content-info">
                                    <div class="chip__wrap">
                                        <div class="chip bg-basic font-caption-xl">보도자료</div>
                                    </div>
                                    <div class="title font-head-xs">
                                        <a href="#">LG CNS, 유가증권시장 상장 위한 증권신고서 제출</a> 
                                    </div>
                                    <div class="description font-body-sm">
                                        5일 금융위원회에 증권신고서 제출, 내년 2월 상장 목표로 본격 공모절차 돌입
                                    </div>
                                    <div class="date-box font-body-xs">
                                        2024.12.06
                                    </div>
                                </div>
                            </div>
                        </div>                                    
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <!-- //Swiper -->
            <div class="bg-gray-100 px-5 py-20 mb-20">
                <p class="text-center font-bold font-head-md">LG CNS의 보도자료를 확인해 보세요.</p>
                <div class="form-element__wrap mt-10 mx-auto max-w-4xl">
                    <label class="ir-text">항목명</label>                          
                    <span class="form-element__inner input-type input-search search-type-full">
                        <button type="button" class="btn btn-search">
                            <i class="ico icon-search-bl35"></i>                                
                            <span class="ir-text">검색</span>
                        </button>                                  
                        <input type="text" value="" placeholder="검색어를 입력하세요." />
                        <button type="button" class="btn btn-remove">
                            <i class="ico icon-remove-bl28"></i>
                            <span class="ir-text">삭제</span>
                        </button>                                
                    </span>
                </div>
            </div>
            <div class="inner-wrap mb-32">
                <div class="cmp-area">
                    <div class="cmp-container">
                        <ul class="content-list__wrap thumbnail-type pc-col3 type-box-line">
                            <li>
                                <div class="content-list__inner">
                                    <div class="thumbnail-wrap">
                                        <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                    </div>
                                    <div class="content-info">
                                        <div class="chip__wrap">
                                            <div class="chip bg-basic font-caption-xl">보도자료</div>
                                        </div>
                                        <div class="title font-body-lg">
                                            <a href="#">글로벌 DX시장의 ‘퍼스트 무버(First Mover)’로 도약할 것”LG CNS, 기업공개 임박함 기업공개 임박함</a> 
                                        </div>
                                        <div class="description font-body-sm">
                                            현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것” 현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것”
                                        </div>
                                        <div class="date-box font-caption-xs">
                                            2025.01.10
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="content-list__inner">
                                    <div class="thumbnail-wrap">
                                        <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                    </div>
                                    <div class="content-info">
                                        <div class="chip__wrap">
                                            <div class="chip bg-basic font-caption-xl">보도자료</div>
                                        </div>
                                        <div class="title font-body-lg">
                                            <a href="#">글로벌 DX시장의 ‘퍼스트 무버(First Mover)’로 도약할 것”LG CNS, 기업공개 임박함 기업공개 임박함</a> 
                                        </div>
                                        <div class="description font-body-sm">
                                            현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것” 현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것”
                                        </div>
                                        <div class="date-box font-caption-xs">
                                            2025.01.10
                                        </div>
                                    </div>
                                </div>
                            </li>                            
                            <li>
                                <div class="content-list__inner">
                                    <div class="thumbnail-wrap">
                                        <img src="/src/assets/image/temp/temp_thum01.png" alt="" />
                                    </div>
                                    <div class="content-info">
                                        <div class="chip__wrap">
                                            <div class="chip bg-basic font-caption-xl">보도자료</div>
                                        </div>
                                        <div class="title font-body-lg">
                                            <a href="#">글로벌 DX시장의 ‘퍼스트 무버(First Mover)’로 도약할 것”LG CNS, 기업공개 임박함 기업공개 임박함</a> 
                                        </div>
                                        <div class="description font-body-sm">
                                            현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것” 현신균 사장 “AI, 클라우드 기술 역량 강화 및 글로벌 사업 본격화를 통해 글로벌 DX시장 선도하는 ‘퍼스트 무버(First Mover)’로 도약할 것”
                                        </div>
                                        <div class="date-box font-caption-xs">
                                            2025.01.10
                                        </div>
                                    </div>
                                </div>
                            </li>                            
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/bundle/swiper-bundle.min.js"></script>
    <script type="module">
        import { tabMenu, accordion } from "/src/assets/js/ui_common.js"
        tabMenu('.basic-type', 'tab');
        accordion('.open-type', 'basic');
        import { initializeSwipers } from '/src/assets/js/initializeSwipers.js';        
        // Swiper 옵션 배열
        const swiperOptions = [
            { loop: true, speed: 500, slidesPerView: 'auto' },
        ];
        // Swiper 초기화
        initializeSwipers(swiperOptions); 
    </script>
</body>
</html>