<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
            moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
            subText: 'Service', 
            pageTitle: '디지털AX' 
        })) %>
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap mt-20">
                <!-- feature-grid -->
                <div class="cmp-wrap cmp-feature-grid mb-exc-spacing-64-22">
                    <div>
                        <!-- Title -->
                        <!-- Title -->
                        <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                            title: {
                                    text: '클라우드, 그 모든 선택의 기준 <br>Cloud with LG CNS ',
                                    size: 'lg',
                                    class: 'color-text-default font-medium',
                                },
                            marginVertical: 'mb-0',
                        })) %>
                        <!-- // Title -->
                    </div>
                    <div>
                        <p class="font-body-md color-text-secondary font-normal">
                            클라우드가 필요한 순간 언제나 LG CNS가 있습니다.​ 다양한 산업 분야에서 독보적인 클라우드 경험을 보유하고 있는 준비된 엔터프라이즈 전문 클라우드 파트너​로 LG CNS는 클라우드 컨설팅부터 전환,
                            구축, 혁신
                            가속화를 위한 애플리케이션 현대화, 운영, 보안, 변화 관리까지의 완결형 서비스와 기업 환경에 특화된 맞춤형 솔루션을 제공합니다. 또한 빠르고 복잡하게 변화하는 클라우드 환경에서 클라우드 최고의 전문가들이
                            비즈니스의
                            가치를 높여줄 AI, 데이터 등 최신 기술을 활용하여 기업이 가진 자원을 더 효과적으로 활용할 수 있는 로드맵을 제시합니다.
                        </p>
                        <p class="font-body-md color-text-secondary font-normal mt-4">
                            탁월한 전문성과 혁신성을 바탕으로 국내 유일 Global 3대 CSP 프리미어 파트너 획득과 글로벌 테크 기업들과 긴밀한 파트너십을 통해 대한민국을 넘어 전 세계 고객들과 만나고 있습니다. 클라우드가 열어갈
                            더
                            새롭고 편리해진 비즈니스 세상, 그 처음과 끝을 LG CNS가 함께합니다.
                        </p>
                    </div>
                </div>
                <!-- // feature-grid -->
                <!-- Image Box -->
                <% 
                    const iamgeData = [{
                        pc: 'https://placehold.co/1144x810', 
                        mo: 'https://placehold.co/320x180', 
                    }] 
                %>
                <%- include('src/component/cmp_image_box.html', Object.assign({}, locals, { 
                    jsonData : iamgeData,
                    alt : 'LG CNS Cloud Service Offering',
                    round: true,
                    marginVertical: 'mb-spacing04',
                }))%>
                <!-- // Image Box -->
                <!-- Image Box -->
                <% 
                    const iamgeData2 = [{
                        pc: 'https://placehold.co/1144x240', 
                        mo: 'https://placehold.co/320x53', 
                    }] 
                %>
                <%- include('src/component/cmp_image_box.html', Object.assign({}, locals, { 
                    jsonData : iamgeData2,
                    alt : 'DRIVE THE NEW INFRASTRUCTURE',
                    round: true,
                    marginVertical: 'mb-exc-spacing-180-88',
                }))%>
                <!-- // Image Box -->
            </div>
            <div class="inner-wrap wide">
                <div class="cmp-wrap cmp-tab basic-type align-left">
                    <div class="cmp-tab__header">
                        <ul class="tab__menu">
                            <li class="is-active">
                                <a href="#">Modern Workplace Platform</a>
                            </li>
                            <li>
                                <a href="#">Digital EX</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content__wrap">
                        <div class="tab__content is-active">
                            <!-- Title -->
                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                title: {
                                    text: 'Total Cloud Service Framework <br>성공적인 클라우드 도입을 위한 조건',
                                    size: 'lg',
                                    class: 'color-text-default font-medium',
                                },
                                marginVertical: 'mb-exc-spacing-64-56',
                            })) %>
                            <!-- feature-grid -->
                            <div class="cmp-wrap cmp-feature-grid cmp-feature-grid--border-top pt-exc-spacing-48-56 pb-exc-spacing-48-56 mb-0">
                                <div>
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                        title:
                                            {
                                                text: '클라우드 통합 컨설팅',
                                                size: 'md',
                                                class: 'color-text-default font-medium',
                                            },
                                        marginVertical: 'mb-0',
                                    })) %>
                                </div>
                                <div>
                                    <!-- Teaser Title -->
                                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                        textCon: [
                                            'AI튜터는 LG CNS가 AI 기술로 만든 외국어 학습 애플리케이션입니다. AI 기반 영어교육 프로그램으로는 국내 최초로 한국영어교육학회(KATE)의 인증을 받으며 우수성을 입증했습니다. LG CNS는 서울, 경기, 인천, 대구, 전남 등 12개 교육청 산하 초중고 약 300만명의 학생들에게 LG CNS AI튜터 앱 ‘스피킹클래스’를 무상으로 제공하고 있습니다. 2022년부터는 교과서 출판사 8곳과 제휴를 맺고 LG CNS AI튜터 앱 ‘스피킹클래스’에 영어 교과서 80권을 탑재해, 전국 초·중·고교생이 스마트폰 앱에서 무료로 학습할 수 있는 서비스도 지원하고 있습니다.', 
                                            ],
                                        marginVertical: 'mb-0',
                                    })) %>                        
                                    <!-- //Teaser Title -->
                                </div>
                            </div>
                            <!-- // feature-grid -->
                            <!-- feature-grid -->
                            <div class="cmp-wrap cmp-feature-grid cmp-feature-grid--border-top pt-exc-spacing-32-56 pb-exc-spacing-32-56 mb-0">
                                <div>
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                        title:
                                            {
                                                text: '클라우드 통합 컨설팅',
                                                size: 'md',
                                                class: 'color-text-default font-medium',
                                            },
                                        marginVertical: 'mb-0',
                                    })) %>
                                </div>
                                <div>
                                    <!-- title-text-icon -->
                                    <%
                                        const iconSolutionColumnData1 = [
                                            {
                                                id: 0,
                                                title: 'Cloud Consulting',
                                                content: [
                                                    '기업 관점에서 클라우드 도입 전략 수립 및 도입 방향성 설정'
                                                ],
                                                useList: false,
                                                borderTopNone: true,
                                                paddingTopNone: true,
                                            },
                                            {
                                                id: 0,
                                                title: 'Cloud Maturity Assessment',
                                                content: [
                                                    '클라우드 성숙도를 진단하고 목표 수준 설정'
                                                ],
                                                useList: false
                                            },
                                            {
                                                id: 0,
                                                title: 'AM 적합성 평가',
                                                content: [
                                                    '애플리케이션 현대화(Application Modernization, AM) 성숙도 수준 진단 및 최적의 AM 전환 포트폴리오 제시'
                                                ],
                                                useList: false
                                            },
                                            {
                                                id: 0,
                                                title: 'Gen AI Consulting',
                                                content: [
                                                    '비즈니스 효과 창출을 위한 생성형 AI 과제 발굴과 전환, 구축 등 중·장기 로드맵 수립'
                                                ],
                                                useList: false,
                                                borderBottomNone: true,
                                                paddingBottomNone: true,
                                            },
                                        ];
                                        %>
                                    <%- include('src/component/cmp_title_text_icon.html', {
                                        jsonData: iconSolutionColumnData1,
                                        marginVertical: 'mb-0',
                                    }) %>
                                    <!-- // title-text-icon -->
                                </div>
                            </div>
                            <!-- // feature-grid -->
                            <!-- feature-grid -->
                            <div class="cmp-wrap cmp-feature-grid cmp-feature-grid--border-top pt-exc-spacing-32-56 pb-exc-spacing-32-56 mb-0">
                                <div>
                                    <!-- Title -->
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                        title:
                                            {
                                                text: '글로벌 테크 기업과 협력 ',
                                                size: 'md',
                                                class: "font-medium"
                                            },
                                        marginVertical: 'mb-0',
                                    })) %>
                                    <!-- // Title -->
                                </div>
                                <div>
                                    <!-- Teaser Title -->
                                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                        textCon: [
                                            'LG CNS는 국내 유일 글로벌 CSP 3사의 최고 등급 파트너십과 더불어 다양한 사업 분야의 파트너십을 기반으로 역량을 인정받아 전 세계 고객들과 만나고 있습니다.',
                                        ]
                                    })) %>                        
                                    <!-- //Teaser Title -->
                                    <!-- title-text-icon -->
                                    <%
                                        const iconSolutionColumnData2 = [
                                            {
                                                id: 0,
                                                imageUrl: 'https://placehold.co/345x129/png',
                                                title: 'Barrier-less',
                                                content: [
                                                    'PC/모바일 등 다양한 디바이스 접속 지원', 
                                                    '원하는 레거시 시스템 어디에나 Add 가능'
                                                ],
                                                useList: true
                                            },
                                            {
                                                id: 1,
                                                imageUrl: 'https://placehold.co/345x129/png',
                                                title: 'Barrier-less',
                                                content: [
                                                    'PC/모바일 등 다양한 디바이스 접속 지원', 
                                                    '원하는 레거시 시스템 어디에나 Add 가능'
                                                ],
                                                useList: true
                                            },
                                            {
                                                id: 0,
                                                imageUrl: 'https://placehold.co/345x129/png',
                                                title: 'Barrier-less',
                                                content: [
                                                    'PC/모바일 등 다양한 디바이스 접속 지원', 
                                                    '원하는 레거시 시스템 어디에나 Add 가능'
                                                ],
                                                useList: true,
                                                borderBottomNone: true,
                                                paddingBottomNone: true,
                                            }
                                        ];
                                        %>
                                    <%- include('src/component/cmp_title_text_icon.html', {
                                        jsonData: iconSolutionColumnData2,
                                        marginVertical: 'mb-0',
                                    }) %>
                                    <!-- // title-text-icon -->
                                </div>
                            </div>
                            <!-- // feature-grid -->
                            <!-- feature-grid -->
                            <div class="cmp-wrap cmp-feature-grid cmp-feature-grid--border-top cmp-feature-grid--border-bottom pt-exc-spacing-32-56 pb-exc-spacing-32-56">
                                <div>
                                    <!-- Title -->
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                        title:
                                            {
                                                text: 'LG CNS가 제공하는 AOS 범위',
                                                size: 'md',
                                                class: 'color-text-default font-medium',
                                            },
                                        marginVertical: 'mb-0',
                                    })) %>
                                    <!-- // Title -->
                                </div>
                                <div>
                                    <!-- title-text-icon -->
                                    <%
                                        const iconSolutionColumnData3 = [
                                            {
                                                id: 4,
                                                title: 'LENA',
                                                content: ['LENA는 LG CNS의 축적된 운영 노하우를 바탕으로 개발된 클라우드 향 웹 애플리케이션 서버(WAS)입니다. 기존 온프레미스 환경뿐만 아니라 클라우드, 컨테이너 환경 등 다양한 IT 환경에 최적화된 서비스를 제공하며, 안정적인 운영 환경을 통해 금융, 공공, IT, 서비스 등 여러 산업에서 성공적인 구축 사례를 보유하고 있습니다.'],
                                                buttonName: '더 자세히 알아보기',
                                                buttonUrl: '#',
                                                buttonTarget: '_self',
                                                type: 'large',
                                                useList: false,
                                                borderTopNone: true,
                                                paddingTopNone: true,
                                            },
                                            {
                                                id: 0,
                                                title: '토폴로지 뷰',
                                                content: [
                                                    '토폴로지 뷰를 사용해 시스템 구성 가시성을 확보하여 운영 효율성을 향상시킬 수 있습니다.'
                                                ],
                                                useList: false
                                            },
                                            {
                                                id: 0,
                                                title: '진단/대응 기능',
                                                content: [
                                                    '장애 사전 진단 및 대응 기능을 제공하여, 서비스 신뢰성 및 안정성을 제공합니다.'
                                                ],
                                                useList: false
                                            },
                                            {
                                                id: 0,
                                                title: '클라우드 최적화 기능',
                                                content: [
                                                    '설정 중앙 관리, 서비스 자동 등록 및 모니터링, 이벤트 추적 기능 등 다양한 기능을 통해 안정적인 서비스 확장이 가능합니다.'
                                                ],
                                                useList: false,
                                                borderBottomNone: true,
                                                paddingBottomNone: true,
                                            },
                                        ];
                                        %>
                                    <%- include('src/component/cmp_title_text_icon.html', {
                                        jsonData: iconSolutionColumnData3,
                                    }) %>
                                    <!-- // title-text-icon -->
                                </div>
                            </div>
                            <!-- // feature-grid -->
                            <!-- Title -->
                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                title:
                                    {
                                        text: '인프라 표준',
                                        size: 'md',
                                        class: 'color-text-default font-semibold',
                                    },
                                marginVertical: 'mb-spacing05',
                            })) %>
                            <!-- // Title -->
                            <!-- ImageItem -->
                            <%
                                const imageItemData = [
                                    {
                                        id: 0,
                                        typeClass: 'type-mo-reverse',
                                        imageUrl: 'https://placehold.co/1144x1144',
                                        imageRound: true,
                                        title: 'Ready-Made, IaC 활용한 프로젝트 개발 환경 초기 세팅!',
                                        content: '<p>WEB, WAS 및 표준 프레임워크이 설치된 상태로 컨테이너를 생성하여 즉시 개발 수행 가능한 모드로 전환이 가능하며, 프로젝트 초기 세팅 기간이 약 2주 이상에서 3일 이내로 단축됩니다.</p>'
                                    },
                                ];
                            %> 
                            <%- include('src/component/cmp_imageltem.html', Object.assign({}, locals, {
                                itemCount: 3,
                                jsonData: imageItemData
                            })) %>
                            <!-- //ImageItem -->
                            <!-- Title -->
                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                title:
                                    {
                                        text: '인프라 표준',
                                        size: 'md',
                                        class: 'color-text-default font-semibold',
                                    },
                                marginVertical: 'mb-spacing05',
                            })) %>
                            <!-- // Title -->
                            <!-- Teaser Title -->
                            <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                title: {
                                    text: 'LG CNS MasS',
                                    size: 'sm',
                                    class: 'font-medium'
                                },
                                textCon: [
                                    'LG CNS의 MaaS 솔루션은 기본 서비스와 코어 서비스로 구성되며, 선택한 모빌리티에 따라 새롭게 패키징하여 제공됩니다. 이를 통해 다양한 모빌리티 제어 및 모니터링, 대여 및 반납 등 필수적인 서비스를 유연하게 적용할 수 있습니다.'
                                ],
                                marginVertical: 'mb-spacing04',
                            })) %>                        
                            <!-- //Teaser Title -->
                            <!-- ImageItem -->
                            <%
                                const imageItemData2 = [
                                    {
                                        id: 1,
                                        typeClass: 'type-mo-reverse',
                                        imageUrl: 'https://placehold.co/1144x540',
                                        imageRound: true,
                                        title: '플랫폼 기반 모빌리티 서비스 통합 및 확장 지원',
                                        content: '<p>모든 교통수단을 하나의 애플리케이션으로 통합하여 경로 제공, 맞춤형 상품 추천, 예약 및 결제, 환승 혜택까지 원스톱으로 연결한 서비스 제공</p>'
                                    },
                                ];
                            %> 
                            <%- include('src/component/cmp_imageltem.html', Object.assign({}, locals, {
                                itemCount: 3,
                                jsonData: imageItemData2
                            })) %>
                            <!-- //ImageItem -->
                            <!-- Title -->
                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                title:
                                    {
                                        text: 'LG CNS가 제공하는 Modern Workplace',
                                        size: 'md',
                                        class: 'color-text-default font-semibold',
                                    },
                                marginVertical: 'mb-exc-spacing-48-24',
                            })) %>
                            <!-- // Title -->
                            <!-- ImageItem -->
                            <%
                                const imageItemData3 = [
                                    {
                                        id: 1,
                                        typeClass: 'type-default',
                                        imageUrl: 'https://placehold.co/1144x540',
                                        imageRound: true,
                                        title: 'Workforce',
                                        content: '<p>임직원 디지털 경험 향상을 위한 Workflow 서비스와 관련 자동화 도구를 제공합니다. 회사 내 다양한 업무 시스템 및 정보가 통합된 View에서 제공되고 PC, 모바일, 태블릿 등 어떤 디바이스에서도 동일한 업무 환경을 제공하여 시공간을 뛰어 넘는 업무가 가능합니다. M365 도입, 업무 포탈 및 모바일 환경 개선, 업무 자동화 등을 통해 원활한 커뮤니케이션과 효율적 협업이 가능해집니다. 많은 기업에서 고민하는 라이프 사이클 기반 사내 문서와 업무 지식 축적 및 활용에 대한 해결책을 제안드립니다.</p>'
                                    },
                                ];
                            %> 
                            <%- include('src/component/cmp_imageltem.html', Object.assign({}, locals, {
                                itemCount: 3,
                                jsonData: imageItemData3,
                                marginVertical: 'mb-spacing10',
                            })) %>
                            <!-- //ImageItem -->
                            <!-- ImageItem -->
                            <%
                                const imageItemData4 = [
                                    {
                                        id: 1,
                                        typeClass: 'type-default',
                                        imageUrl: 'https://placehold.co/1144x540',
                                        imageRound: true,
                                        title: 'Workforce',
                                        content: '<p>임직원 디지털 경험 향상을 위한 Workflow 서비스와 관련 자동화 도구를 제공합니다. 회사 내 다양한 업무 시스템 및 정보가 통합된 View에서 제공되고 PC, 모바일, 태블릿 등 어떤 디바이스에서도 동일한 업무 환경을 제공하여 시공간을 뛰어 넘는 업무가 가능합니다. M365 도입, 업무 포탈 및 모바일 환경 개선, 업무 자동화 등을 통해 원활한 커뮤니케이션과 효율적 협업이 가능해집니다. 많은 기업에서 고민하는 라이프 사이클 기반 사내 문서와 업무 지식 축적 및 활용에 대한 해결책을 제안드립니다.</p>'
                                    },
                                ];
                            %> 
                            <%- include('src/component/cmp_imageltem.html', Object.assign({}, locals, {
                                itemCount: 3,
                                jsonData: imageItemData4
                            })) %>
                            <!-- //ImageItem -->
                            <!-- Title -->
                            <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                title:
                                    {
                                        text: 'LG CNS가 제공하는 Modern Workplace',
                                        size: 'md',
                                        class: 'color-text-default font-semibold',
                                    },
                                marginVertical: 'mb-exc-spacing-48-24',
                            })) %>
                            <!-- // Title -->
                            <!-- ImageItem -->
                            <%
                                const imageItemData5 = [
                                    {
                                        id: 2,
                                        typeClass: 'type-left',
                                        imageUrl: 'https://placehold.co/708x760/png',
                                        ImageUrlMo: 'https://placehold.co/320x344/png',
                                        imageRound: true,
                                        title: 'Workforce',
                                        content: '<p>임직원 디지털 경험 향상을 위한 Workflow 서비스와 관련 자동화 도구를 제공합니다. 회사 내 다양한 업무 시스템 및 정보가 통합된 View에서 제공되고 PC, 모바일, 태블릿 등 어떤 디바이스에서도 동일한 업무 환경을 제공하여 시공간을 뛰어 넘는 업무가 가능합니다. M365 도입, 업무 포탈 및 모바일 환경 개선, 업무 자동화 등을 통해 원활한 커뮤니케이션과 효율적 협업이 가능해집니다. 많은 기업에서 고민하는 라이프 사이클 기반 사내 문서와 업무 지식 축적 및 활용에 대한 해결책을 제안드립니다.</p>'
                                    }, 
                                    {
                                        id: 3,
                                        typeClass: 'type-right',
                                        imageUrl: 'https://placehold.co/708x760/png',
                                        ImageUrlMo: 'https://placehold.co/320x344/png',
                                        imageRound: true,
                                        title: 'Workforce',
                                        content: '<p>임직원 디지털 경험 향상을 위한 Workflow 서비스와 관련 자동화 도구를 제공합니다. 회사 내 다양한 업무 시스템 및 정보가 통합된 View에서 제공되고 PC, 모바일, 태블릿 등 어떤 디바이스에서도 동일한 업무 환경을 제공하여 시공간을 뛰어 넘는 업무가 가능합니다. M365 도입, 업무 포탈 및 모바일 환경 개선, 업무 자동화 등을 통해 원활한 커뮤니케이션과 효율적 협업이 가능해집니다. 많은 기업에서 고민하는 라이프 사이클 기반 사내 문서와 업무 지식 축적 및 활용에 대한 해결책을 제안드립니다.</p><p>임직원 디지털 경험 향상을 위한 Workflow 서비스와 관련 자동화 도구를 제공합니다. 회사 내 다양한 업무 시스템 및 정보가 통합된 View에서 제공되고 PC, 모바일, 태블릿 등 어떤 디바이스에서도 동일한 업무 환경을 제공하여 시공간을 뛰어 넘는 업무가 가능합니다. M365 도입, 업무 포탈 및 모바일 환경 개선, 업무 자동화 등을 통해 원활한 커뮤니케이션과 효율적 협업이 가능해집니다. 많은 기업에서 고민하는 라이프 사이클 기반 사내 문서와 업무 지식 축적 및 활용에 대한 해결책을 제안드립니다.</p>'
                                    },
                                ];
                            %> 
                            <%- include('src/component/cmp_imageltem.html', Object.assign({}, locals, {                             
                                itemCount: 5,
                                jsonData: imageItemData5,
                                marginVertical: 'mb-0'
                            })) %>
                            <!-- //ImageItem -->
                        </div>
                        <div class="tab__content">
                            <div style="height: 300px;">Digital EX</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-wrap wide pt-spacing11 background-color-default1">
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                    title: {
                            text: '인사관리의 DX 혁신을 이루는 LG CNS 솔루션',
                            size: 'lg',
                            class: 'color-text-default font-medium',
                        },
                    marginVertical: 'mb-spacing08',
                })) %>
                <div class="cmp-wrap cmp-feature-grid mb-0">
                    <div>
                        <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                            title: {
                                    text: 'SINGLEX HR 한국형',
                                    size: 'md',
                                    class: 'color-text-default font-semibold',
                                },
                            marginVertical: 'mb-0',
                        })) %>
                    </div>
                    <div>
                        <p class="font-body-md color-text-secondary font-normal">
                            지털트랜스(DigitalTrans)는 AI 기반의 혁신적인 자동 통번역 IT 서비스입니다. 실시간 음성 및 텍스트 번역을 지원하며, 정확하고 자연스러운 번역 품질로 글로벌 소통을 강화합니다. 오렐로는 머신러닝과
                            자연어 처리 기술(NLP)을 활용해 다양한 언어와 문화적 맥락을 이해하고 반영합니다. 사용자 친화적인 인터페이스와 높은 정확도로 비즈니스 회의, 국제 컨퍼런스, 교육 등 다양한 환경에서 신속한 커뮤니케이션을 가능하게
                            합니다. 이제 언어의 장벽 없이 전 세계와 연결되는 스마트한 비즈니스 솔루션, 디지털트랜스와 함께하세요.
                        </p>
                    </div>
                </div>
            </div>
            <div class="inner-wrap wide pt-exc-spacing-40-32 pb-spacing11 background-color-default1">
                <div class="cmp-swiper__wrap cmp-swiper__service mb-0">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-card">
                                <div class="swiper-card__thumbnamil">
                                    <img src="https://placehold.co/467x262" alt="" class="display-pc">
                                    <img src="https://placehold.co/265x150" alt="" class="display-mo">
                                </div>
                                <div class="swiper-card__content-info">
                                    <div class="swiper-card__container">
                                        <span class="font-head-sm-mode font-semibold color-text-default swiper-card__title">
                                            기업의 근태 . 급여 . 보상 등 정책 반영
                                        </span>
                                        <p class="font-body-sm color-text-secondary">
                                            어떤 복잡한 제도와 정책이라도 <br class="display-pc">
                                            시스템에 반영할 수 있도록 지원
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-card">
                                <div class="swiper-card__thumbnamil">
                                    <img src="https://placehold.co/467x262" alt="" class="display-pc">
                                    <img src="https://placehold.co/265x150" alt="" class="display-mo">
                                </div>
                                <div class="swiper-card__content-info">
                                    <div class="swiper-card__container">
                                        <span class="font-head-sm-mode font-semibold color-text-default swiper-card__title">
                                            기업의 근태 . 급여 . 보상 등 정책 반영
                                        </span>
                                        <p class="font-body-sm color-text-secondary">
                                            어떤 복잡한 제도와 정책이라도 <br class="display-pc">
                                            시스템에 반영할 수 있도록 지원
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-card">
                                <div class="swiper-card__thumbnamil">
                                    <img src="https://placehold.co/467x262" alt="" class="display-pc">
                                    <img src="https://placehold.co/265x150" alt="" class="display-mo">
                                </div>
                                <div class="swiper-card__content-info">
                                    <div class="swiper-card__container">
                                        <span class="font-head-sm-mode font-semibold color-text-default swiper-card__title">
                                            기업의 근태 . 급여 . 보상 등 정책 반영
                                        </span>
                                        <p class="font-body-sm color-text-secondary">
                                            어떤 복잡한 제도와 정책이라도 <br class="display-pc">
                                            시스템에 반영할 수 있도록 지원
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-wrap pt-spacing11">
                <!-- Title -->
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                    title: {
                            text: 'FAQ',
                            size: 'lg',
                            class: 'color-text-default font-medium',
                        },
                    marginVertical: 'mb-spacing05',
                })) %>
                <!-- // Title -->
                <%
                    const faqData = [
                        {
                            id: 0,
                            faqTitle: "스마트 워크를 위한 MWP 도입할 때 가장 고려해야 할 사항은 무엇인가요?",
                            faqContent: "가능한 많은 임직원이 잘 사용할 수 있도록 쉽고 간단한 기능 위주로 먼저 임직원이 사용해 볼 수 있도록 오픈하고 사용해본 임직원의 의견을 취합하여 개선하고 수정하여 좀더 많은 임직원이 사용할 수 있도록 하는 것이 중요하며, 필요한 교육과 캠페인은 과하다 싶을 정도로 실행하여 회사 임직원에게 내재화 하는 것이 중요합니다."
                        },
                        {
                            id: 1,
                            faqTitle: "망분리 환경에서도 MWP 도입이 가능한가요?",
                            faqContent: "2"
                        },
                        {
                            id: 2,
                            faqTitle: "MWP 도입 시 임직원의 PainPoint 파악과 임직원의 설득은 어떻게 해야 할까요?",
                            faqContent: "3"
                        },
                    ];
                %>
                <%- include('src/component/cmp_accordion.html', {
                    typeClass: 'open-type',
                    openIndex: 0,
                    itemCount: 3,
                    jsonData: faqData,
                }) %>
            
                <!-- Title -->
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                    title: {
                            text: '고객 사례',
                            size: 'lg',
                            class: 'color-text-default font-medium',
                        },
                    marginVertical: 'mb-spacing05',
                })) %>
                <!-- // Title -->
                <%
                    const customerData = [
                        {
                            id: 0,
                            category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                            name: 'LG 이노텍',
                            content: '임직원을 찐팬으로 만드는 사용자 경험 기반 모바일 오피스 구축 임직원을 찐팬으로 만드는 사용자 경험 기반 모바일 오피스 구축임직원을 찐팬으로 만드는 사용자 경험 기반 모바일 오피스 구축',
                            logoPC: 'https://placehold.co/95x28',
                            logoMO: 'https://placehold.co/95x48',
                        },
                        {
                            id: 1,
                            category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                            name: 'LG 전자',
                            content: 'DigitalTrans 사례',
                            logoPC: 'https://placehold.co/96x28',
                            logoMO: 'https://placehold.co/95x48',
                        },
                        {
                            id: 2,
                            category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                            name: '한국 거래소',
                            content: '회사의 첫 인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’',
                            logoPC: 'https://placehold.co/140x25',
                            logoMO: 'https://placehold.co/95x48',
                        },
                        {
                            id: 3,
                            category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                            name: 'SK하이닉스',
                            content: '회사의 첫 인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’',
                            logoPC: 'https://placehold.co/108x28',
                            logoMO: 'https://placehold.co/95x48',
                        },
                        {
                            id: 4,
                            category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                            name: 'SK하이닉스',
                            content: '회사의 첫 인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’',
                            logoPC: 'https://placehold.co/108x28',
                            logoMO: 'https://placehold.co/95x48',
                        },
                        {
                            id: 5,
                            category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                            name: 'SK하이닉스',
                            content: '회사의 첫 인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’',
                            logoPC: 'https://placehold.co/108x28',
                            logoMO: 'https://placehold.co/95x48',
                        },
                    ];
                %>
                <%- include('src/component/cmp_customer-case.html', Object.assign({}, locals, {
                    jsonData: customerData,
                    itemCount: 8
                })) %>
                <div class="button__wrap">
                    <a href="#" class="btn btn-secondary btn-small">
                        <span class="btn__text">더 보기</span>
                    </a>
                </div>
            </div>
            <div class="inner-wrap pt-spacing11 pb-exc-spacing-282-152">
                <!-- Title -->
                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                    title: {
                            text: '연관 자료실',
                            size: 'lg',
                            class: 'color-text-default font-medium',
                        },
                    marginVertical: 'mb-spacing05',
                })) %>
                <!-- // Title -->
                <%
                    const relatedData = [
                        {
                            id: 0,
                            imgPc: 'https://placehold.co/980x564',
                            imgMo: 'https://placehold.co/980x564',
                            label: 'Category',
                            title: 'Cloud 뉴스레터',
                            content: 'LG CNS Cloud Service에 대한 모든 뉴스레터',
                            button: {
                                type: 'link',
                                target: 'blank',
                                href: '#',
                            }
                        },
                        {
                            id: 1,
                            imgPc: 'https://placehold.co/980x564',
                            imgMo: 'https://placehold.co/980x564',
                            label: 'Category',
                            title: 'Cloud 소개 영상',
                            content: 'LG CNS Cloud Service에 대한 모든 것을 이해하기 쉽게 소개한 영상',
                            button: {
                                type: 'video',
                                target: 'blank',
                                disabled: true,
                                href: '#',
                            }
                        },
                        {
                            id: 2,
                            imgPc: 'https://placehold.co/980x564',
                            imgMo: 'https://placehold.co/980x564',
                            label: 'Category',
                            title: 'Cloud 소개 자료',
                            content: 'LG CNS Cloud Service에 대한 모든 것을 이해하기 쉽게 소개한 자료',
                            button: {
                                type: 'download',
                                modalId: '',
                            }
                        },
                    ];
                %>
                <%- include('src/component/cmp_DataList.html', Object.assign({}, locals, {
                    jsonData: relatedData,
                    itemClass: 'pc-col3',
                    itemCount: 3
                })) %>
                <div class="button__wrap">
                    <a href="#" class="btn btn-secondary btn-small">
                        <span class="btn__text">더 보기</span>
                    </a>
                </div>
            </div>
            <%- include('src/component/cmp_buttonBanner.html', Object.assign({}, locals, {
                    pcImg: 'https://placehold.co/1920x540',
                    moImg: 'https://placehold.co/360x390',
                    subtitle: '상담신청',
                    title: 'LG CNS의 전문 역량을 귀사의 비즈니스와 접목시켜 <br class="display-pc">혁신적인 시너지로 만들어 나가고 싶다면 지금 상담신청 하세요.',
                    buttonText: '바로가기',
                })) %>
        </div>
        <%- include('src/_inc/footer.html') %>
        <script>
            let swiperInfo = new Swiper('.cmp-swiper__service .swiper', {
                    loop: false,
                    slidesPerView: 1.1,
                    enabled: true,
                    spaceBetween: 12,
                    slidesOffsetBefore: 0,
                    slidesOffsetAfter: 0,
                    breakpoints: {
                        1280: {
                            enabled: false,
                            slidesPerView: 3,
                            spaceBetween: 20,
                        }
                    }
            })
            let swiperDataList = new Swiper('.data-list-swiper.swiper', {
                    loop: false,
                    slidesPerView: 1.1,
                    enabled: true,
                    spaceBetween: 12,
                    slidesOffsetBefore: 0,
                    slidesOffsetAfter: 0,
                    breakpoints: {
                        720: {
                            enabled: false,
                            slidesPerView: 'auto', 
                            spaceBetween: 0,
                        }
                    }
                })
            tabMenu('.basic-type', 'tab');
            accordion('.open-type', 'basic');
        </script>
    </div>
</body>
</html>