<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
            moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
            subText: 'Service', 
            pageTitle: 'SCM DX' 
        })) %>   
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap mt-20">
                <div class="cmp-area">
                    <!-- overview -->
                    <%- include('src/component/cmp_overview.html', Object.assign({}, locals, { 
                        overviewTitle: 'SCM DX 트렌드', 
                        overviewContent: '<p>최근 공급망 운영에 있어 디지털 기술을 활용하여 시장을 예측하고, 사전에 대응하여 운영 효율성을 높이고자 하는 노력이 가속화되고 있습니다. 다양한 소비자 요구에 대응하기 위한 제품 종류의 증가와 글로벌화에 따른 사업 범위 확대로 인하여 공급망 운영 복잡도가 높아지고 있는 상황에서 자연재해, 전쟁 및 테러, 파업, 노동력 부족 등 공급망을 마비시키는 요인들 또한 증가하고 있습니다.<br>이러한 상황에서 공급망 관리 리더는 안정적인 공급망 운영을 위하여 아래와 같은 업무를 추진하고 있습니다.</p><p>AI, 최적화 등 디지털 기술을 활용하여 ① 공급망 다변화 및 현지화를 통해 리스크 해소 및 대응력 강화 ② 변화에 신속히 대응할 수 있는 유연한 공급망 구축 ③ 고객데이터를 분석을 통한 맞춤형 서비스 제공 ④ 공급망 운영 효율성 극대화를 위하여 다양한 이해관계자들과 협력을 강화해 나가고 있습니다.<br>LG CNS는 공급망 전략, 계획, 실행 영역에 대해 SCM 서비스를 제공하고 있습니다. 실제로 제조, 유통, 물류 등 다양한 산업에서 디지털 기술을 활용한 SCM 컨설팅 및 시스템 구축을 수행하고 있습니다. </p>'
                    })) %> 
                    <!-- //overview -->                 
                    <div class="cmp-wrap cmp-tab basic-type align-left">
                        <div class="cmp-tab__header">
                            <ul class="tab__menu">
                                <li class="is-active">
                                    <a href="#">Supply Chain Strategy</a>
                                </li>
                                <li>
                                    <a href="#">Supply Chain Planning</a>
                                </li>
                                <li>
                                    <a href="#">Supply Chain Execution</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content__wrap">
                            <div class="tab__content is-active">
                                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                    titleText: 'Operational Excellency',
                                    titlePrimary: '공급망 운영 효율화의 첫 관문'
                                })) %>
                                <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                    teaserTitle: 'SCM 전략 및 체계 수립',
                                    teaserText1: '효율적인 공급망 운영을 위해서는 산업의 특성과 고객의 니즈, Supply Chain Network 구성, 각종 회사 정책 및 제약조건 등을 고려하여 최적의 운영체계를 수립하는 것부터 시작합니다. 현재의 공급망 운영 수준을 파악하고, 개선이 필요한 부분에 대한 우선순위를 정하여 체계적으로 수행하는 것이 필요합니다. 또한, 공급망 운영 전략 및 체계가 갖추어져 있더라도 지속적인 운영 혁신을 위해 전략을 재점검하고 정책을 Update 하며 환경의 변화에 맞도록 지속적으로 운영 체계를 변화시킬 필요가 있습니다.',
                                    teaserText2: 'Supply Chain Strategy는 컨설팅 및 최적화 기법을 활용하여 고객 맞춤형 공급망 체계 수립 및 지속적인 혁신을 핵심가치로 설정하고 고객의 공급망 운영 환경에 적합한 서비스를 제공합니다.'
                                })) %>

                                <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                    teaserTitle: 'LG CNS가 제공하는 Supply Chain Strategy 서비스',
                                })) %>
                                <%
                                    const imageItemData = [
                                        {
                                            id: 0,
                                            typeClass: 'type-left',
                                            imageUrl: '/src/assets/image/temp/full_imag01.png',
                                            title: 'SCM 진단 및 PI 컨설팅',
                                            content: '<p>고객의 SCM 운영 전략, 프로세스, 시스템, KPI 및 조직에 대해 공급망 운영 수준을 진단합니다. 효율적인 공급망 운영을 위한 마스터 플랜 및 중장기 로드맵을 수립합니다. 업종의 특성을 반영하여 SCM 운영체계를 수립하고, 영역별 프로세스 개선과 실행과제를 도출하고 과제의 성공적인 수행을 위하여 변화관리 컨설팅 서비스를 제공합니다.</p>'
                                        },
                                        {
                                            id: 1,
                                            typeClass: 'type-right',
                                            imageUrl: '/src/assets/image/temp/full_imag01.png',
                                            title: 'SCM 최적화',
                                            content: '<p>공급망 운영과 관련된 전략적 의사결정 및 다양한 변수를 고려해야 하는 복잡한 문제에 대해 최적화 및 휴리스틱 기법을 활용하여 해결하는 서비스를 제공합니다.</p><p>대표적인 문제로 수요 변동에 대응하기 위한 적정 재고수준 결정, 물류비를 최소화할 수 있는 최적 거점 선정을 들 수 있습니다. 또한, 여러 공급사로부터 소싱하는 부품에 대해 최소의 비용으로 조달하는 조합을 찾아내고, 목표 생산량 달성하기 위한 작업자와 설비간 최적의 조합을 찾는 등 효율적인 SCM 운영을 위한다양한 문제를 해결할 수 있습니다.</p>'
                                        }
                                    ];
                                %> 
                                <%- include('src/component/cmp_imageltem.html', Object.assign({}, locals, {
                                    itemCount: 2,
                                    jsonData: imageItemData
                                })) %>

                                <%- include('src/component/cmp_title.html', Object.assign({}, locals, {
                                    titlePrimary2: 'Supply Chain Strategy를 지원하<span class="color-text-default">는</span>' ,
                                    titleText2: 'LG CNS 솔루션' 
                                }))%>
                                <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                    teaserTitle: 'SCMable',
                                    teaserText1: '공급망 운영상 발생하는 주요 문제를 해결할 수 있는 서비스로 별도의 구축기간 없이 고객이 즉시 활용할 수 있도록 SaaS 방식으로 서비스를 제공합니다. SCMable은 현재 재고 최적화, 구매 최적화, 작업자 배치 최적화, Capacity Planning, Cutting 최적화, 물류거점 최적화 서비스를 제공하고 있습니다.',
                                    teaserText2: 'SCMable은 별도 시스템 구축 없이 사용한 만큼 부담하는 서비스로 초기 투자 비용이 적어 고객이 활용하기에 큰 부담이 없고, 필요한 경우 특화 서비스 혹은 고객사 자체 시스템 구축이 필요한 경우 맞춤형 구축도 가능합니다.'
                                })) %>

                                <%
                                    const itemList3ColumnsData = [
                                        {
                                            id: 0,
                                            imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                            title: '재고 최적화',
                                            content: '간헐적 수요 대응을 위해 고객 만족도 수준에 따라 필요한 적정 재고 산출',
                                        },
                                        {
                                            id: 1,
                                            imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                            title: '구매 최적화',
                                            content: '다수의 공급사~다수의 공장 간 소싱 물류비를 최소화하는 방안 산출'
                                        },
                                        {
                                            id: 2,
                                            imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                            title: '작업자 배치 최적화',
                                            content: '목표 생산량을 달성하기 위한 설비~작업자 간 최적의 배치계획 산출'
                                        },
                                        {
                                            id: 3,
                                            imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                            title: 'Capacity Planning',
                                            content: '설비 가동율 최대화 및 투자비 최소화를 위한 설비 투자 방안 산출'
                                        },
                                        {
                                            id: 4,
                                            imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                            title: 'Cutting Stock',
                                            content: '개별 주문을 조합하여 Cutting 잔여물을 최소화하는 방안 산출'
                                        },
                                    ];
                                %>
                                <%- include('src/component/cmp_Itemlist_3Columns.html', Object.assign({}, locals, { 
                                    itemCount: 5,
                                    jsonData: itemList3ColumnsData
                                })) %>
                            </div>
                            <div class="tab__content">
                                <div style="height: 300px;">Supply Chain Planning</div>
                            </div>
                            <div class="tab__content">
                                <div style="height: 300px;">Supply Chain Execution</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
        <script>        
            tabMenu('.basic-type', 'tab');
            accordion('.open-type', 'basic');   
        </script>
    </div>    
</body>
</html>