<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: '/src/assets/image/sub/bg_sub_enterprice.png',
            moImg: '/src/assets/image/sub/bg_sub_enterprice_mo.png',
            subText: 'Service', 
            pageTitle: '디지털AX' 
        })) %>   
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap mt-20">
                <div class="cmp-area">
                    <!-- overview -->
                    <%- include('src/component/cmp_overview.html', Object.assign({}, locals, { 
                        overviewTitle: '디지털AX 트렌드', 
                        overviewContent: '<p>임직원들의 업무 환경과 일하는 방식의 급격한 변화 속에서, 디지털 전환을 넘어 AI 중심의 기업 혁신(AX, AI Transformation)을 새로운 패러다임으로 받아들이고 있습니다. 이러한 변화 속에서 AI 기술/서비스를 활용한 일하는 방식 및 비즈니스 혁신까지 이어질 수 있게 하기 위해서 많은 기업에서도 AI 도입을 통해 임직원 일하는 방식 혁신 및 비즈니스 경쟁력 강화 전략을 추진하고 있습니다. AI 기술/서비스를 활용한 일하는 방식 및 비즈니스 혁신까지 이어질 수 있게 하기 위해서는, 무엇보다도 임직원 경험(EX, Employee Experience) 제고 관점에서 임직원 업무의 전반적인 변화가 필요합니다.</p><p>그렇다면, 기업의 일하는 방식은 어떻게 변화할까요?<br>앞으로의 일하는 방식은 임직원 경험을 혁신의 중심에 두고, AI를 활용하여 근본적으로 변화가 이루어질 것입니다. 사람이 출근해서 퇴근할 때까지 업무를 하는 전 과정에서 DX/AX 기술 기반으로 업무 방식이 재설계되며, 간단한 요청만해도 AI가 명령을 이해하고 기업 내부와 외부의 정보를 스스로 분석하여, 최적의 방안을 제시하게 될 것입니다.</p><p>출근부터 퇴근까지... 임직원이 업무에 집중할 수 있는 임직원경험(EX)기반, ‘DX/AX’ 기술 기반 자동화/지능화된 업무환경을 제공합니다.</p>'
                    })) %> 
                    <!-- //overview -->                 
                    <div class="cmp-tab basic-type align-left">
                        <div class="cmp-tab__header">
                            <ul class="tab__menu">
                                <li class="is-active">
                                    <a href="#">Modern Workplace Platform</a>
                                </li>
                                <li>
                                    <a href="#">Digital EX</a>
                                </li>                                                                                                                                            
                            </ul>
                        </div>
                        <div class="tab-content__wrap">
                            <div class="tab__content is-active">
                                <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                    titleText: 'Rethinking Tomorrow’s Work',
                                    titlePrimary: '새로운 시대, 새로운 세상, 새로운 업무 환경'
                                })) %>
                                <%- include('src/component/cmp_SpecList.html', {
                                    itemCount: 3
                                }) %> 
                                <div class="cmp-container">
                                    <p class="font-head-xs font-bold mt-12 mb-10">LG CNS가 제공하는 Modern Workplace</p>
                                    <%
                                        const imageItemData = [
                                            {
                                                id: 0,
                                                typeClass: 'type-default',
                                                imageUrl: '/src/assets/image/temp/full_imag01.png',
                                                title: 'Workforce',
                                                content: '<p>임직원 디지털 경험 향상을 위한 Workflow 서비스와 관련 자동화 도구를 제공합니다. 회사 내 다양한 업무 시스템 및 정보가 통합된 View에서 제공되고 PC, 모바일, 태블릿 등 어떤 디바이스에서도 동일한 업무 환경을 제공하여 시공간을 뛰어 넘는 업무가 가능합니다. M365 도입, 업무 포탈 및 모바일 환경 개선, 업무 자동화 등을 통해 원활한 커뮤니케이션과 효율적 협업이 가능해집니다. 많은 기업에서 고민하는 라이프 사이클 기반 사내 문서와 업무 지식 축적 및 활용에 대한 해결책을 제안드립니다.</p>'
                                            },
                                            {
                                                id: 1,
                                                typeClass: 'type-default',
                                                imageUrl: '/src/assets/image/temp/full_imag01.png',
                                                title: 'Workspace',
                                                content: '<p>임직원이 근무하는 오피스 공간을 보다 편리하고, 쾌적하게 이용할 수 있도록 디지털 기반의 오피스로 현대화하여 혁신적인 업무 환경을 제공합니다. 임직원 개인 근무 공간뿐 아니라 커뮤니케이션과 협업을 위한 공간, 업무 생산성 향상 관점의 시설과 설비 및 리프레쉬 공간 등 다양한 형태의 물리적 공간과 디지털 공간의 활용도를 극대화하고, EX 향상과 연계하여 다양한 기능을 제공하고 있습니다. 또한 외부 방문자를 위해 편리하고 빠른 출입 및 보안 관련 서비스도 제공하고 있습니다.</p>'
                                            }, 
                                            {
                                                id: 2,
                                                typeClass: 'type-default',
                                                imageUrl: '/src/assets/image/temp/full_imag01.png',
                                                title: 'AI Coworker',
                                                content: '<p>LG CNS가 추구하는 Modern Workplace의 미래는 임직원의 모든 여정과 활동에 AI가 함께하는 모습입니다. AI 기반 다양한 서비스를 출시하여 실제 현장에 적용하며 지속적으로 고도화 하고 있습니다. AI 서비스를 적용하기 위한 기술적 구현과 함께 다양한 Use Case 발굴에 힘쓰고 있으며, 고객의 성공적인 생성형 AI 비즈니스 추진을 적극적으로 지원하고 있습니다. AI를 접목해 업무 혁신을 가속화할 수 있도록 고객들의 성공적인 AI 비즈니스 추진을 지원합니다.</p>'
                                            }
                                        ];
                                    %> 
                                    <%- include('src/component/cmp_imageltem.html', Object.assign({}, locals, {                             
                                        itemCount: 3,
                                        jsonData: imageItemData
                                    })) %>                                    

                                </div>

                                <div class="cmp-container">
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, {
                                        titlePrimary2: 'Digital Workplace<span class="color-text-default">를 완성하는</span>' , 
                                        titleText2: 'LG CNS 솔루션' 
                                    }))%>
                                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                        teaserTitle: 'DigitalTrans',
                                        teaserText1: '지털트랜스(DigitalTrans)는 AI 기반의 혁신적인 자동 통번역 IT 서비스입니다. 실시간 음성 및 텍스트 번역을 지원하며, 정확하고 자연스러운 번역 품질로 글로벌 소통을 강화합니다. 오렐로는 머신러닝과 자연어 처리 기술(NLP)을 활용해 다양한 언어와 문화적 맥락을 이해하고 반영합니다. 사용자 친화적인 인터페이스와 높은 정확도로 비즈니스 회의, 국제 컨퍼런스, 교육 등 다양한 환경에서 신속한 커뮤니케이션을 가능하게 합니다. 이제 언어의 장벽 없이 전 세계와 연결되는 스마트한 비즈니스 솔루션, 디지털트랜스와 함께하세요.',
                                    })) %>
                                    <%
                                        const digitalTransData = [
                                            {
                                                id: 0,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: 'Barrier-less',
                                                content: [
                                                    'PC/모바일 등 다양한 디바이스 접속 지원',
                                                    '원하는 레거시 시스템 어디에나 Add 가능'
                                                ]
                                            },
                                            {
                                                id: 1,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: 'Fast & Easy',
                                                content: [
                                                    '원하는 화상회의 솔루션 누구나 쉽게 이용',
                                                    '음성만으로 약 100개 언어를 구별'
                                                ]
                                            },
                                            {
                                                id: 2,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: 'Advanced',
                                                content: [
                                                    '업종 별/회사 별 맞춤 용어 사전을 적용',
                                                    'AI 기반 자동 회의록 작성 가능'
                                                ]
                                            },
                                        ];
                                    %>
                                    <%- include('src/component/cmp_Itemlist_3Columns.html', Object.assign({}, locals, {
                                        jsonData: digitalTransData,
                                        itemCount: 3
                                    })) %>

                                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                        teaserTitle: 'i-KEP(포털)',
                                        teaserText1: 'i-Kep은 20년 이상 축적된 다양한 기업들의 업무환경에 대한 높은 이해도와 Best Practice를 반영한 임직원 경험 중심의 포털 서비스입니다. 기업내 다양한 업무시스템 및 정보들이 함께 연결되어 통합된 View에서 제공하고, 언제 어디서든 동일한 업무 환경을 제공하여 시공간을 뛰어 넘는 업무환경이 가능합니다. 직관적인 인터페이스를 통해 프로젝트 관리, 결재, 보고서 작성, 일정 관리 등을 빠르게 수행할 수 있으며, 실시간 알림으로 중요한업무를 놓치지 않습니다. i-Kep과 함께라면 사무실 밖에서도 업무의 연속성을 유지하며 효율적인 비즈니스 환경을 만들어 보세요. i-Kep, 스마트한 업무의 시작입니다',
                                    })) %>
                                    <%
                                        const iKepData = [
                                            {
                                                id: 0,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '다양한 솔루션 Line-up 보유',
                                                content: '복잡한 기간계시스템 유연한 연계 가능'
                                            },
                                            {
                                                id: 1,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '복잡한 기간계시스템 유연한 연계 가능',
                                                content: '글로벌 솔루션은 물론 ERP, HR시스템 등 기간계시스템과 유연한 연계 가능'
                                            },
                                        ];
                                    %>
                                    <%- include('src/component/cmp_Itemlist_3Columns.html', Object.assign({}, locals, {
                                        jsonData: iKepData,
                                        itemCount: 2
                                    })) %>

                                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                        teaserTitle: 'EMS(모바일오피스)',
                                        teaserText1: '모바일 서비스인 EMS는 언제 어디서나 모바일로 회사 내부 업무를 손쉽게 처리할 수 있는 스마트한 업무 관리 앱으로, 기업에서 필요로 하는 다양한 업무 서비스를 단일 앱으로 제공하고, 개인 별로 최적화된 모바일 서비스를 제공합니다. 직관적인 인터페이스와 모바일 환경에 맞춘 최적화된 UI/UX 설계로, 사용자 경험을 극대화 하여 최고의 효율성을 보장합니다. 또한, 모바일 오피스 내 일정, 메일 요약, 메일 초안 작성 등 업무에 유용한 AI 기능을 접목시켜 제공하고 있으며, 스마트한 비즈니스 파트너로서 더 빠르고 정확한 업무를 가능하게 합니다. 언제 어디서든 일의 한계를 초월하는 LG CNS의 모바일 오피스 서비스를 만나보세요!',
                                    })) %>
                                    <%
                                        const emsData = [
                                            {
                                                id: 0,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '모든 업무를 한 손에!',
                                                content: '기업 맞춤형 구성으로 모바일 앱 서비스를 제공하여, 모든 업무를 효율적으로 처리'
                                            },
                                        ];
                                    %>
                                    <%- include('src/component/cmp_Itemlist_3Columns.html', Object.assign({}, locals, {
                                        jsonData: emsData,
                                        itemCount: 1
                                    })) %>

                                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                        teaserTitle: '오피스 통합 모바일 앱',
                                        teaserText1: 'LG CNS에서 제시하는 오피스 통합 모바일 앱은 <strong class="font-bold">스마트 오피스의 새로운 기준</strong>을 제시하며, 가장 현대적인 업무환경을 구현합니다. 임직원이 근무하는 공간을 디지털 기술로 연결하여 출근부터 퇴근하는 순간까지 임직원의 모든 오피스 라이프를 책임집니다. 임직원이 근무하는 오피스 공간을 보다 편리하고, 쾌적하게 이용할 수 있도록 오피스 통합 슈퍼 App을 제공하여 차별화된 업무환경을 지원합니다. 모바일 출입인증부터 좌석 및 회의실 예약과 같은 업무 지원 서비스와 <strong class="font-bold">주문, 예약, 결제 등</strong> 다양한 부대시설 이용까지 하나의 앱을 통해 업무 효율성과 편의성을 극대화합니다. 또한, AI 기반의 개인화 서비스로 자주 이용하는 서비스를 추천하며, 사옥 내 자원 활용을 최적화합니다',
                                        teaserText2: '<strong class="font-bold">LG CNS와 함께 기존 오피스를 디지털 기반으로 현대화한 혁신적인 스마트 오피스 환경을 경험해보세요!</strong>'
                                    })) %>
                                    <%
                                        const officeAppData = [
                                            {
                                                id: 0,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '원스톱 스마트 오피스 경험',
                                                content: '출근부터 퇴근까지 임직원의 오피스라이프를 고려해 최적화된 스마트오피스 구현'
                                            },
                                            {
                                                id: 1,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '오피스 내 모든 시설과 서비스 간편 이용',
                                                content: '오피스 내 카페, 식당 등 부대시설의 주문, 예약, 결제까지 하나의 앱으로 손쉽게 처리'
                                            },
                                            {
                                                id: 2,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '오피스 운영관리 지원',
                                                content: '빌딩 운영 전반에 대하여 주요 의사 결정 시 필요한 모니터링 대시보드 제공'
                                            },
                                        ];
                                    %>
                                    <%- include('src/component/cmp_Itemlist_3Columns.html', Object.assign({}, locals, {
                                        jsonData: officeAppData,
                                        itemCount: 3
                                    })) %>

                                    <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                        teaserTitle: 'AI for MWP',
                                        teaserText1: 'AI for MWP는 임직원들이 수행하는 메일 작성, 회의실 예약, 문서 검색 등 임직원들이 수행하는 공통 업무에 AI를 활용하여 업무 생산성을 획기적으로 향상시킬 수 있는 다양한 시나리오를 발굴하고, 서비스화하여 고객들에게 일하는 방식의 새로운 차원을 제시합니다. 반복적이고, 귀찮은 작업은 자동화하고, 지능형 추천으로 필요한 정보를 정확히 제공하며, 협업 과정의 효율성을 극대화하여 중요한 일에 더욱 집중할 수 있는 환경을 만듭니다. LG CNS의 AI for MWP와 함께 업무의 경계를 넘어선 인텔리전스한 모던워크플레이스를 경험해보세요!',
                                    })) %>
                                    <%
                                        const mwpData = [
                                            {
                                                id: 0,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '회의실 예약도 AI로 손쉽게!',
                                                content: 'AI가 참석자 일정 조회부터 빈 회의실 찾아 등록까지 복잡한 작업을 간편하게 자동화 하는 서비스입니다.'
                                            },
                                            {
                                                id: 1,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: '신속, 정확! Search with AI!',
                                                content: '사내 산재되어 있는 지식을 빠르고 정확하게 검색/활용할 수 있으며, 필요 시 사외 지식까지 확인할 수 있는 Gen AI 기반 지식 관리 서비스입니다.'
                                            },
                                            {
                                                id: 2,
                                                imageUrl: '/src/assets/image/temp/Icon_pp.png',
                                                title: 'AI로 완성하는 문서 작업의 혁신!',
                                                content: '다양한 문서 양식에서 보고서 초안을 작성하고, 필요한 도표 추천부터 문구 수정까지 지원하는 Document Assistant 서비스입니다.'
                                            },
                                        ];
                                    %>
                                    <%- include('src/component/cmp_Itemlist_3Columns.html', Object.assign({}, locals, {
                                        jsonData: mwpData,
                                        itemCount: 3
                                    })) %>
                                </div>

                                <div class="cmp-container">
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                        titleText: 'FAQ'
                                    })) %>
                                    <div class="cmp-wrap">
                                        <%
                                            const faqData = [
                                                {
                                                    id: 0,
                                                    faqTitle: "스마트 워크를 위한 MWP 도입할 때 가장 고려해야 할 사항은 무엇인가요?",
                                                    faqContent: "가능한 많은 임직원이 잘 사용할 수 있도록 쉽고 간단한 기능 위주로 먼저 임직원이 사용해 볼 수 있도록 오픈하고 사용해본 임직원의 의견을 취합하여 개선하고 수정하여 좀더 많은 임직원이 사용할 수 있도록 하는 것이 중요하며, 필요한 교육과 캠페인은 과하다 싶을 정도로 실행하여 회사 임직원에게 내재화 하는 것이 중요합니다."
                                                },
                                                {
                                                    id: 1,
                                                    faqTitle: "망분리 환경에서도 MWP 도입이 가능한가요?",
                                                    faqContent: "2"
                                                },
                                                {
                                                    id: 2,
                                                    faqTitle: "MWP 도입 시 임직원의 PainPoint 파악과 임직원의 설득은 어떻게 해야 할까요?",
                                                    faqContent: "3"
                                                },
                                            ];
                                        %>
                                        <%- include('src/component/cmp_accordion.html', {
                                            typeClass: 'open-type',
                                            openIndex: 0,
                                            itemCount: 3,
                                            jsonData: faqData
                                        }) %>
                                    </div>
                                </div>

                                <div class="cmp-container">
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                        titleText: '고객 사례'
                                    })) %>
                                    <%
                                        const customerData = [
                                            {
                                                id: 0,
                                                category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                                                name: 'LG 이노텍',
                                                content: '임직원을 찐팬으로 만드는 사용자 경험 기반 모바일 오피스 구축 임직원을 찐팬으로 만드는 사용자 경험 기반 모바일 오피스 구축임직원을 찐팬으로 만드는 사용자 경험 기반 모바일 오피스 구축',
                                                logo: '/src/assets/image/temp/cs_logo.png',
                                            },
                                            {
                                                id: 1,
                                                category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                                                name: 'LG 전자',
                                                content: 'DigitalTrans 사례',
                                                logo: '/src/assets/image/temp/cs_logo.png',
                                            },
                                            {
                                                id: 2,
                                                category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                                                name: '한국 거래소',
                                                content: '회사의 첫 인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’',
                                                logo: '/src/assets/image/temp/cs_logo.png',
                                            },
                                            {
                                                id: 3,
                                                category: [{name: '제조'}, {name: '경영관리'}, {name: 'DWP'}],
                                                name: 'SK하이닉스',
                                                content: '회사의 첫 인상을 결정하는 ‘스마트 방문 카드 발급 솔루션’',
                                                logo: '/src/assets/image/temp/cs_logo.png',
                                            },
                                        ];
                                    %>
                                    <%- include('src/component/cmp_customer-case.html', Object.assign({}, locals, {
                                        jsonData: customerData,
                                        itemCount: 4
                                    })) %>  
                                    <div class="button__wrap">
                                        <a href="#" class="btn btn-primary">
                                            고객 사례 더 보기
                                            <i class="ico icon-arrow-right-wt16"></i>
                                        </a>
                                    </div>
                                </div>

                                <div class="cmp-container">
                                    <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                                        titleText: '연관 자료실'
                                    })) %>
                                    <%
                                        const relatedData = [
                                            {
                                                id: 0,
                                                label: 'LENA 브로슈어',
                                                title: 'LENA로 효율적인 서비스 운영과 확장성을 확보하세요! LENA로 효율적인 서비스 운영과 확장성을 확보하세요!',
                                                content: 'LENA로 효율적인 서비스 운영과 확장성을 확보하세요! LENA로 효율적인 서비스 운영과 확장성을 확보하세요!LENA로 효율적인 서비스 운영과 확장성을 확보하세요!LENA로 효율적인 서비스 운영과 확장성을 확보하세요! LENA로 효율적인 서비스 운영과 확장성을 확보하세요!LENA로 효율적인 서비스 운영과 확장성을 확보하세요!LENA로 효율적인 서비스 운영과 확장성을 확보하세요! LENA로 효율적인 서비스 운영과 확장성을 확보하세요!LENA로 효율적인 서비스 운영과 확장성을 확보하세요!',
                                            },
                                            {
                                                id: 1,
                                                label: 'LENA 브로슈어',
                                                title: 'TunA로 시스템 안전성과 만족도를 동시에 높이세요!',
                                                content: 'TunA로 시스템 안전성과 만족도를 동시에 높이세요!',
                                            },
                                            {
                                                id: 2,
                                                label: 'J-Jobs 브로슈어 ',
                                                title: 'Workload Automation을 도입해보세요!',
                                                content: 'Workload Automation을 도입해보세요!',
                                            },
                                        ];
                                    %>
                                    <%- include('src/component/cmp_DataList.html', Object.assign({}, locals, {
                                        jsonData: relatedData,
                                        itemClass: 'pc-col3',
                                        itemCount: 3
                                    })) %>  
                                    <div class="button__wrap">
                                        <a href="#" class="btn btn-primary">
                                            DX 자료실로 이동
                                            <i class="ico icon-arrow-right-wt16"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="tab__content">
                                <div style="height: 300px;">Digital EX</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
        <script>        
            tabMenu('.basic-type', 'tab');
            accordion('.open-type', 'basic');   
        </script>
    </div>    
</body>
</html>