<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap has-hero">        
        <%- include('src/_inc/header.html') %> 
        <!-- //헤더 영역 -->           
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: '/src/assets/image/sub/bg_sub_vi01.png',
            moImg: '/src/assets/image/sub/bg_sub_mvi01.png',
            subText: 'Service', 
            pageTitle: '경영관리' 
        })) %>    
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="cmp-wrap fixed-width">
                    <div style="height: 500px;background-color: #a2a2a2;"></div>
                </div>
                <div class="cmp-wrap">

                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>              
    </div>    
</body>
</html>