<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title><%= data.title %></title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap contact-us">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
            pcImg: 'https://placehold.co/1920x480',
            moImg: 'https://placehold.co/360x284',
            subText: '문의하기', 
            pageTitle: '상담 및 문의하기',
            bannerSize: 'wide',
            linkButton : 'FAQ 바로가기',
        })) %>  
        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <p class="block mb-spacing06 font-head-sm color-text-default align-left">궁금한 사항을 남겨주시면 빠른 시일 내에 답변 드리겠습니다.</p>
                <%
                    const inputData = [
                        {
                            inputData: [
                                {
                                    id: 1,
                                    title: "질문유형",
                                    required: true,
                                    type: "dropdown",
                                    placeholder: "질문 유형을 선택해 주세요",
                                    option: [
                                        {
                                            value: "Selected",
                                        },
                                        {
                                            value: "Hover",
                                        },
                                        {
                                            value: "Disabled",
                                            disabled: true,
                                        },
                                        {
                                            value: "Default",
                                        },
                                        {
                                            value: "Default",
                                        },
                                    ],
                                },
                            ],
                        },
                        {
                            inputData: [
                                {
                                    id: 2,
                                    title: "문의제목",
                                    required: true,
                                    type: "text",
                                    placeholder: "문의 내용의 제목을 입력해주세요.",
                                },
                            ],
                        },
                        {
                            inputData: [
                                {
                                    id: 3,
                                    title: "문의내용",
                                    required: true,
                                    type: "textarea",
                                    placeholder: "문의 세부 내용을 입력해주세요.",
                                    countMax: "2,000",
                                },
                            ],
                        },
                        {
                            inputData: [
                                {
                                    id: 4,
                                    title: "성",
                                    required: true,
                                    type: "text",
                                    placeholder: "성을 입력해주세요.",
                                },
                                {
                                    id: 5,
                                    title: "이름",
                                    required: true,
                                    type: "text",
                                    placeholder: "이름을 입력해주세요",
                                },
                            ],
                        },
                        {
                            inputData: [
                                {
                                    id: 6,
                                    title: "연락처",
                                    required: true,
                                    type: "text",
                                    placeholder: "하이픈(-) 없이 입력해주세요.",
                                },
                                {
                                    id: 7,
                                    title: "이메일",
                                    required: true,
                                    type: "text",
                                    placeholder: "이메일을 입력해주세요.",
                                },
                            ],
                        },
                        {
                            inputData: [
                                {
                                    id: 8,
                                    title: "회사(소속)",
                                    required: true,
                                    type: "search",
                                    placeholder: "클릭하여 검색하기",
                                },
                                {
                                    id: 9,
                                    title: "부서",
                                    required: true,
                                    type: "text",
                                    placeholder: "부서를 입력해주세요.",
                                },
                            ],
                        },
                        {
                            inputData: [
                                {
                                    id: 10,
                                    title: "직급",
                                    required: true,
                                    type: "dropdown",
                                    placeholder: "직급을 선택해주세요.",
                                    option: [
                                        {
                                            value: "Selected",
                                        },
                                        {
                                            value: "Hover",
                                        },
                                        {
                                            value: "Disabled",
                                            disabled: true,
                                        },
                                        {
                                            value: "Default",
                                        },
                                        {
                                            value: "Default",
                                        },
                                    ],
                                },
                            ]
                        },
                    ]
                %>
                <%- include('src/component/cmp_input.html', Object.assign({}, locals, { 
                    jsonData: inputData,
                })) %>
                <%
                    const inputData2 = [
                        {
                            inputData: [
                                {
                                    id: 20,
                                    required: true,
                                    type: "checkbox",
                                    name: "checkbox-guide",
                                    dataList: [
                                        {
                                            value: "checkbox-default",
                                            checked: true,
                                            linkText: "개인정보 수집·이용 동의",
                                        },
                                    ],
                                    desc : "문의하기를 위한 개인정보 수집·이용 안내를 확인하였으며, 내용에 동의합니다.",
                                    dataListStyle: "max",
                                },
                            ],
                        },
                    ]
                %>
                <%- include('src/component/cmp_input.html', Object.assign({}, locals, { 
                    jsonData: inputData2,
                })) %>
                
                <div class="button__wrap">
                    <button type="button" class="btn btn-primary btn-medium">
                        <span class="btn__text">제출</span>
                    </button>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>