<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap">
        <%- include('src/_inc/header.html') %> 
        <!-- //헤더 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="page-location__title-wrap">
                    <div class="font-body-lg sub-text">
                        뉴스룸
                    </div>
                    <div class="font-head-lg sub-title">
                        보도자료
                    </div>
                </div>
                <div class="cmp-wrap">
                    <div style="height: 500px;padding: 50px 0;">
                        <%- include('src/component/cmp_pagination.html') %>
                    </div>
                </div>
                <div class="cmp-wrap">
                    
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>    
    </div>    
</body>
</html>