<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title><%= data.title %></title>
    <meta name="description" content="<%= data.description %>">
    <link rel="stylesheet" href="/src/assets/css/index.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="wrap contact-us">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, {
            subText: '문의하기',
            pageTitle: '상담 및 문의하기'
        })) %>
        <div class="contact-us__visual-box">
            <p class="font-bold text-center font-head-md">궁금한 사항을 남겨주시면<br>빠른 시일 내에 답변드리겠습니다.</p>
        </div>

        <!-- //비주얼 영역 -->
        <div class="sub-content__wrap">
            <div class="inner-wrap">
                <div class="form-container">
                    <div class="form-container__contents">
                        <%
                        const inputData = [
                            {
                                id: 0,
                                title: { text: "성함", required: true },
                                inputData: [
                                    {
                                        type: "text",
                                        placeholder: "성함을 입력해 주세요",
                                    },
                                ]
                            },
                            {
                                id: 1,
                                title: { text: "이메일", required: true },
                                inputData: [
                                    {
                                        type: "multi",
                                        placeholder: "입력해 주세요",
                                        option: [
                                            {
                                                value: "직접 입력",
                                            },
                                            {
                                                value: "naver.com",
                                            }
                                        ],
                                    },
                                ],
                            },
                            {
                                id: 2,
                                title: { text: "휴대전화", required: true },
                                inputData: [
                                    {
                                        type: "text",
                                        placeholder: "01012345678",
                                    },
                                ]
                            },
                            {
                                id: 3,
                                title: { text: "부서명", required: true },
                                inputData: [
                                    {
                                        type: "text",
                                        placeholder: "부서명을 입력해 주세요",
                                    },
                                ]
                            },
                            {
                                id: 4,
                                title: { text: "회사(소속)", required: true },
                                inputData: [
                                    {
                                        type: "search",
                                        placeholder: "검색해 주세요",
                                    }
                                ],
                            },
                            {
                                id: 5,
                                title: { text: "직급", required: true },
                                inputData: [
                                    {
                                        type: "text",
                                        placeholder: "직급을 입력해 주세요",
                                    },
                                ]
                            },
                            {
                                id: 6,
                                title: { text: "질문유형", required: true },
                                inputData: [
                                    {
                                        type: "select",
                                        placeholder: "질문 유형을 선택해 주세요",
                                        option: [
                                            {
                                                value: "옵션1",
                                            },
                                            {
                                                value: "옵션2",
                                            }
                                        ],
                                    }
                                ],
                            },
                            {
                                id: 6,
                                title: { text: "문의내용", required: true },
                                inputData: [
                                    {
                                        type: "textarea",
                                        placeholder: "내용을 입력해 주세요 &#10; *주민번호, 연락처, 계좌번호 등 개인정보가 포함된 내용은 입력을 금합니다",
                                        countMax: "1,000"
                                    },
                                ],
                            },
                        ]
                        %>
                        <%- include('src/component/cmp_input.html', Object.assign({}, locals, { 
                            jsonData: inputData,
                        })) %>
                        <div class="check-box-container">
                            체크박스 컨테이너(이용동의)
                        </div>
                        <div class="button__wrap">
                            <button type="button" class="btn btn-black btn-small">
                                문의하기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>