<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= data.title %></title>
  <meta name="description" content="<%= data.description %>">
  <link rel="stylesheet" href="/src/assets/css/index.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body class="type-full-dark">
    <div class="wrap  has-hero">
        <%- include('src/_inc/header.html') %>
        <!-- //헤더 영역 -->
        <div class="sub-content__wrap">
            <div class="full-type-content__wrap">
                <div class="future-inner__wrap">
                    <div class="future-text">
                        <div class="main-title font-head-xl font-semibold">Generative AI</div>
                        <div class="sub-title font-head-md font-bold">in your work </div>
                        <div class="description-text font-body-md">
                            생성형 AI. 이제 관망의 시기는 지났습니다.<br>인터넷이 없는 업무 환경을 이제 생각할 수가 없듯이, 생성형 AI가 적용되지 않은 업무 시스템을 생각하기는 이제 어려운 세상이 되었습니다.
                        </div>
                    </div>
                    <!-- //title -->
                    <div class="future-content">
                        <div class="cmp-future-content">
                            <div class="future-content-items">
                                <div class="item-image">
                                    <img src="/src/assets/image/sub/future_img_ai.png" alt="" />
                                </div>
                                <ul class="item-content-list">
                                    <li>
                                        <div class="cate-title font-body-xl font-bold">AI 트렌드 </div>
                                        <div class="cate-text font-body-sm">
                                            최근 기업에서는 생성형 AI 기술을 활용해 생산성과 혁신을 극대화하고 있다. 초거대 언어 모델(LLM) 기반 기술은 고객 서비스에서 챗봇 및 자동화된 응답 시스템으로 활용되며, 맞춤형 마케팅 콘텐츠 생성에도 사용된다. 또한, 이미지 및 비디오 생성 AI는 디자인 및 광고 제작을 혁신하고, 코드 생성 AI는 소프트웨어 개발의 효율성을 높인다. 이 외에도 데이터 분석 자동화와 협업 도구 통합으로 업무 전반의 디지털 전환을 가속화하고 있다. 기업들은 이러한 기술을 통해 비용 절감과 고객 경험 개선을 동시에 이루고자 한다.
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cate-title font-body-xl font-bold">AI 트렌드 </div>
                                        <div class="cate-text font-body-sm">
                                            최근 기업에서는 생성형 AI 기술을 활용해 생산성과 혁신을 극대화하고 있다. 초거대 언어 모델(LLM) 기반 기술은 고객 서비스에서 챗봇 및 자동화된 응답 시스템으로 활용되며, 맞춤형 마케팅 콘텐츠 생성에도 사용된다. 또한, 이미지 및 비디오 생성 AI는 디자인 및 광고 제작을 혁신하고, 코드 생성 AI는 소프트웨어 개발의 효율성을 높인다. 이 외에도 데이터 분석 자동화와 협업 도구 통합으로 업무 전반의 디지털 전환을 가속화하고 있다. 기업들은 이러한 기술을 통해 비용 절감과 고객 경험 개선을 동시에 이루고자 한다.
                                        </div>
                                    </li>   
                                    <li>
                                        <div class="cate-title font-body-xl font-bold">AI 트렌드 </div>
                                        <div class="cate-text font-body-sm">
                                            최근 기업에서는 생성형 AI 기술을 활용해 생산성과 혁신을 극대화하고 있다. 초거대 언어 모델(LLM) 기반 기술은 고객 서비스에서 챗봇 및 자동화된 응답 시스템으로 활용되며, 맞춤형 마케팅 콘텐츠 생성에도 사용된다. 또한, 이미지 및 비디오 생성 AI는 디자인 및 광고 제작을 혁신하고, 코드 생성 AI는 소프트웨어 개발의 효율성을 높인다. 이 외에도 데이터 분석 자동화와 협업 도구 통합으로 업무 전반의 디지털 전환을 가속화하고 있다. 기업들은 이러한 기술을 통해 비용 절감과 고객 경험 개선을 동시에 이루고자 한다.
                                        </div>
                                    </li>                                                                      
                                </ul>
                            </div>
                            <div class="future-content-items">
                                <div class="item-image">
                                    <img src="/src/assets/image/sub/future_img_ai.png" alt="" />
                                </div>
                                <ul class="item-content-list">
                                    <li>
                                        <div class="cate-title font-body-xl font-bold">AI 트렌드 </div>
                                        <div class="cate-text font-body-sm">
                                            최근 기업에서는 생성형 AI 기술을 활용해 생산성과 혁신을 극대화하고 있다. 초거대 언어 모델(LLM) 기반 기술은 고객 서비스에서 챗봇 및 자동화된 응답 시스템으로 활용되며, 맞춤형 마케팅 콘텐츠 생성에도 사용된다. 또한, 이미지 및 비디오 생성 AI는 디자인 및 광고 제작을 혁신하고, 코드 생성 AI는 소프트웨어 개발의 효율성을 높인다. 이 외에도 데이터 분석 자동화와 협업 도구 통합으로 업무 전반의 디지털 전환을 가속화하고 있다. 기업들은 이러한 기술을 통해 비용 절감과 고객 경험 개선을 동시에 이루고자 한다.
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cate-title font-body-xl font-bold">AI 트렌드 </div>
                                        <div class="cate-text font-body-sm">
                                            최근 기업에서는 생성형 AI 기술을 활용해 생산성과 혁신을 극대화하고 있다. 초거대 언어 모델(LLM) 기반 기술은 고객 서비스에서 챗봇 및 자동화된 응답 시스템으로 활용되며, 맞춤형 마케팅 콘텐츠 생성에도 사용된다. 또한, 이미지 및 비디오 생성 AI는 디자인 및 광고 제작을 혁신하고, 코드 생성 AI는 소프트웨어 개발의 효율성을 높인다. 이 외에도 데이터 분석 자동화와 협업 도구 통합으로 업무 전반의 디지털 전환을 가속화하고 있다. 기업들은 이러한 기술을 통해 비용 절감과 고객 경험 개선을 동시에 이루고자 한다.
                                        </div>
                                    </li>   
                                    <li>
                                        <div class="cate-title font-body-xl font-bold">AI 트렌드 </div>
                                        <div class="cate-text font-body-sm">
                                            최근 기업에서는 생성형 AI 기술을 활용해 생산성과 혁신을 극대화하고 있다. 초거대 언어 모델(LLM) 기반 기술은 고객 서비스에서 챗봇 및 자동화된 응답 시스템으로 활용되며, 맞춤형 마케팅 콘텐츠 생성에도 사용된다. 또한, 이미지 및 비디오 생성 AI는 디자인 및 광고 제작을 혁신하고, 코드 생성 AI는 소프트웨어 개발의 효율성을 높인다. 이 외에도 데이터 분석 자동화와 협업 도구 통합으로 업무 전반의 디지털 전환을 가속화하고 있다. 기업들은 이러한 기술을 통해 비용 절감과 고객 경험 개선을 동시에 이루고자 한다.
                                        </div>
                                    </li>                                                                      
                                </ul>
                            </div>                            
                        </div>
                    </div>
                    <!-- //content -->
                </div>
            </div>
        </div>
        <%- include('src/_inc/footer.html') %>
    </div>
</body>
</html>