<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">ImageItem3Column : 기업정보 > 인권경영</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <%
                            const itemList3Col = [
                                {
                                    imageUrl: 'https://placehold.co/360x360',
                                    imageAlt: '장애인 고용 우수사업주 선정 (2021)',
                                    title: '장애인 고용 <br>우수사업주 선정 <br>(2021)',
                                },
                                {
                                    imageUrl: 'https://placehold.co/360x360',
                                    imageAlt: 'test',
                                    title: '장애인 고용 <br>우수사업주 선정 <br>(2021)',
                                    text: '테스트 텍스트',
                                },
                                {
                                    imageUrl: 'https://placehold.co/360x360',
                                    imageAlt: '장애인 고용 우수사업주 선정 (2021)',
                                    title: '장애인 고용 <br>우수사업주 선정 <br>(2021)',
                                },
                            ]
                        %>
                        <%- include('src/component/cmp_image_item_3columns_box.html', {
                            jsonData: itemList3Col               
                        }) %>                            
                    </div>

                    <p class="guide-title-h3">ImageItem3Column 기업정보 > 사회공헌</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            itemType: 'type-bg-none'
                        </li>
                        <li>
                            <p>textBoxAlign: 'left / right'/ 기본으로 적용(center)</p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-3">
                        <%
                            const itemList3Col2 = [
                                {
                                    imageUrl: 'https://placehold.co/360x360',
                                    imageAlt: '장애인 고용 우수사업주 선정 (2021)',
                                    title: '장애인 고용 <br>우수사업주 선정 <br>(2021)',
                                    textBoxAlign: 'left'
                                },
                                {
                                    imageUrl: 'https://placehold.co/360x360',
                                    imageAlt: 'test',
                                    title: '장애인 고용 <br>우수사업주 선정 <br>(2021)',
                                    text: '테스트 텍스트',
                                    textBoxAlign: 'right'
                                },
                                {
                                    imageUrl: 'https://placehold.co/360x360',
                                    imageAlt: '장애인 고용 우수사업주 선정 (2021)',
                                    title: '장애인 고용 <br>우수사업주 선정 <br>(2021)',
                                },
                            ]
                        %>
                        <%- include('src/component/cmp_image_item_3columns_box.html', {
                            jsonData: itemList3Col2,
                            itemType: 'type-bg-none',         
                        }) %>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>