<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">ImageItem3Column : 기업정보 > 인권경영</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>imageUrlPc : pc 이미지 url (모바일 분기 이미지가 없을 경우 해당 이미지만 노출)</p>
                        </li>
                        <li>
                            <p>imageUrlMo : mo 이미지 url</p>
                        </li>
                        <li>
                            <p>imageAlt : text</p>
                        </li>
                        <li>
                            <p>title : text</p>
                        </li>
                        <li>
                            <p>text : text</p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-3">
                        <%
                            const itemList3Col = [
                                {
                                    imageUrlPc: 'https://placehold.co/300x300',
                                    imageUrlMo: 'https://placehold.co/200x200',
                                    imageAlt: '일자리 으뜸기업 선정',
                                    title: '일자리 <br>으뜸기업 선정',
                                    text: '(2020, 2023)'
                                },
                                {
                                    imageUrlPc: 'https://placehold.co/300x300',
                                    imageUrlMo: 'https://placehold.co/200x200',
                                    imageAlt: '장애인 고용 촉진대회 고용노동부 장관 표창 수상',
                                    title: '장애인 고용 촉진대회 <br>고용노동부 장관 표창 수상',
                                    text: '(2018, 2022)',
                                },
                                {
                                    imageUrlPc: 'https://placehold.co/300x300',
                                    imageUrlMo: 'https://placehold.co/200x200',
                                    imageAlt: '장애인 고용 우수사업주 선정',
                                    title: '장애인 고용 <br>우수사업주 선정',
                                    text: '(2021)',
                                },
                            ]
                        %>
                        <%- include('src/component/cmp_image_item_3columns_box.html', {
                            jsonData: itemList3Col               
                        }) %>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>