<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3 mt-10">ImageItemColumn</p> 
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>type: 'type-default' : 기업정보 > 기업소개, 환경경영</p>
                        </li>
                        <li>
                            <p>type: 'type-revers'(사용안함)</p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-5">
                        <%
                            const imageItemColumnData = [
                                {
                                    id: 0,
                                    type: 'type-default',
                                    imageUrl: '/src/assets/image/temp/full_imag01.png',
                                    imageAlt: 'test',
                                    title: '고객 비즈니스의 <br>성공을 돕는 <span class="font-red">신념</span>',
                                    desc: 'Pursuing Excellence',
                                    subTitle: '혁신(革新, Innovation)은 아주 작은 변화에서 시작됩니다.',
                                    content: [
                                        '고객은 비즈니스 혁신으로 편리하고 편안한 세상을 만들고 있습니다. <br>고객도 몰랐던 비즈니스 가치를 먼저 발견하여 제공하고, 성장과 변화를 함께 만드는 것. <br>LG CNS는 Digital Business Innovator로서 차별화된 고객 경험을 제공하기 위해 <br>여러분의 비즈니스에 디지털 혁신을 더하여 변화의 속도를 높이고 있습니다.',
                                    ],
                                },
                                {
                                    id: 1,
                                    type: 'type-default',
                                    imageUrl: '/src/assets/image/temp/full_imag01.png',
                                    imageAlt: 'test',
                                    title: '온실가스 감축',
                                    subTitle: '혁신(革新, Innovation)은 아주 작은 변화에서 시작됩니다.',
                                    content: [
                                        '온실가스 배출권거래제는 저탄소녹생성장기본법에 의거, 정부가 기업에 온실가스를 배출할 수 있는 총량을 사전에 할당하고, 기업은 자체적인 온실가스 감축 및 배출권 거래를 통해 온실가스 감축 목표를 달성할 수 있도록 하는 제도입니다.',
                                        'LG CNS는 이러한 에너지 제도에 효율적으로 대응하기 위해 데이터센터 소비전력을 자동 측정하고 온실가스 배출량을 실시간 집계 할 수 있는 온실가스 인벤토리 시스템을 구축하여 운영중입니다. 환경 관련 국제 인증인 CDP(Carbon Disclosure Project)에 맞춰 외부의 친환경 강화 요구에 적극적으로 대응하고 있습니다.',
                                    ],
                                    imgDesc: '온실가스 배출권 거래제 대상 사업장으로 지정된 LG CNS 상암데이터 센터 전경'
                                },                                                         
                                {
                                    id: 2,
                                    type: 'type-default',
                                    title: '친환경 그린데이터 센터',
                                    content: [
                                        'LG CNS는 전력사용량이 높은 데이터센터의 에너지 절감을 위해 다양한 솔루션을 개발·적용하여 데이터센터를 운영하고 있습니다. 또한 신재생 및 에너지 효율향상 설비 도입을 통한 건물 내 소비 효율화도 진행하고 있습니다. LG CNS는 온실가스 배출량 감소를 위한 솔루션을 개발·적용하여 친환경 데이터센터를 운영하고 있으며, 데이터센터의 기반설비 통합운영을 위해 친환경 IT 시스템을 개발해 구축/운영하고 있습니다.',
                                        '친환경 IT 시스템은 기반설비(전기, 기계, 온/습도, 조명 등) 및 보안설비를 통합 모니터링해 장애 감지, 분석, 제어 등을 통해 전산실 에너지를 효율적으로 관리함으로써 온실가스 배출량 절감에 기여합니다. 또한, 자연외기를 이용한 친환경 제품인 빌트업 외기 냉방시스템을 세계 최초로 특허출원하여 전 센터에 적용하고 있으며, 서버 집중 냉각 장치인 집중공조시스템 개발 및 고효율UPS, LED 조명등을 전 센터에 적용하여 온실가스 배출량 감소에 기여하고 있습니다.',
                                    ],
                                },
                                {
                                    id: 3,
                                    type: 'type-revers',
                                    imageUrl: '/src/assets/image/temp/full_imag01.png',
                                    imageAlt: 'test',
                                    title: '고객 비즈니스의 <br>성공을 돕는 <span class="font-red">신념</span>',
                                    desc: 'Pursuing Excellence',
                                    subTitle: '혁신(革新, Innovation)은 아주 작은 변화에서 시작됩니다.',
                                    content: [
                                        '고객은 비즈니스 혁신으로 편리하고 편안한 세상을 만들고 있습니다. <br>고객도 몰랐던 비즈니스 가치를 먼저 발견하여 제공하고, 성장과 변화를 함께 만드는 것. <br>LG CNS는 Digital Business Innovator로서 차별화된 고객 경험을 제공하기 위해 <br>여러분의 비즈니스에 디지털 혁신을 더하여 변화의 속도를 높이고 있습니다.',
                                    ],
                                },                                                            
                            ]
                        %> 
                        <%- include('src/component/cmp_image_item_column.html', Object.assign({}, locals, {                             
                            jsonData: imageItemColumnData
                        })) %>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>