<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Title</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>title:</p>
                            <ul class="pl-4">
                                <li>text : 텍스트</li>
                                <li>subTitle : 타이틀 상단 텍스트</li>
                                <li>subDesc : 타이틀 하단 텍스트(subTitle과 동일한 스타일)</li>
                                <li>size : font-size (typograph.scss 참고)</li>
                                <li>class : font-weight, color (스타일 가이드, tailwind-all.scss 참고)</li>
                            </ul>
                        </li>
                        <li>
                            <p>
                                marginVertical: margin-top/bottom 간격에 대한 이중클래스 적용(spacing.scss, tailwind-all.scss 참고)
                            </p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-10">
                        <!-- Title -->
                        <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                            title: {
                                    text: '타이틀 기본 사이즈 lg',
                                    subTitle: 'sub-title',
                                    subDesc : '하단텍스트 subDesc',
                                },
                            marginVertical: 'mb-spacing05',
                        })) %>
                        <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                            title: {
                                text: 'size md 타이틀<br>colorcm-primary font-light 클래스',
                                size: 'md',
                                class: 'colorcm-primary font-light',
                            },
                        })) %>
                        <!-- //Title -->
                    </div>

                    <p class="guide-title-h3 mt-32">Teaser Title</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>title: </p>
                            <ul class="pl-3">
                                <li>text : 텍스트</li>
                                <li>subTitle : 타이틀 상단 텍스트</li>
                                <li>size : font-size (typograph.scss 참고)</li>
                                <li>class : font-weight, color (스타일 가이드, tailwind-all.scss 참고)</li>
                            </ul>
                        </li>
                        <li>
                            <p>textCon : 텍스트</p>
                        </li>
                        <li>
                            <p>
                                marginVertical: margin-top/bottom 간격에 대한 이중클래스 적용(spacing.scss, tailwind-all.scss 참고)
                            </p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-10">
                        <!-- Teaser Title -->
                        <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                            title: {
                                text: '티저타이틀 타이틀 영역 기본 사이즈 sm',
                            },
                            textCon: [
                                '첫번째 내용 첫번째 내용<br>줄바꿈',
                                '두번째 내용 두번째 내용 두번째 내용 두번째 내용',
                            ],
                            marginVertical: 'mb-spacing08',
                        })) %>                        
                        <!-- //Teaser Title -->
                        <!-- Teaser Title -->
                        <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                            title: {
                                text: '티저타이틀 타이틀 영역 기본 사이즈 sm colorcm-primary',
                                subTitle: '티저타이틀 subTitle',
                                addClass: 'colorcm-primary'
                            },
                            marginVertical: 'mb-spacing03',
                        })) %>                        
                        <!-- //Teaser Title -->
                    </div>

                    <p class="guide-title-h3 mt-32">title_select</p>
                    <div class="cmp-exsample__wrap mt-10">
                        <%- include('src/component/cmp_title_select.html', {
                            title : {
                                text: '2024년',
                                size: 'lg',
                                addClass: 'color-text-default font-medium',
                            },
                            showSelect: true,
                            selectedValue: '연도선택',
                            options: ['2025년', '2024년', '2023년', '2022년']
                        }) %>
                    </div>
                    <div class="cmp-exsample__wrap mt-10">
                        <%- include('src/component/cmp_title_select.html', {
                            title : {
                                text: '2024년',
                                size: 'lg',
                                addClass: 'color-text-default font-medium',
                            },
                            showSelect: true,
                            rowJustify: 'is-between',
                            selectedValue: '연도선택',
                            options: ['2025년', '2024년', '2023년', '2022년']
                        }) %>
                    </div>
                    <div class="cmp-exsample__wrap mt-10">
                        <%- include('src/component/cmp_title_select.html', {
                            title : {
                                text: '2024년',
                                size: 'lg',
                                addClass: 'color-text-default font-medium',
                            },
                            showSelect: true,
                            rowJustify: 'is-column',
                            selectedValue: '연도선택',
                            options: ['2025년', '2024년', '2023년', '2022년']
                        }) %>
                    </div>

                    <!-- 2025.04.15 사용안함으로 주석 처리 -->
                    <!-- <p class="guide-title-h3 mt-10">Contents Title</p>
                    <div class="cmp-exsample__wrap mt-3">
                        <%- include('src/component/cmp_contents_title.html', Object.assign({}, locals, { 
                            contentsTitle: 'LG CNS의 전 구성원은 업무를 수행함에 있어<br>관련 법령을 준수하고 있습니다.',
                        })) %>
                    </div>

                    <p class="guide-title-h3 mt-10">cmp_title_select : select 추가</p>
                    <%- include('src/component/cmp_title_select.html', {
                        titleText: '2024년',
                        showSelect: true,
                        selectedValue: '연도선택',
                        options: ['2025년', '2024년', '2023년', '2022년']
                    }) %>

                    <p class="guide-title-h3 mt-10">cmp_title_select : select + space-between</p>
                    <%- include('src/component/cmp_title_select.html', {
                        titleText: '이사회 활동',
                        showSelect: true,
                        selectedValue: '2024년',
                        options: ['2025년', '2024년', '2023년'],
                        rowJustify: 'space-between'
                    }) %> -->
                    <!-- // 2025.04.15 사용안함으로 주석 처리 -->
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>