<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">SpecList</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- cmp_SpecList -->
                        <%- include('src/component/cmp_SpecList.html', {
                            itemCount: 3
                        }) %>                          
                        <!-- //cmp_SpecList -->
                    </div>

                    <p class="guide-title-h3">SpecList subTitle 값 추가</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- cmp_SpecList -->
                        <% const specListData = [ 
                            { 
                                id: 0,
                                subTitle: '가',
                            }, 
                            { 
                                id: 1, 
                                subTitle: 'II',
                                title: '서브타이틀이 길어져도 타이틀 영역과 텍스트 영역의 비율은 유지',
                                content: '텍스트 영역'
                            }, 
                            { 
                                id: 2,
                                title: '서브타이틀 값 없을 시<br>순서에 맞는 순자가 들어감'
                            },
                        ]; 
                        %>
                        <%- include('src/component/cmp_SpecList.html', {
                            itemCount: 3,
                            jsonData: specListData,
                        }) %>
                        <!-- //cmp_SpecList -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>