<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">cmp_user-case-ref</p>
                    <ul>
                        <li>
                            <p>
                                marginVertical: margin-top/bottom 간격에 대한 이중클래스 적용(spacing.scss, tailwind-all.scss 참고)
                            </p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-3">
                        <%- include('src/component/cmp_user_case_ref.html', {
                            title: {
                                title: "LG CNS 인사이트를 구독해보세요!",
                                subTitle: "LG CNS의 인사이트가 담긴 소식이 정기적으로 구독자의 메일함으로 찾아갑니다."
                            },
                            img: {
                                imgPc: "https://placehold.co/198x128",
                                imgMo: "https://placehold.co/98x28",
                                imgAlt: "alt",
                                imgClass: "test",
                            },
                            richText: "<strong>이 ebook을 통해 아래 내용을 상세하게 확인할 수 있습니다</strong><br><br><b>ESG 뉴스레터 'ESG 에브릿띵'과 함께 지속 가능한 비즈니스의<br>최신 트렌드와 인사이트를 받아보세요. 지금 뉴스레터를 구독하시면 ESG 에브릿띵에서 다룬 핵심 인사이트를 요약 정리한 특별 eBook을 제공해 드립니다.</b><br><br><p>*정보 입력 후 등록을 하시면 이메일로 eBook을 발송해 드립니다.<br><br>eBook 하이라이트</p><ul><li>ESG 경영의 기초와 중요성</li><li>ESG 경영 실천을 위한 핵심 가이드</li><li>글로벌 ESG 규제와 트렌드</li><li>ESG 공시 대응을 위한 전략</li></ul>",
                            button: {
                                btnIcon: "plus",
                                btnText: "구독하기",
                            },
                            marginVertical: 'mb-spacing11',
                        }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>