<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <div class="cmp-wrap cmp-richtext">
                        <h1>h1 태그 스타일</h1>
                        <h2>h2 태그 스타일</h2>
                        <h3>h3 태그 스타일</h3>
                        <h4>h4 태그 스타일</h4>
                        <h5>h5 태그 스타일</h5>
                        <h6>h6 태그 스타일</h6>
                        <strong>strong 태그 스타일</strong><br>
                        <b>b 태그 스타일</b><br>
                        <i>i 태그 스타일</i><br>
                        <sup>sup 태그 스타일</sup><br>
                        <sub>sub 태그 스타일</sub><br>
                        <a href="#">a 태그 스타일</a><br>
                        <a href="#" target="_blank">a 태그 스타일 target="_blank"</a><br>
                        <p>p 태그 스타일- 고도화된 사이버 공격이 늘어나며 기업은 인프라 보안 취약점과 실시간 위협 대응의 어려움에 직면해 있습니다. SecuXper MSS는 클라우드 보안과 개인정보보호, AI 보안까지 통합적으로 관리해 고객의 Pain Point를 해결하는 통합 보안 솔루션을 제공합니다. 보안 관제 서비스와 Shared 서비스를 통해 중소기업부터 대규모 조직까지 맞춤형 실시간 관제를 제공하며, 클라우드 MSS로 SaaS 환경에서도 안전한 보안 운영을 지원합니다. MDR 서비스는 위협을 신속히 탐지 및 대응이 가능합니다. 사이버 보안의 새로운 표준인 SecuXper MSS로 고객의 인프라를 지키고 신뢰받는 디지털 환경을 구축하세요.</p>
                        <blockquote>blockquote 태그 스타일</blockquote>
                        <ul>
                            <li>ul li 태그 스타일</li>
                            <li>ul li 태그 스타일</li>
                            <li>ul li 태그 스타일</li>
                        </ul>
                        <ol>
                            <li>ol li 태그 스타일</li>
                            <li>ol li 태그 스타일</li>
                            <li>ol li 태그 스타일</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>