<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.scss" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                        <!-- overview -->
                        <%- include('src/component/cmp_overview.html', Object.assign({}, locals, {
                            overviewTitle : {
                                text : '지속가능한 DX 전문기업',
                                size: 'font-head-lg',
                                style: 'color-text-default font-medium',
                            }, 
                            overviewContent : {
                                text : [
                                    'LG CNS는 ESG(환경·사회·지배구조) 경영을 위해 국제표준화기구(ISO)인증, DX사회공헌, 정도경영 등 실질적인 활동을 펼치고 있으며, 고객·협력사·주주·임직원 등 다양한 이해 관계자들과도 지속적으로 소통하고 있습니다.'
                                ],
                                size: 'font-body-md',
                                style: 'color-text-secondary font-normal',
                            }
                        })) %>
                        <!-- //overview -->
                        <!-- cmp_seperator -->
                        <%- include('src/component/cmp_seperator.html') %>
                        <!-- //cmp_seperator -->
                        <!-- overview -->
                        <%- include('src/component/cmp_overview.html', Object.assign({}, locals, {
                            overviewTitle : {
                                text : '지속가능한 DX 전문기업',
                                size: 'font-head-lg',
                                style: 'color-text-default font-medium',
                            }, 
                            overviewContent : {
                                text : [
                                    'LG CNS는 ESG(환경·사회·지배구조) 경영을 위해 국제표준화기구(ISO)인증, DX사회공헌, 정도경영 등 실질적인 활동을 펼치고 있으며, 고객·협력사·주주·임직원 등 다양한 이해 관계자들과도 지속적으로 소통하고 있습니다.'
                                ],
                                size: 'font-body-md',
                                style: 'color-text-secondary font-normal',
                            }
                        })) %>
                        <!-- //overview -->

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>