<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">ButtonBanner</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <%- include('src/component/cmp_buttonBanner.html', Object.assign({}, locals, {
                            pcImg: 'https://placehold.co/1920x540',
                            moImg: 'https://placehold.co/360x390',
                            subtitle: '상담신청',
                            title: 'LG CNS의 전문 역량을 귀사의 비즈니스와 접목시켜 혁신적인 시너지로 만들어 나가고 싶다면 지금 상담신청 하세요.',
                            buttonText: '바로가기',
                        })) %>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>