<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Title</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- Title -->
                        <%- include('src/component/cmp_title.html', Object.assign({}, locals, { 
                            titleText: 'SCM DX 트렌드', 
                            titlePrimary: '두번째 타이틀' 
                        })) %>
                        <!-- //Title -->
                    </div>

                    <p class="guide-title-h3 mt-10">Teaser Title</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- Teaser Title -->
                        <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                            teaserPoint: 'Supply Chain Strategy', 
                            teaserTitle: '를 지원하는', 
                            teaserText1: '효율적인 공급망 운영을 위해서는 산업의 특성과 고객의 니즈, Supply Chain Network 구성, 각종 회사 정책 및 제약조건 등을 고려하여 최적의 운영체계를 수립하는 것부터 시작합니다. 현재의 공급망 운영 수준을 파악하고, 개선이 필요한 부분에 대한 우선순위를 정하여 체계적으로 수행하는 것이 필요합니다. 또한, 공급망 운영 전략 및 체계가 갖추어져 있더라도 지속적인 운영 혁신을 위해 전략을 재점검하고 정책을 Update 하며 환경의 변화에 맞도록 지속적으로 운영 체계를 변화시킬 필요가 있습니다.',
                            teaserText2: 'Supply Chain Strategy는 컨설팅 및 최적화 기법을 활용하여 고객 맞춤형 공급망 체계 수립 및 지속적인 혁신을 핵심가치로 설정하고 고객의 공급망 운영 환경에 적합한 서비스를 제공합니다.'
                        })) %>                        
                        <!-- //Teaser Title -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>