<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/assets/css/guide.scss" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
            <div class="page-location text-2xl font-bold">
                <span id="pagesTitle"></span>
            </div>
            <div class="guide-content">
                <div class="flex justify-between lnb-type">
                    <%- include('src/component/cmp_lnb.html') %>
                        <div class="page-cont flex-1">
                            <p class="guide-title-h3">DashList : 기업정보 > 기업소개</p>
                            <ul class="guide-list type-dot mt-3">
                                <li>
                                    <p>
                                        marginVertical: margin-top/bottom 간격에 대한 이중클래스 적용(spacing.scss, tailwind-all.scss 참고)
                                    </p>
                                </li>
                            </ul>
                            <div class="cmp-exsample__wrap mt-3">
                                <%
                                    const dashListData = [
                                        {
                                            id: 0,
                                            type: 'type-default',
                                            smallText: 'IT경험 (1987년 EDS와 합작 설립)',
                                            bigText: '38년'
                                        },                                              
                                        {
                                            id: 1,
                                            type: 'type-default',
                                            smallText: '매출 (‘20~’23 CAGR : 18.6%)',
                                            bigText: '56,053억원'
                                        },                                              
                                        {
                                            id: 2,
                                            type: 'type-default',
                                            smallText: '이익 (’20~’23 CAGR : 23.6%)',
                                            bigText: '4,640억원'
                                        },                                              
                                        {
                                            id: 3,
                                            type: 'type-default',
                                            smallText: '글로벌 매출 비중',
                                            bigText: '19.0%'
                                        },                                              
                                        {
                                            id: 4,
                                            type: 'type-default',
                                            smallText: '직원 수',
                                            bigText: '7,000명+'
                                        },                                              
                                        {
                                            id: 51,
                                            type: 'type-default',
                                            smallText: '해외 법인 / 지사 근무인원',
                                            bigText: '1,200명+'
                                        },                                              
                                        {
                                            id: 6,
                                            type: 'type-default',
                                            smallText: '확보 특허권',
                                            bigText: '426건'
                                        },                                              
                                        {
                                            id: 7,
                                            type: 'type-default',
                                            smallText: '확보 S/W 저작권',
                                            bigText: '1,323건'
                                        },                                              
                                    ]
                                %> 
                                <% 
                                    const marginVal = 'mb-0';
                                %>
                                <%- include('src/component/cmp_dash_list.html', Object.assign({}, locals, { 
                                    jsonData: dashListData,
                                    itemType: 'type-dash-top',
                                    marginVertical: marginVal,
                                })) %>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>

</html>