<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">HeroBanner - full</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- HeroBanner -->
                        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
                            pcImg: '/src/assets/image/sub/bg_sub_vi01.png',
                            moImg: '/src/assets/image/sub/bg_sub_mvi01.png',
                            subText: 'Service', 
                            pageTitle: '경영관리' 
                        })) %>   
                        <!-- //HeroBanner -->
                    </div>

                    <p class="guide-title-h3 mt-10">HeroBanner - wide : 기업정보 > 기업소개</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- HeroBanner -->
                        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
                            pcImg: '/src/assets/image/sub/bg_sub_vi01.png',
                            moImg: '/src/assets/image/sub/bg_sub_mvi01.png',
                            pageTitle: 'IT 서비스 전문기업에서 <br>DX NO.1 기업으로',
                            bannerSize : 'wide'
                        })) %>   
                        <!-- //HeroBanner -->
                    </div>
                    
                    <p class="guide-title-h3 mt-10">HeroBanner bgEmpty > Newsroom</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>pcImg, moImg : 'empty' 가 적용될 경우 background-image 없는 화면으로 노출됩니다.</p>
                        </li>
                        <li>
                            <p>border 는 예시를 위한 스타일 입니다.</p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-3 border-2 border-dashed">
                        <!-- HeroBanner -->
                        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
                            pcImg: 'empty',
                            moImg: 'empty',
                            subText: 'Service', 
                            pageTitle: '경영관리',
                        })) %>   
                        <!-- //HeroBanner -->
                    </div>
                    <p class="guide-title-h3 mt-10">HeroBanner bgEmpty > 기업정보 > 환경경영</p>
                    <div class="cmp-exsample__wrap mt-3 border-2 border-dashed">
                        <!-- HeroBanner -->
                        <%- include('src/component/cmp_heroBanner.html', Object.assign({}, locals, { 
                            pcImg: 'empty',
                            moImg: 'empty',
                            subText: 'Service', 
                            pageTitle: '경영관리',
                            rightDesc: 'LG CNS는 친환경 기술로 <br>환경경영을 실천하고 있습니다.'
                        })) %>   
                        <!-- //HeroBanner -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>