<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="/src/assets/css/guide.scss" />
<link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3 mt-10">cmp-title-nav</p>
                    <div class="cmp-exsample__wrap mt-3 bg-black" style="height: 600px;">
                        <%
                            const titleNavData = [
                                {
                                    href: "#",
                                    tag: "고객스토리",
                                    title: "Vision AI로 철스크랩 판정의<br>정확성과 효율성을 모두 잡다",
                                },
                                {
                                    href: "#",
                                    tag: "행사",
                                    title: "[4월 D-Talks] ESG 경영 DX :<br>지속가능성을 높이는 게임체인저",
                                },
                                {
                                    href: "#",
                                    tag: "자료",
                                    title: "해킹 공격과 방어의 전쟁 :<br>PURPLE LAB 보안 심층분석 보고서",
                                },
                                {
                                    href: "#",
                                    tag: "Techlog",
                                    title: "생성형 AI의 모든 것",
                                },
                            ]
                        %>
                        <%- include('src/component/cmp_title_nav.html', Object.assign({}, locals, { 
                            jsonData: titleNavData,
                        })) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>