<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="/src/assets/css/guide.css" />
<link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3 mt-10">cmp-CTA-section</p>
                    <div class="cmp-exsample__wrap mt-3 bg-black" style="height: 600px;">
                        <%
                            const CTASecDaga = {
                                title: "Generative AI in your work",
                                text: "생성형 AI. 이제 관망의 시기는 지났습니다.<br>인터넷이 없는 업무 환경을 이제 생각할 수가 없듯이,<br>생성형 AI가 적용되지 않은 업무 시스템을 생각하기는  이제 어려운 세상이 되었습니다.",
                                buttonText: "생성형 AI 상세보기",
                            }
                        %>
                        <%- include('src/component/cmp_CTA_section.html', Object.assign({}, locals, { 
                            jsonData: CTASecDaga,
                        })) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>