<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/assets/css/guide.scss" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>
        <div class="guide-content">
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">sitemap</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>menu1depthText : 1depth 텍스트 타입</p>
                        </li>
                    </ul>
                    <ul class="guide-list type-dot mt-5">
                        <li>
                            <p>menu1depth : 1depth 링크 타입</p>
                        </li>
                        <li>
                            <p>menu1depthLinkTarget : 1depth 링크 타입의 target 속성</p>
                        </li>
                    </ul>
                    <ul class="guide-list type-dot mt-5">
                        <li>
                            <p>menu2depth : 2depth 정의</p>
                        </li>
                        <li>
                            <p>
                                menu2depth > categoryText : 2depth 대메뉴 텍스트 타입
                            </p>
                        </li>
                        <li>
                            <p>
                                menu2depth > categoryLink : 2depth 대메뉴 링크 타입
                            </p>
                        </li>
                        <li>
                            <p>
                                menu2depth > categoryLinkTarget : 2depth 대메뉴 target 속성
                            </p>
                        </li>
                    </ul>
                    <ul class="guide-list type-dot mt-5">
                        <li>
                            <p>
                                menu2depth > menu : 2depth 메뉴
                            </p>
                        </li>
                        <li>
                            <p>menu2depth > menu > title : 2depth 메뉴 텍스트</p>
                        </li>
                        <li>
                            <p>menu2depth > menu > target : 2depth 메뉴 target 속성</p>
                        </li>
                        <li>
                            <p>menu2depth > menu > size : 2depth 메뉴 size (small / large)</p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-20">
                        <%
                            const sitemapData = [
                                {
                                    menu1depthText: 'The Future',
                                    menu2depth: [
                                        {
                                            menu : [
                                                {
                                                    title : 'AX(AI Transformation)',
                                                    target: '_self',
                                                    size : 'large',
                                                },
                                            ]
                                        }
                                    ]
                                },
                                {
                                    menu1depth: 'MOA',
                                    menu1depthLinkTarget : '_self',
                                    menu2depth: [
                                        {
                                            menu : [
                                                {
                                                    title : '인사이트',
                                                    target: '_self',
                                                    size : 'large',
                                                },
                                                {
                                                    title : '고객 스토리',
                                                    target: '_self',
                                                    size : 'large',
                                                },
                                                {
                                                    title : '행사',
                                                    target: '_self',
                                                    size : 'large',
                                                },
                                                {
                                                    title : '자료실',
                                                    target: '_self',
                                                    size : 'large',
                                                },
                                            ]
                                        }
                                    ]
                                },
                                {
                                    menu1depth: '서비스',
                                    menu2depth: [
                                        {
                                            categoryText : 'Modern IT Infra on Cloud',
                                            menu : [
                                                {
                                                    title : 'Cloud',
                                                    target : '_self',
                                                    size : 'small',
                                                },
                                                {
                                                    title : '인프라',
                                                    target : '_self',
                                                    size : 'small',
                                                },
                                                {
                                                    title : '데이터센터',
                                                    target : '_self',
                                                    size : 'small',
                                                },
                                                {
                                                    title : '보안',
                                                    target : '_self',
                                                    size : 'small',
                                                },
                                            ]
                                        },
                                        {
                                            categoryText : 'AI',
                                            menu : [
                                                {
                                                    title : 'AICC',
                                                    target : '_self',
                                                    size : 'small',
                                                },
                                                {
                                                    title : 'AX컨설팅',
                                                    target : '_self',
                                                    size : 'small',
                                                },
                                                {
                                                    title : 'Virtual Factory',
                                                    target : '_self',
                                                    size : 'small',
                                                },
                                            ]
                                        },
                                    ]
                                },
                            ];
                        %>
                        <%- include('src/component/cmp_sitemap.html', Object.assign({}, locals, {
                            jsonData: sitemapData
                        })) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>
