<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/assets/css/guide.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
            <div class="page-location text-2xl font-bold">
                <span id="pagesTitle"></span>
            </div>
            <div class="guide-content">
                <div class="flex justify-between lnb-type">
                    <%- include('src/component/cmp_lnb.html') %>
                        <div class="page-cont flex-1">
                            <div class="cmp-exsample__wrap mt-3">
                                <div class="cmp-wrap cmp-feature-grid">
                                    <div>
                                        <%- include('src/component/cmp_title.html', Object.assign({}, locals, {
                                            titleText: '동반성장<br>「최우수 명예기업 LG CNS」',
                                        })) %>
                                    </div>
                                    <div>
                                        <%
                                            const coreData1 = [
                                                {
                                                id: 0,
                                                pcImg: 'https://placehold.co/1168x525',
                                                titleText: 'LG CNS는 2022년 동반성장위원회의 동반성장지수 평가에서 최우수 등급을 받았습니다.<br>5년 연속 수상하며, ‘최우수 명예기업’으로 선정됐습니다.',
                                                descText: 'LG CNS는 협력회사와의 신뢰를 바탕으로 공정하고 투명한 거래문화를 조성하고 있으며, 협력회사가 경쟁력을 강화할 수 있도록 다방면으로 지원함으로써 지속가능한 동반성장 생태계를 만들어 나가고 있습니다.',
                                                textTop: 'true',
                                                }
                                            ]
                                        %>
                                        <%- include('src/component/cmp_text_image_cluster.html', Object.assign({}, locals, {
                                            itemCount: 1,
                                            jsonData: coreData1,
                                        })) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

    </div>
    <script type="module" src="/src/main.js"></script>

</body>

</html>