<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/assets/css/guide.css" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>  

        <div class="guide-content">
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Button_item_list: 기업정보 > 지속가능경영보고서</p>

                        <div class="cmp-exsample__wrap mt-3">
                            <!-- Title -->
                            <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                                teaserText1: 'buttonName 배열로 최대 2개 생성할 수 있으며 미정의 시 기본 다운로드 버튼 한 개만 생성됩니다.'
                            })) %>  
                            <!-- //Title -->
                                <!-- Component -->
                            <% 
                                const buttonItemListData = [
                                    {
                                        id: 0,
                                        title: '2022~2023<br>지속가능경영보고서'
                                    },
                                    {
                                        id: 1,
                                        title: '2022~2023<br>지속가능경영보고서'
                                    },
                                    {
                                        id: 2,
                                        title: '2022~2023<br>지속가능경영보고서'
                                    },
                                    {
                                        id: 3,
                                        title: '2020년<br>감사보고서',
                                        buttonName: [
                                            '연결 PDF',
                                            '별도 PDF'
                                        ]
                                    },
                                    {
                                        id: 4,
                                        title: '2021년<br>감사보고서',
                                        buttonName: [
                                            '연결 PDF',
                                            '별도 PDF'
                                        ]
                                    },
                                    {
                                        id: 5,
                                        title: '2022년<br>감사보고서',
                                        buttonName: [
                                            '연결 PDF',
                                            '별도 PDF'
                                        ]
                                    },
                                    {
                                        id: 6,
                                        title: '2023년<br>감사보고서',
                                        buttonName: [
                                            '연결 PDF',
                                            '별도 PDF',
                                            '2개 초과시 생성X'
                                        ]
                                    }
                                ]

                            %>
                            <%- include('src/component/cmp_button_item_list.html', Object.assign({}, locals, {
                                itemCount: 7,
                                jsonData: buttonItemListData
                            })) %>
                            <!-- //Component -->
                        </div>

                </div>
            </div>
        </div>
    </div>
    
    <script type="module" src="/src/main.js"></script>

</body>
</html>