<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/assets/css/guide.scss" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">SpecList</p>  
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>subTitle : text</p>
                        </li>
                        <li>
                            <p>title : text</p>
                        </li>
                        <li>
                            <p>content</p>
                            <ul class="guide-list type-dot mt-1 ml-3">
                                <li>
                                    <p>size : title의 폰트 사이즈 (typograph.scss 참고)</p>
                                </li>
                                <li>
                                    <p>color : title의 폰트 컬러 (스타일 가이드, tailwind-all.scss 참고)</p>
                                </li>
                                <li>
                                    <p>addClass : title의 font-weight 등 클래스 추가(스타일 가이드, tailwind-all.scss 참고)</p>
                                </li>
                                <li>
                                    <p>text : text (배열 : 1개 초과 시 bullet 타입으로 적용)</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p>
                                borderTop : 'used' (border-top 사용 여부), 'only-pc (pc에서만 노출)'
                            </p>
                        </li>
                        <li>
                            <p>firstItemPadding: 'padding-top-0' / 'pc-padding-top-0' / 'mo-padding-top-0'</p>
                        </li>
                    </ul>
                    <p class="guide-title-h3 mt-10">SpecList : 기업정보 > 환경경영, 인권경영, 사회공헌, 동반성장/공정거래</p>                    
                    <div class="cmp-exsample__wrap mt-10">
                        <!-- cmp_SpecList -->
                        <% const specListData2 = [ 
                            { 
                                id: 0,
                                subTitle: '가',
                            }, 
                            { 
                                id: 1, 
                                subTitle: '01',
                                title: '신고/접수',
                                content: {
                                    size: 'font-body-sm',
                                    color: '',
                                    addClass: 'font-normal',
                                    text: [
                                        '다양한 신고채널을 통해 신고 접수(사내 익명 신고 게시판, 임직원 상담 프로그램, 설문조사, 고충상담센터 등)', 
                                        '정식 조사대항 여부 검토',
                                    ]
                                },
                                styleType: 'padding-top-0',
                            }, 
                            { 
                                id: 2, 
                                subTitle: '02',
                                title: 'smallContent',
                                smallContent: [
                                    '다양한 신고채널을 통해 신고 접수(사내 익명 신고 게시판, 임직원 상담 프로그램, 설문조사, 고충상담센터 등)', 
                                    '정식 조사대항 여부 검토',
                                ]
                            }, 
                            { 
                                id: 3,
                                title: '초동조치',
                                content: [
                                    '신고인 요청사항 확인',
                                    '신고인 보호조치',
                                    '(필요 시) 피신고인 인사조치',
                                ]
                            },
                        ]; 
                        %>
                        <%- include('src/component/cmp_SpecList.html', {
                            itemCount: 4,
                            jsonData: specListData2,
                            borderTop: 'only-pc',
                        }) %>
                        <!-- //cmp_SpecList -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
</body>
</html>