<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/assets/css/guide.scss" />
    <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>

<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
            <div class="page-location text-2xl font-bold">
                <span id="pagesTitle"></span>
            </div>
            <div class="guide-content">
                <div class="flex justify-between lnb-type">
                    <%- include('src/component/cmp_lnb.html') %>
                        <div class="page-cont flex-1">
                            <p class="guide-title-h3">Chart</p>
                            <p class="guide-title-h3 mt-10">막대그래프 / 도넛그래프</p>
                            <ul class="guide-list type-dot mt-3">
                                <li>
                                    <p>막대그래프 - type : (columnChart / invertChart / negativeChart) </p>
                                </li>
                                <li>
                                    <p>도넛그래프</p>
                                </li>
                                <li>
                                    <p>기업정보 > 재무정보, 주주현황/배당정보</p>
                                </li>
                                <li>
                                    <p>막대그래프 최대 5개 노출 (가운데 정렬)</p>
                                </li>
                                <li>
                                    <p><b>막대바 높이값 계산을 위한 임의 최대값(valueMax) 입력 필수</b></p>
                                </li>
                            </ul>
                            
                            <p class="guide-title-h3 mt-10">막대그래프(columnChart)</p>
                            <ul class="guide-list type-dot mt-3">
                                <li>
                                    <p> type : 'columnChart' - 그래프 타입</p>
                                </li>
                                <li>
                                    <p>categories : X 값</p>
                                </li>
                                <li>
                                    <p>series : 차트의 실제 데이터</p>
                                </li>
                                <li>
                                    <p>categoryBarColor : 차트 컬러</p>
                                </li>
                                <li>
                                    <p>valueMax : <b>최대값 *</b></p>
                                </li>
                            </ul>
                            <div class="cmp-exsample__wrap mt-3">
                                <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                    id: 1,
                                    type: 'columnChart',
                                    categories: ['2019', '2020', '2021', '2022', '2023'],
                                    series: [
                                        {
                                            value: '212',
                                        },
                                        {
                                            value: '246',
                                        },
                                        {
                                            value: '328',
                                        },
                                        {
                                            value: '385',
                                        },
                                        {
                                            value: '464',
                                        },
                                    ],
                                    categoryBarColor : '#E156E2',
                                    valueMax: '600',
                                })) %>
                                <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                    id: 2,
                                    type: 'columnChart',
                                    categories: ['2019', '2020', '2021', '2022'],
                                    series: [
                                        {
                                            value: '212',
                                        },
                                        {
                                            value: '246',
                                        },
                                        {
                                            value: '328',
                                        },
                                        {
                                            value: '385',
                                        },
                                    ],
                                    categoryBarColor : ['#f729c1', '#e54ddc', '#d371f6', '#b7b4ef'],
                                    valueMax: '1000',
                                    marginVertical: 'mt-spacing11',
                                })) %>
                            </div>

                            <p class="guide-title-h3 mt-spacing12">막대그래프(invert)</p>
                            <ul class="guide-list type-dot mt-5">
                                <li>
                                    <p>type : invertChart - 음수가 있을 경우의 그래프</p>
                                </li>
                                <li>
                                    <p>.chart-wrap__xAxis-area__line--y-intercept : Y좌표 0</p>
                                </li>
                                <li>
                                    <p>series :</p>
                                    <ul>
                                        <li>
                                            <p>type : negative(음수) / positive(양수) // type 이 없을 경우 자동으로 양수 처리 적용</p>
                                        </li>
                                        <li>
                                            <p>value : 값</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="cmp-exsample__wrap mt-3">
                                <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                    id: 1,
                                    type: 'invertChart',
                                    categories: ['2019', '2020', '2021', '2022', '2023'],
                                    series: [
                                        {
                                            type: 'positive',
                                            value: '150'
                                        },
                                        {
                                            type: 'positive',
                                            value: '175'
                                        },
                                        {
                                            type: 'positive',
                                            value: '400'
                                        },
                                        {
                                            type: 'negative',
                                            value: '385'
                                        },
                                        {
                                            type: 'negative',
                                            value: '464'
                                        },
                                    ],
                                    categoryBarColor : '#E156E2',
                                    valueMax: '600',
                                })) %>
                                <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                    id: 2,
                                    type: 'invertChart',
                                    categories: ['2019', '2020', '2021', '2022'],
                                    series: [
                                        {
                                            type: 'positive',
                                            value: '150'
                                        },
                                        {
                                            type: 'positive',
                                            value: '175'
                                        },
                                        {
                                            type: 'negative',
                                            value: '385'
                                        },
                                        {
                                            type: 'negative',
                                            value: '400'
                                        },
                                    ],
                                    categoryBarColor : ['#f729c1', '#e54ddc', '#d371f6', '#b7b4ef'],
                                    valueMax: '1000',
                                    marginVertical: 'mt-spacing11',
                                })) %>
                            </div>

                            <p class="guide-title-h3 mt-spacing12">막대그래프(negative)</p>
                            <ul class="guide-list type-dot mt-5">
                                <li>
                                    <p>type : negativeChart - 음수만 있을 경우의 그래프</p>
                                </li>
                                <li>
                                    <p>.chart-wrap__xAxis-area__line--y-intercept : Y좌표 0</p>
                                </li>
                                <li>
                                    <p>series :</p>
                                    <ul>
                                        <li>
                                            <p>type : negative(음수)</p>
                                        </li>
                                        <li>
                                            <p>value : 값</p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="cmp-exsample__wrap mt-3">
                                <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                    id: 1,
                                    type: 'negativeChart',
                                    categories: ['2019', '2020', '2021', '2022', '2023'],
                                    series: [
                                        {
                                            type: 'negative',
                                            value: '150'
                                        },
                                        {
                                            type: 'negative',
                                            value: '175'
                                        },
                                        {
                                            type: 'negative',
                                            value: '400'
                                        },
                                        {
                                            type: 'negative',
                                            value: '385'
                                        },
                                        {
                                            type: 'negative',
                                            value: '464'
                                        },
                                    ],
                                    categoryBarColor : '#E156E2',
                                    valueMax: '600',
                                })) %>
                                
                                <%- include('src/component/cmp_chart.html', Object.assign({}, locals, { 
                                    id: 2,
                                    type: 'negativeChart',
                                    categories: ['2019', '2020', '2021', '2022'],
                                    series: [
                                        {
                                            type: 'negative',
                                            value: '150'
                                        },
                                        {
                                            type: 'negative',
                                            value: '175'
                                        },
                                        {
                                            type: 'negative',
                                            value: '385'
                                        },
                                        {
                                            type: 'negative',
                                            value: '400'
                                        },
                                    ],
                                    categoryBarColor : ['#f729c1', '#e54ddc', '#d371f6', '#b7b4ef'],
                                    valueMax: '1000',
                                    marginVertical: 'mt-spacing11',
                                })) %>
                            </div>

                            <p class="guide-title-h3 mt-spacing11 mb-3">도넛 그래프</p>
                            <ul class="guide-list type-dot mt-5 mb-10">
                                <li>
                                    <p>chartData: [</p>
                                    <ul class="pl-2">
                                        <li>
                                            <p>category : 범례(text)</p>
                                        </li>
                                        <li>
                                            <p>series : 값(text)</p>
                                        </li>
                                        <li>
                                            <p>backgroundColor: 차트 컬러(rgb)</p>
                                        </li>
                                    </ul>
                                    <p>]</p>
                                </li>
                            </ul>
                            <p class="guide-title-h3">도넛 그래프(100% 를 다 채운 상태)</p>
                            <div class="cmp-exsample__wrap mt-3">
                                <%- include('src/component/cmp_donut_chart.html', Object.assign({}, locals, { 
                                    id: 0,
                                    chartData: [
                                        {
                                            category: '(주)LG', 
                                            series: '10',
                                            backgroundColor: '#D868F0',
                                        },
                                        {
                                            category: '크리스탈코리아(유)', 
                                            series: '60',
                                            backgroundColor: '#C591F7',
                                        },
                                        {
                                            category: '기타',
                                            series : 30,
                                            backgroundColor: '#B2C0EC',
                                        },
                                    ],
                                })) %>
                            </div>

                            <p class="guide-title-h3 mt-10">도넛 그래프(100% 를 다 채우지 못한 상태)</p>
                            <div class="cmp-exsample__wrap mt-3">
                                <%- include('src/component/cmp_donut_chart.html', Object.assign({}, locals, { 
                                    id: 0,
                                    chartData: [
                                        {
                                            category: '(주)LG', 
                                            series: '10',
                                            backgroundColor: '#D868F0',
                                        },
                                        {
                                            category: '크리스탈코리아(유)', 
                                            series: '60',
                                            backgroundColor: '#C591F7',
                                        },
                                        {
                                            category: '기타',
                                            series : 15,
                                            backgroundColor: '#B2C0EC',
                                        },
                                    ],
                                })) %>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <!-- <script>
        const cmpChart = document.querySelectorAll('.cmp-chart');
        cmpChart.forEach(chart => {
            const chartColumn = chart.querySelector('.chart-wrap--column-chart');
            const chartColumnBar = chartColumn.querySelectorAll('.chart-wrap__yAxis-series li');

            // rem으로 높이값 계산
            // const cmpChartHeight = (chartColumn.clientHeight + 2) / 16;
            const cmpChartHeight = chartColumn.clientHeight;

            chartColumnBar.forEach(bar => {
                const chartBarVal = bar.getAttribute('data-yaxis-value');
                console.log(chartBarVal);
            });
        });
    </script> -->
</body>

</html>