<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <p class="guide-title-h3">Itemlist_3Columns</p>                    
                    <div class="cmp-exsample__wrap mt-3">
                        <!-- Title -->
                        <%- include('src/component/cmp_teaser_title.html', Object.assign({}, locals, { 
                            teaserTitle: 'Supply Chain Strategy 를 지원하는', 
                            teaserText1: '효율적인 공급망 운영을 위해서는 산업의 특성과 고객의 니즈, Supply Chain Network 구성, 각종 회사 정책 및 제약조건 등을 고려하여 최적의 운영체계를 수립하는 것부터 시작합니다. 현재의 공급망 운영 수준을 파악하고, 개선이 필요한 부분에 대한 우선순위를 정하여 체계적으로 수행하는 것이 필요합니다. 또한, 공급망 운영 전략 및 체계가 갖추어져 있더라도 지속적인 운영 혁신을 위해 전략을 재점검하고 정책을 Update 하며 환경의 변화에 맞도록 지속적으로 운영 체계를 변화시킬 필요가 있습니다.',
                            teaserText2: 'Supply Chain Strategy는 컨설팅 및 최적화 기법을 활용하여 고객 맞춤형 공급망 체계 수립 및 지속적인 혁신을 핵심가치로 설정하고 고객의 공급망 운영 환경에 적합한 서비스를 제공합니다.',
                        })) %>  
                        <!-- //Title -->
                        <%- include('src/component/cmp_Itemlist_3Columns.html', {
                            itemCount: 5,
                            ImageAlign: 'left',
                            textAlign: 'left', 
                            itemType: 'type-box',                           
                        }) %>                            
                    </div>
                    <p class="guide-title-h3">Itemlist_3Columns : 컨텐츠 배열 타입 </p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>
                                기본 스타일 : <b class="font-bold text-red-600">'left'</b>
                            </p>
                        </li>
                        <li>
                            <p>
                                ImageAlign: <b class="font-bold text-red-600">'left'</b> / 'right',
                            </p>
                        </li>
                        <li>
                            <p>
                                textAlign: <b class="font-bold text-red-600">'left'</b> / 'right',
                            </p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-3">
                        <% const itemList3ColumnsData = [ 
                            { 
                                id: 0, 
                                imageUrl: 'https://placehold.co/78x78' ,
                                title: '재고 최적화' ,
                                content: [
                                    '간헐적 수요 대응을 위해 고객 만족도 수준에 따라 필요한 적정 재고 산출',
                                    '간헐적 수요 대응을 위해 고객 만족도 수준에 따라 필요한 적정 재고 산출'
                                ],
                            }, 
                            { 
                                id: 1, 
                                imageUrl: 'https://placehold.co/78x78' ,
                                title: '구매 최적화' , 
                                content: '다수의 공급사~다수의 공장 간 소싱 물류비를 최소화하는 방안 산출' 
                            }, 
                            { 
                                id: 2,
                                imageUrl: 'https://placehold.co/78x78' , 
                                title: '작업자 배치 최적화' ,
                                content: '목표 생산량을 달성하기 위한 설비~작업자 간 최적의 배치계획 산출' 
                            }, 
                            { 
                                id: 3, imageUrl: 'https://placehold.co/78x78' ,
                                title: 'Capacity Planning' , 
                                content: '설비 가동율 최대화 및 투자비 최소화를 위한 설비 투자 방안 산출' 
                            }, 
                            { 
                                id: 4,
                                imageUrl: 'https://placehold.co/78x78' , 
                                title: 'Cutting Stock' ,
                                content: '개별 주문을 조합하여 Cutting 잔여물을 최소화하는 방안 산출' 
                            }, 
                        ]; 
                        %>
                        <%- include('src/component/cmp_Itemlist_3Columns.html', Object.assign({}, locals, { 
                            itemCount: 5, 
                            jsonData: itemList3ColumnsData,
                            ImageAlign: 'right',
                            textAlign: 'left',
                        })) %>
                    </div>
                    <p class="guide-title-h3 mt-10">Itemlist_3Columns : 박스 스타일</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>
                                기본 스타일 : <b class="font-bold text-red-600">'type-box'</b>
                            </p>
                        </li>
                        <li>
                            <p>
                                itemType : <b class="font-bold text-red-600">'type-box'</b>, type-border-bottom, type-dash
                            </p>
                        </li>
                    </ul>
                    <p class="guide-title-h3 mt-10">itemType : <b class="font-bold text-red-600">'type-box'</b></p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>
                                @media #{$phone} {grid-auto-rows: 1fr;}
                            </p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-3">
                        <%- include('src/component/cmp_Itemlist_3Columns.html', {
                            itemCount: 5,
                            ImageAlign: 'left',
                            textAlign: 'left', 
                            itemType: 'type-box',                           
                        }) %> 
                    </div>
                    <p class="guide-title-h3 mt-10">itemType : <b class="font-bold text-red-600">'type-border-bottom'</b> : 기업정보 > 인권경영</p>
                    <ul class="guide-list type-dot mt-3">
                        <li>
                            <p>
                                @media #{$phone} {grid-auto-rows: auto;}
                            </p>
                        </li>
                    </ul>
                    <div class="cmp-exsample__wrap mt-3">
                        <% const itemList3ColumnsData2 = [ 
                            { 
                                id: 0, 
                                imageUrl: 'https://placehold.co/48x48' ,
                                title: '인간존중' ,
                                content: [
                                    '모든 근로자를 인간으로 존중하며, 근로자에 대한 성희롱이나 성적 학대, 체벌, 정신적이거나 육체적인 강압, 폭언, 직장에서의 불합리한 제한 등 가혹하거나 비인도적 대우가 없도록 한다.'
                                ],
                            }, 
                            { 
                                id: 1, 
                                imageUrl: 'https://placehold.co/48x48' ,
                                title: '차별금지' , 
                                content: '임직원의 채용, 승진, 보상, 훈련 기회 제공 등 인사제도 운영과 제품 및 서비스 제공에 있어 국적, 인종, 연령, 성별, 성적 취향, 장애, 임신, 종교, 정치단체 가입, 노동조합 가입, 결혼 여부 등의 이유로 차별을 받지 않도록 한다.' 
                            }, 
                            { 
                                id: 2,
                                imageUrl: 'https://placehold.co/48x48' , 
                                title: '강제노동 금지' ,
                                content: '폭행, 협박, 감금 등 정신적 또는 신체적인 자유를 부당하게 구속해 개인의 자유의사에 어긋나는 근로를 강요하지 않는다. 모든 근로는 자발적으로 이루어져야 하며, 고용을 조건으로 근로자에게 정부가 발행하는 신분증이나 여권, 근로 허가증의 양도를 요구하지 않는다.' 
                            }, 
                            { 
                                id: 3, imageUrl: 'https://placehold.co/48x48' ,
                                title: '아동노동 금지' , 
                                content: '어떠한 직무에도 아동 근로자를 고용하지 않는다. ‘아동’은 일정한 최소 연령에 미달하는 자를 의미하며, 이러한 최소 근로 연령은 각 국가 및 지역의 법규에 따라 결정된다. 법정 최소 고용 연령 이상의 연소근로자를 고용하는 경우 법정 근로시간을 준수하고, 건강 · 안전 · 도덕상 또는 보건상 유해 · 위험한 직무에 배정하지 않는다.' 
                            }, 
                            { 
                                id: 4,
                                imageUrl: 'https://placehold.co/48x48' , 
                                title: '근로시간' ,
                                content: '각 국가 및 지역의 법규에서 지정한 정규, 초과 근로시간 및 휴무 관련 규정을 준수한다.' 
                            }, 
                            { 
                                id: 4,
                                imageUrl: 'https://placehold.co/48x48' , 
                                title: '임금과 복리후생' ,
                                content: '모든 근로자에게 지급되는 대가는 최저 임금, 초과 근로시간, 법정복리후생 등을 포함해 해당되는 모든 각 국가 및 지역의 노동관계 법령을 준수한다.' 
                            }, 
                        ]; 
                        %>
                        <%- include('src/component/cmp_Itemlist_3Columns.html', {
                            itemCount: 5,
                            jsonData: itemList3ColumnsData2,
                            ImageAlign: 'left',
                            textAlign: 'left', 
                            itemType: 'type-border-bottom',                           
                        }) %>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>