<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="/src/assets/css/guide.css" />
  <link rel="shortcut icon" href="/src/assets/image/favicon.ico">
</head>
<body>
    <div class="guide__wrap">
        <%- include('src/guide/header.html') %>
        <div class="page-location text-2xl font-bold">
            <span id="pagesTitle"></span>
        </div>        
        <div class="guide-content">            
            <div class="flex justify-between lnb-type">
                <%- include('src/component/cmp_lnb.html') %>
                <div class="page-cont flex-1">
                    <%- include('src/component/cmp_form.html') %>  
                    <p class="guide-title-h3 mt-10">cmp-input</p>
                    <div class="cmp-exsample__wrap mt-3">
                        <%
                            const inputData = [
                                {
                                    id: 0,
                                    title: { text: "타이틀" },
                                    inputData: [
                                        {
                                            type: "text",
                                            placeholder: "플레이스홀더",
                                        },
                                    ]
                                },
                                {
                                    id: 1,
                                    title: { text: "required", required: true },
                                    inputData: [
                                        {
                                            type: "text",
                                            placeholder: "플레이스홀더",
                                            value: "기본값"
                                        },
                                        {
                                            type: "text",
                                            placeholder: "disabled",
                                            state: "disabled"
                                        },
                                        {
                                            type: "text",
                                            placeholder: "readonly",
                                            state: "readonly"
                                        },
                                        {
                                            type: "text",
                                            placeholder: "error",
                                            state: "error",
                                        },
                                    ],
                                    info: "에러 메시지를 입력하세요"
                                },
                                {
                                    id: 2,
                                    title: { text: "셀렉트" },
                                    inputData: [
                                        {
                                            type: "select",
                                            placeholder: "select placeholder",
                                            option: [
                                                {
                                                    value: "옵션1",
                                                },
                                                {
                                                    value: "옵션2",
                                                }
                                            ],
                                        },
                                        {
                                            type: "select",
                                            placeholder: "select placeholder",
                                            option: [
                                                {
                                                    value: "옵션1",
                                                },
                                                {
                                                    value: "옵션2",
                                                }
                                            ],
                                            state: "disabled"
                                        },
                                        {
                                            type: "select",
                                            placeholder: "select placeholder",
                                            option: [
                                                {
                                                    value: "옵션1",
                                                },
                                                {
                                                    value: "옵션2",
                                                }
                                            ],
                                            state: "readonly"
                                        },
                                        {
                                            type: "select",
                                            placeholder: "select placeholder select placeholder",
                                            option: [
                                                {
                                                    value: "옵션1",
                                                    selected: true
                                                },
                                                {
                                                    value: "옵션2",
                                                }
                                            ],
                                            state: "error",
                                        },
                                    ],
                                    info: "에러 메시지를 입력하세요"
                                },
                                {
                                    id: 3,
                                    title: { text: "서치" },
                                    inputData: [
                                        {
                                            type: "search",
                                            placeholder: "플레이스홀더",
                                        },
                                        {
                                            type: "search",
                                            placeholder: "disabled",
                                            state: "disabled"
                                        },
                                        {
                                            type: "search",
                                            placeholder: "readonly",
                                            state: "readonly"
                                        },
                                        {
                                            type: "search",
                                            placeholder: "error",
                                            state: "error",
                                            value: "기본값"
                                        },
                                    ],
                                    info: "에러 메시지를 입력하세요"
                                },
                                {
                                    id: 4,
                                    title: { text: "이메일" },
                                    inputData: [
                                        {
                                            type: "multi",
                                            placeholder: "firstData",
                                            option: [
                                                {
                                                    value: "직접 입력",
                                                },
                                                {
                                                    value: "naver.com",
                                                }
                                            ],
                                        },
                                    ],
                                },
                                {
                                    id: 5,
                                    title: { text: "이메일" },
                                    inputData: [
                                        {
                                            type: "multi",
                                            placeholder: "firstData",
                                            state: "disabled",
                                            option: [
                                                {
                                                    value: "직접 입력",
                                                },
                                                {
                                                    value: "naver.com",
                                                }
                                            ],
                                        },
                                    ],
                                },
                                {
                                    id: 6,
                                    title: { text: "textarea" },
                                    inputData: [
                                        {
                                            type: "textarea",
                                            placeholder: "플레이스홀더",
                                            value: "기본값",
                                            countMax: "1,000"
                                        },
                                    ],
                                },
                                {
                                    id: 7,
                                    title: { text: "textarea" },
                                    inputData: [
                                        {
                                            type: "textarea",
                                            placeholder: "countMax 와 info가 동시에 있을 경우\ncountMax 미노출 info만 노출",
                                            state: "error",
                                            countMax: "1,000",
                                        },
                                    ],
                                    info: "에러 메시지를 입력하세요"
                                },
                                {
                                    id: 8,
                                    inputData: [
                                        {
                                            type: "select",
                                            placeholder: "no title",
                                            option: [
                                                {
                                                    value: "옵션1",
                                                },
                                                {
                                                    value: "옵션2",
                                                }
                                            ],
                                        },
                                    ],
                                },
                                {
                                    id: 9,
                                    title: { text: "checkbox(small)" },
                                    inputData: [
                                        {
                                            type: "checkbox",
                                            size: "small",
                                            name: "checkbox--small-guide",
                                            dataList: [
                                                {
                                                    value: "default-small",
                                                    required: true,
                                                },
                                                {
                                                    value: "checked-small",
                                                    label: "checked-small",
                                                    checked: true,
                                                },
                                                {
                                                    value: "disabled-small",
                                                    label: "disabled-small",
                                                    disabeld: true,
                                                },
                                                {
                                                    value: "checked-disabled-small",
                                                    label: "checked-disabled-small",
                                                    checked: true,
                                                    disabeld: true,
                                                },
                                            ],
                                        },
                                    ],
                                },
                                {
                                    id: 10,
                                    title: { text: "checkbox" },
                                    inputData: [
                                        {
                                            type: "checkbox",
                                            name: "checkbox-guide",
                                            dataList: [
                                                {
                                                    value: "checkbox-default",
                                                    required: true,
                                                },
                                                {
                                                    value: "checkbox-checked",
                                                    label: "checkbox-checked",
                                                    checked: true,
                                                },
                                                {
                                                    value: "checkbox-disabled",
                                                    label: "checkbox-disabled",
                                                    disabeld: true,
                                                },
                                                {
                                                    value: "checkbox-checked-disabled",
                                                    label: "checkbox-checked-disabled",
                                                    checked: true,
                                                    disabeld: true,
                                                },
                                            ],
                                        },
                                    ],
                                },
                                {
                                    id: 11,
                                    title: { text: "radio" },
                                    inputData: [
                                        {
                                            type: "radio",
                                            name: "radio-guide",
                                            dataList: [
                                                {
                                                    value: "radio-default",
                                                    required: true,
                                                },
                                                {
                                                    value: "radio-checked",
                                                    label: "radio-checked",
                                                    checked: true,
                                                },
                                            ],
                                        },
                                    ],
                                },
                                {
                                    id: 11,
                                    title: { text: "radio-disabeld" },
                                    inputData: [
                                        {
                                            type: "radio",
                                            name: "radio-disabeld-guide",
                                            dataList: [
                                                {
                                                    value: "radio-disabled",
                                                    label: "radio-disabled",
                                                    disabeld: true,
                                                },
                                                {
                                                    value: "radio-checked-disabled",
                                                    label: "radio-checked-disabled",
                                                    checked: true,
                                                    disabeld: true,
                                                },
                                            ],
                                        },
                                    ],
                                },
                            ]
                        %>
                        <%- include('src/component/cmp_input.html', Object.assign({}, locals, { 
                            jsonData: inputData,
                        })) %>
                    </div>
                    <p class="guide-title-h3 mt-20">cmp-form-group</p>
                    <div class="cmp-exsample__wrap mt-3">
                        <%
                            const formGroupData = {
                                box: {
                                    name: "전체동의 인풋 네임",
                                    value: "전체동의",
                                    label: "박스레이블",
                                    checked: true,
                                },
                                name: "약관들 인풋 네임",
                                acco: [
                                    {
                                        value: "필수약관",
                                        label: "개인정보 수집·이용 동의 (필수)",
                                        required: true,
                                        text: "11111111<br>222222222<br>333333333<br>444444<br>555555<br>666666<br>7777777777777777777777777777777777777777777777777777777777777777<br>88888888888888888888888<br>99999",
                                    },
                                    {
                                        value: "선택약관",
                                        label: "개인정보 수집·이용 동의 (선택)",
                                        disabeld: true,
                                        text: "test",
                                    },
                                ],
                            }
                        %>
                        <%- include('src/component/cmp_form-group.html', Object.assign({}, locals, { 
                            jsonData: formGroupData,
                        })) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="/src/main.js"></script>
    <script src="/assets/js/ui_common.js"></script>
</body>
</html>